<template>
  <div id="shop">
    <div class="open-shom-menu" v-if="this.$root.openShopMenu" @click="onCloseAll"></div>
    <router-view/>
  </div>

</template>

<script>
  import axios from 'axios';
  import {apiURL} from '../../../config';

  export default {
    name: 'ShopLayout',
    data() {
      return {}
    },
    mounted() {
      let recaptchaScript = document.createElement('script');
      recaptchaScript.setAttribute('src', '//code.tidio.co/yrsdrx7tf8iwaxpgeivw8azqd8huq9vp.js');
      document.head.appendChild(recaptchaScript);
      if(window.tidioChatApi) {
      setTimeout(function() {
          tidioChatApi.on('ready', function(){
            tidioChatApi.setColorPalette('#62c3cb');
          });
        }, 2 * 1000);
      }
      this.checkUser();
      this.checkCart();
    },
    beforeRouteEnter(from, to, next) {
      document.title = from.meta.title;

      let name = 'user_token';
      let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      let token = matches ? decodeURIComponent(matches[1]) : undefined;

      if (from.meta.guest) {
        if (from.meta.onlyGuest && token) {
          next('/shop');
        } else {
          next();
        }
      } else {
        axios({
          method: 'get',
          url: apiURL + '/api/user',
          headers: {
            Authorization: 'Bearer ' + token,
          },
        })
          .then(response => {
            next();
          })
          .catch(error => {
            next('/shop/login');
          });
      }
    },
    methods:{
      getCartToken: function(callback) {
        if (this.$cookie.get('user_token')) {
          axios({
            method: 'get',
            url: apiURL + '/api/user/assign-cart',
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
          })
            .then(response => {
              let cart = response.data;
              this.$cookie.set('cart_token', cart.token);
              callback(cart.token);
            })
        }
      },
      getCart: function (token) {
        axios({
          method: 'get',
          url: apiURL + '/api/public/cart/' + token,
        })
          .then(response => {
            let res = response.data;
            this.$root.cartCount = 0;
            if (res.orderDetailed && res.orderDetailed.length > 0) {
              this.$root.cartCount += res.orderDetailed.length;
            }
            if (res.plans && res.plans.length > 0) {
              this.$root.cartCount += res.plans.length;
            }
          })
          .catch(error => {
            if (this.$cookie.get('cart_token')) {
              this.$cookie.delete('cart_token');
            }
            if (this.$cookie.get('cart_guest')) {
              this.$cookie.delete('cart_guest');
            }
          });
      },
      checkCart: function() {
        let token = this.$cookie.get('cart_token');
        if (!token){
          this.getCartToken(res => {
            this.getCart(res);
          });
        } else {
          this.getCart(token);
        }
      },

      checkUser: function() {
        if (this.$cookie.get('user_token')) {
          this.$store.dispatch('getUser', this.$cookie.get('user_token'))
            .then(() => {
            if (this.$store.state.user === null && this.$cookie.get('user_token')) {
              this.$cookie.delete('user_token');
            }
          });
        }
      },
      onCloseAll: function () {
        this.$root.openShopMenu = false;
      }
    }
  }
</script>

<style lang="scss">
  @import '../../../../style/fonts.scss';
  @import '../../../../style/stylesheet.scss';
  @import '../../../../style/main.scss';
  @import '../../../../style/shop/shop.scss';
</style>
