<template>
    <div class="section-my-coupons">
        <coupon v-for="(coupon,i) in coupons" :key="i" :coupon="coupon" />
    </div>
</template>
<script>
import Coupon from './Coupon';

export default {
    name: 'CouponsContainer',
    components: {
        Coupon
    },
    data(){
        return {
            coupons: []
        }
    },
    mounted(){
        let userToken = this.$cookie.get('user_token');
        this.$store.dispatch('getRewardCoupon', userToken).then(()=>{
            this.coupons = this.$store.getters['getRewardCoupon']; 
        });
    }
}
</script>
<style lang="scss" scoped>
    
</style>