<template>
  <!--<transition name="menu-popover">-->
    <div class="order-info" v-show="isShow">
      <div class="left-block products">
        <div class="products-list">
          <table>
            <template v-for="(product, index) in products">
              <tr
                class="item"
                :key="'tr-top' + index"
                :class="{'active': product.active}"
              >
                <td class="product-image-col">
                  <div class="product-image">
                    <img :src="product.image">
                  </div>
                </td>
                <td class="product-name" @click="onSelectProduct(product.slug, product.active)">
                  <p v-text="product.name"></p>
                </td>
                <td class="product-quantity">
                  <p v-if="product.quantity" v-text="'x'+product.quantity"></p>
                </td>
                <td>
                  <p class="product-price" v-text="'$'+product.price"></p>
                </td>
                <td class="product-subscriptions">
                  <calendar-icon v-if="product.delivery_period" class="font-fix subscription"></calendar-icon> 
                </td>
                <!--<td class="product-buy">-->
                  <!--<button v-if="product.active" class="btn btn-green btn-green&#45;&#45;smal btn-green&#45;&#45;square">Buy it again</button>-->
                <!--</td>-->
              </tr>
              <tr :key="'tr-bottom' + index" class="product__tr-bottom" v-if="product && product.pdfs && product.pdfs.length">
                <td class="product-image-col">
                  
                </td>
                <td class="product-name">
                  <p>Type: digital</p>
                </td>
                <td class="product-quantity">
                  <p>x{{product.pdfs.length}}</p>
                </td>

                <td colspan="2">
                  <template>
                    <a class="link-pdf" 
                      v-for="(file, i) in product.pdfs" 
                      :key="i"
                      :href="apiURL + product.pdfs[i].media.filename" 
                      target="_blank" 
                      rel="noopener noreferrer"
                    >
                      <span>Download e-book</span>
                    </a>
                  </template>
                </td>
              </tr>
            </template>
          </table>
        </div>
        <div class="shipping-address" v-if="hasPhysicalProduct">
          <p class="title">Shipping address:</p>
          <p class="customers" v-text="order.shipping.name"></p>
          <p v-text="order.shipping.address"></p>
          <p v-if="order.shipping.city && order.shipping.state" v-text="order.shipping.city + ' ' + order.shipping.state"></p>
          <p v-text="order.shipping.zip"></p>
          <p v-text="order.shipping.country">}</p>
          <p class="phone" v-text="order.shipping.phone"></p>
        </div>
      </div>

      <div class="right-block products">
        <div class="cost-block">
          <div class="cost-row">
            <p class="title-cost">Subtotal</p>
            <p class="price" v-text="'$'+order.price.subtotal"></p>
          </div>
          <div class="cost-row">
            <p class="title-cost">Shipping</p>
            <p class="price" v-text="'$'+order.price.shipping"></p>
          </div>
          <div class="cost-row">
            <p class="title-cost">Discount</p>
            <p class="price" v-text="'$'+order.price.discount"></p>
          </div>
        </div>
        <div class="other-options">
          <div class="other-options-block" v-if="order.payment.type">
            <div class="option-row">
              <p class="title-option">Payment</p>
              <p class="text-option" v-text="order.payment.date"></p>
            </div>
            <div class="payment-methd" v-if="order.payment.payType == 'credit_card'">
              <img :src="'/static/img/shop/cards/'+order.payment.type+'.png'">
              <span class="text-option" v-text="order.payment.info" style="padding-left: 8px"></span>
            </div>
            <div class="payment-methd" v-if="order.payment.payType == 'paypal_account'">
              <img :src="'/static/img/shop/paypal.png'" style="width: 45px">
              <span class="text-option" v-text="order.payment.email" style="padding-left: 8px"></span>
            </div>
          </div>
          <div class="other-options-block">
            <div class="option-row">
              <p class="title-option">Shipped</p>
              <p class="text-option" v-text="order.payment.date"></p>
            </div>
            <div class="option-row">
              <p>USPS Priority Mail</p>
            </div>
          </div>
        </div>

        <div class="shipping-address" >
          <p class="title">Shipping address:</p>
          <p class="customers" v-text="order.shipping.name"></p>
          <p v-text="order.shipping.address"></p>
          <p v-text="order.shipping.city + ' ' + order.shipping.state"></p>
          <p v-text="order.shipping.zip"></p>
          <p v-text="order.shipping.country">}</p>
          <p class="phone" v-text="order.shipping.phone"></p>
        </div>
      </div>
    </div>
  <!--</transition>-->
</template>

<script>

  import axios from 'axios';
  import {apiURL} from '../../../../../config';
  import CalendarIcon from "vue-feather-icons/icons/CalendarIcon";

  export default {
    name: "order-details",
    components: {CalendarIcon},
    props: ['orderId'],
    data: () => ({
      apiURL,
      show: false,
      isShow: false,
      products: null,
      order: {
        shipping: {
          name: '',
          address: '',
          country: '',
          city: '',
          state: '',
          zip: '',
          phone: ''
        },
        price: {
          shipping: '',
          subtotal: '',
          discount: '',
        },
        payment: {
          payType: '',
          date: '',
          type: '',
          info: '',
        }
      }
    }),
    methods: {
      priceSet(data) {
        return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
      },
      onSelectProduct(id, active){
        if (active) document.location.replace('/shop/product/' + id);
      },
      getOrderDetails(){
        let data = {};
        data.token = this.$cookie.get('user_token');
        data.orderId = this.orderId;
        this.$store.dispatch('getOrderDetails',data).then(()=>{
          this.order = this.$store.getters['getOrder'];
          this.products = this.$store.getters['getOrderProducts'];
          this.isShow = true;
          this.$emit('changeLoader', false);
        });
      }
    },
    computed: {
      hasPhysicalProduct() {
        return !this.isDigitalProduct
      },
      isDigitalProduct() {
        return this.products && this.products.some((product) => product && product.pdfs && product.pdfs.length)
      }
    },
    mounted() {
      this.getOrderDetails();
    }
  }
</script>

<style lang="scss">
.product_tr-bottom__title {
  font-size: 13px;
  padding: 0 10px;
}
.link-pdf {
  color: #4a4a4a;
  text-decoration: underline;
  font-size: 13px;
  padding-right: 10px;
}
.product__tr-bottom {
  td {
    padding-bottom: 24px;
    border-bottom: none !important;
  }
}
</style>
