<template>
    <div class="container-progress-bar">
        <p>
            Spend ${{100 - amount}} or more and get 1 more stamp
        </p>
        <div class="wrapper-progress-bar">
            <span class="s-progress">0</span>
            <div class="progress-bar">
                <div class="progress-value" :style='"width:" + amount + "%"'>
                    <span class="spent" v-if="amount">${{amount}}</span>
                </div>
            </div>
            <span class="e-progress">$100</span>
        </div>
    </div>
</template>
<script>
export default {
    name: 'progressBar',
    props: ['amount'],
    data() {
        return {

        }
    }
}
</script>