<template>
  <section class="section home__main vitamins-main">
    <div class="video-block desktop">
      <video autoplay="true" loop="true" muted="true" preload="true" playsinline src="/static/video/IV_Vitamina_Therapy_2_1_1.mp4"></video>
    </div>
    <div class="video-block mobile">
      <video autoplay="true" loop="true" muted="true" preload="true" playsinline src="/static/video/IV_Vitamin_Therapy_Tablet_1_1.mp4"></video>
    </div>

    <div class="Home__info Vitamins__info animated slideInLeft" style="z-index: 5">
      <h2 class="title-section vitamin-title-section vitamin-title">IV Vitamin Therapy</h2>
      <p class="vitamin-text">
        Medical Grade IVs & Chelation Therapy
      </p>
      <a @click="$emit('modal')" class="home__button vitamin-button">Book Now</a>
    </div>
  </section>
</template>
<script>
export default {
  name: "general-block"
};
</script>
<style lang="scss" scoped>

.vitamins-main {
  background: none;
  background-image: none;

  .home__text {
    font-size: 5rem;
  }
}
</style>
