<template>
  <section class="vitamins-wrapper works-wrapper">
    <h2 class="vitamins-title">How it Works</h2>
    <div class="items-wrap">
      <div class="info-block-wrapper">
        <div v-for="(item, index) in items" 
            :key="index" 
            class="vitamins-info-block">
            <img :src="item.img">
            <p>{{item.text}}</p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'HowItWorks',
  data() {
    return {
      items: [
        {
          img: "../../static/img/vitamins/blood-frame.png",
          text: "Choose your IV of speak to your specialist"
        },
        {
          img: "../../static/img/vitamins/time-frame.png",
          text: "Schedule Appointment"
        },
        {
          img: "../../static/img/vitamins/done-frame.png",
          text: "Arrive & Thrive!"
        }
      ]
    };
  }
};
</script>
