<template>
    <section class="vitamins-wrapper iv-menu-wrapper">
        <h2 class="vitamins-title">{{title}}</h2>
        <div class="wrapper-blocks">
            <div v-for="(block, index) in ivMenu"
                :key="index"
                class="block-menu">
                <div class="image-block">
                    <img :src="block.image">
                </div>
                <div class="content-block">
                    <h3>{{block.title}}</h3>
                    <p>{{block.text}}</p>
                    <a @click="$emit('modal')" class="home__button vitamin-button">Book Now</a>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    name: 'IvMenu',
    data(){
        return {
            title: "IV Menu",
            ivMenu: [{
                image: "../../static/img/vitamins/icons/Hydro.png",
                title: 'Next Hydro',
                text: 'Having gut issues that are causing fluid loss? Can’t seem to hold anything down? Next Hydro helps with recovery from dehydration.  This hydrating IV is beneficial if you’re unable to drink fluids and need to get hydrated fast.'
            },
            {
                image: "../../static/img/vitamins/icons/Recovery.png",
                title: 'Next Recovery',
                text: 'Feeling exhausted from the night before? Experiencing nausea and headache? Next recovery is said to be the best Vitamin IV therapy for hangovers because it helps you recover quickly. This IV will have you feeling like you’re back to yourself.'
            },
            {
                image: "../../static/img/vitamins/icons/Supercharge.png",
                title: 'Next Supercharge',
                text: 'Are you lacking energy and can’t seem to concentrate? Experiencing Jet Lag from a long trip? Is your mood or you feel depressed? Next Supercharge helps your body get that extra charge of energy that may also help your mood. This is the perfect IV drip for energy.'
            },
            {
                image: "../../static/img/vitamins/icons/ImmuneCharger.png",
                title: 'Next Immune Charger',
                text: 'Feel like your getting the cold? Want to boost your natural defense system? Next immune charger may help with preventing colds.  This IV will also help you recover faster from viruses and colds. This is the perfect IV drip for your immune system. '
            },
            {
                image: "../../static/img/vitamins/icons/Beauty.png",
                title: 'Next Beauty',
                text: 'Want to combat wrinkles, dry skin and hair loss? Next beauty IV is the ultimate anti-aging formula which gives your skin a natural glow and promotes fuller hair. Packed with glutathione, the world’s strongest antioxidant, this IV is optimized to rejuvenate skin firmness and elasticity and stimulate hair growth and thickness.'
            },
            {
                image: "../../static/img/vitamins/icons/Anti-Age.png",
                title: 'Next Anti-Age',
                text: 'There are many factors that make your body age faster than you think. Free radicals and toxic metals are some of the main ones. Next Anti Age IV drip addresses it all! With a combination of Next Chelation and our other signature mix, it may even decrease your risk of dementia, cancer, and heart disease. But that\'s not it, it may also give your brain, hair, skin, nails, and sexual vitality the boost they need.'
            },
            {
                image: "../../static/img/vitamins/icons/Chelation.png",
                title: 'Next Chelation',
                text: 'Next Chelation Therapy may reduce vascular inflammation caused by specific toxic metals and reduces the body burden of those metals in other organ systems. EDTA alone or in combination with DMPS Chelation Therapy may be used to clear heavy metals from tissue and arteries and therefore increase blood flow to the heart, brain, legs and throughout the body. Diabetes?'
            },
            {
                image: "../../static/img/vitamins/icons/Stress.png",
                title: 'Next Stress',
                text: 'Feel overworked? Next Stress is the perfect Vitamin IV therapy for stress. Our signature mix will help give you more energy, aid in detox and give you a good night sleep.'
            },
            {
                image: "../../static/img/vitamins/icons/Travel.png",
                title: 'Next Travel',
                text: 'Have a long flight coming up? Going on vacation? Make sure to get a boost before your trip so you can avoid getting sick. Next Travel IV is specifically designed to boost your immune system help you avoid Traveler’s sickness. This is a perfect IV drip for traveling.'
            },
            {
                image: "../../static/img/vitamins/icons/HIGH-C.png",
                title: 'Next HIGH-C',
                text: 'Looking for High IV doses of vitamin C? Many people use high doses of Vitamin C to fight cancer or use it as a part of their cancer treatment. It may also bolster the immune system which ultimately helps the body fight cancer.'
            }]
        }
    }
}
</script>
