<template>
  <div class="vitamins-page">
    <!-- <section class="top__home">
      <div class="home__number">
        <a href="tel:(703) 724-4000">Call Us (703) 724-4000</a>
      </div>
      <div class="home__social">
          <ul>
              <li><a target="_blank" href="https://www.facebook.com/drhabibNH" class="link"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/drhabibnh" class="link"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
              <li><a target="_blank" href="https://www.instagram.com/doctorhabib" class="link"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
              <li><a target="_blank" href="https://www.youtube.com/channel/UCmPRewPv6QtwO8JD7S1us2g" class="link"><i aria-hidden="true" class="fa fa-youtube"></i></a></li>
          </ul>
          <p @click="openPopUp()">Contact Us</p>
      </div>
    </section> -->
    <MainHeader @openmenu="openMenu" class="header__home hide__contact" style="z-index: 5;"  @modal="showContactUs = true" @openpopup="openPopUp"/>
    <LeftMenu v-if="isMenuOpen" @closed="closeMenu" />
    <GeneralBlock @modal="isPopUpOpen = true"  />
    <VitaminsInfo  @modal="isPopUpOpen = true" />
    <IvMenu @modal="isPopUpOpen = true" />
    <Testimonials @modal="showContactUs = true" />
    <HowItWorks @modal="isPopUpOpen = true" />
    <Faqs @modal="showContactUs = true" />
    <AppFooter @modal="isPopUpOpen = true" />
    <ContactUs v-if="isPopUpOpen" @closed="isPopUpOpen = false" />
  </div>
</template>
<script>
import MainHeader from '../general/MainHeader';
import LeftMenu from '../general/Menu';
import GeneralBlock from './GeneralBlock';
import VitaminsInfo from './VitaminsInfo';
import IvMenu from './IvMenu';
import Testimonials from './Testimonials';
import HowItWorks from './HowItWorks';
import Faqs from './Faqs';
import AppFooter from '../general/Footer';
import ContactUs from '../modals/ContactUs';

export default {
  name: 'vitamins-page',
  components: {
    GeneralBlock,
    MainHeader,
    LeftMenu,
    VitaminsInfo,
    IvMenu,
    Testimonials,
    HowItWorks,
    Faqs,
    AppFooter,
    ContactUs
  },
  data() {
    return {
      isMenuOpen: false,
      isPopUpOpen: false,
      showContactUs: false
    }
  },
  methods: {
    openMenu() {
      this.isMenuOpen = true;
    },
    closeMenu() {
      this.isMenuOpen = false;
    },
    openPopUp() {
      this.isPopUpOpen = true;
    },
    closePopUp() {
      this.isPopUpOpen = false;
    },
  }
}
</script>
