<template>
  <footer class="section fp-auto-height footer">
    <div class="footer__section footer__section-1">
      <a href="/" class="footer__logo"><img src="/static/img/footer_logo.svg"/></a>
      <p>For any questions, suggestions, or concerns related to these Terms of Use, please email us at <a href="mailto:info@nexthealth.org">info@nexthealth.org</a></p>
      <p class="copyrigth">© 2019 Next Health, LLC. All Rights Reserved.</p>
    </div>
    <div class="footer__section footer__section-2">
      <h3>Links</h3>
      <ul>
        <li><a href="/shop/category/all">Shop</a></li>
        <li><a href="/about">About</a> </li>
        <li><a href="/contact">Contact</a> </li>
        <li><a href="/terms-of-use">Terms</a></li>
        <li><a href="/terms-of-use#6">Return Policy</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
        <!-- <li><a href="#">Track Order</a> </li> -->
      </ul>
    </div>
    <div class="footer__section footer__section-3">
      <h3>Disclaimer</h3>
      <p>You should not use the information contained on the site for diagnosing a health problem or prescribing a medication. You should carefully read all information provided by the manufacturers of the products on or in the product packaging and labels before using any product purchased on the site. Individual results may vary. You should always consult your own physician and medical advisors. Information and statements regarding dietary supplements have not been evaluated by the food and drug administration and are not intended to diagnose, treat, cure, or prevent any disease.</p>
      
      <div class="footer-address">
        <h3 class="footer-address-title">Address</h3>
        <div class="addresses">
          <div class="first-address">
            <p>
              Virginia Location:
              <br />
              44121 Harry Byrd Highway
              <br />
              Suite # 115
              <br />
              Ashburn, VA. 20147
            </p>
          </div>
          <div class="second-address">
            <p>
              Maryland Location:
              <br /> 
              5101 River Road
              <br />
              Suite # 106
              <br />
              Bethesda, MD. 20816
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="footer__section footer__section-4">-->
      <!--<h3>Search</h3>-->

      <!--<div class="footer__block-search">-->
        <!--<input type="text" placeholder="Search" />-->
        <!--<img src="/static/img/icons/search.svg" />-->
      <!--</div>-->
    <!--</div>-->
    <div class="footer__section footer__section-5">
      <h3>Connect</h3>

      <div class="footer__soc">
        <a target="_blank" href="https://www.facebook.com/drhabibNH" class="link"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCmPRewPv6QtwO8JD7S1us2g" class="link"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        <a target="_blank" href="https://twitter.com/drhabibnh" class="link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.instagram.com/doctorhabib" class="link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>

      <div class="footer__hashtag">
        <a href="#">#nexthealth #drhabib</a>
        <p class="copyrigth-down">© 2019 Next Health, LLC. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'AppFooter'
};
</script>
