<template>
  <div class="menu active">
    <button @click="closeMenu" class="btn btn--close-menu"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="luc4a" d="M4362.49 916.9l-8.49-8.49-8.49 8.49a1 1 0 0 1-1.41-1.41l8.49-8.49-8.49-8.49a1 1 0 1 1 1.41-1.41l8.49 8.49 8.49-8.49a1 1 0 1 1 1.4 1.41l-8.48 8.49 8.49 8.49a1 1 0 1 1-1.41 1.41z"/></defs><g><g opacity="1" transform="translate(-4342 -895)"><use fill="#fff" xlink:href="#luc4a"/></g></g></svg>
    </button>
    <nav>
      <a class="menu__item" href="/">Home</a>
      <div class="menu__item has-subMenu" v-on:click="isActiveCompany = !isActiveCompany" v-bind:class="{'active': isActiveCompany}">
        <span>Company</span>
        <div class="subMenu">
          <a class="menu__item" href="/about">About Us</a>
          <!-- <a class="menu__item" href="/contact">Contact Us</a> -->
          <a class="menu__item" href="/preventative-care">Preventative Care</a>
        </div>
      </div>
      <a class="menu__item" href="/executive-physical">Executive physical</a>
      <a class="menu__item" href="/services">Services</a>
      <a class="menu__item" href="/shop/category/all">Shop</a>
      <!--<div class="menu__item has-subMenu" @click="isActivePeptides = !isActivePeptides" v-bind:class="{active: isActivePeptides}">-->
        <!--<span>Peptides</span>-->
        <!--<div class="subMenu">-->
          <!--<a class="menu__item" href="/peptides">Peptides by condition</a>-->
          <!--<a class="menu__item" href="/peptides/category/all">Peptides archive</a>-->
        <!--</div>-->
      <!--</div>-->
      <a class="menu__item" href="/terms-of-use">Terms of Use</a>
      <a class="menu__item" href="/contact">Contact Us</a>

    </nav>
    <p class="copyrigth">© 2019 NextHealth. All rights reserved.</p>
  </div>
</template>

<script>

export default {
data() {
    return {
      isActiveCompany: false,
      isActiveTerms: false,
      isActivePeptides: false
    };
  },
  name: 'left-menu',
  methods: {
    closeMenu: function () {
        this.$emit('closed',{});
    }
  }
};
</script>


