<template>
  <div class="sign-form">
    <alert-error v-if="isError" error-text="Token is invalid"></alert-error>
    <div v-if="!isSuccessfully">
      <div class="sign--input-group">
        <p class="text-form">New password</p>
        <input @keyup="disabledButton"
               class="input-form"
               type="password"
               v-model="resetPassword.password"
               v-bind:class="{'error-input' : resetPassword.isErrorPassword}"/>
        <p v-show="resetPassword.password &amp;&amp; resetPassword.isErrorPassword" class="error-text"> Incorrect password</p>
      </div>

      <div class="sign--input-group">
        <p class="text-form">Retry new password</p>
        <input @keyup="disabledButton"
               class="input-form"
               type="password"
               v-model="resetPassword.retryPassword"
               v-bind:class="{'error-input' : resetPassword.retryPassword &amp;&amp; resetPassword.isErrorRetryPassword}"/>
        <p v-show="resetPassword.retryPassword &amp;&amp; resetPassword.isErrorRetryPassword" class="error-text"> Incorrect password</p>
      </div>

      <button class="btn-login btn-button btn-button--green m-t-30" :disabled="isDisabled"
              @click="sendEmail">Reset my password
      </button>
    </div>

    <div v-if="isSuccessfully" class="successfully-block">
      <div v-if="errors" class="successfully-message">
        <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.71094 7.30469C2.58594 7.16406 2.4375 7.07031 2.26562 7.02344C2.09375 6.97656 1.91406 6.97656 1.72656 7.02344C1.55469 7.07031 1.40625 7.15625 1.28125 7.28125C1.15625 7.40625 1.07031 7.5625 1.02344 7.75C0.976562 7.92188 0.976562 8.09375 1.02344 8.26562C1.07031 8.4375 1.16406 8.58594 1.30469 8.71094L6.29688 13.7031C6.5 13.9062 6.73438 14.0078 7 14.0078C7.26562 14.0078 7.5 13.9062 7.70312 13.7031L18.6953 2.71094C18.8359 2.58594 18.9297 2.4375 18.9766 2.26562C19.0234 2.09375 19.0234 1.92188 18.9766 1.75C18.9297 1.5625 18.8438 1.40625 18.7188 1.28125C18.5938 1.15625 18.4375 1.07031 18.25 1.02344C18.0781 0.976562 17.9062 0.976562 17.7344 1.02344C17.5625 1.07031 17.4141 1.16406 17.2891 1.30469L7 11.5938L2.71094 7.30469Z"
            fill="white"/>
        </svg>
        <p class="successfully-text">Error</p>
      </div>
      <p v-if="!errors" class="main-successfully-text">Password has been successfully changed</p>
      <a class="btn-login btn-button btn-button--green m-t-30" href="/shop/login">Log in</a>
    </div>

  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '../../../config';
  import AlertError from "./alert_error.vue";

  export default {
    components: {AlertError},
    name: 'new-password-form',
    data() {
      return {
        resetPassword: {
          password: '',
          isErrorPassword: false,
          retryPassword: '',
          isErrorRetryPassword: false,
        },
        isError: false,
        isDisabled: true,
        isSuccessfully: false
      }
    },

    methods: {
      isPasswordValid: function (pasword) {
        return (pasword.length >= 6);
      },
      disabledButton: function () {
        this.resetPassword.isErrorPassword = !this.isPasswordValid(this.resetPassword.password);
        this.resetPassword.isErrorRetryPassword = !(this.resetPassword.retryPassword === this.resetPassword.password
          && this.isPasswordValid(this.resetPassword.retryPassword));
        this.isDisabled = !(!this.resetPassword.isErrorPassword && !this.resetPassword.isErrorRetryPassword );
      },
      sendEmail: function () {
        axios.put(apiURL + '/api/public/recovery-password', {
          token: this.$route.query.token,
          new_password: this.resetPassword.password,
          confirmed_new_password: this.resetPassword.retryPassword
        })
          .then(response => {
            let result = response.data;
            if (result.role == "Admin"){
              document.location.replace('/admin/login');
            } else {
              this.isSuccessfully = true;
            }
          })
          .catch(error => {
            this.isError = true;
          });
      },
    },

    mounted() {
      if(!this.$route.query.token) {
        document.location.replace('/shop');
      }
    }
  }
</script>
