<template>
  <div class="sign-form">
    <alert-error v-if="isError" error-text="User not found"></alert-error>

    <div v-if="!isSuccessfully">
      <div class="sign--input-group">
        <p class="text-form reset-password-label">Enter email to reset your password</p>
        <input @keyup="disabledButton"
               class="input-form"
               type="text"
               v-model="resetPassword.email"
               v-bind:class="emailClass"/>
        <p v-show="resetPassword.email &amp;&amp; !isEmailValid" class="error-text"> Incorrect email address</p>
      </div>

      <button class="btn-login btn-button btn-button--green m-t-30" :disabled="isDisabled"
              @click="sendEmail">Reset my password
      </button>
    </div>



  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '../../../config';
  import AlertError from "./alert_error.vue";

  export default {
    name: 'reset-password',
    data() {
      return {
        resetPassword: {
          email: '',
        },
        isError: false,
        isDisabled: true,
        isSuccessfully: false,
      }
    },
    computed: {
      emailClass() {
        return (this.resetPassword.email != '' && !this.isEmailValid) ? 'error-input' : '';
      },
      isEmailValid() {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.resetPassword.email);
      }

    },
    methods: {
      disabledButton: function () {
        this.isError = false;
        this.isDisabled = (this.resetPassword.email != '' && this.isEmailValid) ? false : true;
      },
      sendEmail: function () {
        axios.post(apiURL + '/api/public/forgot-password', {
          email: this.resetPassword.email,
        })
          .then(response => {
            this.isSuccessfully = true;
            this.$cookie.delete('user_token');
          })
          .catch(error => {
            this.isError = true;
          });
      }
    },
    mounted() {
    },
    components: {AlertError}
  }
</script>
