<template>
  <div class="sign-form" :class="{'client':isClient, 'block-info': isCheckout}">

    <spinner v-if="loader"/>

    <alert-error v-if="errors" error-text="Login or password is incorrect"></alert-error>

    <div :class="{'client-input-group': isCheckout, 'sign--input-group': !isCheckout}">
      <label class="input-label">Login</label>
      <div class="input-block">
        <input
          class="input-form"
          type="text"
          v-model="userLogin.name"
          @keyup="disabledButton"
          v-bind:class="emailClass"
        >
        <p
          v-show="userLogin.name &amp;&amp; !isEmailValid"
          class="error-text"
        >Incorrect email address</p>
      </div>
    </div>

    <div :class="{'client-input-group': isCheckout, 'sign--input-group': !isCheckout}">
      <label class="input-label">
        Password
        <a
          v-if="isClient && !isCheckout"
          href="/shop/password_reset"
          class="btn-login btn-link float-right"
        >Forgot password?</a>
      </label>
      <div class="input-block">
        <input
          class="input-form"
          type="password"
          v-model="userLogin.password"
          @keyup="disabledButton"
          v-bind:class="passwordClass"
        >
        <p
          v-show="userLogin.password &amp;&amp; !isPasswordValid"
          class="error-text"
        >Incorrect password</p>
      </div>
    </div>

    <div class="row-form" v-if="!isClient && !isCheckout">
      <!--<div class="block-checkbox-1">-->
      <!--<input type="checkbox" class="checkbox" id="keep_login" />-->
      <!--<label for="keep_login">Keep login</label>-->
      <!--</div>-->

      <a href="/admin/password_reset" class="btn-login btn-link">Forgot password?</a>
    </div>

    <button
      v-if="!isCheckout"
      class="btn-login btn-button btn-button--green m-t-30 m-b-30"
      type="button"
      :disabled="isDisabled"
      @click="userAuth"
    >Sign In</button>

    <div
      v-if="isCheckout"
      class="shipping-item-btn-block shipping-item-btn-block--form"
      style="margin-top: 40px"
    >
      <button
        type="button"
        class="btn btn-green btn-shipping btn-shipping--big btn-form"
        :disabled="isDisabled"
        @click="userAuth"
      >Sign In</button>
      <button
        type="button"
        class="btn btn-grey btn-shipping btn-shipping--big btn-shipping--grey m-l-10"
        @click="onSignUp"
      >Sign Up</button>
    </div>
  </div>
</template>
<script>
import AlertError from "../general/alert_error";
import Spinner from '../shop/login/components/spinner';

import axios from "axios";
import { apiURL } from "../../../config";

export default {
  name: "sign-in",
  components: { AlertError, Spinner },
  props: ["client", "checkout"],
  data() {
    return {
      userLogin: {
        name: "",
        password: ""
      },
      errors: false,
      isDisabled: true,
      isClient: this.client ? this.client : false,
      isCheckout: this.checkout ? this.checkout : false,
      loader: false
    };
  },
  computed: {
    emailClass() {
      return this.userLogin.name != "" && !this.isEmailValid
        ? "error-input"
        : "";
    },
    passwordClass() {
      return this.userLogin.password != "" && !this.isPasswordValid
        ? "error-input"
        : "";
    },
    isEmailValid() {
      return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
        this.userLogin.name
      );
    },
    isPasswordValid() {
      return true;
    }
  },
  methods: {
    disabledButton: function() {
      this.isDisabled =
        this.userLogin.name != "" && this.userLogin.password != ""
          ? false
          : true;
    },
    userAuth: function() {
      this.loader = true;
      axios
        .post(apiURL + "/api/auth/login", {
          email: this.userLogin.name,
          password: this.userLogin.password
        })
        .then(response => {
          let result = response.data;
          this.$cookie.set("user_token", result.token, 1);
          this.$store.commit('setUser', result);

          var _learnq = _learnq || [];

          _learnq.push(['identify', {
            '$email' : this.userLogin.name
          }]);

          this.$store.dispatch('getUser', this.$cookie.get("user_token")).then(user => {
            if (!this.isClient && user.role === 'Admin') {
              document.location.replace("/admin/products");
            } else {
              if (this.$cookie.get("cart_token")) {
                if (this.$cookie.get("cart_guest")) {
                  this.assignCart();
                } else {
                  this.checkUserCart();
                }
              } else {
                this.checkUserCart();
              }
            }
          })
          this.$emit("user", result);
          this.loader = false;
        })
        .catch(error => {
          this.errors = true;
          this.loader = false;
        });
    },
    checkUserCart: function() {
      axios({
        method: "get",
        url: apiURL + "/api/user/has-cart",
        headers: {
          Authorization: "Bearer " + this.$cookie.get("user_token")
        }
      })
        .then(response => {
          let token = response.data.token;
          if (token !== this.$cookie.get("cart_token")) {
            this.$cookie.set("cart_token", token);
          }
          if (this.isCheckout) {
            this.$router.push("/shop/checkout");
          } else {
            this.$router.push("/shop/cart");
          }
        })
        .catch(error => {
          if (this.$cookie.get("cart_token")) {
            this.$cookie.delete("cart_token");
          }
          this.$router.push("/shop");
        });
    },
    assignCart: function() {
      axios({
        method: "get",
        url: apiURL + "/api/user/assign-cart/" + this.$cookie.get("cart_token"),
        headers: {
          Authorization: "Bearer " + this.$cookie.get("user_token")
        }
      })
        .then(response => {
          if (this.$cookie.get("cart_guest")) {
            this.$cookie.delete("cart_guest");
          }
          if (this.isCheckout) {
            this.$router.push("/shop/checkout");
          } else {
            this.$router.push("/shop/cart");
          }
        })
        .catch(error => {
          this.$router.push("/shop");
        });
    },
    onSignUp: function() {
      this.$emit("onSignUp", true);
    }
  }
};
</script>
