<template>
    <div>

      <MainHeader @openmenu="openMenu" />
      <Menu v-if="isMenuOpen" @closed="closeMenu"/>

      <main class="not-found">
        <section>
          <div class="not-found__wrapper">
            <div class="not-found__block">
              <h1 class="title-section">Download file is forbidden</h1>
              <a class="btn link__toMain" href="/">Go To Home</a>
            </div>
            <div class="not-found__block">
              <!-- <img src="../../../static/img/404/nonFound.png"/> -->
            </div>
          </div>
        </section>
      </main>

      <div v-if="isSuccsesAlert" class="popUp succsesAlert">
        <div class="popUp__wrapper animated">
          <div class="popUp__header">
            <h2>Thank You</h2>
          </div>
          <div class="popUp__body">
            <p>Thanks for your submission. We will contact you soon.</p>
          </div>
        </div>
      </div>

    </div>

</template>

<script>
  import MainHeader from '../main/general/MainHeader';
  import Menu from '../main/general/Menu';

  export default {
    name: 'not-found',
    data: () => ({
      isSuccsesAlert: false,
      isMenuOpen: false
    }),
    methods: {
      openMenu() {
        this.isMenuOpen = true;
      },
      closeMenu() {
        this.isMenuOpen = false;
      }
    },
    mounted() {
    },
    components: {
      MainHeader,
      Menu
    }
  }
</script>
