<template>
  <div>
  </div>
</template>

<script>
import axios from 'axios'
import { apiURL } from "@/config";
export default {
    created() {
        const hash = location.hash.substr(1)
        alert(hash)
        axios.get(apiURL + '/api/user/get-file/' + hash)
            .then(res => {
                console.log(res)
                this.$router.push('/')
            })
            .catch(err => {
                console.log(err)
                this.$router.push('/forbidden')
            })
    }
}
</script>