<template>
  <div>
    <p class="checkout-title">Order #{{ cart_id }}</p>
    <table class="checkout-table">
      <thead>
        <tr>
          <td colspan="2">Product</td>
          <td style="text-align: center">Quantity</td>
          <td style="text-align: right">Price</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(product, i) in productList" :key="i">
          <td><img :src="product.image" alt=""></td>
          <td><p class="checkout-title">{{ product.name }}</p>
          </td>
          <td class="checkout-quantity">
            <span v-if="product.quantity">x{{ product.quantity }}</span>
          </td>
          <td class="checkout-price">${{ product.price }}</td>
        </tr>
      </tbody>
    </table>
    <div class="checkout-coast">
      <div class="cp-block">
        <p class="cp-text">Subtotal</p>
        <p class="cp-price">${{ priceSet(price) }}</p>
      </div>
     <div class="cp-block" v-if="coupon">
      <p class="cp-text">Coupon</p>
      <p class="cp-price">{{coupon}}</p>
     </div>
      <div class="cp-block" v-if="discount">
        <p class="cp-text">Discount</p>
        <p class="cp-price">-${{ priceSet(discount) }}</p>
      </div>
      <div class="cp-block">
        <p class="cp-text">Shipping</p>
        <p class="cp-price">${{priceSet(shippingPrice)}}</p>
      </div>
      <div class="cp-block">
        <p class="cp-text big">Total</p>
        <p class="cp-price big">${{priceSet(totalPrice)}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '../../../../../config';
  import { setTimeout } from 'timers';
  import {types} from '@/staticData/product'

  export default {
    name: "cart-info",
    components: {},
    props: ["isUpdateCartInfo"],
    data() {
      return {
        types: [],
        cart_id: null,
        productList: null,
        productPrice: 0,
        shippingPrice: 0,
        totalPrice: 0,
        token: null,
        discount: null,
        coupon: null
      }
    },
    methods: {
      priceSet: function (data) {
        return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
      },
       getDiscount() {
           let userToken = this.$cookie.get('user_token');
           let cartToken = this.$cookie.get('cart_token');
           let data = {
               token: userToken,
               cartToken: cartToken
           };
           this.$store.dispatch('getDiscount', data).then(()=>{
              this.discount = this.$store.getters['getCoupon'] == null ? null : this.$store.getters['getCoupon'].discount;
           });
         this.getShippingPrice(this.cart_id);
       },
      getCart() {
        this.productList = [];
        this.productPrice = 0;
        axios({
          method: 'get',
          url: apiURL + '/api/public/cart/' + this.token,
        })
          .then(response => {
            let res = response.data;
            if (res.count <= 0) {
              document.location.replace('/shop/cart');
            }
            console.log('res', res)
            this.cart_id = res.id;
            this.productList = [];
            this.$root.cartCount = 0;
            if (res.orderDetailed && res.orderDetailed.length > 0) {
              res.orderDetailed.forEach(item => {
                // TypeID
                const typeId = item && item.product && item.product.type
                if(typeId) this.types.push(typeId)
                
                let data = {};
                data.id = item.id;
                data.name = item.product.name;
                data.quantity = item.quantity;
                if (item.regular_sale_price > 0) {
                  this.productPrice += item.regular_sale_price * item.quantity;
                  data.price = this.priceSet(item.regular_sale_price);
                  data.old_price = this.priceSet(item.regular_price);
                } else {
                  this.productPrice += item.regular_price * item.quantity;
                  data.price = this.priceSet(item.regular_price);
                  data.old_price = false;
                }
                data.delivery_period = false;
                data.image = (item.product.images) ? apiURL + item.product.images[0].media.filename : '';

                this.productList.push(data);
              });
              this.$root.cartCount += res.orderDetailed.length;
            }
            if (res.plans && res.plans.length > 0) {
              res.plans.forEach(item => {
                let data = {};
                data.id = item.id;
                data.name = item.delivery_period.product.name;
                data.image = (item.delivery_period.product.images[0]) ? apiURL + item.delivery_period.product.images[0].media.filename : '';
                data.quantity = false;
                this.productPrice += item.price;
                data.price = this.priceSet(item.price);
                data.old_price = null;
                data.delivery_period = [];
                data.delivery_period_selected = item.delivery_period.period + ' ' + item.delivery_period.unit;
                item.delivery_period.product.delivery_periods.forEach(period => {
                  data.delivery_period.push({id: period.plan.id, name: period.period + ' ' + period.unit});
                });

                this.productList.push(data);
              });
              this.$root.cartCount += res.plans.length;
            }
            if(res.coupon_code) {
              this.coupon = res.coupon_code;
              let userToken = this.$cookie.get('user_token');
              let cartToken = this.$cookie.get('cart_token');
              let data = {
                token: userToken,
                cartToken: cartToken
              }
              this.$store.dispatch('getDiscount', data);
            } else {
              
              this.getShippingPrice(res.id);
            }

            let productInfo = {};
            productInfo.cart_id = this.cart_id;
            productInfo.productList = this.productList;
            productInfo.productPrice = this.productPrice;
            productInfo.discountCode = res.coupon_code ? res.coupon_code : '';
            productInfo.discountValue = this.$store.getters["getCoupon"] ? this.$store.getters["getCoupon"] : '';
            this.$emit('productInfo', productInfo);

            let productsNames = this.productList.map(item => item.name);

            let _learnq = _learnq || [];

            _learnq.push(['track', 'Started Checkout', {
              "$event_id" : this.cart_id, // The cart ID if you have it. Otherwise remove this line.
              "$value" : this.totalPrice,
              "ItemNames" : productsNames,
              "CheckoutURL": window.location.toString(),
              "Items" : this.productList
            }]);
          })
          .catch(error => {
            document.location.replace('/shop');
          });
      },

      getShippingPrice(cartId){
        axios({
          method: 'get',
          url: apiURL + '/api/public/cart/shipping-price/' + cartId,
        })
          .then(res =>{
            this.shippingPrice = res.data.shipping_cost;
            this.totalPrice = this.shippingPrice + this.price;
            this.$emit('totalPrice', this.totalPrice);
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    computed: {
      price() {
        if (this.$store.getters["getCoupon"]) {
          return this.productPrice > this.$store.getters["getCoupon"].discount ? this.productPrice - this.$store.getters["getCoupon"].discount : '0';
        } else {
          return this.productPrice
        }
      }
    },
    watch: {
      types: {
        handler() {
          const flag = this.types.some(typeId => typeId !== types[1].id)
          this.$emit('hasPhysicalProduct', flag)
        }
      },
      isUpdateCartInfo: function(newVal) {
        if (newVal) {
          this.token = this.$cookie.get('cart_token');
          this.getCart();
        }
      },
      price(){
        this.getDiscount(this.$store.getters["getCoupon"]);
      }
    },
    mounted() {
      if (this.$route.query.token) {
        this.token = this.$route.query.token;
      } else if (this.$cookie.get('cart_token')) {
        this.token = this.$cookie.get('cart_token')
      }
      if (this.token) {
        this.getCart();
      } else {
        document.location.replace('/shop');
      }
    }
  }
</script>

