<template>
  <div>
    <div id="dropin-container"></div>
    <button 
      type="button"
      :disabled="isDisabledButton"
      class="continue-checkout btn btn-green btn-green--square btn-green--block"
      id="submit-button">
      Pay Now
    </button>
  </div>
</template>

<script>
  import dropin from 'braintree-web-drop-in';

  import axios from 'axios';
  import {apiURL} from '../../../../../config';
import { setTimeout } from 'timers';

  export default {
    name: "pay-block",
    components: {},
    props: {
      hasDigitalProduct: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        paymentMethod: null,
        orderId: null,
        token: null,
        disabledButton: true,
      }
    },
    watch: {
    },
    computed: {
      isDisabledButton() {
        if(this.hasDigitalProduct) return false
        
        let id = this.$store.getters['getShippingId'];
        if(id) {
          return (this.disabledButton || !id);
        } else {
          return (this.disabledButton || !this.$cookie.get('shipping_id'));
        }
      }
    },
    methods: {
      getBraintreeToken: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/user/payment-method/create-token',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let res = response.data;
            this.$cookie.set('brain_tree', res.token);
            this.inicializationPayBlock();
          })
          .catch(error => {

          });
      },

      postCheckout: function(callback) {
        // this.$emit('payProcess');
        axios({
          method: 'post',
          url: apiURL + '/api/checkout/'+this.$cookie.get('shipping_id'),
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let res = response.data; // cart info
            this.orderId = res.id;
            callback(true);
          })
          .catch(error => {
            // this.$emit('trackError');
          });
      },
      postPaymentMethod: function(nonce, callback) {
        axios({
          method: 'post',
          url: apiURL + '/api/user/payment-method',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: {
            nonce: nonce,
          }
        })
          .then(response => {
            let res = response.data;
            this.paymentMethod = res.id;
            callback(true);
          })
          .catch(error => {

          });
      },
      postPay: function () {
        axios({
          method: 'post',
          url: apiURL + '/api/user/pay',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: {
            payment_method: this.paymentMethod,
            order: this.orderId,
          }
        })
          .then(response => {
            let res = response.data;
            this.$emit('trackSuccessfully', this.orderId);
          })
          .catch(error => {
            this.$emit('trackError');
          });
      },


      onPaySelectedMethod: function(){
        this.$emit('payProcess');
        this.postCheckout(res => {
          this.postPay();
        });
      },
      inicializationPayBlock() {
        var button = document.querySelector('#submit-button');
        dropin.create({
          authorization: this.$cookie.get('brain_tree'),
          container: '#dropin-container',
          locale: 'en_US',
          translations: {
            chooseAWayToPay: 'Choose a way to pay',
            payingWith: 'Select payment method',
            otherWaysToPay: '... or add new'
          },
          card: {
            overrides: {
              fields: {
                number: {
                  placeholder: '1111 1111 1111 1111' // Update the number field placeholder
                }
              }
            }
          },
          paypal: {
            flow: 'vault',
            buttonStyle: {
              color: 'gold',
              shape: 'rect',
              size: 'medium'
            }
          }
        }, (createErr, instance) => {
          this.disabledButton = false;
          button.addEventListener('click', (e) => {
            e.preventDefault();
            this.$emit('payProcess');
            instance.requestPaymentMethod((requestPaymentMethodErr, payload) => {
              
              let nonce = payload.nonce;
              this.postCheckout(res => {
                this.postPaymentMethod(nonce, successfully => {
                  this.postPay();
                });
              });
            });
          });
        });
      }
    },
    mounted() {
      this.getBraintreeToken();
    }
  }
</script>

<style scoped>

</style>
