<template>
  <div class="border-block thanks-pade">
    <div class="check"><check-icon class="check--icon"></check-icon></div>
    <p class="title">Thank you for your order</p>
    <p>Your order number <b>#{{orderId}}</b>.
      <a class="btn btn-link btn-link--modal" href="/shop/account/orders">Show order details.</a> 
    </p>
    <p>Order confirmation has been sent to {{userEmail}}</p>
    <a href="/shop" class="btn btn-green btn-ok">OK</a>
  </div>
</template>

<script>

  import CheckIcon from "vue-feather-icons/icons/CheckIcon";

  export default {
    name: "thanks-block",
    components: {CheckIcon},
    props: ['orderId', 'totalPrice'],
    data() {
      return {}
    },
    mounted() {
      fbq('track', 'Purchase', {
        currency: 'USD',
        value: this.totalPrice
      });
    },
    computed: {
      userEmail: function() {
        return (this.$store.state.user) ? this.$store.state.user.email : '';
      },
    }
  }
</script>

