<template>
  <div class="shop-full-section">
    <component 
        v-for="(section,i) in sections" 
        :key="i" 
        :is="section.component" 
        :section="section" 
        :class="[{'odd': !i%2}, {'even': i%2}]"
    />
  </div>
</template>

<script>
import ProductOverview from "./ProductOverview"
import ProductProperties from "./ProductProperties"

export default {
    components: {
        ProductOverview,
        ProductProperties
    },
    props: {
        sections: {
            type: Array,
            default: () => []
        }
    }
}
</script>

<style lang="scss">
.double-block {
    &.odd {

    }
    &.even {
        flex-direction: row-reverse;
    }
}
</style>