<template>
  <div class="double-block">
    <div class="left-side">
      <!-- <div v-if="additionalBlock.type == 'video'" class="video-block">
        <div class="video-info" @click="onOpenMediaModal(additionalBlock.video.video_link, true)">
        <div class="video-preview">
            <img v-if="additionalBlock.src" :src="apiURL + additionalBlock.src.filename" />
            <div class="poster-video">
            <img src="/static/img/shop/play-button.svg" class="play-button" />
            <div class="video-text">
                <p class="big">{{ additionalBlock.video.title }}</p>
                <p class="small">{{ additionalBlock.video.video_description }}</p>
            </div>
            </div>
        </div>
        </div>
      </div>-->

      <div v-if="mediaType == 'image' && mediaUrl" class="image-block">
        <img :src="mediaUrl" />
      </div>
    </div>

    <div class="right-side nutrion">
      <div class="properties">
        <div v-for="property in properties" class="properties-item" :key="property.id">
          <img :src="'/static/img/shop/properties/' + property.id +'.png'" alt />
          <p>{{property.name}}</p>
        </div>
      </div>
      <button
        type="button"
        style="text-align: center;"
        class="btn btn-link"
        @click="onOpenMediaModal(apiURL + nutritionInfo.filename)"
      >Nutrition information</button>
    </div>

    <media-popup
      class="video-popup-product"
      v-show="isMediaModal"
      :isVideo="isMediaVideo"
      :src="mediaSrc"
      @close="onCloseMediaModal"
    />
  </div>
</template>

<script>
import { apiURL } from "@/config";
import MediaPopup from "../../components/media-popup.vue";
export default {
  components: {
    MediaPopup
  },
  props: {
    section: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    apiURL: apiURL,
    isMediaModal: false,
    isMediaVideo: false,
    mediaSrc: "",
    nutritionInfo: {
      filename: ""
    }
  }),
  methods: {
    onOpenMediaModal(src) {
      this.isMediaModal = true;
      this.mediaSrc = src;
      this.isMediaVideo = true;
    },
    onCloseMediaModal() {
      this.isMediaModal = false;
      this.mediaSrc = "";
      this.isMediaVideo = false;
    }
  },
  computed: {
    mediaType() {
      return this.section && this.section.additional_media_type;
    },
    mediaUrl() {
      return (
        this.section &&
        this.section.additionalImageMedia &&
        apiURL + this.section.additionalImageMedia.url
      );
    },
    properties() {
      return this.section.propertiesList.filter(item => {
        return this.section.productProperty.some(id => item.id === id);
      });
    }
  }
};
</script>

<style>
</style>