<template>
  <div class="double-block">
    <div class="left-side">
      <div v-if="mediaType == 'video' && mediaVideoUrl" class="video-block">
        <div class="video-info" @click="onOpenMediaModal(videoLink)">
          <div class="video-preview">
            <img :src="mediaVideoUrl" />
            <div class="poster-video">
              <img src="/static/img/shop/play-button.svg" class="play-button" />
              <div class="video-text">
                <p class="big">{{ videoTitle }}</p>
                <p class="small">{{ videoDescr }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="mediaType == 'image' && mediaImageUrl" class="image-block">
        <img :src="mediaImageUrl" />
      </div>
    </div>
    <div class="right-side">
      <div class="description-section">
          <p class="shop-title">{{title}}</p>
          <div class="description" v-html="description"></div>
          <button
            v-if="popup"
            type="button"
            @click="showDescription = true"
            class="btn btn-link"
          >Additional information</button>
      </div>
      <div v-if="showDescription && popup" class="description-info">
          <div class="popUp-header">
              <x-icon @click="showDescription = false" class="font-fix"></x-icon>
          </div>

          <div v-html="popup" class="description-text"></div>
      </div>
    </div>
    <media-popup
      class="video-popup-product"
      v-show="isMediaModal"
      :isVideo="isMediaVideo"
      :src="mediaSrc"
      @close="onCloseMediaModal"
    />
  </div>
</template>

<script>
import { apiURL } from "@/config";
import { XIcon } from "vue-feather-icons";

import MediaPopup from "../../components/media-popup.vue";
export default {
  components:{XIcon, MediaPopup},
  props: {
      section: {
          type: Object,
          default: () => {}
      }
  },
  data: () => ({
    showDescription: false,
    isMediaModal: false,
    isMediaVideo: false,
    mediaSrc: null,

    nutritionInfo: {
      filename: ""
    },
  }),
  methods: {
    onOpenMediaModal(src) {
      this.isMediaModal = true;
      this.mediaSrc = src;
      this.isMediaVideo = true;
    },
    onCloseMediaModal() {
      this.isMediaModal = false;
      this.mediaSrc = "";
      this.isMediaVideo = false;
    }
  },
  computed: {
    // Info
    title() {
      return this.section && this.section.high_level_overview_title
    },
    description() {
      return this.section && this.section.high_level_overview
    },
    popup() {
      return this.section && this.section.detailed_overview
    },

    // Image
    mediaType() {
      return this.section && this.section.video_overview_media_type
    },
    mediaImageUrl() {
      return this.section && this.section.videoOverviewImageMedia && apiURL + this.section.videoOverviewImageMedia.url
    },

    // Video
    hasVideo() {
      return this.section && this.section.videoOverviewVideoMedia && this.section.videoOverviewVideoMedia.video && JSON.parse(this.section.videoOverviewVideoMedia.video.data)
    },
    videoTitle() {
      return this.hasVideo.video_title
    },
    videoDescr() {
      return this.hasVideo.video_description
    },
    videoLink() {
      return this.hasVideo.video_link
    },
    mediaVideoUrl() {
      return this.section && this.section.videoOverviewVideoMedia && this.section.videoOverviewVideoMedia.preview && apiURL + this.section.videoOverviewVideoMedia.preview.url
    }
  }
}
</script>

<style>

</style>