.section-breadcrumbs {
	padding: 16px 0 31px;

	p {
		color: $color-white;
		font-size: 13px;
		line-height: 19px;
		margin: 0;
	}

	a {
		color: $color-white;
		display: inline-block;
		font-size: 13px;
		line-height: 19px;
		@include transition;
		vertical-align: top;

		&:hover, &:focus, &:active {
			color: $color-light-blue;
		}
	}
}

.show-all {
	height: auto;
	overflow: auto;
	width: auto;

	.header {
		right: 0;
		width: auto;

		&.header--blue {

			&.header-white {
				background-color: $color-blue-2;
				box-shadow: $box-shadow-1;

				.header__logo img {
					display: block;

					&.dark-logo {
						display: none;
					}
				}
				.btn__menu img {
					display: block;

					&.dark-menu {
						display: none;
					}
				}
			}
		}
	}
}



.page-scrolled {

  .header {
    background-color: $color-white;
    box-shadow: $box-shadow-1;

    .header__logo img {
      display: none;

      &.dark-logo {
        display: block;
      }
    }
    .btn__menu img {
      display: none;

      &.dark-menu {
        display: block;
      }
    }
  }

}
.phone-input {
  position: relative;
  .mask {
		font-size: 16px;
    line-height: 16px;
    position: absolute;
    left: 12px;
    transform: translateY(-50%);
	}
	@media screen and (max-width: 600px){
		.mask {
			left: 18px;
		}
	}
  .input-form {
    padding-left: 32px !important;
    &::placeholder {
      opacity: .4;
    }
    @media screen and (max-width: 786px){
      font-size: 16px;
      line-height: 16px;
    }
  }
}
