@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

@-ms-viewport {
  width: device-width;
}

#landing {
  background-color: #fff;
  padding: 0 0 100px;

  .tns-outer {
    padding: 0 !important;

    [hidden] {
      display: none !important;
    }

    [aria-controls], [data-action] {
      cursor: pointer;
    }
  }

  .tns-slider {
    -webkit-transition: all 0s;
    transition: all 0s;

    > .tns-item {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  .tns-horizontal {
    &.tns-subpixel {
      white-space: nowrap;

      > .tns-item {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
      }
    }

    &.tns-no-subpixel {
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      > .tns-item {
        float: left;
      }
    }

    &.tns-carousel.tns-no-subpixel > .tns-item {
      margin-right: -100%;
    }
  }

  .tns-gallery, .tns-no-calc {
    position: relative;
    left: 0;
  }

  .tns-gallery {
    min-height: 1px;

    > {
      .tns-item {
        position: absolute;
        left: -100%;
        -webkit-transition: transform 0s, opacity 0s;
        -webkit-transition: opacity 0s, -webkit-transform 0s;
        transition: opacity 0s, -webkit-transform 0s;
        transition: transform 0s, opacity 0s;
        transition: transform 0s, opacity 0s, -webkit-transform 0s;
      }

      .tns-slide-active {
        position: relative;
        left: auto !important;
      }

      .tns-moving {
        -webkit-transition: all .25s;
        transition: all 0.25s;
      }
    }
  }

  .tns-autowidth {
    display: inline-block;
  }

  .tns-lazy-img {
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
    opacity: 0.6;

    &.tns-complete {
      opacity: 1;
    }
  }

  .tns-ah {
    -webkit-transition: height 0s;
    transition: height 0s;
  }

  .tns-ovh {
    overflow: hidden;
  }

  .tns-visually-hidden {
    position: absolute;
    left: -10000em;
  }

  .tns-transparent {
    opacity: 0;
    visibility: hidden;
  }

  .tns-fadeIn {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 0;
  }

  .tns-fadeOut, .tns-normal {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
  }

  .tns-vpfix {
    white-space: nowrap;

    > {
      div, li {
        display: inline-block;
      }
    }
  }

  .tns-t-subp2 {
    margin: 0 auto;
    width: 310px;
    position: relative;
    height: 10px;
    overflow: hidden;
  }

  .tns-t-ct {
    width: 2333.33333%;
    position: absolute;
    right: 0;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > div {
      width: 1.42857%;
      height: 10px;
      float: left;
    }
  }


  @media print {
    *, :after, :before {
      page-break-after: avoid;
      page-break-inside: avoid;
    }
  }


  .clearfix {
    &:after, &:before {
      content: "";
      display: block;
      width: 100%;
      clear: both;
      float: none;
    }
  }

  .js-popup {
    cursor: pointer;
  }

  .tns-nav {
    display: none;
  }

  .Header {
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 56.25%;
    }
  }

  .Header__video {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 16% / 28% 0;
  }

  .Header__overview {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .main-banner {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    height: 60vw;
    border-radius: 0 0 20% 0;
  }

  .Header__title {
    font-family: Montserrat, sans-serif;
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1.09722;
    color: #fff;
    // text-align: center;
  }

  @media (max-width: 1000px) {
    .Header__title {
      font-size: 6rem;
    }
  }

  @media (max-width: 798px) {
    .Header__title {
      font-size: 5rem;
    }
  }

  @media (max-width: 767px) {
    .Header__title {
      font-size: 44px;
    }
    .main-banner {
      padding-top: 100px;
    }
  }

  .Header__subtitle {
    margin-top: 17px;
    font-family: Montserrat, sans-serif;
    font-size: 2.4rem;
    line-height: 1;
    color: #fff;
  }

  @media (max-width: 1000px) {
    .Header__subtitle {
      font-size: 2.2rem;
    }
  }

  @media (max-width: 798px) {
    .Header__subtitle {
      font-size: 2rem;
    }
  }

  @media (max-width: 560px) {
    .Header__subtitle {
      font-size: 1.8rem;
      // padding: 0 20px;
      // text-align: center;
    }
  }

  .Header .BookNow {
    margin-top: 7rem;
  }

  @media (max-width: 1000px) {
    .Header .BookNow {
      margin-top: 6rem;
    }
  }

  @media (max-width: 798px) {
    .Header .BookNow {
      margin-top: 5rem;
    }
  }

  @media (max-width: 540px) {
    .Header .BookNow {
      margin-top: 4rem;
    }
  }

  .Tabs {
    margin-top: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
  }

  .Tabs__container {
    padding: 0;
  }

  .Tabs__slider-wrapper {
    margin-top: 40px;
    position: relative;
    overflow: hidden;

    .BG {
      width: 1175px;
      max-height: 100%;
      position: absolute;
      left: 38.80208%;
      top: 0;
      background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTc1IiBoZWlnaHQ9IjU0MyI+PHBhdGggZD0iTTMwLjA1NCAwSDExNzV2NTQzSDE2MC4yODlDNzEuNzY0IDU0MyAwIDQ3MS4zNjYgMCAzODNWMzBBMzAuMDI3IDMwLjAyNyAwIDAgMSAzMC4wNTQgMHoiIGZpbGw9IiNmOGZhZmUiLz48L3N2Zz4=) no-repeat;
      z-index: 0;
      background-size: 100% 100%;

      &:before {
        content: "";
        display: block;
        padding-top: 46.21277%;
      }
    }
  }

  @media (max-width: 1000px) {
    .Tabs__slider-wrapper {
      margin-top: 0;
    }
    .Tabs__slider-wrapper .BG:before {
      padding-top: 60%;
    }
  }

  @media (max-width: 1000px) {
    .Tabs__slider-wrapper .BG {
      left: calc(10% - 15px);
      top: auto;
      bottom: 0;
    }
  }

  .Tabs__arrows {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .Tabs__slide-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 69px 0;
  }

  @media (max-width: 1000px) {
    .Tabs__slide-inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .Video__wrapper {
        width: 80%;
      }
    }
  }

  .Tabs__slide {
    .BookNowBlock {
      width: 41.85714%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }

    .BookNowBlock__description {
      text-align: right;
    }

    .BookNow {
      margin-top: 40px;
    }
  }

  @media (max-width: 1000px) {
    .Tabs__slide .BookNowBlock {
      margin-top: 40px;
      width: 80%;
    }
    .Tabs__slide .BookNowBlock__description {
      text-align: left;
    }
  }

  .Tab {
    padding: 0 0 3.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;

    &.tns-item {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
    }

    &:after {
      content: "";
      display: block;
      width: 150px;
      position: absolute;
      bottom: 6px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 3.5px solid #50bbb7;
      border-radius: 3.5px;
      opacity: 0;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      -webkit-transition-property: opacity;
      transition-property: opacity;
    }

    &.tns-nav-active:after {
      opacity: 1;
    }
  }

  .Tab__text {
    font-family: Montserrat, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color: #455c6f;
    white-space: nowrap;
  }

  .Video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 25px;
    z-index: 1;
    -webkit-box-shadow: 0 10px 30px rgba(51, 51, 51, 0.2);
    box-shadow: 0 10px 30px rgba(51, 51, 51, 0.2);
  }

  .Video__wrapper {
    position: relative;
    width: 51.5%;
    border-radius: 25px;

    &:before {
      content: "";
      display: block;
      padding-top: 56.17198%;
      border-radius: 25px;
    }
  }

  @media (max-width: 1000px) {
    .Video__wrapper {
      width: 80%;
    }
  }

  .Video__play {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .BookNow, .Video__play-icon {
    display: block;
  }

  .BookNow {
    width: 30rem;
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.77778;
    color: #fff;
    text-align: center;
    background-color: #50bbb7;
    border-radius: 24px 24px 26px;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;

    &:before {
      content: "";
      display: block;
      width: 26rem;
      height: 3.5rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-box-shadow: 0 7px 17px rgba(80, 187, 183, 0.8);
      box-shadow: 0 7px 17px rgba(80, 187, 183, 0.8);
    }

    &:active {
      color: hsla(0, 0%, 100%, 0.45);
    }
  }

  .ScheduleAnAppointmentToday {
    margin-top: 121px;
    padding: 37px;
    -webkit-box-shadow: 0 8px 30px rgba(51, 51, 51, 0.2);
    box-shadow: 0 8px 30px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 12px;
      background-image: linear-gradient(-79deg, #87e3e0, #50bbb7 50%, #458b88);
      border-radius: 0 0 6px 6px;
    }
  }

  .ScheduleAnAppointmentToday__title {
    color: #455c6f;
    font-family: Montserrat, sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.41667;
    text-align: center;
  }

  .ScheduleAnAppointmentToday__description {
    margin-top: 10px;
    color: #455c6f;
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    width: 100%;
    padding: 0 37px;
  }

  .BookNowBlock__inner {
    position: relative;
  }

  .BookNowBlock__title {
    color: #455c6f;
    font-family: Montserrat, sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.3125;
  }

  .BookNowBlock__description {
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    line-height: 1.77778;
    color: #455c6f;
    pointer-events: none;
  }

  @media (max-width: 1000px) {
    .BookNowBlock {
      width: 100%;
    }
  }

  .OurApproach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    min-height: 500px;
  }

  @media (max-width: 1000px) {
    .OurApproach {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }
  }

  .OurApproach__wrapper {
    margin-top: 126px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;

    .BG {
      width: 1179px;
      position: absolute;
      right: 38.59375%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTc5LjAyIiBoZWlnaHQ9IjY1OC40MDYiPjxwYXRoIGQ9Ik0wIDBoMTE0NS4wMTFBMjkuOTk0IDI5Ljk5NCAwIDAgMSAxMTc1IDMwbDQuMDIgNDY4LjQwNmExNTkuOTcgMTU5Ljk3IDAgMCAxLTE1OS45NCAxNjBINC4wMnoiIGZpbGw9IiNmOGZhZmUiLz48L3N2Zz4=) no-repeat;
      z-index: 0;

      &:before {
        content: "";
        display: block;
        padding-top: 55.81001%;
      }
    }
  }

  @media (max-width: 1000px) {
    .OurApproach__wrapper .BG {
      right: 15px;
      top: auto;
      bottom: 0;
      -webkit-transform: none;
      transform: none;
    }
  }

  .OurApproach {
    .BookNowBlock {
      width: 41.85714%;
    }

    .BookNowBlock__description, .BookNow {
      margin-top: 20px;
    }
  }

  @media (max-width: 1000px) {
    .OurApproach .BookNowBlock {
      width: 100%;
      padding: 40px 40px 0 40px;
    }
  }

  .TheNextHealthWay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    min-height: 480px;
    max-width: 100%;
    padding-bottom: 25px;
    /* .Video__wrapper {
      margin-top: -30px;
    } */
  }

  .OurStrategy__title {
    color: #455c6f;
    font-family: Montserrat, sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.3125;
    text-align: center;
  }

  .TypesOfMedicineWePractice__title {
    color: #455c6f;
    font-family: Montserrat, sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.3125;
    text-align: center;
  }

  @media (max-width: 1440px) {
    .BookNowBlock__title {
      font-size: 4rem;
    }
  }

  @media (max-width: 1000px) {
    .TheNextHealthWay {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .TheNextHealthWay__wrapper {
    margin-top: 76px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;

    .BG {
      width: 1175px;
      position: absolute;
      left: 38.80208%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 0;

      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 56.17021%;
        background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTc1IiBoZWlnaHQ9IjY1OS43NzYiPjxwYXRoIGQ9Ik0zMC4wNTQgMEgxMTc1djY1OS43NzZIMTYwLjI4OUM3MS43NjQgNjU5Ljc3NiAwIDU4OC4xNDIgMCA0OTkuNzc2VjMwQTMwLjAyNyAzMC4wMjcgMCAwIDEgMzAuMDU0IDB6IiBmaWxsPSIjZjhmYWZlIi8+PC9zdmc+) no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  @media (max-width: 1000px) {
    .TheNextHealthWay__wrapper .BG {
      left: 15px;
      top: auto;
      bottom: 0;
      -webkit-transform: none;
      transform: none;
    }
  }

  .TheNextHealthWay__wrapper {
    .BookNowBlock {
      width: 41.85714%;
    }

    .BookNowBlock__title {
      text-align: right;
    }

    .BookNowBlock__description {
      margin-top: 20px;
      //text-align: right;
    }

    .BookNow {
      margin-top: 20px;
      margin-left: auto;
    }
  }

  @media (max-width: 1000px) {
    .TheNextHealthWay .BookNowBlock {
      width: 100%;
      padding: 40px 40px 0 40px;
    }
  }

  .Blot {
    margin-top: 188px;
    position: relative;
    z-index: 1;
    min-height: 2089px;

    .BG {
      width: 95.57292%;
      height: 74.76736%;
      position: absolute;
      left: 0;
      top: .93057%;
      background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxODM0Ljk4NyIgaGVpZ2h0PSIyMDg4LjgwNiI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiB5MT0iLS4wMTYiIHgyPSIuNSIgeTI9IjEiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94Ij48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNmOGZhZmUiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNiZWQyZjgiIHN0b3Atb3BhY2l0eT0iLjYwNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik0tMjUzMCA0NjY1LjUxMmMzMjkuNjc0LTI3LjIwNyAzODQuNTQ2IDM3NS4zMzEgNjQ2LjA0OSA0MzkuNzA5czcxNC45NjUtMzUzLjg5MyA5MTguNDE0LTIwMy41MzUgOTguMjM0IDQyOC4wNTEgMTE5LjY3MyA1NzMuMjcyIDI3Ny4xMzYgNDIxLjE0NSA3MS4wNzYgNTg2LjI4Mi00NTQuODI1LTEwMC4xNC01NzYuODc0LTIyLjczOS0yMy42OTIgMzAyLjgtMTQxLjkxNiA0MTQuMDYzLTIxOS42NTEgNy43NjEtMzI0LjAzNyA4MC43MDYtMTAzLjU4MSAyNTEuOS0zNDMuMjIzIDIxNC43Uy0yNTMwIDY1NzcuMDI4LTI1MzAgNjU3Ny4wMjh6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNTMwIC00NjY0LjE5NCkiIG9wYWNpdHk9Ii4yNSIgZmlsbD0idXJsKCNhKSIvPjwvc3ZnPg==) no-repeat;
      background-size: 100% 100%;
      z-index: -1;

      &:before {
        content: "";
        display: block;
        padding-top: 113.84196%;
      }
    }
  }

  .OurStrategy {
    position: relative;
  }

  .OurStrategy__road-bar {
    position: absolute;
    left: 0;
    top: 171px;
    height: 10px;
    width: 100%;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(80, 187, 183, 0)), color-stop(11%, rgba(80, 187, 183, 0.06)), color-stop(25%, rgba(80, 187, 183, 0.25)), color-stop(61%, rgba(80, 187, 183, 0.25)), color-stop(87%, rgba(80, 187, 183, 0.05)), to(rgba(80, 187, 183, 0)));
    background-image: linear-gradient(270deg, rgba(80, 187, 183, 0), rgba(80, 187, 183, 0.06) 11%, rgba(80, 187, 183, 0.25) 25%, rgba(80, 187, 183, 0.25) 61%, rgba(80, 187, 183, 0.05) 87%, rgba(80, 187, 183, 0));
  }

  .OurStrategy {
    .OurStrategySlider__wrapper {
      margin-top: 88px;
    }

    .OurStrategySlide {
      padding: 90px 60px 60px;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 50%;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #fff;
        top: 0;
        -webkit-box-shadow: 0 15px 30px rgba(53, 123, 120, 0.2);
        box-shadow: 0 15px 30px rgba(53, 123, 120, 0.2);
      }

      &:after {
        width: 20px;
        height: 20px;
        background-color: #50bbb7;
        top: 15px;
      }
    }

    .OurStrategySlide__number {
      color: #50bbb7;
      font-family: Montserrat, sans-serif;
      font-size: 4.8rem;
      font-weight: 700;
      text-align: center;
    }

    .OurStrategySlide__title {
      padding: 0 60px;
      color: #455c6f;
      font-weight: 700;
    }

    .OurStrategySlide__description, .OurStrategySlide__title {
      margin-top: 15px;
      font-family: Montserrat, sans-serif;
      font-size: 1.8rem;
      text-align: center;
    }

    .OurStrategySlide__description {
      color: #22252a;
    }

    .Arrows {
      margin-top: 170px;
    }
  }

  .TypesOfMedicineWePractice {
    margin-top: 130px;
  }

  

  .TypesOfMedicineWePractice {

    .Arrows {
      margin-top: 40px;
    }
  }

  .BookNow {
    //margin: 76px auto 0;
    margin: 46px auto 40px
  }

  .TypesOfMedicineWePracticeSlider {
    margin-top: 90px;

    img {
      margin: 0 auto;
    }
    [class] {
      &.TypesOfMedicineWePracticeSlide {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      &.TypesOfMedicineWePracticeSlide__title {
        margin-top: 30px;
        color: #455c6f;
        font-family: Montserrat, sans-serif;
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
      }

      &.TypesOfMedicineWePracticeSlide__description {
        margin-top: 30px;
        padding: 0 60px;
        color: #22252a;
        font-family: Montserrat, sans-serif;
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.77778;
      }
    }
  }

  .Testimonials {
    margin-top: 190px;
    .Video__wrapper {
      margin: 60px auto 0;
    }
    .container {
      width: 1365px;
      margin: 0 auto;
    }
  }

  @media (max-width: 1400px) {
    .Testimonials .container {
      width: 1265px;
    }
  }

  @media (max-width: 1300px) {
    .Testimonials .container {
      width: 1165px;
    }
  }

  @media (max-width: 1200px) {
    .Testimonials .container {
      width: 965px;
    }
  }

  @media (max-width: 1000px) {
    .Testimonials .container {
      width: 763px;
    }
  }

  @media (max-width: 798px) {
    .Testimonials .container {
      width: calc(100% - 35px);
    }
  }

  .Testimonials__title {
    color: #455c6f;
    font-family: Montserrat, sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
  }

  .Testimonials__inner {
    margin: 110px 0 0;
    .swiper-container {
      padding-bottom: 20px;
      padding-left: 5px;
    }
  }

  .Testimonial, .Testimonials__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  //@media(max-width: 560px) {
  //  .Testimonial, .Testimonials__inner {
  //    flex-direction: column;
  //  }
  //}

  .Testimonial {
    margin: 0;
    padding: 45px 50px 65px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 8px 30px rgba(51, 51, 51, 0.2);
    box-shadow: 0 8px 30px rgba(51, 51, 51, 0.2);
    border-radius: 25px;
    background-color: #fff;
  }

  .Testimonial__avatar {
    margin: 0 auto;
  }

  .Testimonial__description {
    margin: 30px 0;
    color: #22252a;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.77778;
  }

  .Testimonial__signature {
    margin-top: auto;
    color: #22252a;
    font-family: Montserrat, sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.41667;
  }

  .Testimonial__slide {
    padding: 12px 17.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  @media (max-width: 1199px) {
    .Testimonial__slide {
      padding: 12px 27.5px;
    }
  }

  @media (max-width: 999px) {
    .Testimonial__slide {
      padding: 12px 35px;
    }
  }

  .Arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .Arrow {
    margin: 0 5px;
    width: 44px;
    height: 44px;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-radius: 50%;
    -webkit-transition-property: background-color;
    transition-property: background-color;

    &:active {
      background-color: #f0f0f0;
    }
  }
}
