.login-page {
  font-family: $font-lato;
  .btn-login {
    font-family: $font-lato;
  }
  &.client{
    font-family: $font-montserrat;
    .btn-login {
      font-family: $font-montserrat;
    }
  }

  background-color: #1C2B38;
  box-sizing: border-box;
  line-height: 100vh;
  min-height: 100vh;
  text-align: center;
  width: 100%;

  .block-login {
    display: inline-block;
    line-height: 1;
    margin: 0 auto;
    max-width: 400px;
    padding: 40px 0;
    vertical-align: middle;
    width: 100%;
    @media (max-width: 420px){
      padding: 40px 10px;
    }

    .top-block {
      padding-bottom: 30px;

      .logo {
        display: inline-block;

        img {
          min-width: 135px;
          width: 100%;
        }
      }
    }
  }

  .copy-right {
    color: #7A8CA5;
    font-family: 'Open Sans', sans-serif;;
    font-size: 13px;
    line-height: 20px;
    padding-top: 20px;
    margin: 0;
  }

  .form-login {
    background: $color-white;
    border-radius: 6px;
    padding: 40px;
    width: 100%;


    h2 {
      color: #222222;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 20px;
      text-align: center;
    }
  }

  .btn-login {
    //font-family: $font-lato;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    transition: 0.7s;
    border: none;

    &.btn-link{
      color: #0CA0CF;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      padding: 0;

      &.disabled{
        opacity: 0.4;
      }

      &:hover, &:focus, &:active {
        color: $color-blue-1;
        cursor: pointer;
      }
    }

    &.btn-button {
      background-color: #E1E7EC;
      border: 0;
      color: #60686E;
      cursor: pointer;
      display: inline-block;
      padding: 13px 20px;
      text-align: center;
      border-radius: 50px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      width: 100%;

      &:hover, &:focus {
        cursor: pointer;
        background-color: #CDD6DE;
      }
      &:active {
        background-color: #BAC4CD;
      }
      &[disabled="disabled"], &.disabled {
        background-color: #E1E7EC;
        opacity: 0.4;
      }
      &.m-t-30{
        margin-top: 30px;
      }
      &.m-b-30{
        margin-bottom: 30px;
      }
      &.m-b-10{
        margin-bottom: 10px;
      }
      &.m-l-5{
        margin-left: 5px;
      }
      &.m-r-5{
        margin-right: 5px;
      }
    }

    &.btn-bold{
      font-weight: 600;
    }

    &.btn-button--green {
      background-color: #15CBC4;
      color: #fff;

      &:hover, &:focus {
        background-color: #10A49E;
      }
      &:active {
        background-color: #138F8A;
      }
      &.btn-button--green[disabled="disabled"], &.disabled {
        background-color: #15CBC4;
        opacity: 0.4;
      }
    }

    &.btn-blue{
      background-color: #39579B;
      color: #fff;
    }

    &.btn-red{
      background-color: #D62D20;
      color: #fff;
    }

    &.btn-small{
      display: inline-block;
      width: 45%;
      margin: 5px;
      @media screen and (max-width: 450px) {
        width: 100%;
      }
    }
  }

  //.client .btn-login{
  //  font-family: $font-montserrat;
  //}

  .float-right{
    float: right;
  }

}

.sign-form{
  font-family: $font-lato;

  .sign--input-group {
    padding: 15px 0 10px;
    text-align: left;

    .reset-password-label {
      margin-bottom: 10px;
      margin-left: 24px;
      font-weight: 600;
      font-size: 14px;
      color: #60676E;
    }

    .input-form {
      border-radius: 50px;
      font-size: 16px;
      padding: 14px 24px;
      background: #fff;
      border: 1px solid #D7E4F0;
      box-sizing: border-box;
      color: #60686E;
      line-height: 20px;
      outline: none;
      transition: 0.7s;
      width: 100%;

      &:focus,
      &:active {
        border: 1px solid #0CA0CF;
      }

      &.error-input{
        border-color: #FE0341;
      }

      @media screen and (max-width: 786px){
        font-size: 16px;
        line-height: 16px;
      }
    }

    .input-label {
      color: #60676E;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 5px;
      padding-left: 24px;
    }

    .error-text{
      color: #E73D4A;
      font-size: 14px;
      line-height: 18px;
      padding-left: 24px;
      padding-top: 5px;
    }
  }

  .row-form {
    display: table;
    text-align: left;
    width: 100%;

    .block-checkbox-1 {
      float: left;
    }
  }

  &.client{
    font-family: $font-montserrat;
    position: relative;
    .input-form {
      font-family: $font-montserrat;

      @media screen and (max-width: 786px){
        font-size: 16px;
        line-height: 16px;
      }
    }
    .phone-input .mask{
      line-height: 20px;
      bottom: 5px;
    }
  }
}
