@mixin transition {
  /* Firefox */
  -moz-transition: -moz-transform $transition-speed ease;
  /* WebKit */
  -webkit-transition: -webkit-transform $transition-speed ease;
  /* Opera */
  -o-transition: -o-transform $transition-speed ease;
  /* Standard */
  transition: all $transition-speed ease;
}
@mixin transition-time($time) {
  /* Firefox */
  -moz-transition: -moz-transform $time ease;
  /* WebKit */
  -webkit-transition: -webkit-transform $time ease;
  /* Opera */
  -o-transition: -o-transform $time ease;
  /* Standard */
  transition: all $time ease;
}
