.vitamin-title-section {
    max-width: 800px;
}
.vitamins-main {
    height: 100vh;
    overflow: hidden;
    position: relative;
  @media screen and (max-width: 768px) {
    height: 100vw;
    background: #F2F3F8;
  }

  .video-block {
    position:absolute;
    height: 100%;
    max-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;

    video {
      max-width: inherit;
    }

    &.desktop {
      display: block;
    }

    &.mobile {
      display: none;
    }

    @media screen and (max-width: 800px) {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: block;
        video{
          max-width: 100%
        }
      }
    }
  }

}
.vitamin-title {
    font-size: 72px;
    text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
.vitamin-text {
    margin-top: 38px;
    font-size: 24px;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.vitamin-button {
    margin-top: 70px !important;
}

.vitamins-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.vitamins-wrapper {
    padding: 130px 5rem 100px 5rem;
    color: #455C6F;
    background: #F2F3F8;

    .vitamins-info-wrapper {
        max-width: 1408px;
        margin: auto;

        .video-container {
            margin-top: 70px;
            height: 178px;
            display: table;
        }
    }

    .vitamins-info-text {
        margin-top: 80px;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
    }

    .info-block-wrapper {
        margin-top: 64px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .vitamins-info-block {
            text-align: center;
            width: 30%;

            img {
                width: 160px;
                height: 160px;
                border-radius: 50%;
                // box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
            }

            p {
                margin-top: 30px;
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}

.vitamins-wrapper {

    &.iv-menu-wrapper {
        background: url('/static/img/vitamins/interior-details.png') no-repeat center center;
        background-size: cover;
        color: #FFFFFF;

        .wrapper-blocks {
            .block-menu {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                max-width: 1408px;
                margin: auto;
                margin-top: 30px;
                padding: 40px;
                border: 2px solid rgba(255, 255, 255, 0.3);
                border-radius: 4px;

                &:first-child {
                    margin-top: 80px;
                }

                .image-block {
                    flex: 2 1 200px;
                    img {
                        width: 160px;
                        height: 160px;
                        border-radius: 50%;
                    }
                }

                .content-block {
                    flex: 1 2 1128px;

                    h3 {
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 64px;
                    }

                    p {
                        margin-top: 24px;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}


.vitamins-wrapper {
    &.vitamin-testimonials {
        background: #273540;
        color: #FFFFFF;

        .video-container {
            max-width: 1408px;
            height: 762px;
            margin: auto;
            margin-top: 80px;

            video {
              width: 100%;
              height: 100%
            }
        }

        .reviews-container {
            max-width: 1408px;
            margin: auto;
            margin-top: 64px;

            .swiper-container {
                .cp-slider__item {
                    padding: 48px 64px 48px 64px;
                    background: #3d4953;

                    .cp-slider__item-wrapper-img {
                        text-align: center;
                        margin-bottom: 32px;

                        img {
                            width: 96px;
                            height: 96px;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: right;
                        }
                    }

                    .cp-slider__item-text {
                        line-height: 24px;
                    }

                    .cp-slider__item-author {
                        margin-top: 24px;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                    }
                }
            }
            // .cp-slider__item {
            //     padding: 48px 64px 48px 64px;
            //     background: #3d4953;

            //     .cp-slider__item-wrapper-img {
            //         text-align: center;
            //         margin-bottom: 32px;

            //         img {
            //             width: 96px;
            //             height: 96px;
            //             border-radius: 50%;
            //         }
            //     }

            //     .cp-slider__item-text {
            //         line-height: 24px;
            //     }

            //     .cp-slider__item-author {
            //         margin-top: 24px;
            //         font-weight: bold;
            //         font-size: 16px;
            //         line-height: 24px;
            //         text-align: center;
            //     }
            // }

            .swiper-pagination {
                position: relative;
                margin-top: 40px;
            }
            .swiper-pagination-bullet {
                font-size: 0;
                width: 20px;
                height: 2px;
                margin: 0 5px;
                background: white;
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                opacity: .2;
                border-radius: 0;
            }
            .swiper-pagination-bullet-active {
                opacity: 1 !important;
            }
        }
    }
}
.top__home, .top__home > * {
  z-index: 4;
}
.works-wrapper {
    padding: 128px 5rem 128px 5rem;
    color: #FFFFFF;
    background: url('/static/img/vitamins/interior-details.png') no-repeat center center;

    .items-wrap {
        max-width: 1408px;
        margin: auto;
        margin-top: 80px;
    }
}

.faqs-wrapper {
    color: #FFFFFF;
    background: #273540;
}
.collapse {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    max-width: 1408px;
    margin: auto;
    margin-bottom: 30px !important;

    &:first-of-type {
        margin-top: 80px;
    }
    &:last-child {
        margin-bottom: 0px !important;
    }

    .collapse-header {
        padding: 20px 20px 20px 56px !important;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        background: transparent !important;

        &::before {
            top: 17px !important;
            left: 16px;
            width: 24px;
            height: 24px;
            content: url('/static/img/vitamins/Group4.svg') !important;
        }
    }

    .collapse-content {

        .collapse-content-box {
            border: none;
            padding: 0px 30px 30px 56px;

            p {
                font-weight: normal;
                font-size: 13px;
                line-height: 19px;
            }
        }
    }
}




@media screen and (max-width: 900px) {
    // html {
    //     overflow-x: hidden;
    // }
    .Vitamins__info {
        position: relative;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .vitamin-title,
        .vitamin-text {
            // display: none;
            margin-top: 120px;
            line-height: 64px;
            font-size: 48px;

        }
        .vitamin-button {
            display: block !important;
            width: 328px;
            height: 40px;
            padding: 11px;
            margin: auto;
            margin-top: 120px !important;
        }
    }

    .vitamins-title {
        font-size: 24px;
    }

    .vitamins-wrapper {
        padding: 50px 16px 40px 16px;

        .vitamins-info-text {
            margin-top: 30px;
            font-size: 13px;
        }

        .info-block-wrapper {
            flex-direction: column;
            align-items: center;

            .vitamins-info-block {
                width: 100%;
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0px;
                }

                img {
                    width: 160px;
                    height: 160px;
                }

                p {
                    font-size: 18px;
                }
            }
        }

        &.iv-menu-wrapper {
            .wrapper-blocks {
                .block-menu {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: block;
                    max-width: 1408px;
                    margin: auto;
                    margin-top: 30px;
                    padding: 32px 16px 42px 16px;
                    border: 2px solid rgba(255, 255, 255, 0.3);
                    border-radius: 4px;

                    &:first-child {
                        margin-top: 30px;
                    }

                    .image-block {
                        text-align: center;

                        img {
                            width: 96px;
                            height: 96px;
                        }
                    }

                    .content-block {
                        h3 {
                            margin-top: 10px;
                            font-size: 24px;
                            text-align: center;
                        }

                        p {
                            font-size: 13px;
                        }

                        .vitamin-button {
                            display: block;
                            margin: auto;
                            margin-top: 30px !important;
                            width: 296px;
                        }
                    }
                }
            }
        }

        &.vitamin-testimonials {
            .reviews-container {
                .swiper-container {
                    padding: 0px;
                }
                .cp-slider__item-wrapper-img {
                    margin-bottom: 24px !important;
                }
                .cp-slider__item {
                    padding: 32px 16px 40px 16px;
                }
            }
        }

        &.works-wrapper {
            .items-wrap {
                margin-top: 40px !important;

                .info-block-wrapper {
                    margin-top: 0px;

                    .vitamins-info-block {

                        img {
                            width: 96px;
                            height: 96px;
                        }

                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        &.faqs-wrapper {
            .collapse {

                &:first-of-type {
                    margin-top: 40px;
                }
            }
        }


    }
}

@media screen and (max-width: 768px) {
  .vitamins-main{
    .vitamin-title, .vitamin-text{
      margin-top: 85px;
    }
    .vitamin-button{
      margin-top: 70px!important;
    }
  }

}

@media screen and (max-width: 500px) {
  .vitamins-main{
    .vitamin-title{
      line-height: 56px;
      font-size: 40px;
    }
    .vitamin-text{
      line-height: 45px;
      font-size: 35px;
    }
    .vitamin-button{
      margin-top: 55px!important;
    }
  }
}

@media screen and (max-width: 450px) {
  .vitamins-main{
    .vitamin-title{
      line-height: 50px;
      font-size: 40px;
    }
    .vitamin-text{
      font-size: 30px;
      line-height: 35px;
      margin-top: 38px;
    }
    .vitamin-button{
      margin-top: 30px!important;
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .vitamins-wrapper.iv-menu-wrapper .wrapper-blocks .block-menu .content-block .vitamin-button {
    width: 100%;
  }

  .vitamins-main{
    .vitamin-title{
      line-height: 45px;
      font-size: 35px;
      margin-top: 45px;
    }
    .vitamin-text{
      font-size: 20px;
      line-height: 30px;
      margin-top: 10px;
    }
    .vitamin-button{
      margin-top: 30px!important;
      width: 100%;
    }
  }
}

