<template>
  <div class="admin-page service">
    <div class="page-loader" v-if="isLoader"><i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i></div>
    <admin-menu class="service-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <h1 class="page-title">Add a new service</h1>
        <div class="admin-double-column">
          <div class="prod-left">
            <div class="admin-main-block general-info">
              <div class="admin-main-block-header">
                <h3 class="admin-main-title">General Information</h3>
              </div>
              <div class="admin-main-block-body">

                <div class="admin-service-section" v-if="isProcess">
                  <alert-process text="Service update..."></alert-process>
                </div>

                <div class="admin-service-section"  v-if="isServiceUpdate">
                  <alert-successfully :text="successfullyText"
                                      aTitle="Go to the service list"
                                      aHref="/admin/services"></alert-successfully>
                </div>

                <div class="admin-service-section" v-if="isErrors">
                  <alert-error v-for="(error,key) in errors" :key="key" :error-text="error"></alert-error>
                </div>

                <div class="admin-service-section">

                  <custom-input v-model="service.name"
                                :errorInput="service.nameError"
                                :onChange='onChangeName'
                                label="Service name"
                                type="text"></custom-input>

                </div>

                <div class="admin-service-section">
                  <custom-input v-model="service.media"
                                :errorInput="service.mediaError"
                                :onChange='onChangeVideoUrl'
                                label="Service video url"
                                type="text"></custom-input>

                </div>


                <div class="admin-service-section">
                  <p class="section-title">Service description</p>

                  <div class="input-group form-control" id="high-level" :class="{'error-textarea': service.description}">
                    <p class="text-form">Description</p>
                    <ckeditor class="input-form"
                              :editor="editor"
                              tag-name="textarea"
                              @input="changeDescription"
                              :config="editorConfig"
                              v-model="service.description"></ckeditor>
                    <p v-if="service.descriptionError" class="error-text">This field is required.</p>
                  </div>
                </div>


                <div class="d-f">
                  <a href="/admin/services" type="button" class="btn btn-round btn-round--middle btn-button--gray">Cancel</a>
                  <button type="button"
                          class="btn btn-round btn-round--middle btn-button--green m-l"
                          @click="AddService"
                          :disabled="!isChangeService"
                  >Save</button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <delete-modal v-show="isModalDeleteVisible"
                  :modalConfig="modalDeleteConfig"
                  :onSubmit="onDeleteService"
                  @close="isModalDeleteVisible = false;"></delete-modal>

  </div>
</template>

<script>
    // import {PlusCircleIcon, ClockIcon, CopyIcon, Trash2Icon, CalendarIcon, DollarSignIcon} from 'vue-feather-icons'
    import AdminMenu from "../general/AdminMenu";
    import AdminHeader from "../general/AdminHeader";
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    import CustomCheckbox from '../components/custom-checkbox';
    import Checkbox from '../components/checkbox';
    import CustomInput from '../components/input';

    import DeleteModal from "../components/modals/delete.vue";

    import axios from 'axios';
    import {apiURL} from '../../../../config';
    import AlertError from "../../general/alert_error";
    import AlertProcess from "../components/alert_process.vue";
    import AlertSuccessfully from "../components/alert_successfully.vue";


    export default {
        name: "AdminAddService",
        components: {
            AlertSuccessfully,
            AlertProcess,
            AlertError,

            AdminHeader, AdminMenu,
            CustomCheckbox, Checkbox, CustomInput, DeleteModal,
        },

        data() {
            return {
                token: this.$cookie.get('user_token'),
                url: apiURL,
                isProcess: false,
                isServiceUpdate: false,
                isSave: false,
                isErrors: false,
                successfullyText: '',
                isModalDeleteVisible: false,
                modalDeleteConfig: null,
                isLoader: false,
                service: {
                    id: '',
                    slug: '',
                    name: '',
                    media: '',
                    nameError: false,
                    mediaError: false,
                    description: '',
                    published: false,
                    descriptionError: false,
                },

                isChangeService: false,
                errors: [],
                serviceImages: '',
                serviceImageError: false,
                serviceImagesUpdate: null,

                editor: ClassicEditor,
                editorConfig: {},

                servicePropertyFinish:true,
                additionalMediaFinish:true,
                nutritionInfoImageFinish:true,
                videoOverviewFinish:true,

                serviceTypeFinish:true,
                sealImageFinish:true,
                imageFinish:true,
            };
        },
        computed: {
            slug: function() {
                this.service.slug = this.sanitizeTitle(this.service.name);
                return this.service.slug;
            }
        },
        methods: {

            sanitizeTitle: function(title) {
                let slug = "";
                // Change to lower case
                let titleLower = title.toLowerCase();
                // Letter "e"
                slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e');
                // Letter "a"
                slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a');
                // Letter "o"
                slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o');
                // Letter "u"
                slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u');
                // Letter "d"
                slug = slug.replace(/đ/gi, 'd');
                // Trim the last whitespace
                slug = slug.replace(/\s*$/g, '');
                // Change whitespace to "-"
                slug = slug.replace(/\s+/g, '-');

                return slug;
            },
            // getService: function(){
            //     axios({
            //         method: 'get',
            //         url: apiURL + '/api/admin/service/' + this.$route.params.id,
            //         headers: {
            //             Authorization: 'Bearer ' + this.token,
            //         },
            //     })
            //
            //         .then(response => {
            //             let service = response.data;
            //             this.service.id = service.id;
            //             this.service.slug = service.slug;
            //             this.service.name = service.name;
            //             this.service.description = service.description;
            //             this.service.published = service.published;
            //             this.service.media = service.media;
            //             this.modalDeleteConfig = {
            //                 title: 'Delete Service',
            //                 id: service.id,
            //                 description: 'The "'+service.name+'" service will be deleted. Are you sure?'
            //             };
            //         }).catch(err => {
            //         document.location.replace('/admin/login');
            //     })
            // },
            AddService: function(){
                this.isProcess=true;

                this.validateService();
                if (this.errors.length != 0) {
                    this.isProcess=false;
                    this.isErrors = true;
                    return;
                } else {
                    this.isProcess=false;
                    this.successfullyText = 'The service has been successfully updated';
                }
                axios({
                        method: 'post',
                        url: apiURL + '/api/admin/service',
                        headers: {
                            Authorization: 'Bearer ' + this.token,
                        },
                        data: {
                            name: this.service.name,
                            description: this.service.description,
                            media: this.service.media,
                            slug: this.slug
                        },
                    },
                )
                    .then(response => {
                        let service = response.data;
                        document.location.replace('/admin/service/'+service.id+'?isSave=true');
                    }).catch(err => {
                    console.log(err);
                    document.location.replace('/admin/login');
                })
            },
            validateService: function() {
                let errorFlag = false;
                this.errors = [];
                if (!this.service.name) {
                    this.service.nameError = true;
                    errorFlag = true;
                }

                if (!this.service.description) {
                    this.service.detailedOverviewError = true;
                    errorFlag = true;
                }

                if (!this.service.media) {
                    errorFlag = true;
                    this.service.mediaError = true;
                }

                if (errorFlag){
                    this.errors.push('Some fields are not filled correctly. Service cannot be updated.');
                }
            },

            onDeleteService: function(data) {
                axios({
                    method: 'delete',
                    url: apiURL + '/api/admin/service/' + data.res,
                    headers: {
                        Authorization: 'Bearer ' + this.$cookie.get('user_token'),
                    },
                })
                    .then(response => {
                        this.isModalDeleteVisible = false;
                        document.location.replace('/admin/services');
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },

            showLoader: function () {
                this.isLoader = true;
            },
            hideLoader: function () {
                this.isLoader = false;
            },

            onChange: function () {
                this.isServiceUpdate = false;
                this.isChangeService = true;
            },
            onChangeName: function () {
                // this.service.name = data;
                this.isServiceUpdate = false;
                this.isChangeService = true;
            },
            onChangeVideoUrl: function () {
                // this.service.media = data;
                this.isServiceUpdate = false;
                this.isChangeService = true;
            },

            onPublished: function () {
                this.isServiceUpdate = false;
                this.isChangeService = true;
            },
            changeDescription: function() {
                this.isServiceUpdate = false;
                this.isChangeService = true;
            },
            onDelete: function () {
                this.isModalDeleteVisible = true;
            },
        },
        mounted() {
            this.isServiceUpdate = (this.$route.query) ? this.$route.query.isSave : false;
            if (this.isServiceUpdate) {
                this.successfullyText = 'New service has been successfully updated';
            }

            // this.getService();
        }
    }
</script>
<!--<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>-->

