<template>
  <div class="admin-page admin-category">

    <admin-menu class="category-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <div class="admin-main-section-header cat-header">
          <div class="left-block">
            <h1 class="page-title">Categories</h1>
          </div>
          <div class="right-block">
            <button type="button" class="btn btn-round btn-button--green btn-shadow" @click="isModalCategoryVisible = true; editCategory = null">
              <plus-icon class="font-fix"></plus-icon>
              <span>Add new category</span>
            </button>
          </div>
        </div>

        <div class="cat-blocks">
          <div class="cat-block" v-for="category in categoryList">
            <p class="cat-name">{{ category.name }}</p>
            <p class="cat-quantity">{{ category.productCount }}
              <span v-if="(category.productCount <= 1)" >product</span>
              <span v-if="(category.productCount > 1)" >products</span>
            </p>
            <div class="cat-buttons">
              <a  class="btn btn-action m-r-10" @click="onEditCategory(category.id)">
                <edit-icon  class="font-fix"></edit-icon>
              </a>
              <a class="btn btn-action" @click="onDeleteCategory(category.name, category.id)">
                <trash-2-icon class="font-fix"></trash-2-icon>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <category-modal v-show="isModalCategoryVisible"
                         :modalConfig="editCategory"
                         v-on:close="onCloseModal"></category-modal>
    <delete-modal v-show="isModalDeleteVisible"
                  :modalConfig="modalDeleteConfig"
                  :onSubmit="onDelete"
                  v-on:close="onCloseDeleteModal"></delete-modal>
    <category-move-modal v-show="isModalMoveVisible"
                         :categoryId="moveCategoryId"
                         :productCount="moveProductsCount"
                         v-on:close="onCloseMoveModal"></category-move-modal>
  </div>
</template>

<script>
  import AdminMenu from "../general/AdminMenu";
  import AdminHeader from "../general/AdminHeader";
  import {PlusIcon, EditIcon, Trash2Icon} from 'vue-feather-icons'
  import CategoryModal from "./modals/category_modal.vue";
  import CategoryMoveModal from "./modals/move.vue";
  import DeleteModal from '../components/modals/delete.vue';

  import axios from 'axios';
  import {apiURL} from '../../../../config';

  export default {
    name: "AdminCategory",
    components: {
      CategoryMoveModal,
      CategoryModal,
      AdminHeader, AdminMenu, PlusIcon, EditIcon, Trash2Icon, DeleteModal},
    data: function () {
      return {
        categoryList: [],
        isModalCategoryVisible: false,
        editCategory: null,
        isModalDeleteVisible: false,
        modalDeleteConfig: null,
        moveCategoryId: null,
        isModalMoveVisible:false,
        moveProductsCount: 0,
      }
    },
    methods: {
      onCloseModal: function(){
        this.isModalCategoryVisible = false;
      },
      onCloseDeleteModal: function(){
        this.isModalDeleteVisible = false;
        this.modalDeleteConfig=null
      },
      onCloseMoveModal: function(){
        this.isModalMoveVisible = false
      },
      onDeleteCategory: function(name, id) {
        this.modalDeleteConfig = {
          title: 'Delete Category',
            id: id,
          description: 'The "' + name + '" category will be deleted. Are you sure?'
        };
        this.isModalDeleteVisible = true;
      },
      onEditCategory: function (id) {
        this.editCategory = id;
        this.isModalCategoryVisible = true;
      },
      onDelete: function(data){
        let id = data.res;
        this.getProductsCount(id, count =>{
          this.moveProductsCount = count;
          if (this.moveProductsCount == 0){
            this.deleteCategory(id);
          } else {
            this.isModalMoveVisible=true;
            this.moveCategoryId=id;
          }
        });
      },
      getCategoryList: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/categories',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.categoryList = response.data;
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
      getProductsCount: function (id, callback) {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/category/'+ id +'/products-that-belong',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            callback(response.data.length);
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
      deleteCategory: function(id) {
        axios({
          method: 'delete',
          url: apiURL + '/api/admin/category/' + id,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            location.reload();
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      }
    },
    mounted() {
      this.getCategoryList();
    },

  }
</script>

<style scoped>

</style>
