<template>
    <div>

      <MainHeader @openmenu="openMenu" @openpopup="openPopUp"/>
      <LeftMenu v-if="isMenuOpen" @closed="closeMenu"/>

      <main class=" peptides peptides-detail--bg">
        <div class="wrapper">
          <section class="section-breadcrumbs">
            <p><a href="/">Home</a> > <a href="/peptides">Peptides archive</a> > {{peptide.title}}</p>
          </section>

          <section class="peptides-detail">
            <div class="peptides-detail__info">
              <h1 class="title-section" v-if="peptide.title">{{peptide.title}}</h1>
              <div class="peptides-detail__info__tags" v-if="peptide.tag || peptide.categories">
                <h5>Glucose regulation</h5>

                <div class="peptides-category__item__tag no-link" v-for="(tag) in peptide.tag">{{tag}}</div>
                <a :href="'/peptides/category/' + tag_categories.id" class="peptides-category__item__tag" v-for="(tag_categories,j) in peptide.categories"
                   :key="j" >{{tag_categories.name}}</a>
              </div>

              <div class="peptides-detail__info__text" v-if="peptide.description">
                <h4>Description</h4>

                <p>{{peptide.description}}</p>
              </div>

              <div class="peptides-detail__info__accordion" v-if="peptide.clinicalResearch">
                <h4>Clinical Research</h4>


                <BulmaAccordion :dropdown="true" :slide="{ duration: '.9s', timerFunc: 'ease' }">
                  <BulmaAccordionItem class="peptides-detail__info__accordion__item"  v-for="(clinical_info,i) in peptide.clinicalResearch"
                                      :key="i" >

                    <div slot="title">
                      <h3 v-if="clinical_info.title">{{clinical_info.title}}</h3>
                      <img class="peptides-detail__info__accordion__item__arrow" src="../../../../static/img/icons/accordion_arrow_right.svg" />
                    </div>

                    <div slot="content" class="peptides-detail__info__accordion__item__content">
                      <p v-if="clinical_info.description">{{clinical_info.description}}</p>

                      <a :href="urlpdf + clinical_info.pdf_path" v-if="clinical_info.pdf"><img src="../../../../static/img/icons/icon_pdf.svg" /> <span>– {{clinical_info.pdf}}</span></a>
                    </div>
                  </BulmaAccordionItem>
                </BulmaAccordion>
              </div>
            </div>
          </section>
        </div>
      </main>

      <AppFooter />
      <transition name="fade">
        <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
      </transition>
    </div>
</template>

<script>
  import MainHeader from '../general/MainHeader';
  import LeftMenu from '../general/Menu';
  import AppFooter from '../general/Footer';
  import { BulmaAccordion, BulmaAccordionItem } from 'vue-bulma-accordion';
  import axios from 'axios';

  import {apiURL} from '../../../config';
  import ContactUs from "../modals/ContactUs";

export default {


  name: 'peptides_detail',

    data: () => ({
      peptide: {},
        isMenuOpen: false,
        isPopUpOpen: false,
        urlpdf: apiURL
    }),
    methods: {
      openMenu() {
         this.isMenuOpen = true;
      },
      closeMenu() {
       this.isMenuOpen = false;
      },
        openPopUp() {
            this.isPopUpOpen = true;
        },
        closePopUp() {
            this.isPopUpOpen = false;
        },

    },
  mounted() {
    axios
      .get(apiURL + '/api/public/peptide/' + this.$route.params.id)
      .then(response => {
        this.peptide = response.data;
      })
      .catch(error => {
        console.log(error);
        this.errored = true;
      });
      // .finally(() => (this.loading = false));
  },
  components: {
    ContactUs,
    MainHeader,
    LeftMenu,
    AppFooter,
    BulmaAccordion,
    BulmaAccordionItem
  }
}
</script>
