<template>
    <div style="background: #1A242C">
        <MainHeader @openpopup="openPopUp"/>
        <div class="flexScroll home">
            <section class="section home__main">
                <div class="Home__info animated slideInLeft">
                    <h1 class="title-section home__title">Rethink Medicine</h1>
                    <!-- <h2 class="title-section home__title">Rethink Medicine</h2> -->
                    <p class="home__text">Predict, Prevent & Prolong  <br><b>The Next Health Way</b></p>
                    <a href="/executive-physical" class="home__button">Learn more</a>
                </div>
            </section>
            <section class="section home__subscribe">

                <div class="home__block home__block__first">
                    <div class="padding-20"><h3>Subscribe</h3></div>
                    <div class="padding-20"><p>Get weekly updates on the newest our services right in your mailbox.</p>
                    </div>
                </div>
                <form v-if="!isSubscription" class="home__block">

                    <div class="padding-20">
                      <input type="text" placeholder="Your Email"
                             v-model="userEmail"
                             v-bind:class="{'error': !isValid}"
                             @keyup="emailValid()"
                      />
                      <span v-if="!isValid" class="error-text">Incorrect email address</span>
                    </div>
                    <div class="padding-20 home__sub">
                        <button type="button" @click="subscription()">Subscribe</button>
                    </div>
                </form>
              <div v-if="isSubscription" class="home__block successfully">
                <div class="padding-20">
                  <p>Subscribed. Thank You!</p>
                </div>
              </div>
            </section>


            <section class="section home__ss">
                <div class="home__service home__container">
                    <h3>Our Top Services</h3>

                    <div class="sections">

                        <div class="section-block service__one">
                            <h4>Executive Physical</h4>
                            <div class="service__video">
                                <video autoplay="autoplay" muted loop playsinline>
                                    <source src="/static/video/Physical_2_1.mp4" type="video/mp4">
                                </video>
                                <div class="service__button">
                                    <a href="/executive-physical" class="home__button">Learn more</a>
                                </div>
                            </div>
                            <div class="block-with-text">
                                <p>This is the most advanced physical in the world. We use cutting edge tools, technology and lab testing to predict and prevent disease which ultimately leads to a prolonged life. This isn’t your average physical, this is a 6 week program!</p>
                                <!--<div class="service__button"><div class="home__button"><a href="">Learn more</a></div></div>-->
                            </div>
                        </div>

                        <div class="section-block service__two">
                            <h4>IV Vitamin Therapy</h4>

                            <div class="service__video">
                                <video autoplay="autoplay" muted loop playsinline>
                                    <source src="/static/video/IV_Vitamina_Therapy_2_1.mp4" type="video/mp4">
                                </video>
                                <div class="service__button">
                                    <a href="/iv-vitamin-therapy" class="home__button">Learn more</a>
                                </div>
                            </div>

                            <div class="block-with-text">
                                <p>Get optimized infusions of nutrients directly into your body’s blood-stream, cells and tissues allowing cellular healing and repairing processes to happen faster. Our infusions are designed to help your reach peak performance, recover from flu, hydrate, detox & much more!</p>
                                <!--<div class="service__button"><div class="home__button"><a href="">Learn more</a></div></div>-->
                            </div>
                        </div>

                        <div class="section-block service__three">
                            <h4>Platelet Rich Protein (PRP)</h4>
                            <div class="service__video">
                                <video autoplay="autoplay" muted loop playsinline>
                                    <source src="/static/video/PRP-Therapy_1.mp4" type="video/mp4">
                                </video>
                                <div class="service__button">
                                    <a href="/services#3" class="home__button">Learn more</a>
                                </div>
                            </div>
                            <div class="block-with-text">
                                <p>
                                  We use your own blood and extract rich plasma to promote healing of injured tendons, ligaments, muscles, joints, and skin. This can also be applied to various musculoskeletal problems.</p>
                                <!--<div class="service__button"><div class="home__button"><a href="">Learn more</a></div></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section home__yt">
                <div class="home__youtube">
                    <h3>Youtube Feed</h3>
                    <div class="yt__video__row">
                        <div class="home__vido__yt">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/YupiDsOuOTY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="home__vido__yt">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/mT3XtNeol9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="home__vido__yt">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/CYRykrjGXPk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="yt__video__row">
                        <div class="home__vido__yt">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/opQoIcaQFS4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="home__vido__yt">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/5OzzfwYaRr8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="home__vido__yt">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/LQlivffytoA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <AppFooter/>
        <transition name="fade">
        <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
        </transition>
    </div>
</template>

<script>
    import MainHeader from "../general/MainHeader";
    import AppFooter from "../general/Footer";
    import ContactUs from "../modals/ContactUs";
    import axios from 'axios';

    import {apiURL} from '../../../config';

    export default {
      name: "HomePage",
      data() {
        return {
          isPopUpOpen: false,
          userEmail: '',
          isValid: true,
          isSubscription: false
        }
      },
      methods: {
        openPopUp() {
            this.isPopUpOpen = true;
        },
        closePopUp() {
            this.isPopUpOpen = false;
        },
        emailValid() {
          this.isValid = this.isEmailValid();
          this.isValid = (this.userEmail.length == 0) ? true : this.isValid
        },
        subscription() {

          this.isValid = this.isEmailValid();

          if (this.isValid) {
            axios.post(apiURL + '/api/public/subscription', {
              email: this.userEmail,
            })
              .then(response => {
                this.isSubscription = true;
              })
              .catch(function (error) {
                console.log(error);
              });
          }

        },
        isEmailValid: function () {
          return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.userEmail);
        }


      },
      components: {ContactUs, AppFooter, MainHeader},
      metaInfo: {
        title: 'Dr. Habib’s Preventative Care & Advanced Executive Physical Exams | NextHealth.org',
        meta: [
            { vmid: 'name', name: 'robots', content: 'index, nofollow' },
            { vmid: 'description', name: 'description', content: 'Preventative care has never been more important; take an extensive 6-week executive physical examination. Detect early health issues, cancer, and chornic health problems. Dr. Habib, along with advanced medical techology can help you have control of your health.' },
        ],
      }
    }
</script>

<style scoped>
    .flexScroll section:after {
        display: none;
    }
    #app > div > header > div.header__block.header__block--right > p {
        display: none;
    }
</style>
