<template>
  <div class="admin-page product">
    <admin-menu class="product-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">

        <h1 class="page-title">Products</h1>

        <div class="admin-main-block">
          <div class="admin-main-block-header">
            <div class="left-block">
              <h3 class="admin-main-title">Product List</h3>
              <!--<p class="admin-second-title">Found total {{ productLists.length }} products</p>-->
            </div>
            <div class="right-block">
              <search
                :search-category = "[
                  {title:'All', filter:'all'},
                  {title:'Product ID', filter:'id'},
                  {title:'Product name', filter:'name'},
                  {title: 'Regulat price', filter:'regular_price'}]"
                :onChange="onChangeSearch"
                :page="page"
              ></search>
              <a href="/admin/product/add" class="btn btn-round btn-button--green m-l">
                <plus-icon class="font-fix"></plus-icon>
                <span>Add product</span>
              </a>
            </div>
          </div>
          <div class="admin-filter-case">
            <filter-category :onSelect="onFilterChange"></filter-category>

            <div class="dropdown-bloc">
              <p class="selected-items">{{ itemsText }}</p>
              <div class="dropdown-btn"
                   v-bind:class="{'dropdown-btn-active': activeShow, 'dropdown-btn-disabled': !activeBtn}"
                   @click="clickActive()">
                <span>Action</span><chevron-down-icon class="font-fix"></chevron-down-icon>
              </div>
              <div class="dropdown-list" v-if="activeShow">
                <a @click="isModalChooseCategoriesVisible = !isModalChooseCategoriesVisible; activeShow = false">
                  <grid-icon class="font-fix"></grid-icon>
                  <span>Add to category</span>
                </a>
                <div class="delete-item">
                  <a @click="onDelete" >
                    <trash-2-icon class="font-fix"></trash-2-icon>
                    <span>Delete</span>
                  </a>
                </div>
              </div>
            </div>

          </div>
          <div class="admin-table">
            <table>
              <thead>
                <tr>
                  <th class="table-header-th table-checkbox">
                    <label class="radio">
                      <input type="checkbox" v-model="selectAll"/>
                      <div class="radio__text"></div>
                    </label>
                  </th>
                  <th class="table-header-th">
                    <a @click="sortById">Product ID
                      <i class="fa"
                         :class="{'fa-sort': sort != 'id',
                         'active fa-sort-down': sort == 'id' && idSort=='ASC',
                         'active fa-sort-up': sort == 'id' && idSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th">
                    <a @click="sortByName">Product name
                      <i class="fa"
                         :class="{'fa-sort': sort != 'name',
                         'active fa-sort-down': sort == 'name' && nameSort=='ASC',
                         'active fa-sort-up': sort == 'name' && nameSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th table-td-right">
                    <a @click="sortByPrice">Regular price
                      <i class="fa"
                         :class="{'fa-sort': sort != 'regular_price',
                         'active fa-sort-down': sort == 'regular_price' && priceSort=='ASC',
                         'active fa-sort-up': sort == 'regular_price' && priceSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th table-td-right">
                    <!-- Subscription price -->
                    <a @click="sortBySubscriptionPrice()">Subscription price
                      <i class="fa"
                         :class="{'fa-sort': sort != 'subscription_price',
                         'active fa-sort-down': sort == 'subscription_price' && priceSort=='ASC',
                         'active fa-sort-up': sort == 'subscription_price' && priceSort=='DESC'}"></i>
                    </a>
                  </th>
                  <th class="table-header-th table-td-right last">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(product, i) in productList" :key="i">
                  <td class="table-td-left table-checkbox">
                    <label class="radio">
                      <input type="checkbox" v-model="selected" :value="product.id"
                             :id="'data-' + product.id" @change="clickCheckbox()"/>
                      <div class="radio__text"></div>
                    </label>
                  </td>
                  <td class="table-td-left item-id">{{ product.id }}</td>
                  <td class="table-td-left"> {{ product.name }}</td>
                  <td class="table-td-right">
                    <p v-if="product.regular_sale_price > 0" class="product-prie">
                      <span class="old-price tab">$ {{ product.regular_price }}</span>
                      <span class="price tab">$ {{ product.regular_sale_price }}</span>
                    </p>
                    <p v-if="product.regular_sale_price == 0"  class="product-prie">
                      <span class="price tab">$ {{ product.regular_price }}</span>
                    </p>
                  </td>
                  <td class="table-td-right">
                    <p v-if="product.subscription_sale_price > 0" class="product-prie">
                      <span class="old-price tab">$ {{ product.subscription_price }}</span>
                      <span class="price tab">$ {{ product.subscription_sale_price }}</span>
                    </p>
                    <p v-if="product.subscription_sale_price == 0"  class="product-prie">
                      <span class="price tab">$ {{ product.subscription_price }}</span>
                    </p>
                  </td>
                  <td class="table-td-right last">
                    <a :href="'/admin/product/' + product.id" class="btn btn-action m-r-10">
                      <edit-icon class="font-fix"></edit-icon>
                    </a>
                    <a class="btn btn-action" @click="onDelete(product.name, product.id)">
                      <trash-2-icon class="font-fix"></trash-2-icon>
                    </a>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
          <pagination
            :total-records = "totalRecords"
            :changeTable='changeTable'
          ></pagination>
        </div>
      </div>
    </div>

    <delete-modal v-show="isModalDeleteVisible"
                  :modalConfig="modalDeleteConfig"
                  :onSubmit="onDeleteProduct"
                  @close="isModalDeleteVisible = false; modalDeleteConfig=null"></delete-modal>
    <choose-categories-modal v-show="isModalChooseCategoriesVisible"
                             @close="isModalChooseCategoriesVisible = false"
                             :onSave="onChooseCategory"></choose-categories-modal>
  </div>
</template>

<script>
  import AdminMenu from "../general/AdminMenu";
  import AdminHeader from "../general/AdminHeader";
  import Search from "../general/Search";
  import {EditIcon, Trash2Icon, ChevronDownIcon, GridIcon, PlusIcon} from 'vue-feather-icons';
  import Pagination from "../general/Pagination";
  import FilterCategory from "../components/filter-category.vue";
  import DeleteModal from "../components/modals/delete.vue";

  import axios from 'axios';
  import {apiURL} from '../../../../config';
  import ChooseCategoriesModal from "./component/modal/choose_categories.vue";

  export default {
    name: "products",
    components: {
      ChooseCategoriesModal,
      DeleteModal,
      AdminHeader, AdminMenu, Search, Pagination,
      EditIcon, Trash2Icon, ChevronDownIcon, GridIcon, PlusIcon, FilterCategory},
    data: function () {
      return {
        activeShow: false,
        activeBtn: false,
        selected: [],
        itemsText: '0 item selected:',
        totalRecords: 0,
        productList: [],
        page: 1,
        limit: 10,
        sort: 'id',
        order: 'ASC',
        idSort: 'ASC',
        nameSort: false,
        priceSort: false,
        isModalDeleteVisible: false,
        modalDeleteConfig: null,
        isModalChooseCategoriesVisible: false,
        filterByCategory: '',
        criteria: '',
        filter: 'all'
      }
    },
    computed: {
      selectAll: {
        get: function () {
          return this.productList ? this.selected.length == this.productList.length : false;
        },
        set: function (value) {
          let selected = [];

          if (value) {
            this.productList.forEach(function (productList) {
              selected.push(productList.id);
            });
          }

          this.selected = selected;
          this.itemsText = !selected.length ? '0 item selected:'
            : ((selected.length == 1) ? '1 item selected:' : selected.length + ' items selected:') ;
          this.activeBtn = this.selected.length ? true : false;
        }
      }
    },
    methods: {
      onDelete: function(name, id){
        this.modalDeleteConfig = {
          title: 'Delete Product',
        };
        if (id) {
          this.modalDeleteConfig.id = id;
          this.modalDeleteConfig.description = 'The "'+name+'" product will be deleted. Are you sure?';
        } else if (this.selected.length > 0) {
          this.modalDeleteConfig.id = this.selected;
          this.modalDeleteConfig.description = 'The '+this.selected.length+' products will be deleted. Are you sure?';
        }
        this.isModalDeleteVisible = true;
      },
      onDeleteProduct: function(data) {
        let url, body = {};
        if (data.res.length && data.res.length > 0) {
          axios({
            method: 'delete',
            url: apiURL + '/api/admin/product/selected',
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
            data: {delete: data.res}
          })
            .then(response => {
              this.isModalDeleteVisible = false;
              this.changeTable({page: this.page, limit: this.limit});
              this.itemsText =  '0 item selected:';
              this.selected = [];
              this.activeShow = false;
              this.activeBtn = false;
            })
            .catch(error => {
              console.log(error);
            });
        } else {
          axios({
            method: 'delete',
            url: apiURL + '/api/admin/product/' + data.res,
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
          })
            .then(response => {
              this.isModalDeleteVisible = false;
              this.changeTable({page: this.page, limit: this.limit});
            })
            .catch(error => {
              console.log(error);
            });
        }

      },
      onChooseCategory: function(categoryId){
        if (this.selected.length < 0) {
          return false;
        }
        axios({
          method: 'put',
          url: apiURL + '/api/admin/category/'+categoryId+'/products-add-category',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: {update: this.selected}
        })
          .then(response => {
            this.itemsText =  '0 item selected:';
            this.selected = [];
            this.activeShow = false;
            this.activeBtn = false;
            this.isModalChooseCategoriesVisible = false;
          })
          .catch(error => {
            // document.location.replace('/admin/login');
          });
      },
      clickCheckbox: function() {
        this.activeBtn = this.selected.length ? true : false;
        this.itemsText = !this.selected.length ? '0 item selected:'
          : ((this.selected.length == 1) ? '1 item selected:' : this.selected.length + ' items selected:') ;
      },
      clickActive: function () {
        if (this.activeBtn) {
          this.activeShow = !this.activeShow;
        }
      },
      sortById: function() {
        this.sort = 'id';
        this.idSort =  this.idSort == 'ASC' ? 'DESC' : 'ASC';
        this.order = this.idSort;
        this.nameSort = false;
        this.priceSort = false;
        this.changeTable({page: this.page, limit: this.limit});
      },
      sortByName: function() {
        this.sort = 'name';
        this.nameSort = this.nameSort == 'ASC' ? 'DESC' : 'ASC';
        this.order = this.nameSort;
        this.idSort = false;
        this.priceSort = false;
        this.changeTable({page: this.page, limit: this.limit});
      },
      sortByPrice: function() {
        this.sort = 'regular_price';
        this.priceSort = this.priceSort == 'ASC' ? 'DESC' : 'ASC';
        this.order = this.priceSort;
        this.nameSort = false;
        this.idSort = false;
        this.changeTable({page: this.page, limit: this.limit});
      },
      sortBySubscriptionPrice: function() {
        this.sort = 'subscription_price';
        this.priceSort = this.priceSort == 'ASC' ? 'DESC' : 'ASC';
        this.order = this.priceSort;
        this.nameSort = false;
        this.idSort = false;
        this.changeTable({page: this.page, limit: this.limit});
      },
      onChangeSearch: function(data){
        this.filter = data.filter;
        this.criteria = data.criteria;
        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },
      onFilterChange: function(data){
        let result = data.filterId;
        this.filterByCategory = '';
        if (result.length != 0) {
          result.forEach(item => {
            this.filterByCategory += '&category[]='+item;
          });
        }
        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },
      changeTable: function(data) {
        this.page = data.page;
        this.limit = data.limit;
        let url = '/api/admin/product/search?' +
            'page='+data.page+
            '&limit='+data.limit+
            '&sort='+this.sort+
            '&order='+this.order+
            '&criteria='+this.criteria+
            '&filter='+this.filter+this.filterByCategory;
        axios({
          method: 'get',
          url: apiURL + url,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.productList = response.data.products;
            this.totalRecords = response.data.count;
          })
          .catch(error => {
            // document.location.replace('/admin/login');
          });
      }
    },
    mounted() {
      this.changeTable({page: this.page, limit: this.limit});
    },
  }

</script>

