<template>
  <div class="admin-page product">
    <div class="page-loader" v-if="isLoader">
      <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
    </div>
    <admin-menu class="product-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <h1 class="page-title">New product</h1>
        <div class="admin-double-column">
          <div class="prod-left">
            <div class="admin-main-block general-info">
              <div class="admin-main-block-header">
                <h3 class="admin-main-title">General Information</h3>
              </div>
              <div class="admin-main-block-body">
                <div class="admin-product-section" v-if="isProcess">
                  <alert-process text="Product creation..."></alert-process>
                </div>

                <div class="admin-product-section" v-if="isProductUpdate">
                  <alert-successfully
                    :text="successfullyText"
                    aTitle="Go to the product list"
                    aHref="/admin/products"
                  ></alert-successfully>
                </div>

                <div class="admin-product-section" v-if="isErrors">
                  <alert-error v-for="(error,key) in errors" :key="key" :error-text="error"></alert-error>
                </div>

                <div class="admin-product-section">
                  <custom-input
                    v-model="product.name"
                    :onChange="onChange"
                    :errorInput="product.nameError"
                    label="Product name"
                    type="text"
                  ></custom-input>

                  <div class="input-row">
                    <custom-input
                      v-model="product.sku_regular"
                      :errorInput="product.skuRegularError"
                      :onChange="onChange"
                      label="SKU regular"
                      placeholder="3 digits"
                      type="number"
                    ></custom-input>
                    <custom-input
                      v-model="product.sku_subscription"
                      :errorInput="product.skuSubscriptionError"
                      :onChange="onChange"
                      label="SKU subscription"
                      placeholder="3 digits"
                      type="number"
                    ></custom-input>
                  </div>

                  <custom-input
                    v-model="product.oneliner"
                    :errorInput="product.onelinerError"
                    :onChange="onChange"
                    label="Product oneliner"
                    type="text"
                  ></custom-input>

                  <category
                    :product-categories="category"
                    :errorInput="categoryError"
                    :onChangeCategory="onChangeCategory"
                  ></category>
                </div>

                <div class="admin-product-section">
                  <multi-upload-image
                    :images="productImages"
                    label="Product images"
                    :errorInput="productImageError"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    name="product"
                    :onChange="changeProductImage"
                  ></multi-upload-image>

                  <upload-image
                    label="Product seal image"
                    optional="optional"
                    :onChange="changeSealMedia"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    name="seal"
                  ></upload-image>
                </div>

                <div class="admin-product-section">
                  <div class="input-group form-control">
                    <p class="text-form">Volume of the product</p>
                    <div class="d-f product-volume">
                      <input
                        class="input-form"
                        :class="{'error-input': product.volumeError}"
                        :min="isDigital ? 1 : 0"
                        type="number"
                        v-model="product.volume"
                        @change="isChangeProduct = true; product.volumeError = false"
                      />
                      <select
                        v-model="product.units_of_mass_id"
                        @change="isChangeProduct = true"
                        style="margin-left: 15px;"
                      >
                        <option
                          v-for="(unit,key) in unitList"
                          :key="key"
                          :value="unit.id"
                        >{{ unit.name === 'fl. ct' ? 'Count' : unit.name }}</option>
                      </select>
                    </div>
                    <p v-if="product.volumeError" class="error-text">This field is required.</p>
                  </div>
                </div>

                <!-- Product types -->
                <div class="admin-product-section">
                  <p class="section-title">
                    Product types
                    <span class="optional">- optional</span>
                  </p>
                  <product-type :typeId="typeId" @onChangeProductType="onProductType($event)" />
                </div>

                <div class="admin-product-section" v-show="isDigital || isDigitalAndPhysical">
                  <multi-upload-pdf
                    :pdfs="productPDF"
                    label="PDF files"
                    name="digital"
                    @startUpload="showLoader"
                    @finishUpload="hideLoader"
                    :errorInput="productDigitalError"
                    :onChange="changeDigitalMedia"
                  />
                </div>

                <hashtags :errorInput="hashtagsError" :changeHashtags="onChangeHashtags"></hashtags>

                <div class="admin-product-section">
                  <p class="section-title">Product price</p>
                  <div class="input-row">
                    <input-price
                      label="Regular price"
                      type="numer"
                      v-model="product.regular_price"
                      :errorInput="product.regularPriceError"
                      :onChange="onChange"
                    />
                    <div class="input-group form-control">
                      <p class="text-form">Subscription price</p>
                      <div class="icon-input-block">
                        <span class="icon-input left-icon">$</span>
                        <input
                          class="input-form left-icon"
                          type="number"
                          style="background: rgb(253, 253, 253); opacity: 0.5;"
                          v-model="product.subscription_price"
                          disabled="disabled"
                          min="0"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="input-row">
                    <input-price
                      label="Regular sale price"
                      type="numer"
                      v-model="product.regular_sale_price"
                      :errorInput="product.regularSalePriceError"
                      :onChange="onChange"
                      optional="opt."
                    />
                    <!--<input-price label="Subscription sale price"-->
                    <!--type="numer"-->
                    <!--v-model="product.subscription_sale_price"-->
                    <!--:errorInput="product.subscriptionSalePriceError"-->
                    <!--:onChange='onChange'-->
                    <!--optional="opt."/>-->
                  </div>

                  <div class="input-row">
                    <input-price
                      label="Cost price"
                      type="numer"
                      v-model="product.cost_price"
                      :errorInput="product.costPriceError"
                      :onChange="onChange"
                    />
                  </div>
                </div>

                <!-- Sections -->
                <SectionsDetails
                  :propSections="product.sections"
                  :productTypeDigital="isDigital" 
                  :onChange="onChange"
                  @changeSections="changeSections"
                  @isChangeProduct="isChangeProduct = $event"
                  @isLoader="isLoader = $event"
                />

                <!-- <div class="admin-product-section">
                  <p class="section-title">Product overviews</p>

                  <custom-input
                    v-model="product.high_level_overview_title"
                    label="High level overviev title"
                    :errorInput="product.highLevelOverviewTitleError"
                    :onChange="onChange"
                    type="text"
                  ></custom-input>

                  <div
                    class="input-group form-control"
                    :class="{'error-textarea': product.highLevelOverviewError}"
                  >
                    <p class="text-form">High level overviev</p>
                    <ckeditor
                      class="input-form"
                      :editor="editor"
                      tag-name="textarea"
                      @input="product.highLevelOverviewError = false"
                      :config="editorConfig"
                      v-model="product.high_level_overview"
                    ></ckeditor>
                    <p
                      v-if="product.highLevelOverviewError"
                      class="error-text"
                    >This field is required.</p>
                  </div>

                  <div
                    class="input-group form-control"
                    :class="{'error-textarea': product.detailedOverviewError}"
                  >
                    <p class="text-form">Detailed overview</p>
                    <ckeditor
                      class="input-form"
                      :editor="editor"
                      tag-name="textarea"
                      :config="editorConfig"
                      @input="product.detailedOverviewError = false"
                      v-model="product.detailed_overview"
                    ></ckeditor>
                    <p
                      v-if="product.detailedOverviewError"
                      class="error-text"
                    >This field is required.</p>
                  </div>
                </div>

                <div class="admin-product-section">
                  <p class="section-title">Video overview</p>
                  <div class="input-group form-control">
                    <label class="padding-7">
                      <input
                        class="radio1"
                        v-model="product.video_overview_media_type"
                        type="radio"
                        name="video-overview-media"
                        value="image"
                      />
                      <span class="radio-custom"></span>
                      <span class="label">Image</span>
                    </label>
                  </div>
                  <div class="input-group form-control">
                    <label class="padding-7">
                      <input
                        class="radio1"
                        v-model="product.video_overview_media_type"
                        type="radio"
                        name="video-overview-media"
                        value="video"
                      />
                      <span class="radio-custom"></span>
                      <span class="label">Video</span>
                    </label>
                  </div>

                  <video-block
                    v-if="product.video_overview_media_type == 'video'"
                    :onChange="changeVideoOveriew"
                    :errorInput="videoOverviewVideoMediaError"
                  />

                  <upload-image
                    v-if="product.video_overview_media_type == 'image'"
                    label="Image"
                    :onChange="changeVideoOveriewImageMedia"
                    :errorInput="videoOverviewImageMediaError"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    name="videoOverviewImage"
                  />
                </div>

                <div class="admin-product-section" v-if="!isDigital">
                  <p class="section-title">Product properties</p>
                  <div
                    class="input-group form-control"
                    v-for="(property,key) in propertiesList"
                    :key="key"
                  >
                    <label class="radio">
                      <input
                        type="checkbox"
                        :value="property.id"
                        :data-index="key"
                        @change="changeProperty"
                      />
                      <div class="radio__text">{{ property.name }}</div>
                    </label>
                  </div>
                  <div class="input-group form-control">
                    <p v-if="productPropertyError" class="error-text">This field is required.</p>
                  </div>
                </div>

                <div class="admin-product-section" v-if="!isDigital">
                  <upload-image
                    label="Nutrition Info Image"
                    name="nutrition"
                    :errorInput="nutritionInfoImageError"
                    :onChange="changeNutritionMedia"
                    @startUpload="showLoader"
                    @finishUpload="hideLoader"
                  ></upload-image>
                </div> -->

                <!-- <div class="admin-product-section" v-if="!isDigital">
                  <p class="section-title">Additional media</p>
                  <div class="input-group form-control">
                    <label class="padding-7">
                      <input
                        class="radio1"
                        v-model="product.additional_media_type"
                        type="radio"
                        name="additional-media"
                        value="image"
                      />
                      <span class="radio-custom"></span>
                      <span class="label">Image</span>
                    </label>
                  </div>
                  <div class="input-group form-control">
                    <label class="padding-7">
                      <input
                        class="radio1"
                        v-model="product.additional_media_type"
                        type="radio"
                        name="additional-media"
                        value="video"
                      />
                      <span class="radio-custom"></span>
                      <span class="label">Video</span>
                    </label>
                  </div>

                  <video-block
                    v-if="product.additional_media_type == 'video'"
                    :errorInput="additionalVideoMediaError"
                    :onChange="changeAdditionalVideoMedia"
                  ></video-block>

                  <upload-image
                    v-if="product.additional_media_type == 'image'"
                    label="Image"
                    :onChange="changeAdditionalImageMedia"
                    :errorInput="additionalImageMediaError"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    name="additional"
                  ></upload-image>
                </div> -->

                <!--  -->

                <div class="admin-product-section">
                  <p class="section-title">Select bundled product</p>
                  <div class="input-group form-control">
                    <bundles :product-bundles="bundles" @changeBundles="onChangeBundles($event)"></bundles>
                  </div>
                </div>
                <div class="admin-product-section" v-if="!isDigital">
                  <p class="section-title">Select included product</p>
                  <div class="input-group form-control">
                    <included
                      :errorInput="includeError"
                      :product-included="included"
                      :changeIncluded="onChangeIncluded"
                    ></included>
                  </div>
                </div>
                <div class="d-f">
                  <a
                    href="/admin/products"
                    type="button"
                    class="btn btn-round btn-round--middle btn-button--gray"
                  >Cancel</a>
                  <button
                    type="button"
                    class="btn btn-round btn-round--middle btn-button--green m-l"
                    :class="{'disabled': !isChangeProduct}"
                    @click="createProduct"
                  >Save</button>
                </div>
              </div>
            </div>
          </div>

          <div class="prod-right">
            <product-settings :onPublished="onPublished" :onShowShop="onShowShop"></product-settings>

            <delivery-period
              :onChange="changeDeliveryPeriod"
              :saveDelivery="errorSaveProduct"
              :onEnable="changeDeliveryEnable"
            ></delivery-period>

            <countdown-clock
              :onChange="changeCountdownClock"
              :saveCountdown="errorSaveProduct"
              :onEnable="changeCountdownEnable"
            ></countdown-clock>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  PlusCircleIcon,
  ClockIcon,
  CopyIcon,
  Trash2Icon,
  CalendarIcon,
  DollarSignIcon
} from "vue-feather-icons";
import AdminMenu from "../general/AdminMenu";
import AdminHeader from "../general/AdminHeader";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import DeliveryPeriod from "../products/component/delivery_period";
import ProductType from "../products/component/product_type";
import VideoBlock from "../products/component/video_block";
import CustomCheckbox from "../components/custom-checkbox";
import Checkbox from "../components/checkbox";
import CustomInput from "../components/input";
import InputPrice from "../components/input_price";
import UploadImage from "../components/upload_image";
import MultiUploadImage from "../components/multi_upload_image";
import ProductSettings from "./component/product_settings";
import CountdownClock from "./component/countdown_clock";
import MultiUploadPdf from "../components/multi_upload_pdf";

import axios from "axios";
import { apiURL } from "@/config";
import Hashtags from "./component/hashtags.vue";
import Category from "./component/category-select.vue";
import AlertError from "../../general/alert_error";
import AlertProcess from "../components/alert_process.vue";
import AlertSuccessfully from "../components/alert_successfully.vue";
import Bundles from "./component/bundles.vue";
import Included from "./component/included.vue";
import SectionsDetails from "./component/sections-details";

// Mixins
import ProductActions from "@/mixins/admin/productActions";

export default {
  name: "AdminAddProd",
  mixins: [ProductActions],
  components: {
    AlertSuccessfully,
    AlertProcess,
    AlertError,
    Category,
    Bundles,
    Included,
    Hashtags,
    ProductSettings,
    CountdownClock,
    AdminHeader,
    AdminMenu,
    ClockIcon,
    PlusCircleIcon,
    CalendarIcon,
    CopyIcon,
    Trash2Icon,
    DollarSignIcon,
    DeliveryPeriod,
    ProductType,
    VideoBlock,
    CustomCheckbox,
    Checkbox,
    CustomInput,
    InputPrice,
    UploadImage,
    MultiUploadImage,
    MultiUploadPdf,
    SectionsDetails
  },
  data() {
    return {
      sections: null,
      token: this.$cookie.get("user_token"),
      isLoader: false,
      product: {
        id: "",
        name: "",
        nameError: false,
        oneliner: "",
        onelinerError: false,
        detailed_overview: "",
        detailedOverviewError: false,
        high_level_overview: "",
        highLevelOverviewError: false,
        high_level_overview_title: "",
        highLevelOverviewTitleError: false,
        additional_media_type: "image",
        video_overview_media_type: "video",
        sku_regular: "",
        skuRegularError: false,
        sku_subscription: "",
        skuSubscriptionError: false,
        cost_price: null,
        costPriceError: false,
        regular_price: null,
        regularPriceError: false,
        regular_sale_price: null,
        regularSalePriceError: false,
        subscription_price: null,
        volume: "",
        volumeError: false,
        units_of_mass_id: 1,
        countdown_clock_enable: false,
        delivery_periods_enable: false,
        published: false,
        show_on_shop: false
      },
      deliveryPeriod: [],
      countdownClock: [],
      productType: [],
      productPDF: [],
      productPDFUpdate: null,
      updateProductType: [],
      unitList: [],
      propertiesList: [],
      productProperty: [],
      productPropertyError: false,
      category: [],
      updateCategory: [],
      categoryError: false,
      bundles: [],
      updateBundle: [],
      bundleError: false,
      include: [],
      updateInclude: [],
      includeError: false,
      hashtags: [],
      updateHashtag: [],
      hashtagsError: false,
      isChangeProduct: false,
      isProcess: false,
      isProductUpdate: false,
      successfullyText: "",
      isErrors: false,
      errors: [],
      productImages: [],
      productImageError: false,
      productImagesUpdate: [],
      productSealImage: null,
      /* videoOverviewImageMedia: null,
      videoOverviewImageMediaError: false,
      videoOverviewVideoMedia: null,
      videoOverviewVideoMediaError: false,
      nutritionInfoImage: null,
      nutritionInfoImageError: false,
      additionalImageMedia: null,
      additionalImageMediaError: false,
      additionalVideoMedia: null,
      additionalVideoMediaError: false, */

      editor: ClassicEditor,
      editorConfig: {},

      countdownClockFinish: true,
      deliveryPeriodFinish: true,
      productPropertyFinish: true,
      additionalMediaFinish: true,
      nutritionInfoImageFinish: true,
      videoOverviewFinish: true,
      сategoryFinish: true,
      hashtagFinish: true,
      bundleFinish: true,
      includeFinish: true,
      productTypeFinish: true,
      sealImageFinish: true,
      imageFinish: true
    };
  },

  methods: {
    changeDigitalMedia(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      this.digitalInfoImageUpdate = data;
      if(!this.productPDF.length && data.create.length === 1) {
        this.productPDF.push(data.create[0]);
        return
      }
      if(!this.productPDF.length && data.create.length > 1) {
        this.productPDF = []
        return
      }
    },
    showLoader() {
      this.isLoader = true;
    },
    hideLoader: function() {
      this.isLoader = false;
    },
    errorSaveProduct: function(data) {
      this.errors.push(data.text);
      this.isErrors = true;
    },
    onChange: function() {
      this.isChangeProduct = true;
    },
    onChangeCategory: function(data) {
      this.isChangeProduct = true;
      this.updateCategory = data;
    },
    onChangeBundles: function(data) {
      this.isChangeProduct = true;
      this.updateBundle = data;
    },
    onChangeInclude: function(data) {
      this.isChangeProduct = true;
      this.updateInclude = data;
    },
    onPublished: function(data) {
      this.product.published = data.value;
    },
    onShowShop: function(data) {
      this.product.show_on_shop = data.value;
    },
    changeDeliveryEnable: function(data) {
      this.product.delivery_periods_enable = data.value;
    },
    changeCountdownEnable: function(data) {
      this.product.countdown_clock_enable = data.value;
    },
    onChangeHashtags: function(data) {
      this.isChangeProduct = true;
      this.updateHashtag = data;
    },
    changeSealMedia: function(data) {
      this.isChangeProduct = true;
      this.productSealImage = data;
    },
    /* changeNutritionMedia: function(data) {
      this.isChangeProduct = true;
      this.nutritionInfoImage = data;
    }, */
    /* changeProperty(event) {
      this.isChangeProduct = true;
      this.productPropertyError = false;
      let propery = event.target;
      this.propertiesList[propery.attributes["data-index"].value].value = event
        .target.checked
        ? 1
        : 0;
      let add = [];
      this.propertiesList.forEach(function(listItem, j, arr2) {
        if (listItem.value == 1) {
          add.push(listItem.id);
        }
      });
      this.productProperty = add;
    }, */
    /* changeAdditionalImageMedia: function(data) {
      console.log('+',data)
      this.isChangeProduct = true;
      this.additionalImageMedia = data;
    },
    changeAdditionalVideoMedia: function(data) {
      console.log('+',data)
      this.isChangeProduct = true;
      if (data.video.data == "") {
        this.additionalVideoMedia = [];
      } else {
        this.additionalVideoMedia = {
          preview: data.preview,
          video: data.video
        };
      }
    }, */
    /* changeVideoOveriewImageMedia: function(data) {
      this.isChangeProduct = true;
      this.videoOverviewImageMedia = data;
    },
    changeVideoOveriew(data) {
      this.isChangeProduct = true;
      if (data.video.data == "") {
        this.videoOverviewVideoMedia = [];
      } else {
        this.videoOverviewVideoMedia = {
          preview: data.preview,
          video: data.video
        };
      }
    }, */
    changeDeliveryPeriod: function(data) {
      this.deliveryPeriod = data;
    },
    changeCountdownClock: function(data) {
      this.countdownClock = data;
    },
    isPrice: function(value) {
      return /^\d*(?:\.\d{0,2})?$/.test(value);
    },
    priceSet: function(data) {
      return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
    },
    /* validateProduct() {
      let errorFlag = false;
      this.errors = [];
      if (!this.product.name) {
        errorFlag = true;
        this.product.nameError = true;
      }
      if (!this.product.sku_regular || this.product.sku_regular.length != 3) {
        errorFlag = true;
        this.product.skuRegularError = true;
      }

      if (
        !this.product.sku_subscription ||
        this.product.sku_subscription.length != 3
      ) {
        errorFlag = true;
        this.product.skuSubscriptionError = true;
      }

      // Oneliner
      if (!this.product.oneliner) {
        errorFlag = true;
        this.product.onelinerError = true;
      }

      // Volume
      if (!this.product.volume) {
        errorFlag = true;
        this.product.volumeError = true;
      }

      // Category
      if (this.category.length == 0 && this.updateCategory.length == 0) {
        errorFlag = true;
        this.categoryError = true;
      }

      // Bundles
      if (this.bundles.length == 0 && this.updateBundle.length == 0) {
        errorFlag = true;
        this.bundleError = true;
      }

      // Include
      if (this.include.length == 0 && this.updateInclude.length == 0) {
        errorFlag = true;
        this.includeError = true;
      }

      // Hashtags
      if (this.hashtags.length == 0 && this.updateHashtag.length == 0) {
        errorFlag = true;
        this.hashtagsError = true;
      }

      // Regular price
      if (
        !this.product.regular_price ||
        !this.isPrice(this.product.regular_price)
      ) {
        errorFlag = true;
        this.product.regularPriceError = true;
      }

      // Regular sales price
      if (
        this.product.regular_sale_price &&
        !this.isPrice(this.product.regular_sale_price)
      ) {
        errorFlag = true;
        this.product.regularSalePriceError = true;
      }

      // Cost price
      if (!this.product.cost_price || !this.isPrice(this.product.cost_price)) {
        errorFlag = true;
        this.product.costPriceError = true;
      }

      if (!this.product.high_level_overview_title) {
        errorFlag = true;
        this.product.highLevelOverviewTitleError = true;
      }

      if (!this.product.high_level_overview) {
        errorFlag = true;
        this.product.highLevelOverviewError = true;
      }

      if (!this.product.detailed_overview) {
        errorFlag = true;
        this.product.detailedOverviewError = true;
      }

      if (
        this.productImages.length == 0 &&
        this.productImagesUpdate.length == 0
      ) {
        errorFlag = true;
        this.productImageError = true;
      }

      // Is digital product
      if(this.isDigital) {
        // PDFS
        if (
          this.productPDF &&
          !this.productPDF.length &&
          !this.productPDFUpdate
        ) {
          errorFlag = true;
          this.productPDFError = true;
        }
      }

      // Is not digital product
      if (!this.isDigital) {
        // Property
        if (this.productProperty.length == 0) {
          errorFlag = true;
          this.productPropertyError = true;
        }
        // Nutrition
        if (!this.nutritionInfoImage || !this.nutritionInfoImage.media_id) {
          this.nutritionInfoImageError = true;
          errorFlag = true;
        }
        // Additional media type VIDEO
        if (this.product.additional_media_type == "video") {
          if (this.additionalVideoMedia && this.additionalVideoMedia.length) {
            let ob = JSON.parse(this.additionalVideoMedia.video.data);
            if (
              !ob["video_title"] ||
              !ob["video_description"] ||
              !ob["video_link"] ||
              !this.additionalVideoMedia.preview.media_id
            ) {
              errorFlag = true;
              this.additionalVideoMediaError = true;
            }
          } else {
            errorFlag = true;
            this.additionalVideoMediaError = true;
          }
        }

        // Additional media type IMAGE
        if (
          this.product.additional_media_type == "image" &&
          (!this.additionalImageMedia || !this.additionalImageMedia.media_id)
        ) {
          errorFlag = true;
          this.additionalImageMediaError = true;
        }
      }

      // Video overview media type
      if (this.product.video_overview_media_type == "video") {
        if (
          this.videoOverviewVideoMedia &&
          this.videoOverviewVideoMedia.length != 0
        ) {
          let ob = JSON.parse(this.videoOverviewVideoMedia.video.data);
          if (
            !ob["video_title"] ||
            !ob["video_description"] ||
            !ob["video_link"] ||
            !this.videoOverviewVideoMedia.preview.media_id
          ) {
            errorFlag = true;
            this.videoOverviewVideoMediaError = true;
          }
        } else {
          errorFlag = true;
          this.videoOverviewVideoMediaError = true;
        }
      }

      if (
        this.product.video_overview_media_type == "image" &&
        (!this.videoOverviewImageMedia ||
          !this.videoOverviewImageMedia.media_id)
      ) {
        errorFlag = true;
        this.videoOverviewImageMediaError = true;
      }

      if (errorFlag) {
        this.errors.push("Some fields are not filled correctly. Product cannot be created.");
      }
    }, */
    createProduct() {
      this.isProcess = true;
      // this.validateProduct();
      if (this.errors.length != 0) {
        this.isProcess=false;
        this.isErrors = true;
        return;
      }

      this.isChangeProduct = false;
      axios({
        method: "post",
        url: apiURL + "/api/admin/product",
        headers: {
          Authorization: "Bearer " + this.token
        },
        data: {
          name: this.product.name,
          oneliner: this.product.oneliner,
          detailed_overview: this.product.detailed_overview,
          high_level_overview: this.product.high_level_overview,
          high_level_overview_title: this.product.high_level_overview_title,
          additional_media_type: this.product.additional_media_type,
          video_overview_media_type: this.product.video_overview_media_type,
          sku_regular: this.product.sku_regular,
          sku_subscription: this.product.sku_subscription,
          cost_price: this.priceSet(this.product.cost_price),
          regular_price: this.priceSet(this.product.regular_price),
          regular_sale_price: this.product.regular_sale_price
            ? this.priceSet(this.product.regular_sale_price)
            : null,
          volume: this.product.volume,
          units_of_mass_id: this.product.units_of_mass_id,
          countdown_clock_enable: this.product.countdown_clock_enable,
          delivery_periods_enable: this.product.delivery_periods_enable,
          published: this.product.published,
          show_on_shop: this.product.show_on_shop,
          bundles: this.product.bundles,
          included: this.product.included,
          type_id: this.typeId,
          sections: JSON.stringify(this.sections)
        }
      }).then(response => {
        this.isProcess = false;
        this.isProductUpdate = true;
        let product = response.data;
        if (this.productImagesUpdate) {
          this.imageFinish = false;
          this.updateProductOption(
            product.id,
            "image",
            this.productImagesUpdate,
            res => {
              this.imageFinish = true;
              this.checkSaveProduct(product.id);
            }
          );
        }
        /** media **/
        let sealMediaId,
          nutritionInfoMediaId,
          overviewVideoPreviewMediaId,
          overviewVideoMediaId,
          overviewImageMediaId,
          additionalImageMediaId,
          additionalVideoPreviewMediaId,
          additionalVideoMediaId;

        product.product_media.forEach(function(item, i, arr) {
          if (item.type == "seal") {
            sealMediaId = item.id;
          }
          if (item.type == "nutrition-info") {
            nutritionInfoMediaId = item.id;
          }
          if (item.type == "overview-video-preview") {
            overviewVideoPreviewMediaId = item.id;
          }
          if (item.type == "overview-video") {
            overviewVideoMediaId = item.id;
          }
          if (item.type == "overview-video-image") {
            overviewImageMediaId = item.id;
          }
          if (item.type == "additional-image") {
            additionalImageMediaId = item.id;
          }
          if (item.type == "additional-video-preview") {
            additionalVideoPreviewMediaId = item.id;
          }
          if (item.type == "additional-video") {
            additionalVideoMediaId = item.id;
          }
        });

        if (this.productSealImage) {
          this.sealImageFinish = false;
          this.updateMedia(
            product.id,
            sealMediaId,
            this.productSealImage,
            res => {
              this.sealImageFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }

        //            if (this.updateProductType.length != 0) {
        //              this.productTypeFinish = false;
        //              this.updateProductOption(product.id, 'types', this.updateProductType, res => {
        //                this.productTypeFinish = res;
        //                this.checkSaveProduct(product.id);
        //              });
        //            }

        if (this.updateHashtag.length != 0) {
          this.hashtagFinish = false;
          this.updateProductOption(
            product.id,
            "hashtags",
            this.updateHashtag,
            res => {
              this.hashtagFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }
        if (this.updateCategory.length != 0) {
          this.сategoryFinish = false;
          this.updateProductOption(
            product.id,
            "category",
            this.updateCategory,
            res => {
              this.сategoryFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }
        if (this.updateBundle.length != 0) {
          this.bundleFinish = false;
          this.updateProductOption(
            product.id,
            "bundles",
            this.updateBundle,
            res => {
              this.bundleFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }
        if (this.updateInclude.length != 0) {
          this.includeFinish = false;
          this.updateProductOption(
            product.id,
            "included",
            this.updateInclude,
            res => {
              this.includeFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }
        if (
          this.product.video_overview_media_type == "image" &&
          this.videoOverviewImageMedia
        ) {
          this.videoOverviewFinish = false;
          this.updateMedia(
            product.id,
            overviewImageMediaId,
            this.videoOverviewImageMedia,
            res => {
              this.videoOverviewFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }

        if (
          this.product.video_overview_media_type == "video" &&
          this.videoOverviewVideoMedia
        ) {
          this.videoOverviewFinish = false;
          if (this.videoOverviewVideoMedia.preview != "") {
            this.updateMedia(
              product.id,
              overviewVideoPreviewMediaId,
              this.videoOverviewVideoMedia.preview
            );
          }
          this.updateMedia(
            product.id,
            overviewVideoMediaId,
            this.videoOverviewVideoMedia.video,
            res => {
              this.videoOverviewFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }

        if (this.nutritionInfoImage) {
          this.nutritionInfoImageFinish = false;
          this.updateMedia(
            product.id,
            nutritionInfoMediaId,
            this.nutritionInfoImage,
            res => {
              this.nutritionInfoImageFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }

        if (
          this.product.additional_media_type == "image" &&
          this.additionalImageMedia
        ) {
          this.additionalMediaFinish = false;
          this.updateMedia(
            product.id,
            additionalImageMediaId,
            this.additionalImageMedia,
            res => {
              this.additionalMediaFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }

        if (
          this.product.additional_media_type == "video" &&
          this.additionalVideoMedia
        ) {
          this.additionalMediaFinish = false;
          if (this.additionalVideoMedia.preview != "") {
            this.updateMedia(
              product.id,
              additionalVideoPreviewMediaId,
              this.additionalVideoMedia.preview
            );
          }
          this.updateMedia(
            product.id,
            additionalVideoMediaId,
            this.additionalVideoMedia.video,
            res => {
              this.additionalMediaFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }

        if (this.productProperty.length != 0) {
          this.productPropertyFinish = false;
          this.updateProductOption(
            product.id,
            "property",
            { add: this.productProperty },
            res => {
              this.productPropertyFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }

        if (this.deliveryPeriod.length != 0) {
          this.deliveryPeriodFinish = false;
          this.updateProductOption(
            product.id,
            "delivery-periods",
            this.deliveryPeriod,
            res => {
              this.deliveryPeriodFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }

        if (this.countdownClock.length != 0) {
          this.countdownClockFinish = false;
          this.updateProductOption(
            product.id,
            "countdown-clock",
            this.countdownClock,
            res => {
              this.countdownClockFinish = res;
              this.checkSaveProduct(product.id);
            }
          );
        }
      });
    },
    checkSaveProduct: function(id) {
      if (
        this.countdownClockFinish &&
        this.deliveryPeriodFinish &&
        this.productPropertyFinish &&
        this.additionalMediaFinish &&
        this.nutritionInfoImageFinish &&
        this.videoOverviewFinish &&
        this.сategoryFinish &&
        this.hashtagFinish &&
        this.productTypeFinish &&
        this.sealImageFinish &&
        this.imageFinish
      ) {
        document.location.replace("/admin/product/" + id + "?isSave=true");
      }
    },
    /* updateProductOption:function(productId, type, data, callback) {
        axios({
          method: 'put',
          url: apiURL + '/api/admin/product/'+productId+'/'+type,
          headers: {
            Authorization: 'Bearer ' + this.token,
          },
          data: data
        }).then(response =>{
          callback(true);
        });
      }, */

    updateMedia: function(productId, mediaId, data, callback) {
      axios({
        method: "put",
        url: apiURL + "/api/admin/product/" + productId + "/media/" + mediaId,
        headers: {
          Authorization: "Bearer " + this.token
        },
        data: data
      }).then(response => {
        callback(true);
      });
    },

    getUnitList: function() {
      axios({
        method: "get",
        url: apiURL + "/api/admin/units",
        headers: {
          Authorization: "Bearer " + this.token
        }
      }).then(response => {
        let units = response.data;
        let result = [];
        units.forEach(function(item, i, arr) {
          result.push({ name: item.name, id: item.id });
        });
        this.unitList = result;
      });
    },
    /* getProperties() {
      axios({
        method: "get",
        url: apiURL + "/api/admin/properties",
        headers: {
          Authorization: "Bearer " + this.token
        }
      }).then(response => {
        let properies = response.data;
        let result = [];
        properies.forEach(function(item, i, arr) {
          result.push({ name: item.name, id: item.id });
        });
        this.propertiesList = result;
      });
    }, */
    changeSections(data) {
      this.sections = data
    }
  },
  mounted() {
    this.getUnitList();
    // this.getProperties();
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

