<template>
  <div class="admin-page product">
    <div class="page-loader" v-if="isLoader">
      <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
    </div>
    <admin-menu class="product-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <h1 class="page-title">Edit product. ID: {{product.id}}</h1>
        <div class="admin-double-column">
          <div class="prod-left">
            <div class="admin-main-block general-info">
              <div class="admin-main-block-header">
                <h3 class="admin-main-title">General Information</h3>
              </div>
              <div class="admin-main-block-body">
                <div class="admin-product-section" v-if="isProcess">
                  <alert-process text="Product update..."></alert-process>
                </div>

                <div class="admin-product-section" v-if="isProductUpdate">
                  <alert-successfully
                    :text="successfullyText"
                    aTitle="Go to the product list"
                    aHref="/admin/products"
                  ></alert-successfully>
                </div>

                <div class="admin-product-section" v-if="isErrors">
                  <alert-error v-for="(error,key) in errors" :key="key" :error-text="error"></alert-error>
                </div>

                <div class="admin-product-section">
                  <custom-input
                    v-model="product.name"
                    :errorInput="product.nameError"
                    :onChange="onChange"
                    label="Product name"
                    type="text"
                  ></custom-input>

                  <div class="input-row">
                    <custom-input
                      v-model="product.sku_regular"
                      :errorInput="product.skuRegularError"
                      :onChange="onChange"
                      label="SKU regular"
                      placeholder="3 digits"
                      type="number"
                    ></custom-input>
                    <custom-input
                      v-model="product.sku_subscription"
                      :errorInput="product.skuSubscriptionError"
                      :onChange="onChange"
                      label="SKU subscription"
                      placeholder="3 digits"
                      type="number"
                    ></custom-input>
                  </div>

                  <custom-input
                    v-model="product.oneliner"
                    :errorInput="product.onelinerError"
                    :onChange="onChange"
                    label="Product oneliner"
                    type="text"
                  ></custom-input>

                  <category
                    :errorInput="categoryError"
                    :product-categories="category"
                    :onChangeCategory="onChangeCategory"
                  ></category>
                </div>

                <div class="admin-product-section">
                  <multi-upload-image
                    :images="productImages"
                    label="Product images"
                    :errorInput="productImageError"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    name="product"
                    :onChange="changeProductImage"
                  ></multi-upload-image>

                  <upload-image
                    label="Product seal image"
                    optional="optional"
                    :onChange="changeSealMedia"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    :src="(productSealImage != null) ? url+productSealImage.filename : ''"
                    name="seal"
                  ></upload-image>
                </div>

                <div class="admin-product-section">
                  <div class="input-group form-control">
                    <p class="text-form">Volume of the product</p>
                    <div class="d-f product-volume">
                      <input
                        class="input-form"
                        :class="{'error-input': product.volumeError}"
                        :min="isDigital ? 1 : 0"
                        type="number"
                        v-model="product.volume"
                        @change="isChangeProduct = true"
                      />
                      <select
                        v-model="product.units_of_mass_id"
                        @change="isChangeProduct = true"
                        style="margin-left: 15px;"
                      >
                        <option
                          v-for="(unit,key) in unitList"
                          :key="key"
                          :value="unit.id"
                        >{{ unit.name === 'fl. ct' ? 'Count' : unit.name }}</option>
                      </select>
                    </div>
                    <p v-if="product.volumeError" class="error-text">This field is required.</p>
                  </div>
                </div>

                <!-- Product types -->
                <div class="admin-product-section">
                  <p class="section-title">
                    Product types
                    <span class="optional">- optional</span>
                  </p>
                  <product-type :typeId="typeId" @onChangeProductType="onProductType($event)" />
                </div>

                <div class="admin-product-section" v-show="isDigital || isDigitalAndPhysical">
                  <multi-upload-pdf
                    :pdfs="productPDF"
                    label="PDF files"
                    name="digital"
                    @startUpload="showLoader"
                    @finishUpload="hideLoader"
                    :errorInput="productDigitalError"
                    :onChange="changeDigitalMedia"
                  ></multi-upload-pdf>
                </div>

                <hashtags
                  :errorInput="hashtagsError"
                  :product-hashtags="hashtags"
                  :changeHashtags="onChangeHashtags"
                ></hashtags>

                <div class="admin-product-section">
                  <p class="section-title">Product price</p>
                  <div class="input-row">
                    <input-price
                      label="Regular price"
                      type="text"
                      v-model="product.regular_price"
                      :errorInput="product.regularPriceError"
                      :onChange="onChange"
                    />
                    <div class="input-group form-control">
                      <p class="text-form">Subscription price</p>
                      <div class="icon-input-block">
                        <span class="icon-input left-icon">$</span>
                        <input
                          class="input-form left-icon"
                          type="number"
                          style="background: rgb(253, 253, 253); opacity: 0.5;"
                          v-model="product.subscription_price"
                          disabled="disabled"
                          min="0"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="input-row">
                    <input-price
                      label="Regular sale price"
                      type="text"
                      v-model="product.regular_sale_price"
                      :errorInput="product.regularSalePriceError"
                      :onChange="onChange"
                      optional="opt."
                    />
                    <!--<input-price label="Subscription sale price"-->
                    <!--type="text"-->
                    <!--v-model="product.subscription_sale_price"-->
                    <!--:errorInput="product.subscriptionSalePriceError"-->
                    <!--:onChange='onChange'-->
                    <!--optional="opt."/>-->
                  </div>

                  <div class="input-row">
                    <input-price
                      label="Cost price"
                      type="text"
                      v-model="product.cost_price"
                      :errorInput="product.costPriceError"
                      :onChange="onChange"
                    />
                  </div>
                </div>

                <!--  -->
                <div class="admin-product-section">
                  <p class="section-title">Product overviews</p>

                  <custom-input
                    v-model="product.high_level_overview_title"
                    label="High level overviev title"
                    :onChange="onChange"
                    :errorInput="product.highLevelOverviewTitleError"
                    type="text"
                  ></custom-input>

                  <div
                    class="input-group form-control"
                    id="high-level"
                    :class="{'error-textarea': product.highLevelOverviewError}"
                  >
                    <p class="text-form">High level overviev</p>
                    <ckeditor
                      class="input-form"
                      :editor="editor"
                      tag-name="textarea"
                      @input="changeHighLevelOverview"
                      :config="editorConfig"
                      v-model="product.high_level_overview"
                    ></ckeditor>
                    <p
                      v-if="product.highLevelOverviewError"
                      class="error-text"
                    >This field is required.</p>
                  </div>

                  <div
                    class="input-group form-control"
                    id="detailed"
                    :class="{'error-textarea': product.detailedOverviewError}"
                  >
                    <p class="text-form">Detailed overview</p>
                    <ckeditor
                      class="input-form"
                      :editor="editor"
                      tag-name="textarea"
                      :config="editorConfig"
                      @input="changeDetailedOverview"
                      v-model="product.detailed_overview"
                    ></ckeditor>
                    <p
                      v-if="product.detailedOverviewError"
                      class="error-text"
                    >This field is required.</p>
                  </div>
                </div>

                <div class="admin-product-section">
                  <p class="section-title">Video overview</p>
                  <div class="input-group form-control">
                    <label class="padding-7">
                      <input
                        class="radio1"
                        v-model="product.video_overview_media_type"
                        type="radio"
                        name="video-overview-media"
                        value="image"
                        @change="onChange"
                      />
                      <span class="radio-custom"></span>
                      <span class="label">Image</span>
                    </label>
                  </div>
                  <div class="input-group form-control">
                    <label class="padding-7">
                      <input
                        class="radio1"
                        v-model="product.video_overview_media_type"
                        type="radio"
                        name="video-overview-media"
                        value="video"
                        @change="onChange"
                      />
                      <span class="radio-custom"></span>
                      <span class="label">Video</span>
                    </label>
                  </div>

                  <video-block
                    v-if="product.video_overview_media_type == 'video'"
                    :videoInfo="videoOverviewVideoMedia.video"
                    :videoInfoPreview="videoOverviewVideoMedia.preview"
                    :errorInput="videoOverviewVideoMediaError"
                    :onChange="changeVideoOveriew"
                  />

                  <upload-image
                    v-if="product.video_overview_media_type == 'image'"
                    label="Image"
                    :onChange="changeVideoOveriewImageMedia"
                    :errorInput="videoOverviewImageMediaError"
                    :src="(videoOverviewImageMedia != null) ? url+videoOverviewImageMedia.filename : ''"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    name="videooverview"
                  ></upload-image>
                </div>

                <div class="admin-product-section" v-if="!isDigital">
                  <p class="section-title">Product properties</p>
                  <div
                    class="input-group form-control"
                    v-for="(property,key) in propertiesList"
                    :key="key"
                  >
                    <label class="radio">
                      <input
                        type="checkbox"
                        :value="property.id"
                        :checked="property.value"
                        :data-index="key"
                        @change="changeProperty"
                      />
                      <div class="radio__text">{{ property.name }}</div>
                    </label>
                  </div>
                  <div class="input-group form-control">
                    <p v-if="productPropertyError" class="error-text">This field is required.</p>
                  </div>
                </div>

                <div class="admin-product-section" v-if="!isDigital">
                  <upload-image
                    label="Nutrition Info Image"
                    name="nutrition"
                    :errorInput="nutritionInfoImageError"
                    :src="(nutritionInfoImage != null) ? url+nutritionInfoImage.filename : ''"
                    :onChange="changeNutritionMedia"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                  ></upload-image>
                </div>

                <div class="admin-product-section" v-if="!isDigital">
                  <p class="section-title">Additional media</p>
                  <div class="input-group form-control">
                    <label class="padding-7">
                      <input
                        class="radio1"
                        v-model="product.additional_media_type"
                        type="radio"
                        name="additional-media"
                        value="image"
                        @change="onChange"
                      />
                      <span class="radio-custom"></span>
                      <span class="label">Image</span>
                    </label>
                  </div>
                  <div class="input-group form-control">
                    <label class="padding-7">
                      <input
                        class="radio1"
                        v-model="product.additional_media_type"
                        type="radio"
                        name="additional-media"
                        value="video"
                        @change="onChange"
                      />
                      <span class="radio-custom"></span>
                      <span class="label">Video</span>
                    </label>
                  </div>

                  <video-block
                    v-if="product.additional_media_type == 'video'"
                    :videoInfo="additionalVideoMedia.video"
                    :videoInfoPreview="additionalVideoMedia.preview"
                    classBind="additional"
                    :errorInput="additionalVideoMediaError"
                    :onChange="changeAdditionalVideoMedia"
                  ></video-block>

                  <upload-image
                    v-if="product.additional_media_type == 'image'"
                    label="Image"
                    :onChange="changeAdditionalImageMedia"
                    :src="(additionalImageMedia != null) ? url+additionalImageMedia.filename : ''"
                    v-on:startUpload="showLoader"
                    v-on:finishUpload="hideLoader"
                    name="additional"
                  ></upload-image>
                </div>

                <!--  -->

                <!-- Sections -->
                <SectionsDetails 
                  :propSections="product.sections" 
                  :productTypeDigital="isDigital" 
                  :onChange="onChange"
                  @isProductUpdate="isProductUpdate = true"
                  @changeSections="changeSections"
                  @isChangeProduct="isChangeProduct = $event"
                  @isLoader="isLoader = $event"/>

                <div class="admin-product-section">
                  <p class="section-title">Select bundled product</p>
                  <bundles :product-bundles="bundles" @changeBundles="onChangeBundles($event)" />
                </div>

                <div class="admin-product-section" v-if="!isDigital">
                  <p class="section-title">Select included product</p>
                  <div class="input-group form-control">
                    <included
                      :errorInput="includeError"
                      :product-included="included"
                      :changeIncluded="onChangeIncluded"
                    />
                  </div>
                </div>

                <div class="d-f">
                  <a
                    href="/admin/products"
                    type="button"
                    class="btn btn-round btn-round--middle btn-button--gray"
                  >Cancel</a>
                  <button
                    type="button"
                    class="btn btn-round btn-round--middle btn-button--green m-l"
                    @click="updateProduct"
                  >Save</button>
                  <!-- :disabled="!isChangeProduct" -->
                </div>
              </div>
            </div>
          </div>

          <div class="prod-right">
            <product-settings
              :productId="product.id"
              :productSlug="product.slug"
              :published="product.published"
              :showShop="product.show_on_shop"
              :onPublished="onPublished"
              :onDelete="onDelete"
              :onShowShop="onShowShop"
            />

            <delivery-period
              :productId="product.id"
              :enable="product.delivery_periods_enable"
              :deliveryList="deliveryPeriod"
              :onEnable="changeDeliveryEnable"
            ></delivery-period>

            <countdown-clock
              :productId="product.id"
              :enable="product.countdown_clock_enable"
              :countDownData="countdownClock"
              :onEnable="changeCountdownEnable"
            ></countdown-clock>
          </div>
        </div>
      </div>
    </div>

    <delete-modal
      v-show="isModalDeleteVisible"
      :modalConfig="modalDeleteConfig"
      :onSubmit="onDeleteProduct"
      @close="isModalDeleteVisible = false;"
    />
  </div>
</template>

<script>
import {
  PlusCircleIcon,
  ClockIcon,
  CopyIcon,
  Trash2Icon,
  CalendarIcon,
  DollarSignIcon
} from "vue-feather-icons";
import AdminMenu from "../general/AdminMenu";
import AdminHeader from "../general/AdminHeader";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import DeliveryPeriod from "../products/component/delivery_period";
import ProductType from "../products/component/product_type";
import VideoBlock from "../products/component/video_block";
import CustomCheckbox from "../components/custom-checkbox";
import Checkbox from "../components/checkbox";
import CustomInput from "../components/input";
import InputPrice from "../components/input_price";
import UploadImage from "../components/upload_image";
import MultiUploadImage from "../components/multi_upload_image";
import ProductSettings from "./component/product_settings";
import CountdownClock from "./component/countdown_clock";
import DeleteModal from "../components/modals/delete.vue";
import MultiUploadPdf from "../components/multi_upload_pdf";

import axios from "axios";
import { apiURL } from "@/config";
import Hashtags from "./component/hashtags.vue";
import Category from "./component/category-select.vue";
import AlertError from "../../general/alert_error";
import AlertProcess from "../components/alert_process.vue";
import AlertSuccessfully from "../components/alert_successfully.vue";
import Bundles from "./component/bundles.vue";
import Included from "./component/included.vue";
import SectionsDetails from "./component/sections-details";

// Mixins
import ProductActions from "@/mixins/admin/productActions";

export default {
  name: "AdminEditProd",
  mixins: [ProductActions],
  components: {
    AlertSuccessfully,
    AlertProcess,
    AlertError,
    Category,
    Bundles,
    Included,
    Hashtags,
    ProductSettings,
    CountdownClock,
    AdminHeader,
    AdminMenu,
    ClockIcon,
    PlusCircleIcon,
    CalendarIcon,
    CopyIcon,
    Trash2Icon,
    DollarSignIcon,
    DeliveryPeriod,
    ProductType,
    VideoBlock,
    CustomCheckbox,
    Checkbox,
    CustomInput,
    InputPrice,
    UploadImage,
    MultiUploadImage,
    DeleteModal,
    MultiUploadPdf,
    SectionsDetails
  },
  data() {
    return {
      token: this.$cookie.get("user_token"),
      url: apiURL,
      isProcess: false,
      isProductUpdate: false,
      isErrors: false,
      successfullyText: "",
      isModalDeleteVisible: false,
      modalDeleteConfig: null,
      isLoader: false,
      product: {
        id: "",
        slug: "",
        name: "",
        nameError: false,
        oneliner: "",
        onelinerError: false,
        detailed_overview: "",
        detailed_overview_start: "",
        detailedOverviewError: false,
        high_level_overview: "",
        high_level_overview_start: "",
        highLevelOverviewError: false,
        high_level_overview_title: "",
        highLevelOverviewTitleError: false,
        additional_media_type: "image",
        video_overview_media_type: "video",
        sku_regular: "",
        skuRegularError: false,
        sku_subscription: "",
        skuSubscriptionError: false,
        cost_price: null,
        costPriceError: false,
        regular_price: null,
        regularPriceError: false,
        regular_sale_price: null,
        regularSalePriceError: false,
        subscription_price: null,
        volume: "",
        volumeError: false,
        units_of_mass_id: 1,
        countdown_clock_enable: false,
        delivery_periods_enable: false,
        published: false,
        show_on_shop: false,
        sections: []
      },
      deliveryPeriod: [],
      countdownClock: [],
      productType: [],
      updateProductType: [],
      unitList: [],
      propertiesList: [],
      productProperty: [],
      productPropertyError: false,
      updateProductProperty: null,
      category: [],
      updateCategory: [],
      categoryError: false,
      bundles: [],
      bundle: [],
      updateBundle: [],
      bundlesError: false,
      include: [],
      updateInclude: [],
      includeError: false,
      hashtags: [],
      updateHashtag: [],
      hashtagsError: false,
      isChangeProduct: false,
      errors: [],
      productImages: [],
      productPDF: [],
      productImageError: false,
      productImagesUpdate: null,
      productPDFUpdate: null,
      productSealImage: null,
      productSealImageUpdate: null,
      nutritionInfoImage: null,
      nutritionInfoImageError: false,
      nutritionInfoImageUpdate: null,
      digitalInfoImage: null,
      digitalInfoImageError: false,
      digitalInfoImageUpdate: null,
      videoOverviewImageMedia: null,
      videoOverviewImageMediaError: false,
      videoOverviewImageMediaUpdate: null,
      videoOverviewVideoMedia: {
        video: null,
        preview: null
      },
      videoOverviewVideoMediaError: false,
      videoOverviewVideoMediaUpdate: null,
      additionalImageMedia: null,
      additionalImageMediaError: false,
      additionalImageMediaUpdate: null,
      additionalVideoMedia: {
        video: null,
        preview: null
      },
      additionalVideoMediaError: false,
      additionalVideoMediaUpdate: null,

      editor: ClassicEditor,
      editorConfig: {},

      productPropertyFinish: true,
      additionalMediaFinish: true,
      nutritionInfoImageFinish: true,
      videoOverviewFinish: true,
      сategoryFinish: true,
      hashtagFinish: true,
      bundleFinish: true,
      includeFinish: true,
      productTypeFinish: true,
      sealImageFinish: true,
      digitalInfoImageFinish: true,
      imageFinish: true
    };
  },
  methods: {
    /* productDigitalError(event) {
        console.log(event)
      }, */
    showLoader: function() {
      this.isLoader = true;
    },
    hideLoader: function() {
      this.isLoader = false;
    },
    onChange: function() {
      this.isProductUpdate = false;
      this.isChangeProduct = true;
    },
    onChangeCategory: function(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      this.updateCategory = data;
    },
    onChangeBundles: function(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      this.updateBundle = data;
      // console.log(this.updateBundle);
    },
    /* onChangeIncluded(data){
        this.isChangeProduct = true;
        this.isProductUpdate = false;
        this.updateInclude = data;
      }, */
    onPublished: function(data) {
      this.product.published = data.value;
    },
    onShowShop: function(data) {
      this.product.show_on_shop = data.value;
    },
    changeDeliveryEnable: function(data) {
      this.product.delivery_periods_enable = data.value;
    },
    changeCountdownEnable: function(data) {
      this.product.countdown_clock_enable = data.value;
    },
    onChangeHashtags: function(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      this.updateHashtag = data;
    },
    changeSealMedia: function(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      this.productSealImageUpdate = data;
    },
    changeNutritionMedia: function(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      this.nutritionInfoImageUpdate = data;
    },
    changeAdditionalImageMedia: function(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      this.additionalImageMediaUpdate = data;
    },
    changeVideoOveriewImageMedia: function(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      this.videoOverviewImageMediaUpdate = data;
    },
    changeHighLevelOverview: function(data) {
      if (this.product.high_level_overview_start != data) {
        this.isChangeProduct = true;
        this.isProductUpdate = false;
      }
      this.product.highLevelOverviewError = false;
    },
    changeDetailedOverview: function(data) {
      if (this.product.detailed_overview_start != data) {
        this.isChangeProduct = true;
        this.isProductUpdate = false;
      }
      this.product.detailedOverviewError = false;
    },
    changeProperty: function(event) {
      let propery = event.target;
      this.productPropertyError = false;
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      this.propertiesList[propery.attributes["data-index"].value].value = event
        .target.checked
        ? 1
        : 0;

      let add = [],
        remove = [],
        productProperty = this.productProperty;
      this.propertiesList.forEach(function(listItem, j, arr2) {
        let inProductList = false;
        productProperty.forEach(function(item, i, arr) {
          if (item.id == listItem.id) {
            inProductList = true;
            if (listItem.value == 0) {
              remove.push(listItem.id);
            }
          }
        });
        if (!inProductList && listItem.value == 1) {
          add.push(listItem.id);
        }
      });
      this.updateProductProperty = { add: add, remove: remove };
    },
    changeAdditionalVideoMedia: function(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      if (data.video.data == "" && data.preview.media_id == "") {
        this.additionalVideoMediaUpdate = null;
      } else {
        this.additionalVideoMediaUpdate = {};
        if (data.preview.media_id != "") {
          this.additionalVideoMediaUpdate.preview = data.preview;
        }
        if (
          data.video.data != "" &&
          data.video.data != this.additionalVideoMedia.video.data
        ) {
          this.additionalVideoMediaUpdate.video = {};
          this.additionalVideoMediaUpdate.video.data = data.video.data;
        }
      }
    },
    changeVideoOveriew: function(data) {
      this.isChangeProduct = true;
      this.isProductUpdate = false;
      if (data.video.data == "" && data.preview.media_id == "") {
        this.videoOverviewVideoMediaUpdate = null;
      } else {
        this.videoOverviewVideoMediaUpdate = {};
        if (data.preview.media_id != "") {
          this.videoOverviewVideoMediaUpdate.preview = data.preview;
        }
        if (
          data.video.data != "" &&
          data.video.data != this.videoOverviewVideoMedia.video.data
        ) {
          this.videoOverviewVideoMediaUpdate.video = {};
          this.videoOverviewVideoMediaUpdate.video.data = data.video.data;
        }
      }
    },
    isPrice: function(value) {
      return /^\d*(?:\.\d{0,2})?$/.test(value);
    },
    priceSet: function(data) {
      return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
    },
    changeSections(data) {
      this.product.sections = data
    },
    /* validateProduct() {
      let errorFlag = false;
      this.errors = [];

      if (!this.product.name) {
        this.product.nameError = true;
        errorFlag = true;
      }
      if (!this.product.sku_regular || this.product.sku_regular.length != 3) {
        this.product.skuRegularError = true;
        errorFlag = true;
      }

      if (
        !this.product.sku_subscription ||
        this.product.sku_subscription.length != 3
      ) {
        this.product.skuSubscriptionError = true;
        errorFlag = true;
      }

      if (!this.product.oneliner) {
        this.product.onelinerError = true;
        errorFlag = true;
      }

      if (!this.product.volume) {
        this.product.volumeError = true;
        errorFlag = true;
      }

      if (this.category.length == 0 && this.updateCategory.length == 0) {
        this.categoryError = true;
        errorFlag = true;
      }

      if (this.hashtags.length == 0 && this.updateHashtag.length == 0) {
        this.hashtagsError = true;
        errorFlag = true;
      }

      if (
        !this.product.regular_price ||
        !this.isPrice(this.product.regular_price)
      ) {
        this.product.regularPriceError = true;
        errorFlag = true;
      }

      if (
        this.product.regular_sale_price &&
        !this.isPrice(this.product.regular_sale_price)
      ) {
        this.product.regularSalePriceError = true;
        errorFlag = true;
      }

      if (!this.product.cost_price || !this.isPrice(this.product.cost_price)) {
        this.product.costPriceError = true;
        errorFlag = true;
      }

      if (!this.product.high_level_overview_title) {
        this.product.highLevelOverviewTitleError = true;
        errorFlag = true;
      }

      if (!this.product.high_level_overview) {
        this.product.highLevelOverviewError = true;
        errorFlag = true;
      }

      if (!this.product.detailed_overview) {
        this.product.detailedOverviewError = true;
        errorFlag = true;
      }

      if (this.productImages.length == 0 && !this.productImagesUpdate) {
        errorFlag = true;
        this.productImageError = true;
      }

      if (
        this.productPDF &&
        !this.productPDF.length &&
        !this.productPDFUpdate
      ) {
        errorFlag = true;
        this.productPDFError = true;
      }

      if (this.productProperty.length == 0 && !this.updateProductProperty) {
        errorFlag = true;
        this.productPropertyError = true;
      }

      // If product type is "digital"
      if (!isDigital) {
        if (!this.nutritionInfoImage || !this.nutritionInfoImage.media_id) {
          this.nutritionInfoImageError = true;
          errorFlag = true;
        }

        if (
          this.product.additional_media_type == "video" &&
          ((!this.additionalVideoMedia.video.data &&
            !this.additionalVideoMediaUpdate.video.data) ||
            (!this.additionalVideoMedia.preview &&
              !this.additionalVideoMediaUpdate.preview.media_id))
        ) {
          errorFlag = true;
          this.additionalVideoMediaError = true;
        }

        if (
          this.product.additional_media_type == "image" &&
          !this.additionalImageMedia &&
          (!this.additionalImageMediaUpdate ||
            !this.additionalImageMediaUpdate.media_id)
        ) {
          errorFlag = true;
          this.additionalImageMediaError = true;
        }
      }

      if (
        this.product.video_overview_media_type == "video" &&
        ((!this.videoOverviewVideoMedia.video &&
          !this.videoOverviewVideoMedia.video.data &&
          !this.videoOverviewVideoMediaUpdate.video &&
          !this.videoOverviewVideoMediaUpdate.video.data) ||
          (!this.videoOverviewVideoMedia.preview &&
            !this.videoOverviewVideoMediaUpdate.preview.media_id))
      ) {
        errorFlag = true;
        this.videoOverviewVideoMediaError = true;
      }

      if (
        this.product.video_overview_media_type == "image" &&
        !this.videoOverviewImageMedia &&
        (!this.videoOverviewImageMediaUpdate ||
          !this.videoOverviewImageMediaUpdate.media_id)
      ) {
        errorFlag = true;
        this.videoOverviewImageMediaError = true;
      }

      if (errorFlag) {
        this.errors.push(
          "Some fields are not filled correctly. Product cannot be created."
        );
      }
    }, */
    updateProduct() {
      this.isProcess = true;
      // this.validateProduct();

      if (this.errors.length != 0) {
        this.isProcess=false;
        this.isErrors = true;
        return;
      }
      this.isChangeProduct = false;
      console.log(this.product.sections)
      axios({
        method: "put",
        url: apiURL + "/api/admin/product/" + this.product.id,
        headers: {
          Authorization: "Bearer " + this.token
        },
        data: {
          name: this.product.name,
          oneliner: this.product.oneliner,
          detailed_overview: this.product.detailed_overview,
          high_level_overview: this.product.high_level_overview,
          high_level_overview_title: this.product.high_level_overview_title,
          additional_media_type: this.product.additional_media_type,
          video_overview_media_type: this.product.video_overview_media_type,
          sku_regular: this.product.sku_regular,
          sku_subscription: this.product.sku_subscription,
          cost_price: this.priceSet(this.product.cost_price),
          regular_price: this.priceSet(this.product.regular_price),
          regular_sale_price: this.product.regular_sale_price
            ? this.priceSet(this.product.regular_sale_price)
            : null,
          units_of_mass_id: this.product.units_of_mass_id,
          countdown_clock_enable: this.product.countdown_clock_enable,
          delivery_periods_enable: this.product.delivery_periods_enable,
          published: this.product.published,
          show_on_shop: this.product.show_on_shop,
          type_id: this.typeId,
          sections: JSON.stringify(this.product.sections),
          volume: this.product.volume
        }
      }).then(response => {
        let product = response.data;
        this.product.slug = product.slug;
        if (this.productImagesUpdate) {
          this.imageFinish = false;
          this.updateProductOption(
            product.id,
            "image",
            this.productImagesUpdate,
            res => {
              this.imageFinish = true;
              this.productImages = res.images ? res.images : [];
              this.checkSaveProduct();
            }
          );
        }

        if (this.productPDFUpdate) {
          this.imageFinish = false;
          this.updateProductOption(
            product.id,
            "image",
            this.productPDFUpdate,
            res => {
              this.imageFinish = true;
              console.log('res: ',res.images)
              this.productPDF = res.images ? res.images : [];
              this.checkSaveProduct();
            }
          );
        }

        if (this.updateBundle) {
          // console.log(this.updateBundle);
          this.bundleFinish = false;
          this.updateProductOption(
            product.id,
            "bundles",
            this.updateBundle,
            res => {
              this.bundleFinish = true;
              this.bundles = res.bundles;
              this.checkSaveProduct();
            }
          );
        }

        /** media **/
        let sealMediaId,
          nutritionInfoMediaId,
          overviewVideoPreviewMediaId,
          overviewVideoMediaId,
          overviewImageMediaId,
          additionalImageMediaId,
          additionalVideoPreviewMediaId,
          additionalVideoMediaId,
          digitalInfoMediaId;

        product.product_media.forEach(function(item, i, arr) {
          if (item.type == "seal") {
            sealMediaId = item.id;
          }
          if (item.type == "nutrition-info") {
            nutritionInfoMediaId = item.id;
          }
          if (item.type == "overview-video-preview") {
            overviewVideoPreviewMediaId = item.id;
          }
          if (item.type == "overview-video") {
            overviewVideoMediaId = item.id;
          }
          if (item.type == "overview-video-image") {
            overviewImageMediaId = item.id;
          }
          if (item.type == "additional-image") {
            additionalImageMediaId = item.id;
          }
          if (item.type == "additional-video-preview") {
            additionalVideoPreviewMediaId = item.id;
          }
          if (item.type == "additional-video") {
            additionalVideoMediaId = item.id;
          }
          if (item.type == "digital") {
            digitalInfoMediaId = item.id;
          }
        });

        if (this.productSealImageUpdate) {
          this.sealImageFinish = false;
          this.updateMedia(
            product.id,
            sealMediaId,
            this.productSealImageUpdate,
            res => {
              this.sealImageFinish = true;
              let preview = res.product_media.filter(
                item => item.id == sealMediaId
              );
              this.productSealImage.preview = preview[0].media;
              this.checkSaveProduct();
            }
          );
        }

        if (this.updateProductType.length != 0) {
          this.productTypeFinish = false;
          this.updateProductOption(
            product.id,
            "types",
            this.updateProductType,
            res => {
              this.productTypeFinish = true;
              this.productType = res.types;
              this.checkSaveProduct();
            }
          );
        }

        if (this.updateHashtag.length != 0) {
          this.hashtagFinish = false;
          this.updateProductOption(
            product.id,
            "hashtags",
            this.updateHashtag,
            res => {
              this.hashtagFinish = true;
              this.hashtags = res.hashtags;
              this.checkSaveProduct();
            }
          );
        }
        if (this.updateCategory.length != 0) {
          this.сategoryFinish = false;
          this.updateProductOption(
            product.id,
            "category",
            this.updateCategory,
            res => {
              this.сategoryFinish = true;
              this.category = res.categories;
              this.checkSaveProduct();
            }
          );
        }
        if (this.updateInclude.length != 0) {
          this.includeFinish = false;
          this.updateProductOption(
            product.id,
            "included",
            this.updateInclude,
            res => {
              this.includeFinish = true;
              this.included = res.included;
              this.checkSaveProduct();
            }
          );
        }
        if (this.nutritionInfoImageUpdate) {
          this.nutritionInfoImageFinish = false;
          this.updateMedia(
            product.id,
            nutritionInfoMediaId,
            this.nutritionInfoImageUpdate,
            res => {
              this.nutritionInfoImageFinish = true;
              let preview = res.product_media.filter(
                item => item.id == nutritionInfoMediaId
              );
              this.nutritionInfoImage = preview[0].media;
              this.checkSaveProduct();
            }
          );
        }

        if (this.digitalInfoImageUpdate) {
          this.digitalInfoImageFinish = false;

          this.updateProductOption(
            product.id,
            "digital",
            this.digitalInfoImageUpdate,
            res => {
              this.digitalInfoImageFinish = true;
              this.digitalInfoImage = res.images ? res.images : [];
              this.checkSaveProduct();
            }
          );
        }

        if (
          this.product.additional_media_type == "image" &&
          this.additionalImageMediaUpdate
        ) {
          this.additionalMediaFinish = false;
          this.updateMedia(
            product.id,
            additionalImageMediaId,
            this.additionalImageMediaUpdate,
            res => {
              this.additionalMediaFinish = true;
              let preview = res.product_media.filter(
                item => item.id == additionalImageMediaId
              );
              this.additionalImageMedia = preview[0].media;
              this.checkSaveProduct();
            }
          );
        }

        if (
          this.product.additional_media_type == "video" &&
          this.additionalVideoMediaUpdate
        ) {
          this.additionalMediaFinish = false;
          if (this.additionalVideoMediaUpdate.preview) {
            this.updateMedia(
              product.id,
              additionalVideoPreviewMediaId,
              this.additionalVideoMediaUpdate.preview,
              res => {
                this.additionalMediaFinish = true;
                if (!this.additionalVideoMedia) this.additionalVideoMedia = {};
                let preview = res.product_media.filter(
                  item => item.id == additionalVideoPreviewMediaId
                );
                this.additionalVideoMedia.preview = preview[0].media;
                this.checkSaveProduct();
              }
            );
          }
          if (this.additionalVideoMediaUpdate.video) {
            this.updateMedia(
              product.id,
              additionalVideoMediaId,
              this.additionalVideoMediaUpdate.video,
              res => {
                this.additionalMediaFinish = true;
                if (!this.additionalVideoMedia) this.additionalVideoMedia = {};
                let preview = res.product_media.filter(
                  item => item.id == additionalVideoMediaId
                );
                this.additionalVideoMedia.video = preview[0];
                this.checkSaveProduct();
              }
            );
          }
        }

        if (
          this.product.video_overview_media_type == "image" &&
          this.videoOverviewImageMediaUpdate
        ) {
          this.videoOverviewFinish = false;
          this.updateMedia(
            product.id,
            overviewImageMediaId,
            this.videoOverviewImageMediaUpdate,
            res => {
              this.videoOverviewFinish = true;
              let preview = res.product_media.filter(
                item => item.id == overviewImageMediaId
              );
              this.videoOverviewImageMedia = preview[0].media;
              this.checkSaveProduct();
            }
          );
        }

        if (
          this.product.video_overview_media_type == "video" &&
          this.videoOverviewVideoMediaUpdate
        ) {
          this.videoOverviewFinish = false;
          if (this.videoOverviewVideoMediaUpdate.preview) {
            this.updateMedia(
              product.id,
              overviewVideoPreviewMediaId,
              this.videoOverviewVideoMediaUpdate.preview,
              res => {
                this.videoOverviewFinish = true;
                if (!this.videoOverviewVideoMedia)
                  this.videoOverviewVideoMedia = {};
                let preview = res.product_media.filter(
                  item => item.id == overviewVideoPreviewMediaId
                );
                this.videoOverviewVideoMedia.preview = preview[0].media;
                this.checkSaveProduct();
              }
            );
          }
          if (this.videoOverviewVideoMediaUpdate.video) {
            this.updateMedia(
              product.id,
              overviewVideoMediaId,
              this.videoOverviewVideoMediaUpdate.video,
              res => {
                this.videoOverviewFinish = true;
                if (!this.videoOverviewVideoMedia)
                  this.videoOverviewVideoMedia = {};
                let preview = res.product_media.filter(
                  item => item.id == overviewVideoMediaId
                );
                this.videoOverviewVideoMedia.video = preview[0];
                this.checkSaveProduct();
              }
            );
          }
        }

        if (this.updateProductProperty) {
          this.productPropertyFinish = false;
          this.updateProductOption(
            product.id,
            "property",
            this.updateProductProperty,
            res => {
              this.productPropertyFinish = true;
              this.productProperty = res.properties;
              let propertiesList = this.propertiesList;
              this.productProperty.forEach(item => {
                this.propertiesList.forEach(listItem => {
                  if (item.id == listItem.id) {
                    listItem.value = 1;
                  }
                });
              });
              this.checkSaveProduct();
            }
          );
        }
        // this.checkSaveProduct();
      });
    },
    checkSaveProduct: function() {
      if (
        this.productPropertyFinish &&
        this.additionalMediaFinish &&
        this.nutritionInfoImageFinish &&
        this.videoOverviewFinish &&
        this.сategoryFinish &&
        this.hashtagFinish &&
        this.bundleFinish &&
        this.includeFinish &&
        this.productTypeFinish &&
        this.sealImageFinish &&
        this.imageFinish
      ) {
        this.isProcess = false;
        this.isProductUpdate = true;
        this.successfullyText = "Product has been successfully updated";
      }
    },
    /* updateProductOption(productId, type, data, callback) {
        if(!type) return
        axios({
          method: 'put',
          url: apiURL + '/api/admin/product/'+productId+'/'+type,
          headers: {
            Authorization: 'Bearer ' + this.token,
          },
          data: data
        }).then(response =>{
            // console.log(response);
          callback(response.data);
        });
      }, */

    updateMedia(productId, mediaId, data, callback) {
      axios({
        method: "put",
        url: apiURL + "/api/admin/product/" + productId + "/media/" + mediaId,
        headers: {
          Authorization: "Bearer " + this.token
        },
        data: data
      }).then(response => {
        // console.log(response);
        callback(response.data);
      });
    },

    getUnitList: function() {
      axios({
        method: "get",
        url: apiURL + "/api/admin/units",
        headers: {
          Authorization: "Bearer " + this.token
        }
      }).then(response => {
        let units = response.data;
        let result = [];
        units.forEach(function(item, i, arr) {
          result.push({ name: item.name, id: item.id });
        });
        this.unitList = result;
      });
    },
    getProperties: function() {
      axios({
        method: "get",
        url: apiURL + "/api/admin/properties",
        headers: {
          Authorization: "Bearer " + this.token
        }
      })
        .then(response => {
          let properies = response.data;
          let result = [];
          properies.forEach(function(item, i, arr) {
            result.push({ name: item.name, id: item.id, value: 0 });
          });
          this.propertiesList = result;
        })
        .catch(err => {
          document.location.replace("/admin/login");
        });
    },
    getProduct() {
      axios({
        method: "get",
        url: apiURL + "/api/admin/product/media-types",
         headers: {
            Authorization: 'Bearer ' + this.token,
          }, 
      }).then(response => {
        console.log(response);
      });

      axios({
        method: "get",
        url: apiURL + "/api/admin/product/" + this.$route.params.id,
         headers: {
            Authorization: 'Bearer ' + this.token,
          }, 
      })
        .then(response => {
          
          let product = response.data;
          console.log(product);
          this.product.id                         = product.id;
          this.product.slug                       = product.slug;
          this.product.name                       = product.name;
          this.product.sku_regular                = product.sku_regular;
          this.product.sku_subscription           = product.sku_subscription;
          this.product.oneliner                   = product.oneliner;
          this.product.detailed_overview          = product.detailed_overview;
          this.product.detailed_overview_start    = product.detailed_overview;
          this.product.high_level_overview        = product.high_level_overview;
          this.product.high_level_overview_start  = product.high_level_overview;
          this.product.high_level_overview_title  = product.high_level_overview_title;
          this.product.cost_price                 = this.priceSet(product.cost_price);
          this.product.regular_price              = this.priceSet(product.regular_price);
          this.product.regular_sale_price         = this.priceSet(product.regular_sale_price);
          this.product.subscription_price         = this.priceSet(product.subscription_price);
          this.product.units_of_mass_id           = product.unit.id;
          this.product.countdown_clock_enable     = product.countdown_clock_enable;
          this.product.delivery_periods_enable    = product.delivery_periods_enable;
          this.product.published    = product.published;
          this.product.show_on_shop = product.show_on_shop;
          this.product.volume       = product.volume;
          this.productImages        = product.images ? product.images : [];
          this.productPDF           = product.pdfs ? product.pdfs : [];
          this.productProperty      = product.properties;
          // this.product.bundles      = product.bundles;
          this.product.included     = product.included;
          if(product && product.sections) {
            this.product.sections     = JSON.parse(product.sections)
          }
          this.product.types        = product.types;
          this.typeId               = product.type_id;
          this.deliveryPeriod       = product.delivery_periods;
          this.countdownClock       = product.countdown_clock;
          this.category             = product.categories;
          this.bundles              = product.bundles;
          this.included             = product.included;
          this.hashtags             = product.hashtags;
          this.product.additional_media_type      = product.additional_media_type;
          this.product.video_overview_media_type  = product.video_overview_media_type;

          this.productProperty.forEach((item) => {
          this.propertiesList.forEach((listItem) => {
              if (item.id == listItem.id) {
                listItem.value = 1;
              }
            });
          });

          let sealMedia;
            // nutritionInfoMedia,
            // overviewVideoPreviewMedia,
            // overviewImageMedia,
            // overviewVideoMedia,
            // additionalImageMedia,
            // additionalVideoPreviewMedia,
            // additionalVideoMedia;
          // digitalMedia;
          // console.log(product.product_media);
          product.product_media.forEach((item, i, arr) => {
            if (item.type == "seal") {
              sealMedia = item.media;
            }
            if (item.type == "digital") {
              this.productPDF.push(item);
              // digitalMedia = item;
              // this.productPDF = digitalMedia;
              // console.log( this.productPDF,item);
            }
            if (item.type == "nutrition-info") {
              this.nutritionInfoImage = item.media;
            }
            if (item.type == "overview-video-preview") {
              this.videoOverviewVideoMedia.preview = item.media;
            }
            if (item.type == "overview-video") {
              this.videoOverviewVideoMedia.video = item;
            }
            if (item.type == "overview-video-image") {
              this.videoOverviewImageMedia = item.media;
            }
            if (item.type == "additional-image") {
              this.additionalImageMedia = item.media;
            }
            if (item.type == "additional-video-preview") {
              this.additionalVideoMedia.preview = item.media;
            }
            if (item.type == "additional-video") {
              this.additionalVideoMedia.video = item;
            }
          });

          this.productSealImage = sealMedia;
          // this.productPDF = digitalMedia;
          // console.log(this.productPDF);

          // this.videoOverviewVideoMedia.preview = overviewVideoPreviewMedia;
          // this.videoOverviewVideoMedia.video = overviewVideoMedia;
          // this.videoOverviewImageMedia = overviewImageMedia;
          // this.additionalImageMedia = additionalImageMedia;
          // this.nutritionInfoImage = nutritionInfoMedia;
          // this.additionalVideoMedia.preview = additionalVideoPreviewMedia;
          // this.additionalVideoMedia.video = additionalVideoMedia;
          

          this.modalDeleteConfig = {
            title: "Delete Product",
            id: product.id,
            description: `The ${product.name} product will be deleted. Are you sure?`
          };
        })
        .catch(err => {
          console.log(err);
          // document.location.replace('/admin/login');
        });
    },
    onDelete() {
      this.isModalDeleteVisible = true;
    },
    onDeleteProduct(data) {
      axios({
        method: "delete",
        url: apiURL + "/api/admin/product/" + data.res,
        headers: {
          Authorization: "Bearer " + this.$cookie.get("user_token")
        }
      })
        .then(response => {
          this.isModalDeleteVisible = false;
          document.location.replace("/admin/products");
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.isProductUpdate = this.$route.query ? this.$route.query.isSave : false;
    if (this.isProductUpdate) {
      this.successfullyText = "The product has been successfully updated";
    }

    this.getUnitList();
    this.getProperties();
    this.getProduct();
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

