<template>
  <div class="popup-overlay">
    <div class="popup">
      <div class="popup-header">
        <h3 class="popup-header--title">{{ title }}</h3>
        <span class="close"><x-icon class="font-fix" @click="close"></x-icon></span>
      </div>

      <div class="popup-body">
        <p class="drop-text">{{ description }}</p>
      </div>

      <div class="popup-bottom">
        <a href="#" class="btn btn-button btn-round" @click="close">Cancel</a>
        <a href="#" class="btn btn-button btn-round btn-button--green" @click="removeItem()">{{ button }}</a>
      </div>
    </div>
  </div>
</template>

<script>
  import { XIcon } from 'vue-feather-icons';
  export default {
    name: "delete-modal",
    components: {
        XIcon
    },
    props:['modalConfig', 'onSubmit', 'btnTitle'],
    data(){
      return {
        title: 'Delete',
        description: 'The item will be deleted. Are you sure?',
        button: (this.btnTitle) ? this.btnTitle : 'Delete',
      }
    },
    watch: {
      modalConfig: function(newVal, oldVal) {
        if (newVal){
          this.title = newVal.title;
          this.description = newVal.description;
        } else {
          this.$emit('close');
        }
      },
    },
    methods: {
      close: function(){
        this.$emit('close');
      },
      removeItem: function(){
        console.log('modal delete id:',this.modalConfig.id);
        this.$emit('close');
        this.onSubmit({
          res: this.modalConfig.id
        });
      },
    }
  }
</script>

<style scoped>

</style>
