.account-page {
  background: #F7F6F9;
  .main-block {
    padding: 30px;
  }
  @media screen and (max-width: 1290px) and (min-width: 1025px) {
    &>.wrapper{
      padding: 0 30px;
    }
  }
  @media screen and (max-width: 1024px) {
    .shop-main-section{
      padding: 0;
    }
  }
  .account-main {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 360px);
    @media screen and (max-width: 1024px){
      min-height: calc(100vh - 112px);
    }
    .account-block{
      border-radius: 6px;
      box-shadow: 0px 4px 30px rgba(5, 41, 72, 0.07);
      @media screen and (max-width: 1024px){
        border-radius: 0;
      }
    }
    .left-side {
      min-width: 240px;
      flex-basis: 240px;
      margin-right: 20px;
      background: #FFFFFF;
      height: 100%;
      @media screen and (max-width: 1024px){
        display: none;
      }
      .personal-info {
        text-align: center;
        padding: 24px;
        border-bottom: 1px solid #F1F1F5;
        .personal-name {
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
          font-size: 16px;
          color: #455C6F;
          padding-top: 16px;
          padding-bottom: 8px;
        }
        .account-link {
          font-style: normal;
          font-weight: normal;
          line-height: 18px;
          font-size: 14px;
          opacity: 0.5;
          color: #455C6F;
          .font-fix {
            height: 16px;
            width: 16px;
            padding-right: 4px;
            vertical-align: middle;
          }
        }
      }
      .personal-nav {
        margin: 24px 0;
        .personal-nav-link {
          display: block;
          font-style: normal;
          font-weight: normal;
          line-height: 18px;
          font-size: 14px;
          color: #455C6F;
          padding: 12px 20px;
          position: relative;
          &.active,&:hover {
            &::before{
              content: '';
              position: absolute;
              height: 100%;
              border-left: 3px solid #50BBB7;
              top: 0;
              left: 0;
            }
          }
          &.active{
            color: #50BBB7;
            font-weight: 600;
          }
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    .right-side {
      width: 100%;
      background: #FFFFFF;

    }
  }
  .regular-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #455C6F;
    &.bold {
      font-weight: 600;
    }
    &.small {
      line-height: 14px;
      font-size: 12px;
      color: #455C6F;

    }
  }
  .bold-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #344654;
  }

  .account-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1024px){
      padding: 0 10px;
    }
    .account-table--line{
      display: flex;
      flex-wrap : wrap;
      border: 1px solid #F1F1F5;
      border-radius: 4px;
      margin-bottom: 16px;
      padding: 12px 20px;
      align-items : center;
      justify-content : space-between;
      @media screen and (max-width: 700px) {
        padding: 5px 15px;
      }
      @media screen and (max-width: 370px) {
        padding: 5px 8px;
      }
      &.subscription > div{
        font-family: $font-montserrat;
        line-height: 24px;
        font-size: 14px;
        color: #455C6F;
        min-width: calc(100%/4);
        @media screen and (max-width: 600px){
          min-width: calc(100%/2);
          padding: 5px 0;
        }
        .product-name{
          padding: 0;
          font-weight: 600;
        }
      }
      &.progress {
        height: auto;
      }
      &.order{
        border-right: 4px solid #389EF3;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 22px;
        font-size: 15px;
        font-family: $font-montserrat;
        &.shipped{
          border-right-color: #FFC700;
        }
        &.cancelled{
          border-right-color: #FE0341;
        }
        &.delivered{
          border-right-color: #15D06B;
        }
        &.pending-payment{
          border-right-color: #60676E;
        }
        &.paid{
          border-right-color: #10A49E;
        }
        .strong{
          font-weight: 600;
        }
        .columen{
          &.shipped{
            font-weight: 600;
            color: #FFC700;
          }
          &.cancelled{
            font-weight: 600;
            color: #FE0341;
          }
          &.delivered{
            font-weight: 600;
            color: #15D06B;
          }
          &.pending-payment{
            font-weight: 600;
            color: #60676E;
          }
          &.paid{
            font-weight: 600;
            color: #10A49E;
          }
        }
        .columen--icon{
          color: #AEB5BB;
          width: 40px;
          .font-fix{
            height: 30px;
            vertical-align: middle;
          }
          .subscription{
            width: 18px;
            height: 18px;
          }
          &.open-details:hover{
            cursor: pointer;
          }
        }
        .left-block, .right-block{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          &.products{
            flex-wrap : wrap;
            flex-direction: column;
            justify-content : flex-start;
            align-items: flex-start;
            padding-right: 20px;
            @media screen and (max-width: 700px){
              padding-right: 0;
            }
          }
        }
        .left-block{
          width: calc(100% - 280px);
          .columen{
            width: calc(100%/3);
          }
          @media screen and (max-width: 850px){
            flex-wrap: wrap;
            .columen-id{
              order: 1;
              min-width: 85px;
            }
            .columen-sub{
              order: 2;
              text-align: left;
            }
            .columen-date{
              order: 3;
              width: 100%;
            }
          }
          @media screen and (max-width: 700px){
            width: calc(100% - 150px);
            .shipping-address{
              display: none;
            }
          }
          @media screen and (max-width: 370px){
            width: calc(100% - 130px);
          }
        }
        .right-block{
          position: relative;
          width: 280px;
          .columen{
            width: calc(100%/2 - 20px);
            height: 100%;
          }
          @media screen and (max-width: 700px){
            width: 150px;
            flex-direction: column;
            .open-details{
              position: absolute;
              right: 0;
              padding: 10px;
            }
            .columen-total, .columen-status{
              text-align: right;
              width: 100%;
              padding-right: 45px;
            }
          }
          @media screen and (max-width: 370px) {
            width: 130px;
            .open-details{
              padding: 5px;
            }
            .columen-total, .columen-status{
              padding-right: 35px;
            }
          }
          &.products{
            flex-direction: row;
            .cost-block, .other-options{
              margin-left: 18px;
              @media screen and (max-width: 700px){
                margin-left: 0;
              }
            }
            .shipping-address{
              display: none;
              @media screen and (max-width: 700px){
                display: block;
                margin-top: 16px;
              }
            }

          }
          &:after{
            content: '';
            position: absolute;
            border-left: 1px solid #E9E9F0;
            height: 100%;
            width: 1px;
          }
          @media screen and (max-width: 700px) {
            &:after{
              display: none;
            }
          }
        }
      }
      .text-center{
        text-align: center;
      }
      .text-right{
        text-align: right;
      }
      @media screen and (max-width: 600px){
        .text-left-mobile{
          text-align: left!important;
        }
        .text-right-mobile{
          text-align: right!important;
        }
      }

      .menu-popover-enter,
      .menu-popover-leave-to {
        opacity: 0;
        height: 0;
      }
      .menu-popover-enter-to,
      .menu-popover-leave {
        opacity: 1;
        height: 100%;
      }
      .menu-popover-enter-active,
      .menu-popover-leave-active {
        transition: 3s;
      }

      .order-info{
        display: flex;
        flex-wrap : nowrap;
        width: 100%;
        border-top: 1px solid #E9E9F0;
        margin-top: 12px;
        padding-top: 20px;

        @media screen and (max-width: 700px){
          flex-wrap: wrap;
          .left-block, .right-block {
            width: 100%;
          }
        }
      }

    }
    .account-table--header{
      background: #F1F1F5;
      &.order{
        border-color: #F1F1F5;
      }
      @media screen and (max-width: 1024px){
        display: none;
      }
    }

    .cost-block{
      border-bottom: 1px solid #E9E9F0;
      padding-bottom: 10px;
      width: 100%;
      .cost-row{
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        flex-wrap : nowrap;
        justify-content : space-between;
        .title-cost{
          font-family: $font-montserrat;
          line-height: 24px;
          font-size: 14px;
          color: #455C6F;
        }
        .price{
          font-family: $font-montserrat;
          font-weight: 600;
          line-height: 24px;
          font-size: 14px;
          color: #455C6F;
        }
      }
    }
    .other-options{
      width: 100%;
      @media screen and (max-width: 700px){
        border-bottom: 1px solid #E9E9F0;
      }
      .other-options-block{
        width: 100%;
        margin-bottom: 20px;
        .option-row{
          display: flex;
          justify-content : space-between;
          width: 100%;
          margin-bottom: 5px;
          flex-wrap : nowrap;
        }
        .payment-methd{
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          align-items: center;
        }

        .title-option{
          font-family: $font-montserrat;
          font-weight: 600;
          line-height: 24px;
          font-size: 14px;
          color: #344654;
        }
        .text-option{
          font-family: $font-montserrat;
          line-height: 24px;
          font-size: 14px;
          color: #455C6F;
        }
      }
    }
    .products-list{
      width: 100%;
      border-bottom: 1px solid #E9E9F0;
      margin-bottom: 20px;
      table{
        width: 100%;
        table-layout: fixed;
        td{
          vertical-align: middle;
          border-bottom: 16px solid white;
        }
      }
      .item.active{
        &:hover{
          background: rgba(58, 153, 180, 0.2);
          cursor: pointer;
        }
      }
      .product-image-col{
        width: 60px;
        .product-image{
          width: 60px;
          height: 60px;
          overflow: hidden;
          display: flex;
          justify-content : center;
          align-items : center;
          border: 1px solid #CBD8E3;
        }
      }
      .product-name{
        font-family: $font-montserrat;
        font-weight: 600;
        line-height: 24px;
        font-size: 14px;
        margin-right: 15px;
        text-align: left;
        padding-left: 15px;
      }
      .product-subscriptions{
        color: #389EF3;
        text-align: center;
        .font-fix{
          height: 30px;
          vertical-align: middle;
        }
        .subscription{
          width: 18px;
          height: 18px;
        }
      }
      .product-price{
        text-align: center;
        font-family: $font-montserrat;
        font-weight: 600;
        line-height: 24px;
        font-size: 16px;
      }
      .product-quantity{
        text-align: center;
      }
      .product-buy{
        text-align: right;
        width: 105px;
        .btn{
          width: 100%;
        }
      }
    }
    .shipping-address{
      font-family: $font-montserrat;
      line-height: 24px;
      font-size: 14px;
      .customers{
        margin-bottom: 10px;
      }
      .phone{
        margin-top: 10px;
      }
    }
  }
}




/*Rewards*/
.reward-system {
  overflow-x: hidden;
}
.section-rewards {
  width: 100%;
  overflow: hidden;
}
.section-rewards p {
  padding-bottom: 25px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344654;
}
.section-progress {
  width: 100%;
  margin-top: 65px;
}
.title-my-coupon {
  margin-top: 50px;
  padding: 25px 30px 5px 30px;
  border-top: 1px solid #F1F1F5;
}


.arrow-steps {
  display: flex;
  // flex-shrink: 1;
  width: 100%;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.container-arrow {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

.wrapper-arrow {
  display: flex;
  height: 100px;
  vertical-align: middle;
}

.nav {
  margin-top: 40px;
}

.pull-right {
  float: right;
}

.arrow-steps .step {
  display: flex;
  flex: 0 1 calc(20% - 8px);
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 60px;
  font-size: 28px;
  color: #FFFFFF;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  height: 80px;
  position: relative;
  background-color: #F1F1F5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  height: 80px !important;
  right: -17px;
  width: 0;
  border-top: 38px solid transparent;
  border-bottom: 38px solid transparent;
  border-left: 17px solid #F1F1F5;
  z-index: 2;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:last-child:after {
  height: 0px;
  right: 10px;
  width: 0;
  border: none;
}
.arrow-steps .step:last-child {
  border-radius: 0 6px 6px 0;
}

.arrow-steps .step:first-child {
  border-radius: 6px 0 0 6px;
}

.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #50BBB7;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #50BBB7;	
}

.container-progress-bar {
  p {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #344654;
  }

  .wrapper-progress-bar {
    position: relative;
    height: 42px;
  
    span {
      position: absolute;
      // top: -26px;
      font-weight: 600;
      font-size: 18px;
      color: #8FA0AE;
  
      &.s-progress {
        left: 0;
      }
  
      &.e-progress {
        right: 0;
      }
    }
  
    .progress-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 16px;
      border-radius: 20px;
      background: #F1F1F5;
    
      .progress-value {
        height: 16px;
        border-radius: 20px;
        background: #50BBB7;
        position: relative;
  
        span.spent {
          position: absolute;
          right: -10px;
          top: -26px;
          color: #344654;
        }
      }
    }
  }
}

.section-my-coupons {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  display: flex;

  .reward-coupon {
    width: 420px;
    height: 128px;
    margin-bottom: 15px;
    overflow: hidden;
  
    .left-block-coupon {
      float: left;
      width: 128px;
      height: 100%;
      background: #455c6f;
      border-right: 1px dashed #ffffff;
      border-radius: 6px 0 0 6px;
      color: #fff;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -8px;
        right: -8px;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #455c6f;
        border-radius: 50%;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -8px;
        right: -8px;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #455c6f;
        border-radius: 50%;
      }

      .coupon-amount {
        height: 100%;
        font-weight: 600;
        font-size: 28px;
        line-height: 128px;
        display: block;
        text-align: center;

        span {
          margin: -3px;
        }
      }
    }
  
    .right-block-coupon {
      float: left;
      width: 292px;
      height: 100%;
      padding: 16px;
      border: 1px solid #455c6f;
      border-left: none;
      border-radius: 0 6px 6px 0;

      .coupon-info {
        font-size: 14px;
        color: #455C6F;

        .description,
        .date {
          font-weight: 600;

          span {
            font-weight: 400;
          }
        }
      }

      .coupon-code {
        margin-top: 15px;

        span {
          display: block;
          float: left;
          padding: 8px 16px;
          width: 216px;
          background: #F1F1F5;
          border-radius: 3px;
          font-weight: 600;
          font-size: 14px;
          color: #344654;
        }

        #copyBtn {
          width: 35px;
          height: 35px;
          margin-left: 8px;
          background: #50BBB7;
          border: none;
          border-radius: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .title-my-coupon {
    span {
      display: none;
    }
  }
  .section-rewards,
  .section-progress {
    padding: 0 10px;
  }
  .section-rewards .container-arrow .wrapper-arrow .arrow-steps .step {
    min-width: 50px;
  }
  .section-my-coupons {
    .reward-coupon {
      width: 328px;
  
      .right-block-coupon {
        width: 200px;

        .coupon-code {
          span {
            width: 124px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 675px){
  .account-info--body {
    justify-content: unset;

    .section-my-coupons {
      display: block;
      width: 310px;
      margin: auto;
  
      .reward-coupon {
        .left-block-coupon {
          width: 110px;
        }
      }
    }
  }
}