.cart-slider-block{
  z-index: 1000;
  position: fixed;
  width: 100%;
  display: block;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);

  .cart-slider{
    z-index: 1999;
    display: flex;
    position: fixed;
    height: 100%;
    background: #fff;
    max-width: 360px;
    min-width: 320px;
    width: 100%;
    top: 0;
    right: 0;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 768px), screen and (max-height: 550px){
      overflow: auto;
    }

    &--header{
      width: 100%;
      height: 56px;
      border-bottom: 1px solid #E9E9F0;
      display: flex;
      justify-content: flex-end;
      padding: 0 10px;
      .btn-close{
        border: 0;
        background: #fff;
        color: #455C6F;
        padding: 0;
      }

    }
    &--body{
      width: 100%;
      height: calc(100% - 370px);
      overflow-y: scroll;
      @media screen and (max-width: 768px), screen and (max-height: 551px){
        min-height: 140px;
        height: auto;
        overflow: visible;
      }

      .product-item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid #E8E7EF;
        position: relative;
        padding: 16px;

        .col-image{
          position: absolute;
          left: 6px;
          top: 6px;
          width: 120px;
          padding: 10px;
          @media screen and (max-width: 450px){
            width:  85px;
            padding: 10px;
          }

          img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            @media screen and (max-width: 900px){
              width: 100px;
              height: 100px;
            }
            @media screen and (max-width: 450px){
              width: 65px;
              height: 65px;
            }
          }
        }
        .col-name{
          order: 1;
          width: 90%;
          padding: 5px 10px 0 120px;
          text-align: left;
          @media screen and (max-width: 450px){
            padding: 5px 10px 0 85px;
          }
          .product-name{
            color: #344654;
            font-weight: 600;
            line-height: 24px;
            font-size: 14px;
          }
        }
        .col-quantity{
          order: 3;
          width: 80%;
          padding: 10px 0 0 120px;
          @media screen and (max-width: 450px){
            padding: 10px 0 0 85px;
          }
          .quantity{
            button{
              width: 32px;
              height: 32px;
              .font-fix{
                width: 16px;
              }
            }
            p{
              margin: 0 4px;
              width: 24px;
              text-align: center;
              line-height: 24px;
              font-size: 16px;
            }
          }
        }
        .col-period{
          order: 5;
          width: 100%;
          padding: 20px 0 0 120px;
          max-width: 100%;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          @media screen and (max-width: 450px){
            padding: 20px 0 0 85px;
          }
          .cart__info-text{
            display: inline-block;
          }
          .deliver{
            font-weight: 600;
            line-height: 20px;
            font-size: 14px;
            color: #8B9DAC;
          }
          .select-input {
            display: inline-block;
            width: 100%;
            margin-left: 6px;
            .selected-item{
              padding: 8px 16px;
              line-height: 16px;
              font-size: 14px;
              color: #344654;
              min-width: 100px;
              @media screen and (max-width: 400px){
                font-size: 12px;
              }
            }
          }
        }
        .col-total-price{
          order: 4;
          width: 20%;
          text-align: right;
          padding: 10px 0 0 0;
          p{
            font-weight: 600;
            line-height: 30px;
            font-size: 16px;
            text-align: right;
          }
        }
        .col-delete{
          order: 2;
          width: 10%;
          text-align: right;
          padding: 5px 0 0 0;
          .btn-delete{
            background: #CBD8E3;
            border-radius: 24px;
            display: inline-block;
            width: 16px;
            height: 16px;
            text-align: center;
            .font-fix-cross {
              color: #fff;
              height: 11px;
              width: 12px;
            }
          }
        }
        .cart__info-text{
          line-height: 16px;
          font-size: 12px;
          color: #8FA0AE;
        }
      }
    }
    &--footer{
      width: 100%;
      height: 314px;
      background: #F1F1F5;

      @media screen and (max-width: 768px),  screen and (max-height: 551px){
        height: 350px;
      }

      .total-section {
        display: flex;
        padding: 16px;
        flex-direction: column;
        @media screen and (max-width: 600px){
          padding: 16px;
        }
        .wrapper-coupon-block {
          margin-bottom: 30px;

          .coupon-block {
            width: auto;
            float: none;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-end;
            @media screen and (max-width: 768px) {
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              margin-bottom: 20px;
              &> div{
                width: 100%;
              }
              &> button{
                width: 100%;
                margin-left: 0;
                margin-top: 15px;
              }
            }
          }

          .error-coupon {
            margin-top: 10px;
          }
        }
        @media screen and (max-width: 768px){
          .wrapper-coupon-block {
            .coupon-block {
              .form-control {
                input {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .total-block {
          display: flex;
          width: 340px;
          margin-left: auto;
          justify-content: flex-start;
          align-items: center;
          padding-bottom:16px;
          &:last-child{
            padding-bottom: 0;
          }
          @media screen and (max-width: 900px){
            width: 100%;
          }
          .total-text {
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            font-size: 14px;
            color: #344654;
            &.big {
              font-size: 18px;
              line-height: 24px;
              padding-left: 8px;
            }
          }
          .btn-link--cart{
            text-align: right;
            font-weight: 600;
            line-height: 24px;
            font-size: 14px;
            width: auto;
            color: #389EF3;
            text-decoration: none;
            order: 3;
            margin-left: auto;
          }
          .btn-green, .btn-keep{
            padding: 8px;
            font-weight: 600;
            line-height: 24px;
            font-size: 14px;
          }
          .btn-keep{
            background: #FFFFFF;
            color: #8FA0AE;
            &:hover{
              background: #8FA0AE;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}

.cart-slider-transaction-enter-active {
  animation: cart-slider-transaction .7s;
}
.cart-slider-transaction-leave-active {
  animation: cart-slider-transaction .9s reverse;
}
@keyframes cart-slider-transaction {
  0% {
    right: -360px;
  }
  100% {
    right: 0;
  }
}
