.shop-cart {
  position: relative;
  padding-bottom: 413px;
  @media screen and (max-width: 1170px){
    padding-bottom: 520px;
  }

  @media screen and (max-width: 800px){
    padding-bottom: 500px;
  }

  @media screen and (max-width: 768px){
    padding-bottom: 0;
  }

  &>footer{
    position: absolute;
    bottom: 0;
    @media screen and (max-width: 768px){
      position: relative;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 32px;
    .col-period{
      max-width: 200px;
      .col-period-mobile{
        font-weight: 600;
        line-height: 20px;
        font-size: 14px;
        color: #8B9DAC;
        display: none;
        @media screen and (max-width: 900px){
          display: inline-block;
          padding-right: 10px;
        }
      }
      @media screen and (max-width: 900px){
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .select-input{
          width: 100%;
        }
      }
    }
    .col-total-price{
      p{
        font-weight: 600;
        line-height: 24px;
        font-size: 16px;
      }
    }

    @media screen and (max-width: 900px){
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      tbody{
        display: flex;
        flex-direction: column;
        tr{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          border-bottom: 1px solid #E8E7EF;
          position: relative;
          padding: 16px;
          .col-price{
            display: none
          }
          .col-image{
            position: absolute;
            left: 6px;
            top: 6px;
            width: 120px;
            padding: 10px;
          }
          .col-name{
            order: 1;
            width: 90%;
            padding: 5px 10px 0 120px;
            text-align: left;

          }
          .col-quantity{
            order: 3;
            width: 80%;
            padding: 10px 0 0 120px;
          }
          .col-period{
            order: 5;
            width: 100%;
            padding: 20px 0 0 120px;
            max-width: 100%;
          }
          .col-total-price{
            order: 4;
            width: 20%;
            text-align: right;
            padding: 10px 0 0 0;
          }
          .col-delete{
            order: 2;
            width: 10%;
            text-align: right;
            padding: 5px 0 0 0;
            button{
              display: inline-block;
            }
          }
        }
      }
    }
    @media screen and (max-width: 450px){
      tbody{
        tr{
          .col-image{
            width:  85px;
            padding: 10px;
          }
          .col-name{
            padding: 5px 10px 0 85px;
          }
          .col-period{
            padding: 20px 0 0 85px;
          }
          .col-quantity{
            padding: 10px 0 0 85px;
          }
        }
      }
    }
    img {
      width: 120px;
      height: 120px;
      @media screen and (max-width: 900px){
        width: 100px;
        height: 100px;
      }
      @media screen and (max-width: 450px){
        width: 65px;
        height: 65px;
      }
    }
    .product-name{
      color: #344654;
      font-weight: 600;
      line-height: 24px;
      font-size: 14px;
    }

    td {
      padding: 15px;
      word-break: normal;
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid #E8E7EF;
      @media screen and (max-width: 900px){
        border-bottom: none;
      }
    }
    th {
      font-weight: normal;
      padding: 15px 40px;
      overflow: hidden;
      word-break: normal;
      border: 0;
      position: sticky;
      top: 0;
      background: #fff;
    }

    .table-header-th {
      font-weight: bold;
      text-align: left;
      vertical-align: middle;
      z-index: 9;
      @media screen and (max-width: 900px){
        display: none;
      }
      td {
        border: none;
      }

      tr {
        background: #F1F1F5;
      }
    }
  }
  .total-section {
    display: flex;
    background: #F1F1F5;
    padding: 32px;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 900px){
      display: block;
      padding: 16px;
    }
    .total-block {
      display: flex;
      width: 340px;
      margin-left: auto;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;
      &:last-child{
        padding-bottom: 0;
      }
      &:first-child {
        @media screen and (max-width: 600px){
          display: -webkit-inline-box;
          margin-top: 30px;
        }
      }
      @media screen and (max-width: 900px){
        width: 100%;
      }
      .total-text {
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 16px;
        color: #344654;
        &.big {
          font-size: 24px;
        }
      }
      .btn-link{
        text-align: center;
        font-weight: 600;
      }
    }

    @media screen and (max-width: 900px){
      .coupon-block {
        margin-bottom: 30px;
        width: auto;
        float: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &> div{
          width: 100%;
          input {
            width: 100%;
          }
        }
        &> button{
          width: 100%;
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }
  }

  .cart__info-text{
    color: #8FA0AE;
    font-family: $font-montserrat;
    line-height: 16px;
    font-size: 12px;
    @media screen and (max-width: 900px){
      text-align: left;
    }
  }

  .quantity{
    button{
      background: #F1F1F5;
      border: 1px solid #F1F1F5;
      .font-fix{
        color: #8FA0AE;
        width: 16px;
        height: 16px;
      }
    }
    @media screen and (max-width: 900px){
      justify-content: flex-start !important;
    }
    @media screen and (max-width: 450px){
      p{
        margin: 0 5px;
      }
    }
  }

  .btn-delete{
    background: #CBD8E3;
    border-radius: 24px;
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    .font-fix-cross {
      color: #fff;
      height: 11px;
      width: 12px;
    }
  }

  .cart-empty{
    height: 100%;
    min-height: calc(100vh - 350px);
    .btn-start-shopping{
      padding: 15px 120px;
    }
    @media screen and (max-width: 1024px){
      height: calc(100vh - 112px);
    }
    @media screen and (max-width: 600px){
      .shop-title{
        padding-left: 16px;
        padding-right: 16px;
      }
      .btn-start-shopping{
        width: calc(100% - 32px);
        margin: 0 auto;
        display: block;
        padding: 15px;
      }
    }
  }

}
