.shop-login {
  .form-login{
    padding-bottom: 24px;
    @media screen and (max-width: 600px) {
      padding: 24px 20px;
    }
  }
  .header-line{
    position: relative;
    padding-top: 20px;
    &:before{
      content: '';
      width:400px;
      position: absolute;
      border-top: 1px solid #D7E4F0;
      left: 0;
      top: 0;
      margin: 0 -40px;
      @media screen and (max-width: 600px){
        margin: 0 -20px;
      }
      @media screen and (max-width: 420px){
        display: none;
      }
    }
  }
  .text-regular {
    color: #60676E;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    &.bold {
      font-weight: 600;
    }
    &.small{
      line-height: 20px;
      font-size: 12px;
      text-align: center;
      margin-top: 30px;
    }
  }
  .line-text{
    position: relative;
    margin: 30px 0;
    .text-regular{
      background: #fff;
      padding: 0 10px;
    }
    &:before, &:after{
      content: '';
      position: absolute;
      border-top: 1px solid #D7E4F0;
      width: 76px;
      top: 10px
    }
    &:before{
      left: 10px;
    }
    &:after{
      right: 10px;
    }
  }

  .social-block{
    margin-bottom: 35px;
  }
  .bottom-block{
    margin-bottom: 25px;
  }
}

