.product-page {
  .shop-title {
    text-align: left;
  }
  .double-block {
    display: flex;
    justify-content: space-between;
    .left-side {
      flex-basis: calc(45% - 20px);
    }
    .right-side {
      flex-basis: calc(55% - 20px);

      .rate-section {
        display: flex;
        padding: 15px 50px 0 0;
        justify-content: space-between;
        align-items: center;
        .rate-row {
          display: flex;
          align-items: center;
          .revievs {
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;

            color: $color-black-5;
            padding-left: 9px;
          }
        }
      }

      @media screen and (max-width: 1024px){
        .rate-section {
          display: table;
          margin: auto;
          padding: 15px;
        }
      }

      .vue-star-rating {
        float: left;
      }
      .count-reviews {
        line-height: 25px;
        margin-left: 10px;
      }
      .price-section {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: space-between;
        padding-bottom: 15px;
        margin-top: 30px;
        .status {
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          font-size: 14px;
          color: $color-black-5;
        }
      }
      .weight {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        color: $color-black-5;
        padding-bottom: 30px;
      }
      .delivery-section {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .left-side {
          flex-basis: calc(45% - 20px);
          display: grid;
        }
        .right-side {
          flex-basis: calc(55% - 20px);
          flex-direction: row;
          display: inherit;
          justify-content: space-between;
          align-items: baseline;

          // .product-select-label {
          //   font-style: normal;
          //   font-weight: normal;
          //   line-height: normal;
          //   font-size: 16px;
          //   text-align: right;
          //   color: #455C6F;
          // }
        }
      }
      @media screen and (max-width: 500px){
        .delivery-section {
          display: block;
          padding: 15px;

          .right-side {
            display: flex;
            margin-top: 25px;
            align-items: center;

            .small-text {
              text-align: left;
            }
          }
        }
      }
      .quantity-section {
        margin-top: 25px;
        display: flex;
        align-items: center;
        .small-text{
          margin-right: 30px;
        }
      }
      .timer-section {
        padding: 50px 0;
        text-align: center;
        span {
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 16px;
          color: #F3626B;
        }
      }
    }
  }

  .product-info{
    padding: 60px 0;
    .mobile-layout{
      display: none;
    }
    @media screen and (max-width: 1300px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (max-width: 1024px){
      padding: 0;
      margin-bottom: 20px;
      flex-direction: column;
      .desktop-layout{
        display: none !important;
      }
      .mobile-layout{
        display: block;
      }
      .left-side, .right-side{
        width: 100%;
        flex-basis: 100%;
      }
      .shop-title, .shop-sub-title, .weight{
        text-align: center;
      }
      .price-section{
        justify-content: center !important;
        margin: 0 auto;
      }
      .quantity-section{
        width: 320px;
        margin: 15px auto;
        justify-content: space-between;
      }

    }
  }
  .shop-full-section {
    .double-block {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1024px){
        flex-direction: column;
        &.additional-block{
          flex-direction: column-reverse;
        }
      }
      .popUp-header {
        text-align: right;
        padding: 10px;
        .font-fix {
          width: 48px;
          height: 48px;
          color: #CBD8E3;
          cursor: pointer;
        }

      }
      .left-side {
        flex-basis: 50%;
      }
      .properties{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
        .properties-item {
          margin: 16px;
          flex-basis: 15%;
          text-align: center;
          min-width: 48px;
          @media screen and (max-width: 1024px){
            flex-basis: 20%;
          }
          @media screen and (max-width: 600px){
            flex-basis: 30%;
          }
          p{
            font-weight: bold;
            line-height: 18px;
            font-size: 12px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #455C6F;
            padding-top: 16px;
          }
          img{
            width: 48px;
            height: 48px;
          }
        }
      }

      .nutrion {
        position: relative;
        background: #F1F1F5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1024px) {
          padding-bottom: 20px;
          min-height: 350px;
        }
        .nutrion-info {
          position: absolute;
          top: 0;
          left: 0;

          display: flex;
          flex-direction: column;
          width: 100%;
          bottom: 0;
          right: 0;
          background: #fafafa;

          .nutrion-image {
            text-align: center;
            img {
              height: auto;
              max-width: 200px;
            }
          }


        }
      }
      .right-side {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F1F1F5;
      }
      .additional-image {
        width: 100%;
        height: 100%;
      }
      .additional-video {
        width: 100%;
        height: 100%;
        display: block;
      }
      .image-block{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: #F1F1F5;
        display: flex;
        @media screen and (min-width: 1600px){
          max-height: 450px;
        }
        @media screen and (max-width: 1600px){
          max-height: 450px;
        }
        @media screen and (max-width: 1388px){
          max-height: 400px;
        }
        @media screen and (max-width: 1210px){
          max-height: 350px;
        }
        @media screen and (max-width: 1110px){
          max-height: 325px;
        }
        @media screen and (max-width: 1033px){
          max-height: 300px;
        }
        @media screen and (max-width: 950px){
          max-height: 250px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .video-block {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: #F1F1F5;
        @media screen and (min-width: 1600px){
          min-height: 460px;
        }
        @media screen and (max-width: 1600px){
          min-height: 460px;
        }
        @media screen and (max-width: 1388px){
          min-height: 400px;
        }
        @media screen and (max-width: 1210px){
          min-height: 350px;
        }
        @media screen and (max-width: 1031px){
          min-height: 300px;
        }
        @media screen and (max-width: 1024px){
          min-height: 460px;
        }
        @media screen and (max-width: 950px){
          min-height: 400px;
        }
        @media screen and (max-width: 600px){
          min-height: 350px;
        }
        @media screen and (max-width: 450px){
          min-height: 300px;
        }
        .video-info {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
          color: #ffffff;
          height: 100%;
          &.active {
            z-index: -1;
          }
          .video-preview {
            position: relative;
            display: flex;
            height: 100%;

            img{
              object-fit: cover;
            }
            .poster-video {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              
              img.play-button {

              }

              .video-text{
                position: absolute;
                bottom: 0;
                padding-bottom: 40px;
                width: 100%;
                .big{
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  font-size: 36px;
                  color: #FFFFFF;
                  padding-bottom: 12px;
                }
                .small {
                  font-style: normal;
                  font-weight: normal;
                  line-height: normal;
                  font-size: 24px;
                  color: #FFFFFF;
                }
              }
            }
          }
        }
        iframe{
          width: 100%;
          height: 100%;
        }
      }

      .description-section {
        padding: 0 70px;
        //padding: 50px 20px;
        @media screen and (max-width: 1024px) {
          min-height: 350px;
          padding: 50px 20px;
        }
        .description {
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 24px;
          color: #455C6F;
          padding: 38px 0;
        }
      }
      .description-info {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        display: block;
        z-index: 100;
        overflow-x: auto;
        .description-text{
          padding: 0 10%;
          padding-bottom: 50px;
        }
      }
    }
  }


  .card-carousel {
    user-select: none;
    position: relative;

    .progressbar > div {
      background-color: rgba(255, 255, 255, 0.52);
      height: 100%;
    }

    .thumbnails {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }

    .thumbnail-image {
      margin: 5px;
      flex-basis: 10%;
      text-align: center;
    }

    .thumbnail-image > img {
      width: 70px;
      height: auto;
      transition: all 250ms;
    }

    .thumbnail-image:hover > img,
    .thumbnail-image.active > img {
      opacity: 0.6;
      box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
    }

    .card-img {
      max-width: 520px;
      max-height: 520px;
      min-width: 520px;
      min-height: 520px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items : center;
      justify-content : center;
      margin: 0 auto 15px;
      position: relative;
      @media screen and (max-width: 1200px){
        max-width: 400px;
        max-height: 400px;
        min-width: 400px;
        min-height: 400px;
      }

      @media screen and (max-width: 950px){
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
      }
    }

    .card-img > img {
      display: block;
      margin: 0 auto;
    }
  }

  .btn-section{
    margin-top: 45px;
    &.mobile-layout{
      display: none;
    }
    @media screen and (max-width: 1024px) {
      position: fixed;
      bottom: 0;
      //height: 54px;
      background: #F1F1F5;
      z-index: 10;
      width: 100%;
      padding: 10px 20px;
      .btn{
        padding: 8px;
      }
      &.mobile-layout{
        display: block;
      }
    }
  }

  .media-popup{
    .popup{
      @media screen and (min-width: 1300px){
        width: 50%;
      }
      @media screen and (max-width: 1300px){
        width: 60%;
      }
      @media screen and (max-width: 1024px){
        width: 80%;
      }
      @media screen and (max-width: 730px){
        width: calc(100% - 20px);
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
      }
      .popup-header{
        justify-content: flex-end;
        margin-top: 10px;
      }
      .popup-body{
        // height: 100%;
        padding-top: 5px;
        height: 90vh;
        overflow: scroll;

        iframe{
          width: 100%;
          height: 100%;
          @media screen and (min-width: 1600px){
            min-height: 460px;
          }
          @media screen and (max-width: 1600px){
            min-height: 415px;
          }
          @media screen and (max-width: 1388px){
            min-height: 400px;
          }
          @media screen and (max-width: 1210px){
            min-height: 350px;
          }
          @media screen and (max-width: 1024px){
            min-height: 460px;
          }
          @media screen and (max-width: 950px){
            min-height: 360px;
          }
          @media screen and (max-width: 600px){
            min-height: 270px;
          }
          @media screen and (max-width: 450px){
            min-height: 200px;
          }
        }
      }
    }

  }

  .video-popup-product {
    .popup {
      background: transparent;

      .popup-body {
        height: auto;
      }
    }
  }
  span.close {
    background: #50bbb7;
    color: #fff;
    border-radius: 50px;
    padding: 4px;
  }
}

#bundle {
  margin-top: 50px;

  .product-info {
    border: 4px solid #50BBB7;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px 60px 60px;

    h2 {
      text-align: center;
      font-weight: 600;
      font-size: 36px;
      color: #344654;
      line-height: 50px;
    }

    img {
      width: 264px;
      height: 264px;
    }
    .left-side {
      flex-basis: calc(23%);
      background: #f6f6f8;
    }

    .center-side {
      flex-basis: calc(50%);

      .shop-title{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #344654;
      }

      .shop-sub-title.thin {
        font-size: 13px;
        color: #8FA0AE;
      }

      .price {
        margin-top: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }

      .detailed-overview {
        line-height: 24px;
        width: 480px;
        margin-top: 24px;
        font-size: 14px
      }
    }
    .right-side {
      flex-basis: calc(23%);

      .small-text {
        text-align: left;
      }
      .btn-bundle-section {
        margin-top: 115px;
      }
    }
    @media screen and (max-width: 1024px){
       .double-block {
          display: block;

        .left-side {
          width: 100%;
          max-width: 400px;
          margin: 20px auto;
          text-align: center;
        }

        .center-side {
          .price {
            text-align: center;
          }
          .detailed-overview {
            margin: 24px 20px 0;
            width: 100%;
          }
          a {
            margin-left: 20px;
          }
        }

        .right-side {
          width: 50%;
          text-align: center;
          margin: 0 auto;

          .btn-bundle-section {
            margin-top: 20px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 425px){
    .product-info {
      padding: 32px 20px;

      .double-block {
        .center-side {

          .detailed-overview {
            margin: 0;
          }
          a {
            margin: 0;
          }
        }
        .right-side {
          width: 80%;
        }
      }
    }
  }
}

#included {
  margin: 50px 0;

  .wrapper {
    max-width: 1290px;

    h2 {
      font-weight: 600;
      align-items: center;
      text-align: center;
      font-size: 36px;
      color: #344654;
      margin: 40px 0;
      line-height: 50px;
    }

    .included-product {

      .included-img {
        background: #f6f6f8;
      }

      .included-title {
        margin: 24px 0 5px;
        text-align: center;

        a {
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          color: #344654;
        }
      }

      .included-oneliner {
        font-size: 14px;
        line-height: 16px;
        color: #8FA0AE;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: 45%;
      -moz-background-size: 20px 20px;
      -webkit-background-size: 20px 20px;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      padding: 20px;
      border-radius: 50%;
      background-color: #cccccc;
    }
    .swiper-button-next {
      background-image: url("/static/img/icons/next.svg");
    }
    .swiper-button-prev {
      background-image: url("/static/img/icons/prev.svg");
    }
  }
  @media screen and (max-width: 1024px){
    .wrapper {
      width: 90%;
      margin: 0 auto;
    }
  }
}