.review-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(23, 35, 46, 0.4);
    z-index: 900;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .review-modal {
        position: fixed;
        top: 60px;
        width: 744px;
        height: 560px;
        background: #fff;
        border-radius: 4px;
        z-index: 999;

        .review-modal-header {
            padding: 32px 32px 40px 32px;

            .title {
                display: inline-block;
                margin-bottom: 0px;

                h2 {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 40px;
                    letter-spacing: -0.01em;
                    color: #344654;
                }
            }

            .close {
                float: right;
                color: #C6CFDA;
            }
        }

        .review-modal-body {
            padding: 0 32px;

            label {
                display: inline-block;
                margin-bottom: 8px;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                color: #455C6F;
            }

            .rating-block {
                margin-bottom: 32px;
                overflow: hidden;

                .starRating:not(old){
                    display: block;
                    float: left;
                    margin-left: -13px;
                }
                .starRating:not(old) > input{
                    margin-right: -100%;
                    opacity: 0;
                }
                .starRating:not(old) > label{
                    display: block;
                    float: right;
                    width: 40px;
                    height: 32px;
                    border-radius: 3px;
                    margin-right: 2px;
                    position: relative;
                    background: url('../../../../static/img/icons/star-off.svg') no-repeat center;
                    background-size: 16px 16px;
                    background-color: #F2F5F8;
                }
                .starRating:not(old) > label:before{
                    content: '';
                    display: block;
                    width: 40px;
                    height: 32px;
                    border-radius: 3px;
                    margin-right: 2px;
                    background: url('../../../../static/img/icons/star-on.svg') no-repeat center;
                    background-size: 16px 16px;
                    background-color: #50BBB7;
                    opacity: 0;
                    transition: opacity 0.2s linear;
                }
                .starRating:not(old) > label:hover:before,
                .starRating:not(old) > label:hover ~ label:before,
                .starRating:not(:hover) > :checked ~ label:before{
                    opacity: 1;
                }

                .click-rate{
                    display: block;
                    float: left;
                    padding-top: 7px;
                    padding-left: 24px;
                    font-size: 14px;
                    color: #8FA0AE;
                }
            }

            .input-review {
                margin-bottom: 16px;
                width: 100%;
                height: 40px;
                padding: 0 15px 0 15px;
                border: 1px solid #CBD8E3;
                border-radius: 4px;
                font-size: 14px;
            }
            .textarea-review {
                width: 100%;
                height: 104px;
                padding: 15px;
                border: 1px solid #CBD8E3;
                border-radius: 4px;
                font-size: 14px;
                resize: none;
            }

            .btn-group-recommend {
                .btn-recommend {
                    width: 64px;
                    height: 40px;
                    background: #F1F1F5;
                    border: none;
                    font-weight: 600;
                    font-size: 14px;
                    color: #455C6F;

                    &:first-child {
                        border-radius: 3px 0px 0px 3px;
                    }

                    &:last-child {
                        border-radius: 0px 3px 3px 0px;
                    }
                }
            }
        }
        .review-modal-footer {
            margin-top: 40px;
            padding: 24px;
            border-top: 1px solid #F1F1F5;

            .btn-review {
                height: 40px;
                width: 160px;
                padding: 10px;
                margin: auto;
                display: table;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .review-modal-overlay {
        .review-modal {
            width: 360px;
            height: auto;
            top: 10px;
    
            .review-modal-header {
                padding: 32px 16px 40px 16px;
                .close {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                }
            }

            .review-modal-body {
                padding: 0 16px;

                .input-review,
                .textarea-review {
                    font-size: 16px;
                }
                .textarea-review {
                    height: 75px;
                }
            }

            .review-modal-footer {
                margin-top: 30px;
            }
        }
    }
}

.review-product {
    padding: 60px 0;

    h2 {
        text-align: center;
        font-weight: 600;
        font-size: 36px;
        color: #344654;
    }

    .review {
        margin-top: 40px;
        color: #344654;

        .vue-star-rating {
            display: inline-block;
            .vue-star-rating-rating-text {
                display: none;
            }
            svg.vue-star-rating-star {
                height: 16px;
                width: 16px;
            }
        }

        .fullname {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;

            .name {
                font-weight: 600;
            }
        }

        .title {
            margin-top: 10px;
            font-weight: 600;
            font-size: 18px;
        }

        .description {
            font-size: 14px;
            line-height: 20px;
            color: #455C6F;
        }

        .answer {
            margin-top: 20px;
            padding: 20px;
            background: #F1F1F5;

            .answer-title {
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 10px;
            }

            .answer-info {
                font-size: 14px;
                color: #455C6F;

                span {
                    font-weight: bold;
                }
            }

            .answer-description {
                margin-top: 20px;
                font-size: 14px;
                line-height: 20px;
                color: #455C6F;
            }
        }
    }

    .pagination {
        display: block;
        margin: 40px 0px;
        height: 50px;
        background: #F1F1F5;
        overflow: hidden;

        .left-block {
            padding: 15px 20px;
            float: left;

            p {
                font-size: 14px;
                color: #455C6F;
            }
        }

        .right-btn {
            padding: 9px 10px;
            float: right;

            button {
                width: 36px;
                height: 32px;
                border: none;
                background: #e7e9ed;

                &:first-child > img {
                    transform: rotate(180deg);
                }

                &.btn-disabled {
                    opacity: 0.1;
                }
            }
        }
    }
    
    .no-review {
        padding-top: 40px;
        text-align: center;
        font-size: 18px;
        color: #455C6F;
    }
}

@media screen and (max-width: 1369px) {
    .review-product {
        padding: 30px;
    }
}