.coupon-block {
  float: left;
  width: 336px;

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #344654;
    padding-bottom: 8px;
  }

  input {
    float: left;
    padding: 0 16px 0 16px;
    width: 206px;
    height: 32px;
    border: 1px solid #CBD8E3;
    border-radius: 16px;
    font-size: 14px;
    line-height: 32px;
    &::placeholder {
      color: #C9D0D6;
    }
    @media screen and (max-width: 768px), screen and (max-width: 900px) and (max-height: 551px) {
      width: 100%;
      font-size: 16px;
    }
  }

  .btn.btn-green.btn-shop-coupon {
    width: 120px;
    height: 32px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 0px;
  }
}
