<template>
  <div class="admin-page product">
    <admin-menu class="reviews-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">

        <h1 class="page-title">Customers reviews</h1>

        <div class="admin-main-block">
          <div class="admin-main-block-header">
            <div class="left-block">
              <h3 class="admin-main-title">Reviews List</h3>
            </div>
          </div>
          <div class="admin-filter-case">
            <filter-reviews :checkReviews="checkReviews" @onFilterChange="onFilterChange" />
          </div>
          <div class="admin-table admin-reviews">
            <div class="reviews-list">
              <!-- <review @modalAnswer="modalAnswer"/> -->
              <ul>
                <li v-for="(review, i) in reviews" :key="i" class="review">
                  <div class="review-container">
                    <div class="review-block">
                      <p class="title-review">{{review.title}}</p>
                      <p class="description-review">{{review.description}}</p>
                      <p class="answer" v-if="review.answer_admin">{{review.answer_admin}}</p>
                    </div>
                    <div class="review-rating-block">
                      <p>Rating</p>
                      <rate-stars :stars="review.rating" :info="false" />
                    </div>
                    <div class="review-info-block">
                      <p class="name">{{review.user.first_name + ' ' + review.user.last_name}}</p>
                      <a :href='"mailto:" + review.user.email' class="user-email">{{review.user.email}}</a>
                      <p v-if="review.fake_name" class="name">Fake Name: {{review.fake_name}}<br/></p>
                      <p>Product:</p>
                      <a href="#" @click="openProduct(review.product_name)">{{review.product_name}}</a>
                    </div>
                    <div class="review-status-date">
                      <div class="status-review" :class="review.status.toLowerCase()">
                        {{review.status}}
                      </div>
                      <p class="date">{{review.created_at}}</p>
                    </div>
                  </div>
                  <div class="review-actions">
                    <button type="button" @click="modalEdit(review.id, review.description, review.title, review.rating)">
                      <edit-icon class="font-fix"></edit-icon>
                      Edit Review
                    </button>
                    <button type="button" @click="modalAnswer(review.id)">
                      <edit-icon class="font-fix"></edit-icon>
                      Answer
                    </button>
                    <button type="button" @click="changeStatus('Published', review.id)">
                      <check-icon class="font-fix"></check-icon>
                      Published
                    </button>
                    <button type="button" @click="changeStatus('Rejected', review.id)">
                      <slash-icon class="font-fix"></slash-icon>
                      Rejected
                    </button>
                    <button type="button" @click="deleteReview(review.id)">
                      <trash-2-icon class="font-fix"></trash-2-icon>
                      Delete
                    </button>
                  </div>
                </li>
              </ul>
            </div>

            <modal v-if="answerModal"
                   :currentReview="currentReview"
                   @close="closeModal"/>

            <edit-modal v-if="editModal"
                   :currentEditReview="currentEditReview"
                   @close="closeEditModal"/>
            <pagination
              :total-records="totalRecords"
              :changeTable='changeTable'
            ></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AdminMenu from "../general/AdminMenu";
import AdminHeader from "../general/AdminHeader";
// import Review from './Review';
import FilterReviews from './components/FilterReviews';
import {ChevronDownIcon, CheckIcon, EditIcon, SlashIcon, Trash2Icon} from 'vue-feather-icons';
import RateStars from "../../shop/components/rate-stars";
import Modal from "./components/Modal";
import Pagination from "../general/Pagination";
import router from '../../../../router';
import { nextTick } from 'async';

import EditModal from "./components/EditModal";

export default {
  name: 'ReviewsList',
  components: {
    AdminMenu,
    AdminHeader,
    EditModal,
    Pagination,
    Modal,
    FilterReviews,
    ChevronDownIcon,
    CheckIcon,
    EditIcon,
    SlashIcon,
    Trash2Icon,
    RateStars
  },
  data(){
    return {
      reviews: [],
      options: {
        page: 1,
        limit: 10,
        filter: 'All'
      },
      token: '',
      answerModal: false,
      editModal: false,
      totalRecords: 0,
      currentEditReview: [],
      currentReview: null
    }
  },
  methods: {
    modalAnswer(id) {
      this.currentReview = id;
      this.answerModal = true;
    },
      modalEdit(id, description, title, rating) {
          this.currentEditReview = [ id, description, title, rating];
          this.editModal = true;
      },
    closeModal() {
      this.answerModal = false;
    },
      closeEditModal() {
          this.editModal = false;
      },
    onFilterChange(value) {
      this.options.page = 1;
      this.options.filter = value;
      let data = {...this.options};
      // this.$set(data, 'filter', value);
      this.$set(data, 'token', this.token);
      this.$store.dispatch('getReviewsList', data).then(()=>{
        this.totalRecords = this.$store.getters['getReviews'].count;
      });
    },
    changeTable(obj){
      this.options.page = obj.page;
      this.options.limit = obj.limit;
      let data = {...this.options};
      data.token = this.token;
      this.$store.dispatch('getReviewsList', data).then(()=>{
        this.reviews = this.$store.getters['getReviews'].reviews;
      });
    },
    changeStatus(status, reviewId) {
      let data = {};
      data.status = status;
      data.id = reviewId;
      data.token = this.token;
      this.$store.dispatch('getChangeStatus', data);
    },
    deleteReview(reviewId) {
      let data = {};
      data.id = reviewId;
      data.token = this.token;
      this.$store.dispatch('deleteReview', data);
    },
    openProduct(value){
      let slug = value.toLowerCase().replace(/ /g, "-");
      router.replace(`/shop/product/${slug}`);
    }
  },
  computed: {
    checkReviews(){
      return this.$store.getters['getReviews'].reviews;
    },
    checkFilters() {
      return this.$store.getters['getFiltersReview'];
    },
  },
  watch: {
    checkReviews() {
      this.reviews = this.$store.getters['getReviews'].reviews;
    }
  },
  mounted(){
    this.token = this.$cookie.get('user_token');
    let data = {...this.options};
    data.token = this.token;
    console.log('getReviewsList: ',data)
    this.$store.dispatch('getReviewsList', data).then(()=>{
      this.reviews = this.$store.getters['getReviews'].reviews;
      this.totalRecords = this.$store.getters['getReviews'].count;
    });
  }
}
</script>
