<template>
  <header class="main-shop-header">
    <div class="wrapper">
      <product-search v-if="isOpenSearch"
                      isMobile="true"
                      v-on:searchChange="searchChange"
                      v-on:onOutputSearch="onOutputSearch"
                      :openResult="isSearchResult">
      </product-search>
      <div class="shop-header"  v-if="!isOpenSearch">
        <div class="header-block-left">
          <button class="header-link mobile-link user-menu-btn"
                  @click="openUserMenu">
            <align-justify-icon class="font-fix"></align-justify-icon>
          </button>
          <a class="header-logo" href="/">
            <img src="/static/img/header/logo-client.svg"/>
          </a>
          <a class="header-link" href="/about">About</a>
          <a class="header-link" href="/executive-physical">Executive Physical</a>
          <a class="header-link" href="/services">Services</a>
        </div>
        <div class="header-block-right">
          <a  href="tel:(703) 724-4000" class="header-link">
            <phone-call-icon class="font-fix green"></phone-call-icon>
            <span class="m-l-10">(703) 724-4000</span>
          </a>
          <div class="header-link">
            <button class="btn btn-green  btn-green--smal" type="button" @click="openContactFormModal()">Contact us</button>
          </div>
          <button class="header-link mobile-link" type="button" @click="openSearchBlock">
            <search-icon class="font-fix"></search-icon>
          </button>
          <cart-header :desktopMenu="false"></cart-header>
        </div>
      </div>
      <div v-if="isUserMenuBlock" class="user-mobile-menu-block" @click="closeUserMenu">
        <user-mobile-menu v-show="isUserMenu"></user-mobile-menu>
      </div>
    </div>
    <div v-if="this.$root.openCartMenu.background" class="cart-slider-block">
        <cart-slider v-show="this.$root.openCartMenu.menu"></cart-slider>
    </div>
  </header>
</template>

<script>
  import { SearchIcon, UserIcon} from 'vue-feather-icons';
  import axios from 'axios';
  import {apiURL} from '../../../../config';
  import PhoneCallIcon from "vue-feather-icons/icons/PhoneCallIcon";
  import AlignJustifyIcon from "vue-feather-icons/icons/AlignJustifyIcon";
  import ProductSearch from "../components/product-search.vue";
  import UserMobileMenu from "../components/user-mobile-menu.vue";
  import CartHeader from "../components/cart-header.vue";
  import CartSlider from "../components/cart-slider.vue";

  export default {
    name: "shopHeader",
    components: {
      CartSlider,
      CartHeader,
      UserMobileMenu,
      ProductSearch,
      AlignJustifyIcon,
      PhoneCallIcon,
      SearchIcon, UserIcon
    },
    props: ['hideAllBlock'],
    data: function () {
      return {
        cartCount: null,
        isActiveUser: true,
        isAccountMenu: false,
        isOpenSearch: false,
        isSearchResult: false,
        isUserMenuBlock: false,
        isUserMenu: false,
        isCartSliderBlock: false,
      }
    },
    watch: {
      hideAllBlock: function(newVal){
        if (!newVal) {
          this.isSearchResult = false;
        }
      }
    },
    methods: {
      openContactFormModal: function(){
        this.$router.push({name: 'Contact'});
      },
      openSearchBlock: function(){
        this.isOpenSearch = true;
        this.$root.openShopMenu = false;
      },
      searchChange: function(val){
        this.isSearchResult = (val.length > 0);
        this.$root.openShopMenu = this.isSearchResult;
      },
      onOutputSearch: function () {
        this.isOpenSearch = false;
        this.isSearchResult = false;
        this.$root.openShopMenu = false;
      },
      openUserMenu: function () {
        this.isUserMenuBlock = true;
        this.isUserMenu = true;
        this.$root.openShopMenu = false;
      },
      closeUserMenu: function () {
        this.isUserMenu = false;
        this.$root.openShopMenu = false;
        setTimeout(() => {
          this.isUserMenuBlock = false;
        }, 1000)
      }
    },
  }
</script>

