<template>
    <div :class="{ 'page-scrolled': scrolled}">
      <MainHeader @openpopup="openPopUp" />

      <full-page :options="options" id="fullpage" class="executive-physical flexScroll">

        <section class="section executive-physical__top"><img class="img-mobile" src="/static/img/executive-physical/img_bg_1_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/img_bg_1_tablet.jpg"/>
          <div class="section__info animated slideInLeft">
            <h1 class="title-section executive-physical__title">The Executive Physical Exam</h1>
            <!-- <h2 class="title-section executive-physical__title">The Executive Physical</h2> -->
            <h4 class="executive-physical__subtitle">Not Your Average Physical</h4>
            <div class="executive-physical__info executive-physical__info--top">
              <div>
                <p>At Next Health, our executive physical will</p>
              </div>
              <div class="stepsTop">
                <div>01<br><span>Predict</span></div>
                <div>02<br><span>Prevent</span></div>
                <div>03<br><span>Prolong</span></div>
              </div>
              <div>
                <p>We make a precise roadmap that addresses the root problem of your health condition and reverse your age in a systematic manner.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="section executive-physical__advanced"><img class="img-mobile" src="/static/img/executive-physical/adv-tablet.jpg"/><img class="img-tablet" src="/static/img/executive-physical/adv-tablet.jpg"/>
          <div class="section__info executive-physical__advanced-wrapper">
            <div class="executive-physical__advanced-block animated slideInLeft">
              <h2 class="title-section executive-physical__title">Advanced Diagnosis</h2>
              <h4 class="executive-physical__subtitle">Where the science lab and technology meet</h4>
              <div class="executive-physical__info">
                <p>We use advanced medical testing to give accurate diagnoses of the root cause of a condition, as well as to discover precursors of disease in order to prevent it from occurring. Using cutting-edge treatment and technology, we are able to reverse certain diseases. We use technology that most doctors are not aware of.</p>
                <p>We have successfully treated fortune 500 leaders, high-level executives, professional athletes, elite professionals and patients with complex problems which numerous specialists had failed to solve.</p>
              </div>
            </div>
            <!--.executive-physical__advanced-block.animated-->
            <!--  .executive-physical__advanced-block-desctop-->
            <!--    +image('executive-physical','graph-empty.svg')-->
            <!--    .executive-physical__line-schedule-->
            <!--      span.line-->
            <!--      span.before-->
            <!--      span.after-->
            <!--    .executive-physical__schedule-text.executive-physical__schedule-text--top-->
            <!--      | Next Health Detects & Treats Disease - 90%-->
            <!--    .executive-physical__schedule-text.executive-physical__schedule-text--bottom-->
            <!--      | Normal Doctors Detect & Treat Disease - 20%-->
            <!--  .executive-physical__advanced-block-mobile-->
            <!--    +image('executive-physical','graph.svg')-->
          </div>
        </section>
        <section class="section executive-physical__getToNow"><img class="img-mobile" src="/static/img/executive-physical/img_bg_2_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/img_bg_2_tablet.jpg"/>
          <div class="section__info">
            <h2 class="title-section executive-physical__title">We Get to Know You</h2>
            <h4 class="executive-physical__subtitle">Listening is our secret</h4>
            <div class="executive-physical__info executive-physical__info--getToNow">
              <p>Unlike other doctors, we love to spend time with you. We do not rush you. We take the time to listen and understand. Our consultations last for over an hour!</p>
            </div>
          </div>
        </section>
        <section class="section executive-physical__achive"><img class="img-mobile" src="/static/img/executive-physical/img_bg_3_mobile.jpg"/><img class="img-tablet" src="/static/img/executive-physical/img_bg_3_tablet.jpg"/>
          <div class="section__info">
            <h2 class="title-section executive-physical__title">Achieve the Unimaginable</h2>
            <h4 class="executive-physical__subtitle">Live longer and age slower. Add years to your life!</h4>
            <div class="executive-physical__info">
              <p>Find out your biological age versus your chronological age with telomere testing. We use the most accurate telomere tests to see how well your body is aging, and to predict disease so we can prevent it.</p>
              <p>Since 2001 Next Health has been pioneering programs to reverse aging, resulting in better health and lower incidence of disease.</p>
            </div>
          </div>
        </section>
        <section class="section executive-physical__getPersonal"><img class="img-mobile" src="/static/img/executive-physical/img_bg_4_tablet.jpg"/><img class="img-tablet" src="/static/img/executive-physical/img_bg_4_tablet.jpg"/>
          <div class="section__info">
            <h2 class="title-section executive-physical__title">We Get Personal</h2>
            <h4 class="executive-physical__subtitle">Get personalized health plans that fits your needs</h4>
            <div class="executive-physical__info">
              <p>Through the assessment of your biological age, nutrient deficiencies, inflammatory markers, total non-radiation body scan, chemical and/or toxic burden, we create a personalized plan for you to achieve optimal health and reverse aging.</p>
            </div>
          </div>
        </section>
        <section class="section executive-physical__steps">
          <div class="executive-physical__step-bg-1 step-bg" v-bind:class="{'active-picture':isActive1}"><img v-bind:class="{'active-picture':isActive1}" class="img-mobile" src="/static/img/executive-physical/img_bg_5_mobile.jpg"/><img v-bind:class="{'active-picture':isActive1}" class="img-tablet" src="/static/img/executive-physical/img_bg_5_tablet.jpg"/>
          </div>
          <div class="executive-physical__step-bg-2 step-bg" v-bind:class="{'active-picture':isActive2}"><img v-bind:class="{'active-picture':isActive2}" class="img-mobile" src="/static/img/executive-physical/img_bg_6_mobile.jpg"/><img v-bind:class="{'active-picture':isActive2}" class="img-tablet" src="/static/img/executive-physical/img_bg_6_tablet.jpg"/>
          </div>
          <div class="executive-physical__step-bg-3 step-bg" v-bind:class="{'active-picture':isActive3}"><img v-bind:class="{'active-picture':isActive3}" class="img-mobile" src="/static/img/executive-physical/img_bg_7_mobile.jpg"/><img v-bind:class="{'active-picture':isActive3}" class="img-tablet" src="/static/img/executive-physical/img_bg_7_tablet.jpg"/>
          </div>
          <div class="section__info">
          <h2 class="title-section executive-physical__title">Our 3 Step Approach</h2>
            <div class="executive-physical__info executive-physical__info--steps desctop">

              <div class="executive-physical__step animated slideInLeft" v-on:click="isActive1 = true, isActive2 = false, isActive3 = false" v-bind:class="{'active': isActive1}" data-step="1">
                <p class="executive-physical__step-num">01 Step</p>
                <h3 class="executive-physical__step-title">Collect Data</h3>
                <div class="executive-physical__step-line"></div>
                <p class="executive-physical__step-text">Using advanced total body examination tools, testing and blood work</p>
              </div>
              <div class="executive-physical__step animated slideInLeft" v-on:click="isActive1 = false, isActive2 = true, isActive3 = false" v-bind:class="{'active': isActive2}" data-step="2">
                <p class="executive-physical__step-num">02 Step</p>
                <h3 class="executive-physical__step-title">Create Plan</h3>
                <div class="executive-physical__step-line"></div>
                <p class="executive-physical__step-text">Personalized treatment plan. Supplements included. Advanced therapies included for Gold & Platinum packages.</p>
              </div>
              <div class="executive-physical__step animated slideInLeft" v-on:click="isActive1 = false, isActive2 = false, isActive3 = true" v-bind:class="{'active': isActive3}" data-step="3">
                <p class="executive-physical__step-num">03 Step</p>
                <h3 class="executive-physical__step-title">Optimize Plan</h3>
                <div class="executive-physical__step-line"></div>
                <p class="executive-physical__step-text">Re-evaluate and adjust plan based on results</p>
              </div>
            </div>

            <swiper :options="swiperOption" class="show-mobile">
              <swiper-slide><div class="executive-physical__step animated slideInLeft active"  data-step="1">
                <p class="executive-physical__step-num">01 Step</p>
                <h3 class="executive-physical__step-title">Collect Data</h3>
                <div class="executive-physical__step-line"></div>
                <p class="executive-physical__step-text">Using advanced total body examination tools, testing and blood work</p>
              </div></swiper-slide>
              <swiper-slide>
                <div class="executive-physical__step animated slideInLeft active" data-step="2">
                  <p class="executive-physical__step-num">02 Step</p>
                  <h3 class="executive-physical__step-title">Create Plan</h3>
                  <div class="executive-physical__step-line"></div>
                  <p class="executive-physical__step-text">Personalized treatment plan. Supplements included. Advanced therapies included for Gold & Platinum packages.</p>
                </div>
              </swiper-slide>
              <swiper-slide><div class="executive-physical__step animated slideInLeft active" data-step="3">
                <p class="executive-physical__step-num">03 Step</p>
                <h3 class="executive-physical__step-title">Optimize Plan</h3>
                <div class="executive-physical__step-line"></div>
                <p class="executive-physical__step-text">Re-evaluate and adjust plan based on results</p>
              </div>

              </swiper-slide>

              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </section>
        <section class="section executive-physical__packages">
          <div class="section__info">
            <h2 class="title-section executive-physical__title">Choose from the 3 Different Packages</h2>
            <div class="executive-physical__packages-wrapper">
              <div class="executive-physical__package animated" id="platinum">
                <div class="executive-physical__package-img"><img src="/static/img/executive-physical/platinum.jpg"/>
                </div>
                <h4 class="executive-physical__package-title">Platinum (Optimal)</h4>
                <p class="executive-physical__package-info">World’s most advanced physical with Telomere and Genetics testing</p><a class="executive-physical__package-link hide-mobile" @click="openPlatinum" href="#" data-package="platinum">Learn More</a><a class="executive-physical__package-link show-mobile" @click="openPlatinumMobile" href="#" data-package="platinum">Learn More</a>
              </div>
              <div class="executive-physical__package animated" id="gold">
                <div class="executive-physical__package-img"><img src="/static/img/executive-physical/gold.jpg"/>
                </div>
                <h4 class="executive-physical__package-title">Gold (Standard)</h4>
                <p class="executive-physical__package-info">Advanced physical focusing on total body health</p><a class="executive-physical__package-link hide-mobile"  @click="openGold" href="#" data-package="gold">Learn More</a><a  class="executive-physical__package-link show-mobile" @click="openGoldMobile" href="#" data-package="gold">Learn More</a>

              </div>
              <div class="executive-physical__package animated" id="silver">
                <div class="executive-physical__package-img"><img src="/static/img/executive-physical/silver.jpg"/>
                </div>
                <h4 class="executive-physical__package-title">Silver (Basic)</h4>
                <p class="executive-physical__package-info">High level physical for well being</p><a class="executive-physical__package-link hide-mobile" @click="openSilver" href="#" data-package="silver">Learn More</a><a class="executive-physical__package-link show-mobile" @click="openSilverMobile" href="#" data-package="silver">Learn More</a>
              </div>
            </div>
          </div>
        </section>

        <AppFooter />
      <!--</section>-->
      </full-page>
      <transition name="fade">
      <Gold v-if="isGoldOpen" @closed="isGoldClose"></Gold>
      <Silver v-if="isSilverOpen" @closed="isSilverClose"></Silver>
      <Platinum v-if="isPlatinumOpen" @closed="isPlatinumClose"></Platinum>
      <gold-mobile v-if="isGoldMobileOpen" @closed="isGoldMobileClose"></gold-mobile>
      <platinum-mobile v-if="isPlatinumMobileOpen" @closed="isPlatinumMobileClose"></platinum-mobile>
      <silver-mobile v-if="isSilverMobileOpen" @closed="isSilverMobileClose"></silver-mobile>
      <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
      </transition>
    </div>
</template>
<script>
  import MainHeader from '../general/MainHeader';
  import AppFooter from '../general/Footer';
  import Gold from '../modals/Gold'
  import Silver from "../modals/Silver";
  import Platinum from "../modals/Platinum";
  import GoldMobile from "../modals/mobile/GoldMobile";
  import PlatinumMobile from "../modals/mobile/PlatinumMobile";
  import SilverMobile from "../modals/mobile/SilverMobile";
  import ContactUs from "../modals/ContactUs";

export default {
    name: 'executive-physical',
  data() {
    return {
      options: {
        afterLoad: this.afterLoad,
        scrollBar: false,
        menu: '#menu',
        navigation: true,
        anchors:['1', '2', '3', '4', '5', '6', '7','8'],
        navigationTooltips: ['The Executive Physical', 'Advanced Diagnosis', 'We Get to Know You', 'Achieve the Unimaginable', 'We Get Personal', 'Our 3 Step Approach', 'Choose from the 3 Different Packages'],
        scrollingSpeed: 1500,
          scrollOverflow: false,
          responsiveWidth: 900,
          responsiveHeight: 500,

    },
        swiperOption: {
            slidesPerView: 1,
            spaceBetween: 30,
            slidesPerGroup: 1,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            }},
      isActive1: true,
      isActive2: false,
      isActive3: false,
        isGoldOpen: false,
        isGoldMobileOpen: false,
        isSilverOpen: false,
        isSilverMobileOpen: false,
        isPlatinumOpen: false,
        isPlatinumMobileOpen: false,
        isPopUpOpen: false,
      scrolled: false,
      }
    },
    mounted(){
      let menu = document.getElementById('fp-nav');
      // let elementList = document.querySelectorAll('fp-nav');
      console.log('section',menu);
    },
    methods: {
        openGold() {
            this.isGoldOpen = !this.isGoldOpen;
            console.log('click');
            fullpage_api.setAllowScrolling(false);
        },
        openGoldMobile() {
            this.isGoldMobileOpen = !this.isGoldMobileOpen;
            console.log('click');
            fullpage_api.setAllowScrolling(false);
        },
        openSilver() {
            this.isSilverOpen = !this.isSilverOpen;
            console.log('click2');
            fullpage_api.setAllowScrolling(false);
        },
        openSilverMobile() {
            this.isSilverMobileOpen = !this.isSilverMobileOpen;
            console.log('click2');
            fullpage_api.setAllowScrolling(false);
        },
        openPlatinum() {
            this.isPlatinumOpen = !this.isPlatinumOpen;
            console.log('click2');
            fullpage_api.setAllowScrolling(false);
        },
        openPlatinumMobile() {
            this.isPlatinumMobileOpen = !this.isPlatinumMobileOpen;
            console.log('click2');
            fullpage_api.setAllowScrolling(false);
        },

        isGoldClose (){
            this.isGoldOpen = false;
        },
        isGoldMobileClose (){
            this.isGoldMobileOpen = false;
        },
        isSilverClose (){
            this.isSilverOpen = false;
        },
        isSilverMobileClose (){
            this.isSilverMobileOpen = false;
        },
        isPlatinumClose (){
            this.isPlatinumOpen = false;
        },
        isPlatinumMobileClose (){
            this.isPlatinumMobileOpen = false;
        },
        openPopUp() {
            this.isPopUpOpen = true;
        },
        closePopUp() {
            this.isPopUpOpen = false;
        },
      afterLoad(anchorLink, index) {
        this.scrolled = index.isLast;
      },
    toggleNavigation() {
      this.options.navigation = !this.options.navigation
    },
    toggleScrollbar() {
      console.log('Changing scrollbar...')
      this.options.scrollBar = !this.options.scrollBar
    }
  },
  components: {
    ContactUs,
    SilverMobile,
    PlatinumMobile,
    GoldMobile,
    Platinum,
    MainHeader,
    AppFooter,
    Gold,
    Silver
  },
  metaInfo: {
      title: 'Best Executive Physical Examination - Advanced Testing | NextHealth.org',
      meta: [
        { vmid: 'description', name: 'description', content: 'One way to prevent future health problems, and detect cancer is with our executive physical examination. A thorough 6 week program of advanced medical testing, and medical diagnosis.' },
        { vmid: 'name', name: 'robots', content: 'index, nofollow' },
      ],
  }
}
</script>
