.admin-category{
    .admin-main-section {
     .cat-header {

       .btn{
         padding: 10px 15px;
         .font-fix {
           vertical-align: text-bottom;
           margin-right: 4px;
         }
         span{
           font-size: 14px;
           line-height: 16px;
         }
       }

     }

    .cat-blocks {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-right: -10px;
      margin-left: -10px;


      .cat-block {
        background: $color-white;
        border-radius: 6px;
        box-shadow: 0 4px 30px rgba(5, 41, 72, 0.07);
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 24px;
        margin-bottom: 30px;
        margin-right: 10px;
        margin-left: 10px;
        flex-basis: calc(50% - 20px);
        @media screen and (max-width: 950px){
          flex-basis: calc(100% - 20px);
        }
        .cat-name {
          flex-grow: 4;
          font-family: $font-lato;
          font-weight: 600;
          font-style: normal;
          line-height: 22px;
          font-size: 16px;
          color: #111111;
        }
        .cat-quantity {
          flex-grow: 2;
          font-family: $font-lato;
          font-style: normal;
          font-weight: normal;
          line-height: 18px;
          font-size: 14px;
          text-align: right;
          color: #60676E;
        }
        .cat-buttons{
          width: 100px;
          text-align: right;
        }
      }
    }
    }


}
