.coupons-page {
  .coup-status {
    line-height: 18px;
    font-size: 14px;
    color: $color-white;
    padding: 3px 6px;
    &.expired	 {
      background: #FE0341;
    }
    &.active {
      background: #15D06B;
    }
  }
  .add-coupon {
    margin-left: 8px;
    border: none;
  }
  .coupon-popup {
    width: 400px;
  }
}
.filter-block .filter-block--option.filter-coupons:last-child {
  width: 88px;
}