.pagination-filter {
  display: flex;
  align-items: center;
  margin: 24px 24px 0;
  p {
    font-weight: normal;
    line-height: 18px;
    font-size: 14px;
    color: #60676E;
    padding: 0 5px;
  }
  .pages {
    display: flex;
    height: 30px;

    button {
      outline: none;
      background: #E1E7EC;
      padding: 8px 10px;
      margin: 0;
      border: 1px;
      cursor: pointer;
      .font-fix {
        width: 12px;
        height: 12px;
        vertical-align: initial;
      }

    }
    .left {
      border-radius: 20px 0px 0px 20px;
    }
    .right {
      border-radius: 0px 20px 20px 0px;
    }
    .disabled {
      opacity: 0.4;
    }
    input {
      border: 1px solid #D7E4F0;
      box-sizing: border-box;
      width: 45px;
      text-align: center;
      outline: none;
      font-family: $font-lato;
      font-size: 14px;
      line-height: 20px;
      color: #60686E;
    }
  }
  .item-page{
    flex-basis: 75px;
    width: 100%;
    position: relative;
    font-family: $font-lato;
    font-size: 14px;
    line-height: 20px;
    &:hover{
      cursor: pointer;
    }

    .selected-item{
      border: 1px solid #D7E4F0;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 5px 10px;
      display: flex;
      justify-content : space-between;
      align-items : center;
      .icon{
        color: $color-gray-1;
      }
    }

    .list-item{
      position: absolute;
      display: none;
      right: 0;
      border: 1px solid $color-blue-3;
      border-radius: 3px;
      width: 75px;
      z-index: 10;
      background: $color-white;
      box-shadow: 2px 2px 30px rgba(201, 208,214, 0.5);
      padding: 0;
      &>div{
        padding: 0 10px;
        font-size: 14px;
        line-height: 20px;
        &:hover{
          cursor: pointer;
          background: $color-gray-2;
        }
      }
    }

    &.active{
      .selected-item{
        border-color: $color-blue-4;
        .icon{
          color: $color-black-2;
        }
      }
      .list-item{
        display: block;
      }
    }
  }
}
