.sub-page {
  .sub-status {
    line-height: 18px;
    font-size: 14px;
    color: $color-white;
    padding: 3px 6px;
    &.active {
      background: #15D06B;
    }
    &.passive {
      background: #FFC700;
    }
    &.canceled {
      background: #C6CFDA;
    }
    &.passed-due {
      background: #FE0341;
    }

  }
}
