
$color-black-1: #111;
$color-black-2: #60686E;
$color-black-3: #60676E;
$color-black-4: #222222;

$color-blue-1: #1C2B38;
$color-blue-2: #7A8CA5;
$color-blue-3: #D7E4F0;
$color-blue-4: #0CA0CF;

$color-gray-1: #C9D0D6;
$color-gray-2: #E1E7EC;
$color-gray-3: #CDD6DE;
$color-gray-4: #BAC4CD;

$color-green-1: #15CBC4;
$color-green-2: #10A49E;
$color-green-3: #138F8A;
$color-green-4: rgb(163,234,230);

$color-error-block: #FE0341;
$color-error-text: #E73D4A;
$color-error-hover: #84242b;
$color-successfully-block: #52CE5F;


$color-white: #fff;

$transition-speed-1: 0.7s;

html {
  overflow: auto;
  background: #F2F5F8;
  height: 100%;
  min-height: 100%;
}
body {

  height: 100%;
  min-height: 100%;
}
#app, #admin{

  min-height: 100%;
  height: 100%;
}

#admin {
  font-family: $font-lato !important;
}

#admin {
  @import "general";
  @import "media";
  @import "menu";;
  @import "prod";
  @import "category";
  @import "order";
  @import "search";
  @import "pagination";
  @import "popup";
  @import "subscription";
  @import "coupons";
  @import "reviews";
}
