<template>
  <div class="btn-add-block">
    <button v-if="isShop" class="btn btn-green btn-category" @click="addProduct">Add to Cart</button>
    <button v-if="isRegular"
            type="button"
            class="btn btn-green"
            v-bind:class="{'btn-green--square': isModal}"
            @click="addProduct">Add to Cart</button>
    <button v-else-if="isSubscribe"
            type="button"
            class="btn btn-green"
            v-bind:class="{'btn-green--square': isModal}"
            @click="addPlan">Subscribe and save</button>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '../../../../config';

  export default {
    name: "add-to-cart",
    props: ['productId', 'quantity', 'isDeliveryPeriods', 'showDelivery', 'planId', 'isShop', 'isModal'],
    data() {
      return{
        product: {
          id: this.productId,
          quantity: 1,
          planId: null,
        },
        isRegular: false,
        isSubscribe: false,
      }
    },
    watch: {
      productId: function(newVal,oldVal){
        this.product.id = newVal;
      },
      planId: function (id) {
        if (id) {
          this.product.planId = id;
        }
      },
      quantity: function(newVal,oldVal){
        this.product.quantity = newVal;
      },
      isDeliveryPeriods: function(newVal, oldVal) {
        if (newVal && this.showDelivery == 'show') {
          this.isSubscribe = true;
          this.isRegular=false;
        } else {
          this.isRegular = true;
          this.isSubscribe = false;
        }
      },
      showDelivery: function(newVal, oldVal) {
        if (newVal == 'show') {
          this.isSubscribe = true;
          this.isRegular=false;
        } else {
          this.isRegular = true;
          this.isSubscribe = false;
        }
      }
    },
    methods: {
      getCartToken: function(callback) {
        if (this.$cookie.get('user_token')) {
          axios({
            method: 'get',
            url: apiURL + '/api/user/assign-cart',
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
          })
            .then(response => {
              let cart = response.data;
              this.$cookie.set('cart_token', cart.token);
              callback(cart.token);
            })
        } else {
          axios({
            method: 'post',
            url: apiURL + '/api/public/cart',
          })
            .then(response => {
              let cart = response.data;
              this.$cookie.set('cart_token', cart.token);
              this.$cookie.set('cart_guest', true);
              callback(cart.token);
            })
        }
      },
      addPlan: function() {
        let token = this.$cookie.get('cart_token');
        if (!token) {
          this.getCartToken(res => {
            this.planProduct(res);
          })
        } else {
          this.planProduct(token);
        }

      },
      planProduct: function(token) {
        axios({
          method: 'put',
          url: apiURL + '/api/public/cart/'+token+'/plan/' + this.planId,
        })
          .then(response => {
            let cart = response.data;
            this.$cookie.set('cart_token', cart.token);
            this.$root.cartCount = cart.count;
            this.$root.openCartMenu.background = true;
            this.$root.openCartMenu.menu = true;
            this.$emit('addToCart');
          })
      },
      addProduct: function() {
        let token = this.$cookie.get('cart_token');
        if (!token) {
          this.getCartToken(res => {
            this.shopProduct(res);
          })
        } else {
          this.shopProduct(token);
        }
      },
      shopProduct: function(token) {
        axios({
          method: 'put',
          url: apiURL + '/api/public/cart/'+token+'/shop-product',
          data: {
            product_id: this.product.id,
            quantity: this.product.quantity,
          }
        })
          .then(response => {
            let cart = response.data;
            this.$cookie.set('cart_token', cart.token);
            this.$root.cartCount = cart.count;
            this.$root.openCartMenu.background = true;
            this.$root.openCartMenu.menu = true;
            this.$emit('addToCart',this.product.id);
          })
      }
    }
  }
</script>

