<template>

      <button  type="button" class="btn">{{title}}</button>

</template>

<script>
    export default {
        name: "button",
      props: ['title']
    }
</script>

<style scoped>

</style>
