<template>
  <div v-if="isDesktopBlock" class="cart-block">
    <a @click="openCartSlider" class="menu-link">Cart <shopping-cart-icon class="font-fix"></shopping-cart-icon></a>
    <span v-if="this.$root.cartCount > 0" class="cart-count">{{ this.$root.cartCount }}</span>
  </div>

  <a v-else="!isDesktopBlock" class="header-link mobile-link cart" @click="openCartSlider">
    <shopping-cart-icon class="font-fix"></shopping-cart-icon>
    <span v-if="this.$root.cartCount > 0" class="cart-count">{{ this.$root.cartCount }}</span>
  </a>
</template>

<script>
  import ShoppingCartIcon from "vue-feather-icons/icons/ShoppingCartIcon";

  export default {
    name: "cart-header",
    components: {ShoppingCartIcon},
    props: ['desktopMenu'],
    data() {
      return {
        isDesktopBlock: this.desktopMenu,
      }
    },
    methods: {
      openCartSlider: function(){
        this.$root.openCartMenu.background = true;
        this.$root.openCartMenu.menu = true;

      }
    }
  }
</script>

<style scoped>

</style>
