<template>
  <div class="page-loader"><i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i></div>
</template>

<script>

  export default {
    name: "loader",
    components: {},

    data() {
      return {}
    },
  }
</script>

