<template>
  <div class="popup-overlay media-popup">
    <div class="popup">
      <div class="popup-header">
        <span class="close"><x-icon class="font-fix" @click="onClose"></x-icon></span>
      </div>

      <div v-if="showVideo" class="popup-body">
        <iframe :src="mediaSrc" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <div v-if="!showVideo" class="popup-body">
        <img :src="mediaSrc"/>
      </div>

    </div>
  </div>
</template>

<script>
  import {XIcon} from 'vue-feather-icons';

  export default {
    name: "media-popup",
    components: {XIcon},
    props: ['isVideo', 'src'],
    data() {
      return {
        showVideo: this.isVideo,
        mediaSrc: this.src,
      }
    },
    watch: {
      isVideo: function (newVal) {
        this.showVideo = newVal;
      },
      src: function (newVal) {
        this.mediaSrc = newVal;
      }
    },
    methods: {
      onClose: function () {
        this.$emit('close');
      }
    },
    mounted() {
    }
  }
</script>

<style scoped>

</style>
