<template>
  <star-rating :rating="stars" :read-only="true" :increment="0.5" :star-size="24"
               active-color="#50BBB7" inactive-color="#E8E7EF" :padding="3"></star-rating>
</template>

<script>
  import StarRating from 'vue-star-rating'

  export default {
    name: "rate-stars",
    props: ['stars'],
    components: {StarRating}
  }
</script>

<style scoped>

</style>
