<template>
  <div class="account-info">
    <div class="account-info--header">
      <div class="title">
        <button v-if="isCheckoutPage"
                @click="onCancel"
                class="btn-shipping-back"><arrow-left-icon class="font-fix"></arrow-left-icon></button>
        <button v-if="isCheckoutPage && isAddShippingAddress"
                @click="cancelShippingForm"
                class="btn-shipping-back"><arrow-left-icon class="font-fix"></arrow-left-icon></button>
        {{ titlePage }}
      </div>
    </div>
    <div class="account-info--body items" v-if="!isAddShippingAddress">
      <div class="shipping-item"
           v-for="shipping in shippingList"
           @click="onSelect(shipping.id)">
           <!--:class="{'shipping-selected': ((shipping.isSelect && isCheckoutPage) || shipping.make_default && !isCheckoutPage)}">-->
        <!--<div v-if="shipping.make_default && !isCheckoutPage" class="label-default">-->
          <!--<check-circle-icon></check-circle-icon>-->
        <!--</div>-->
        <shipping-address-info isEdit="true"
                               :isDelete="!isCheckoutPage"
                               v-on:editShippingAddress="onEditShippingAddress"
                               v-on:deleteShippingAddress="onDeleteShippingAddress"
                               :isDefault="shipping.make_default"
                               :shippingAddress="shipping"></shipping-address-info>
      </div>

    </div>

    <button type="button"
            class="btn btn-green add-new-address"
            v-if="!isAddShippingAddress"
            @click="onAddNewShipping">Add a new address</button>

    <div class="shipping-list--body" v-if="isAddShippingAddress">
      <shipping-address-form
        isCancelButton="true"
        :shippingId="editShippingId"
        v-on:cancelShippingInfo="cancelShippingForm"
        v-on:saveShippingInfo="saveShippingForm"></shipping-address-form>
    </div>
    <div v-if="isCheckoutPage && !isAddShippingAddress" class="checkout-button-block">
      <button type="button" class="btn btn-green btn-green--square" @click="onSaveSelected">Save</button>
      <button type="button" class="btn btn-grey btn-grey--square m-l-10" @click="onCancel">Cancel</button>
    </div>
  </div>
</template>

<script>
  import ShippingAddressInfo from "./shipping-address-info";
  import ShippingAddressForm from "./shipping-address-form";
  import CheckCircleIcon from "vue-feather-icons/icons/CheckCircleIcon";

  import axios from 'axios';
  import {apiURL} from '../../../../config';
  import ArrowLeftIcon from "vue-feather-icons/icons/ArrowLeftIcon";

  export default {
    name: "shipping-addrress-list",
    components: {
      ArrowLeftIcon,
      CheckCircleIcon,
      ShippingAddressForm,
      ShippingAddressInfo},
    props: ['title', 'isCheckoutPage', 'haveAddNewAddress'],
    data() {
      return {
        titlePage: (this.title) ? this.title : '',
        shippingList: [],
        isAddShippingAddress: false,
        editShippingId: null,
      }
    },
    watch: {
      haveAddNewAddress: function (val) {
        this.getShippingAddress();
      }
    },
    methods: {
      getShippingAddress: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/user/address/list',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.shippingList = response.data;
            if (this.isCheckoutPage) {
              let selectedShipping = this.$cookie.get('shipping_id');
              if (selectedShipping) {
                this.shippingList.forEach(item => {
                  item.isSelect = (item.id == selectedShipping);
                });
              }
            }
          })
          .catch(error => {

          });
      },
      onAddNewShipping: function () {
        this.titlePage = 'Add address';
        this.editShippingId = null;
        this.isAddShippingAddress = true;
      },
      onEditShippingAddress: function (id) {
        this.titlePage = 'Edit address';
        this.editShippingId = id;
        this.isAddShippingAddress = true;
      },
      onDeleteShippingAddress: function () {
        this.getShippingAddress();
      },
      onCancel: function() {
        this.$cookie.delete('shipping_id_temp');
        this.$emit('cancelSelectShippingAddress');
      },
      onSelect: function (id) {
        if (this.isCheckoutPage) {
          if (this.$cookie.get('shipping_id_temp')) {
            this.$cookie.delete('shipping_id_temp');
          }
          let list = [...this.shippingList];
          list.forEach(item => {
            item.isSelect = (item.id == id);
          });
          this.$cookie.set('shipping_id_temp', id);
          this.shippingList = [...list];
        }
      },
      onSaveSelected: function () {
        let newShippingId = this.$cookie.get('shipping_id_temp');
        this.$cookie.delete('shipping_id_temp');
        this.$cookie.set('shipping_id', newShippingId);
        this.$emit('saveSelectShippingAddress');
      },
      cancelShippingForm: function () {
        window.scrollTo(0,0);
        this.titlePage = this.title;
        this.onSelect(this.$cookie.get('shipping_id'));
        this.isAddShippingAddress = false;
      },
      saveShippingForm: function (id) {
        this.titlePage = this.title;
        this.isAddShippingAddress = false;
        if (this.isCheckoutPage) {
          this.$cookie.set('shipping_id', id);
          this.$cookie.set('shipping_id_temp', id);
        }
        this.getShippingAddress();
      }
    },

    mounted() {
      this.getShippingAddress();
    }
  }
</script>

<style scoped>

</style>
