<template>
  <div class="block-info">
    <input type="hidden" v-model="shippingPersonalInfo">
    <div class="client-input-group">
      <label class="input-label">First name</label>
      <div class="input-block">
        <input
          class="input-form"
          type="text"
          placeholder="First name"
          v-model="shipping.first_name"
          @change="validateFirstName"
          :class="{'error-input': first_name_error}"
        >
        <p v-if="first_name_error" class="error-text">The field is not valid.</p>
      </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">Last name</label>
      <div class="input-block">
        <input
          class="input-form"
          type="text"
          placeholder="Last name"
          v-model="shipping.last_name"
          @change="validateLastName"
          :class="{'error-input': last_name_error}"
        >
        <p v-if="last_name_error" class="error-text">The field is not valid.</p>
      </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">Address</label>
      <div class="input-block">
        <input
          type="hidden"
          v-model="shipping.address"
          @change="address_error = (shipping.address == '')"
        >
        <vue-google-autocomplete
          ref="address"
          id="map"
          country="US"
          type="text"
          class="input-form"
          placeholder="House number and street name"
          @placechanged="getAddressData"
          @inputChange="getCustomAddress"
          @blur="updatePlaceChange"
        ></vue-google-autocomplete>
        <p v-if="address_error" class="error-text">This field is required.</p>
      </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">City</label>
      <div class="input-block">
        <input
          class="input-form"
          type="text"
          placeholder="City"
          v-model="shipping.city"
          @change="validateCity"
          :class="{'error-input': city_error}"
        >
        <p v-if="city_error" class="error-text">The field is not valid.</p>
      </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">Country</label>
      <div class="input-block">
        <input
          class="input-form"
          type="text"
          placeholder="Country"
          disabled="disabled"
          v-model="shipping.country"
        >
      </div>
    </div>
    <div class="client-input-group client-double-input-group">
      <label class="input-label">State, Postal code</label>
      <div class="double-input input-block">
        <input
          class="input-form"
          type="text"
          name="state"
          placeholder="State"
          v-model="shipping.state"
          @keyup="validateState"
          :class="{'error-input': state_error}"
        >
        <p v-if="state_error" class="error-text">State must be 2 characters.</p>
      </div>
      <div class="double-input input-block" style="padding-left: 10px;">
        <input
          class="input-form"
          placeholder="ZIP"
          name="zip"
          v-model="shipping.zip"
          @change="validateZip"
          :class="{'error-input': zip_error}"
        >
        <p v-if="zip_error" class="error-text">The field is not valid.</p>
      </div>
    </div>
    <div class="client-input-group">
      <label class="input-label">Phone number</label>
      <div class="input-block">
        <phone-input name="phone"
          @input="shipping.phone = $event.target.value"
          :value="shipping.phone"

          @keyup="validatePhone"
          maxlength="10"
          placeholder="XXXXXXXXXX"
          :class="{'error-input' : phone_error}" />
        <p v-if="phone_error" class="error-text">The field is not valid.</p>
      </div>
    </div>
    <div class="client-input-group">
      <div class="shipping-radio">
        <label class="radio">
          <input type="checkbox" v-model="shipping.make_default">
          <div class="radio__text">Make this my default address</div>
        </label>
      </div>
    </div>

    <div class="client-input-group">
      <div class="shipping-radio">
        <label class="radio">
          <input type="checkbox" v-model="isBillingDifferent" @change="onChangeBilling">
          <div class="radio__text">Billing address is different</div>
        </label>
      </div>
    </div>
    <div v-if="isBillingDifferent">
      <p class="title-billing-address">Billing address</p>
      <div class="client-input-group">
        <label class="input-label">First name</label>
        <div class="input-block">
          <input
            class="input-form"
            type="text"
            placeholder="First name"
            v-model="shipping.billing_first_name"
            @change="validateFirstName"
            :class="{'error-input': billing_first_name_error}"
          >
          <p v-if="billing_first_name_error" class="error-text">The field is not valid.</p>
        </div>
      </div>
      <div class="client-input-group">
        <label class="input-label">Last name</label>
        <div class="input-block">
          <input
            class="input-form"
            type="text"
            placeholder="Last name"
            v-model="shipping.billing_last_name"
            @change="validateLastName"
            :class="{'error-input': billing_last_name_error}"
          >
          <p v-if="billing_last_name_error" class="error-text">The field is not valid.</p>
        </div>
      </div>
      <div class="client-input-group">
        <label class="input-label">Address</label>
        <div class="input-block">
          <input
            type="hidden"
            v-model="shipping.billing_address"
            @change="billing_address_error = (shipping.billing_address == '')"
          >
          <vue-google-autocomplete
            ref="billing_address"
            id="billing_map"
            country="US"
            type="text"
            class="input-form"
            placeholder="House number and street name"
            @placechanged="getBillingAddressData"
            @inputChange="getBillingCustomAddress"
            @blur="updateBillinfPlaceChange"
          ></vue-google-autocomplete>
          <p v-if="billing_address_error" class="error-text">This field is required.</p>
        </div>
      </div>
      <div class="client-input-group">
        <label class="input-label">City</label>
        <div class="input-block">
          <input
            class="input-form"
            type="text"
            placeholder="City"
            v-model="shipping.billing_city"
            @change="validateCity"
            :class="{'error-input': billing_city_error}"
          >
          <p v-if="billing_city_error" class="error-text">The field is not valid.</p>
        </div>
      </div>
      <div class="client-input-group">
        <label class="input-label">Country</label>
        <div class="input-block">
          <input
            class="input-form"
            type="text"
            name="country"
            placeholder="Country"
            disabled="disabled"
            v-model="shipping.billing_country"
          >
        </div>
      </div>
      <div class="client-input-group client-double-input-group">
        <label class="input-label">State, Postal code</label>
        <div class="double-input input-block">
          <input
            class="input-form"
            type="text"
            name="state"
            placeholder="State"
            v-model="shipping.billing_state"
            @keyup="validateState"
            :class="{'error-input': billing_state_error}"
          >
          <p v-if="billing_state_error" class="error-text">State must be 2 characters.</p>
        </div>
        <div class="double-input input-block" style="padding-left: 10px;">
          <input
            class="input-form"
            type="text"
            name="zip"
            placeholder="ZIP"
            v-model="shipping.billing_zip"
            @change="validateZip"
            :class="{'error-input': billing_zip_error}"
          >
          <p v-if="billing_zip_error" class="error-text">The field is not valid.</p>
        </div>
      </div>
      <div class="client-input-group">
        <label class="input-label">Phone number</label>
        <div class="input-block">
          <phone-input name="phone"
          @input="shipping.billing_phone = $event.target.value"
          :value="shipping.billing_phone"

          @keyup="validatePhone"
          maxlength="10"
          placeholder="XXXXXXXXXX"
          :class="{'error-input' : billing_phone_error}" />
          <p v-if="billing_phone_error" class="error-text">The field is not valid.</p>
        </div>
      </div>
    </div>

    <div class="shipping-item-btn-block shipping-item-btn-block--form" style="margin-top: 60px">
      <button
        type="button"
        class="btn btn-green btn-shipping btn-shipping--big btn-form"
        @click="onSave"
      >Save</button>
      <button
        type="button"
        class="btn btn-grey btn-shipping btn-shipping--big btn-shipping--grey m-l-10"
        v-if="isCancelButton"
        @click="onCancel"
      >Cancel</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { apiURL } from "../../../../config";
import VueGoogleAutocomplete from "../../../../../node_modules/vue-google-autocomplete";
import miniToastr from 'mini-toastr'
import PhoneInput from '@/components/lib/input/PhoneInput';

export default {
  name: "shipping-address-form",
  components: {
    VueGoogleAutocomplete,
    PhoneInput
  },
  props: ["shippingId", "isCancelButton"],
  data() {
    return {
      shipping: {
        first_name: "",
        last_name: "",
        country: "United States",
        zip: "",
        city: "",
        state: "",
        address: "",
        phone: "",
        make_default: false,
        billing_first_name: "",
        billing_last_name: "",
        billing_country: "United States",
        billing_zip: "",
        billing_city: "",
        billing_state: "",
        billing_address: "",
        billing_phone: ""
      },
      hasError: false,
      first_name_error: false,
      last_name_error: false,
      zip_error: false,
      city_error: false,
      state_error: false,
      address_error: false,
      phone_error: false,
      placeChanged: false,
      billingPlaceChanged: false,
      isBillingDifferent: false,
      billing_first_name_error: false,
      billing_last_name_error: false,
      billing_zip_error: false,
      billing_city_error: false,
      billing_state_error: false,
      billing_address_error: false,
      billing_phone_error: false
    };
  },
  watch: {
    shippingId: function(val, oldVal) {
      if (val) {
        this.getShippingAddress(val);
      }
    }
  },
  computed: {
    shippingPersonalInfo: function() {
      if (this.$store.state.user && !this.shippingId) {
        this.shipping.first_name = this.$store.state.user.first_name;
        this.shipping.last_name = this.$store.state.user.last_name;
        this.shipping.phone = this.$store.state.user.phone;
      }
    }
  },
  methods: {
    validateState: function() {
      this.state_error = !this.isStateValid(this.shipping.state);
      if (!this.hasError) {
        this.hasError = this.state_error;
      }
      if (this.isBillingDifferent) {
        this.billing_state_error = !this.isStateValid(
          this.shipping.billing_state
        );
        if (!this.hasError) {
          this.hasError = this.billing_phone_error;
        }
      }
    },
    isStateValid: function(state) {
      return /^([a-zA-Z]{2})$/.test(state);
    },
    isValidateText: function(text) {
      return /^[a-zA-Z\s]{2,40}$/.test(text);
    },
    isZipValid: function(zip) {
      return /^[0-9]{4,14}$/.test(zip);
    },
    isPhoneValid(phone) {
      return /^((\+)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,15}$/.test(phone);
    },
    validatePhone: function() {
      this.phone_error =
        this.shipping.phone == "" || !this.isPhoneValid(this.shipping.phone);
      if (!this.hasError) {
        this.hasError = this.phone_error;
      }
      if (this.isBillingDifferent) {
        this.billing_phone_error =
          this.shipping.billing_phone == "" ||
          !this.isPhoneValid(this.shipping.billing_phone);
        if (!this.hasError) {
          this.hasError = this.billing_phone_error;
        }
      }
    },
    validateFirstName: function() {
      this.first_name_error =
        this.shipping.first_name == "" ||
        !this.isValidateText(this.shipping.first_name);
      if (!this.hasError) {
        this.hasError = this.first_name_error;
      }
      if (this.isBillingDifferent) {
        this.billing_first_name_error =
          this.shipping.billing_first_name == "" ||
          !this.isValidateText(this.shipping.billing_first_name);
        if (!this.hasError) {
          this.hasError = this.billing_first_name_error;
        }
      }
    },
    validateLastName: function() {
      this.last_name_error =
        this.shipping.last_name == "" ||
        !this.isValidateText(this.shipping.last_name);
      if (!this.hasError) {
        this.hasError = this.last_name_error;
      }
      if (this.isBillingDifferent) {
        this.billing_last_name_error =
          this.shipping.billing_last_name == "" ||
          !this.isValidateText(this.shipping.billing_last_name);
        if (!this.hasError) {
          this.hasError = this.billing_last_name_error;
        }
      }
    },
    validateZip: function() {
      this.zip_error =
        this.shipping.zip == "" || !this.isZipValid(this.shipping.zip);
      if (!this.hasError) {
        this.hasError = this.zip_error;
      }
      if (this.isBillingDifferent) {
        this.billing_zip_error =
          this.shipping.billing_zip == "" ||
          !this.isZipValid(this.shipping.billing_zip);
        if (!this.hasError) {
          this.hasError = this.billing_zip_error;
        }
      }
    },
    validateCity: function() {
      this.city_error =
        this.shipping.city == "" || !this.isValidateText(this.shipping.city);
      if (!this.hasError) {
        this.hasError = this.city_error;
      }
      if (this.isBillingDifferent) {
        this.billing_city_error =
          this.shipping.billing_city == "" ||
          !this.isValidateText(this.shipping.billing_city);
        if (!this.hasError) {
          this.hasError = this.billing_city_error;
        }
      }
    },
    validateForm: function() {
      this.hasError = false;
      if (this.shipping.address == "") {
        this.hasError = true;
        this.address_error = true;
      }
      if (this.isBillingDifferent && this.shipping.billing_address == "") {
        this.hasError = true;
        this.billing_address_error = true;
      }
      this.validatePhone();
      this.validateFirstName();
      this.validateLastName();
      this.validateZip();
      this.validateCity();
      this.validateState();
    },
    onSave: function() {
      this.validateForm();
      if (this.hasError) return false;
      if (this.shippingId) {
        this.onUpdateShippingAddress();
      } else {
        this.onCreateShippingAddress();
      }
    },
    onCancel: function() {
      this.$emit("cancelShippingInfo");
    },
    onCreateShippingAddress: function() {
      let shipping = this.shipping;
      axios({
        method: "post",
        url: apiURL + "/api/user/address",
        headers: {
          Authorization: "Bearer " + this.$cookie.get("user_token")
        },
        data: {
          first_name: shipping.first_name,
          last_name: shipping.last_name,
          phone: shipping.phone,
          address: shipping.address,
          city: shipping.city,
          state: shipping.state,
          country: shipping.country,
          zip: shipping.zip,
          make_default: shipping.make_default,
          billing_first_name: this.isBillingDifferent
            ? shipping.billing_first_name
            : shipping.first_name,
          billing_last_name: this.isBillingDifferent
            ? shipping.billing_last_name
            : shipping.last_name,
          billing_phone: this.isBillingDifferent
            ? shipping.billing_phone
            : shipping.phone,
          billing_address: this.isBillingDifferent
            ? shipping.billing_address
            : shipping.address,
          billing_city: this.isBillingDifferent
            ? shipping.billing_city
            : shipping.city,
          billing_state: this.isBillingDifferent
            ? shipping.billing_state
            : shipping.state,
          billing_country: this.isBillingDifferent
            ? shipping.billing_country
            : shipping.country,
          billing_zip: this.isBillingDifferent
            ? shipping.billing_zip
            : shipping.zip
        }
      })
        .then(response => {
          this.$emit("saveShippingInfo", response.data.id);
          miniToastr.success('Your shipping address was updated', "Success", 5000)
        })
        .catch(error => {});
    },
    onUpdateShippingAddress: function() {
      axios({
        method: "put",
        url: apiURL + "/api/user/address/" + this.shippingId,
        headers: {
          Authorization: "Bearer " + this.$cookie.get("user_token")
        },
        data: {
          first_name: this.shipping.first_name,
          last_name: this.shipping.last_name,
          phone: this.shipping.phone,
          address: this.shipping.address,
          city: this.shipping.city,
          state: this.shipping.state,
          country: this.shipping.country,
          zip: this.shipping.zip,
          make_default: this.shipping.make_default,
          billing_first_name: this.shipping.billing_first_name,
          billing_last_name: this.shipping.billing_last_name,
          billing_phone: this.shipping.billing_phone,
          billing_address: this.shipping.billing_address,
          billing_city: this.shipping.billing_city,
          billing_state: this.shipping.billing_state,
          billing_country: this.shipping.billing_country,
          billing_zip: this.shipping.billing_zip
        }
      })
        .then(response => {
          this.$emit("saveShippingInfo", response.data.id);
          miniToastr.success('Your shipping address was updated', "Success", 5000)
        })
        .catch(error => {});
    },
    getShippingAddress: function(id) {
      axios({
        method: "get",
        url: apiURL + "/api/user/address/" + id,
        headers: {
          Authorization: "Bearer " + this.$cookie.get("user_token")
        }
      })
        .then(response => {
          this.shipping = response.data;
          this.$refs.address.update(this.shipping.address);
          if (
            this.shipping.first_name != this.shipping.billing_first_name ||
            this.shipping.last_name != this.shipping.billing_last_name ||
            this.shipping.phone != this.shipping.billing_phone ||
            this.shipping.address != this.shipping.billing_address ||
            this.shipping.city != this.shipping.billing_city ||
            this.shipping.state != this.shipping.billing_state ||
            this.shipping.zip != this.shipping.billing_zip
          ) {
            this.isBillingDifferent = true;
            this.$nextTick(() => {
              this.$refs.billing_address.update(this.shipping.billing_address);
            });
          }
        })
        .catch(error => {});
    },

    getAddressData(value) {
      this.placeChanged = true;
      this.shipping.address = value.street_number
        ? `${value.street_number} ${value.route}`
        : `${value.route}`;
      this.shipping.country = value.country;

      this.shipping.state = value.administrative_area_level_1;
      this.shipping.city = value.locality;
      this.shipping.zip = value.postal_code;

      this.$nextTick(() => {
        this.$refs.address.update(this.shipping.address);
      });

      this.$refs.address.focus();
    },
    getCustomAddress(value) {
      if (!this.placeChanged) this.shipping.address = value.newVal;
    },
    updatePlaceChange() {
      this.placeChanged = false;
    },

    getBillingAddressData(value) {
      this.billingPlaceChanged = true;
      this.shipping.billing_address = value.street_number
        ? `${value.street_number} ${value.route}`
        : `${value.route}`;
      this.shipping.billing_country = value.country;

      this.shipping.billing_state = value.administrative_area_level_1;
      this.shipping.billing_city = value.locality;
      this.shipping.billing_postcode = value.postal_code;

      this.$nextTick(() => {
        this.$refs.billing_address.update(this.shipping.billing_address);
      });

      this.$refs.billing_address.focus();
    },
    getBillingCustomAddress(value) {
      if (!this.billingPlaceChanged)
        this.shipping.billing_address = value.newVal;
    },
    updateBillinfPlaceChange() {
      this.billingPlaceChanged = false;
    },
    onChangeBilling(event) {
      if (event.target.checked) {
        if (this.shippingId) {
          this.$nextTick(() => {
            this.$refs.billing_address.update(this.shipping.billing_address);
          });
        } else {
          this.shipping.billing_first_name = this.shipping.first_name;
          this.shipping.billing_last_name = this.shipping.last_name;
          this.shipping.billing_address = this.shipping.address;
          this.shipping.billing_country = this.shipping.country;
          this.shipping.billing_state = this.shipping.state;
          this.shipping.billing_city = this.shipping.city;
          this.shipping.billing_postcode = this.shipping.postcode;
          this.shipping.billing_phone = this.shipping.phone;
          this.shipping.billing_zip = this.shipping.zip;
          this.$nextTick(() => {
            this.$refs.billing_address.update(this.shipping.address);
          });
        }
      }
    }
  },
  mounted() {
    if (this.shippingId) {
      this.getShippingAddress(this.shippingId);
    }
  }
};
</script>

