<template>
    <div class="wrapper-coupon-block">
        <div class="coupon-block">
            <custom-input v-model="couponCode"
                        :onChange='onChangeInput'
                        :placeholder="'Coupon code'"
                        label="Have a Coupon?"
                        type="text">
            </custom-input>
            <button type="button" @click="onCoupon" class="btn btn-green btn-shop-coupon" :class="{'disabled': !isChange}">Apply coupon</button>
        </div>
        <div class="error-coupon" v-if="couponError">
            <p>Coupon not found</p>
        </div>
    </div>
</template>
<script>
import CustomInput from "@/components/main/admin/components/input.vue";

import axios from 'axios';
import {apiURL} from '../../../../config';

export default {
    name: 'shopCoupon',
    components: {
        CustomInput
    },
    props:['code'],
    data(){
        return {
            token: '',
            coupon: '',
            couponError: '',
            isChange: false
        }
    },
    mounted(){
        this.token = this.$cookie.get('cart_token');
    },
    methods:{
        onChangeInput(){
            if(this.coupon) {
                this.isChange = true;
            }
        },
        onCoupon(){
            let userToken = this.$cookie.get('user_token');
            let data = {
                token: userToken,
                cartToken: this.token,
                coupon: this.coupon
            }
            if(userToken){
                this.$store.dispatch('getUserCoupon', data).then(()=>{
                    if(this.$store.getters['getCoupon']){
                        this.couponError = false;
                        this.$emit('activeCoupon');
                    } else {
                        this.couponError = !this.$store.getters['getCoupon'] && !this.coupon ? false : true 
                    }

                })
            } else {
                this.$store.dispatch('getPublicCoupon', data).then(()=>{
                    if(this.$store.getters['getCoupon']){
                        this.couponError = false;
                        this.$emit('activeCoupon');
                    } else {
                        this.couponError = !this.$store.getters['getCoupon'] && !this.coupon ? false : true 
                    }
                })
            }
        }
    },
    watch:{
        code: function(code){
            this.coupon = code;
        }
    },
    computed: {
        couponCode: {
            get() {
                return this.coupon ? this.coupon : this.code;
            },
            set(value) {
                this.coupon = value;
                this.$emit('couponValue', value);
            }
        }
    }
}
</script>
