<template>
    <!-- <md-card> -->
        <!-- <md-card-media> -->
            <!-- swiper -->
            <swiper :options="swiperOption">
                <swiper-slide v-for="(slide, index) in products" :key="index">
                    <div class="included-product">
                        <div class="included-img"><img :src="apiURL+'/storage/'+slide.filename" alt=""></div>
                        <div class="included-title"><a :href="slide.slug">{{ slide.name }}</a></div>
                        <div class="included-oneliner">{{ slide.oneliner }}</div>
                    </div>
                </swiper-slide>
                <div v-show="products.length > 10" class="swiper-pagination" slot="pagination"></div>
                <div v-show="products.length > length" class="swiper-button-prev" slot="button-prev"></div>
                <div v-show="products.length > length" class="swiper-button-next" slot="button-next"></div>
            </swiper>
        <!-- </md-card-media> -->
    <!-- </md-card> -->
</template>

<script>
    import {apiURL} from '../../../../config';

    export default {
        name: "slider",
        props: ["products"],
        data() {
            return {
                length: '',
                swiperOption: {
                    slidesPerView: 4,
                    spaceBetween: 24,
                    slidesPerGroup: 1,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    breakpoints: {
                        425: {
                            slidesPerView: 1
                        },
                        768: {
                            slidesPerView: 2,
                            spaceBetween: 15
                        },
                        1024: {
                            slidesPerView: 3,
                            spaceBetween: 20
                        }
                    },
                    // loop: true,
                    loopAdditionalSlides :8,
                    loopFillGroupWithBlank: true,
                },
                apiURL: apiURL,
            }
        },
        methods: {
            winWidth: function () {
                setInterval(() => {
                    let w = window.innerWidth;
                    if (w < 426) {
                        this.length = 1
                    } else if (w < 769) {
                        this.length = 2
                    } else if (w < 1025) {
                        this.length = 3
                    } else {
                        this.length = 4
                    }
                }, 100);
            }
        },
        mounted() {
            this.winWidth();
        }
    }
</script>

