<template>
  <div>
    <MainHeader class="header-white"/>

    <main class="contact">
      <section class="contact__wrapper">
        <div class="contact__info">
          <div class="contact__slide-1" v-bind:class="{'animated zoomOut': isFormOpen}">
            <h1 class="contact__title">Contact Us</h1>
            <h2 class="contact__subTitle">Contact Information</h2>
            <div class="contact__info-block">
              <div class="contact__info-block-inner">
                <div class="contact__info-title">Virginia</div>
                <div class="contact__info-text">44121 Harry Byrd Highway<br>Suite # 115<br>Ashburn, VA. 20147</div>
              </div>
              <div class="contact__info-block-inner">
                <div class="contact__info-title">Maryland</div>
                <div class="contact__info-text">5101 River Road<br>Suite # 106<br>Bethesda, MD. 20816</div>
              </div>
            </div>
            <div class="contact__info-block">
              <div class="contact__info-block-inner">
                <div class="contact__info-title">Call Us</div>
                <div class="contact__info-text">(703) 724-4000</div>
              </div>
              <div class="contact__info-block-inner">
                <div class="contact__info-title">Fax</div>
                <div class="contact__info-text">(703) 544-7791</div>
              </div>
            </div>
            <div class="hr"></div>
            <!-- <div class="btn btn__ask" v-on:click="isFormOpen = !isFormOpen">Ask Us a Question</div> -->
            <div class="btn btn__ask" @click="openPopUp">Ask Us a Question</div>
            <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
          </div>
          <div class="contact__slide-2" v-bind:class="{'animated slideInUp': isFormOpen}">
            <h2 class="contact__subTitle">Contact Information</h2>
            <form @submit="submitForm" class="animated">
              <div class="popUp__body">
                <div class="form-group">
                  <input type="text"
                         autocomplete="off"
                         name="name"
                         placeholder="Your Name"
                         required
                         v-model="user_name" />
                </div>
                <div class="form-group">
                  <input type="email"
                         autocomplete="off"
                         name="email"
                         placeholder="Your Email" required
                         @keyup="emailValid()"
                         v-bind:class="{'error': !isValid}"
                         v-model="email" />
                  <span v-if="!isValid" class="error-text">Incorrect email address</span>
                </div>
                <div class="form-group">
                  <phone-input name="phone"
                      @input="phone = $event.target.value"
                      :value="phone"
                      maxlength="10"
                      placeholder="XXXXXXXXXX"
                      :class="{'error-input' : isPhoneValid}" />
                </div>
                <div class="form-group">
                  <input type="text"
                         autocomplete="off"
                         name="subject"
                         placeholder="Subject (optional)"
                         v-model="subject" />
                </div>

                <div class="form-group">
                  <textarea placeholder="Your Message"
                            autocomplete="off"
                            name="message"
                            required
                            v-model="message"></textarea>
                </div>

                <button type="submit" class="btn btn__send">Send Request</button>
              </div>
            </form>
          </div>
        </div>
        <google-map class="contact__map" id="map" :name="name"></google-map>
      </section>
    </main>

    <AppFooter/>

    <div v-if="isSubmitContactUs" class="popUp succsesAlert" @click="isSubmitContactUs = false">
      <div class="popUp__wrapper animated">
        <div class="popUp__header">
          <h2>Thank You</h2>
        </div>
        <div class="popUp__body">
          <p>Thanks for your submission. We will contact you soon.</p>
        </div>
      </div>
    </div>
    <div class="js-md"></div>
    <div class="js-xs"></div>
    <div class="js-lg"></div>
    <div class="js-sm"></div>
    <div class="js-xl"></div>

  </div>
</template>
<script>
  import MainHeader from '../general/MainHeader';
  import GoogleMap from '../google-map/GoogleMap';
  import AppFooter from '../general/Footer';

  import axios from 'axios';
  import {apiURL} from '../../../config';
  import PhoneInput from '@/components/lib/input/PhoneInput';
  import ContactUs from "../modals/ContactUs";

  export default {
    name: 'contact',
    data() {
      return {
        isFormOpen: false,
        name: 'map',
        isSubmitContactUs: false,
        email: '',
        user_name: '',
        phone: '',
        subject: '',
        message: '',
        isValid: true,
        isPopUpOpen: false
      }
    },
    computed: {
      isPhoneValid() {
        return Number(this.phone) && this.phone.length == 10;
      }
    },
    methods: {
      openPopUp() {
        this.isPopUpOpen = true;
      },
      closePopUp() {
        this.isPopUpOpen = false;
      },
      openMenu() {
        this.isMenuOpen = true;
      },
      closeMenu() {
        this.isMenuOpen = false;
      },
      isEmailValid: function () {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.email);
      },
      emailValid() {
        this.isValid = this.isEmailValid();
        this.isValid = (this.email.length == 0) ? true : this.isValid
      },
      submitForm: function(e) {
          // klaviyo
          let _learnq = _learnq || [];
          _learnq.push(['account', {
              '$email' : this.email
          }]);

          let _learnq2 = _learnq || [];
          _learnq2.push(['identify', {
              '$email' : this.email,
              '$first_name' : this.user_name
          }]);
          console.log(_learnq,_learnq2);
        e.preventDefault();
        this.isValid = this.isEmailValid();

        if (this.isValid && this.message.length > 0) {

          axios.post(apiURL + '/api/public/contactus', {
            email: this.email,
            name: this.user_name,
            phone: this.phone,
            subject: this.subject,
            message: this.message,
          })
            .then(response => {
              console.log(response);
              this.isFormOpen = false;
              this.isSubmitContactUs = false;
              // this.email = '';
              // this.user_name = '';
              // this.phone = '';
              // this.subject = '';
              // this.message = '';

              window.location.replace("/contact/thanks");
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      }
    },
    components: {
      PhoneInput,
      MainHeader,
      GoogleMap,
      ContactUs,
      AppFooter
    },
    metaInfo: {
      title: 'Contact Us - Schedule An Appointment | Maryland & Virginia | NextHealth.org',
      meta: [
        { vmid: 'description', name: 'description', content: 'Schedule a personalized preventative health care examination with us. Take control of your future health. With two locations , one in Maryland, and the other in Virginia.' },
        { vmid: 'name', name: 'robots', content: 'index, nofollow' },
      ],
    }
  }
</script>
<style>

</style>
