<template>
  <div id="main-layout" :scroll="handleScroll" :class="{ 'page-scrolled': scrolled}" >
    <router-view/>
  </div>

</template>

<script>
  import axios from 'axios';
  import {apiURL} from '../../config';

  export default {
    name: 'main-layout',
    data () {
      return {
        scrolled: false
      };
    },
    created() {
      let recaptchaScript = document.createElement('script');
      recaptchaScript.setAttribute('src', '//code.tidio.co/yrsdrx7tf8iwaxpgeivw8azqd8huq9vp.js');
      document.head.appendChild(recaptchaScript);
      /* setTimeout(function() {
        tidioChatApi.on('ready', function(){
          tidioChatApi.setColorPalette('#62c3cb');
        });
      }, 2 * 1000); */
      this.checkCart();
    },
    methods: {
      handleScroll () {
        this.scrolled = window.scrollY > 0;
      },
      getCartToken: function() {
        return new Promise((resolve, reject) => {
          if (this.$cookie.get('user_token')) {
            axios({
              method: 'get',
              url: apiURL + '/api/user/assign-cart',
              headers: {
                Authorization: 'Bearer ' + this.$cookie.get('user_token'),
              },
            })
              .then(response => {
                let cart = response.data;
                resolve(cart.token);
              })
          } else {
            throw new Error("user token is empty");
          }
        });
      },
      getCart: function (token) {
        axios({
          method: 'get',
          url: apiURL + '/api/public/cart/' + token,
        })
          .then(response => {
            let res = response.data;
            this.$root.cartCount = 0;
            if (res.orderDetailed && res.orderDetailed.length > 0) {
              this.$root.cartCount += res.orderDetailed.length;
            }
            if (res.plans && res.plans.length > 0) {
              this.$root.cartCount += res.plans.length;
            }
          })
          .catch(error => {
            if (this.$cookie.get('cart_token')) {
              this.$cookie.delete('cart_token');
            }
            if (this.$cookie.get('cart_guest')) {
              this.$cookie.delete('cart_guest');
            }
          });
      },
      checkCart: function() {
        let token = this.$cookie.get('cart_token');
        if (!token) {
          this.getCartToken()
            .then((token) =>{
              this.getCart(token);
          }).catch(() => {
            this.$root.cartCount = 0;
          })
        } else {
          this.getCart(token);
        }
      },
    },
    beforeMount () {
      window.addEventListener('scroll', this.handleScroll);
    },
    beforeDestroy () {
      window.removeEventListener('scroll', this.handleScroll);
    },
    beforeRouteEnter(from, to, next) {
      document.title = from.meta.title;
      next();
    }
  }
</script>

<style lang="scss">
  @import '../../../style/fonts.scss';
  @import '../../../style/plugins.scss';
  @import '../../../style/stylesheet.scss';
  @import '../../../style/main.scss';
</style>
