<template>
  <div class="admin-main-block service-setting">
    <div class="admin-main-block-header">
      <h3 class="admin-main-title">Service Settings</h3>
    </div>
    <div class="admin-main-block-body">
      <div class="admin-service-section">
        <div class="input-group form-control">
          <p class="text-form">Service URL</p>
          <p v-if="!serviceId" class="service-url create">Service not yet added</p>
          <a v-if="serviceSlug" :href="serviceUrl + serviceSlug" class="btn btn-link service-url" target="_blank">{{ serviceUrl + serviceSlug }}
            <external-link-icon class="font-fix"></external-link-icon>
          </a>
        </div>
      </div>

      <div class="admin-service-section">
        <div class="service-enable m-b">
          <p class="service-enable--title">Published</p>
          <custom-checkbox attr-id="published" v-model="servicePublished" :onChange="onChangePublished"></custom-checkbox>
        </div>

      </div>

      <button v-if="isDuplicate" type="button" class="btn btn-link m-b d-b" :class="{'disabled': !serviceId}">
        <copy-icon class="font-fix"></copy-icon>
        Duplicate Service
      </button>
      <button type="button" class="btn btn-link btn-link--red d-b" :class="{'disabled': !serviceId}" @click="deleteService">
        <trash-2-icon class="font-fix"></trash-2-icon>
        Delete service
      </button>
    </div>
  </div>
</template>

<script>
  import {ExternalLinkIcon, CopyIcon, Trash2Icon} from 'vue-feather-icons'
  import CustomCheckbox from '../../components/custom-checkbox';

  import axios from 'axios';
  import {apiURL} from '../../../../../config';

  export default {
    name: 'service-settings',
    components:{
      ExternalLinkIcon, CopyIcon, Trash2Icon,
      CustomCheckbox
    },
    props:['serviceId', 'serviceSlug', 'onPublished', 'onShowShop', 'published', 'showShop', 'onDelete'],
    data() {
      return {
        servicePublished: false,
        serviceShowShop: false,
        serviceUrl: window.location.origin +'/shop/service/',
        isDuplicate: false
      }
    },
    computed: {
    },
    watch:{
      published: function(newVal, oldVal){
        this.servicePublished = newVal ? newVal : false;
      },
      showShop: function(newVal, oldVal){
        this.serviceShowShop = newVal ? newVal : false;
      },
    },
    methods: {
      onChangePublished(data){
        if (this.serviceId) {
          this.updateStatus(this.serviceId, 'status-published', {"status" : data.value})
        }
        this.onPublished(data);
      },
      onChangeShop(data){
        if (this.serviceId) {
          this.updateStatus(this.serviceId, 'status-show-on-shop', {"status" : data.value})
        }
        this.onShowShop(data);
      },
      deleteService(){
        if (this.serviceId) {
          this.onDelete();
        }
      },

      updateStatus: function (serviceId, type, data) {
        axios({
          method: 'put',
          url: apiURL + '/api/admin/service/'+serviceId+'/'+type,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: data
        });
      }
    },
    mounted(){
      this.servicePublished = this.published ? this.published : false;
      this.serviceShowShop = this.showShop ? this.showShop : false;
    }

  }
</script>
<style lang="scss">
  .service-setting{
    .service-url{
      display: flex;
      justify-content : space-between;
      align-items : center;
    }
  }
</style>
