<template>
  <div class="sign-form client" :class="{'block-info': isCheckout}">

    <spinner v-if="loader"/>

    <alert-error v-if="errors" :error-text="errorText"></alert-error>

    <div :class="{'client-input-group': isCheckout, 'sign--input-group': !isCheckout}">
      <label class="input-label">First name</label>
      <div class="input-block">
        <input class="input-form" type="text"
               v-model="userLogin.firstName"
               @keyup="disabledButton"
               v-bind:class="{'error-input' : userLogin.isFirstNameError}" />
        <p v-show="userLogin.firstName &amp;&amp; userLogin.isFirstNameError" class="error-text"> {{ firstNameError }}</p>
      </div>
    </div>

    <div :class="{'client-input-group': isCheckout, 'sign--input-group': !isCheckout}">
      <label class="input-label">Last name</label>
      <div class="input-block">
        <input class="input-form" type="text"
               v-model="userLogin.lastName"
               @keyup="disabledButton"
               v-bind:class="{'error-input' : userLogin.isLastNameError}"/>
        <p v-show="userLogin.lastName &amp;&amp; userLogin.isLastNameError" class="error-text"> {{ lastNameError }}</p>
      </div>
    </div>

    <div :class="{'client-input-group': isCheckout, 'sign--input-group': !isCheckout}">
      <label class="input-label">Email</label>
      <div class="input-block">
        <input class="input-form" type="text"
               v-model="userLogin.email"
               @keyup="changeEmail"
               v-bind:class="{'error-input' : userLogin.isErrorEmail}" />
        <p v-show="userLogin.email &amp;&amp; userLogin.isErrorEmail" class="error-text"> {{ emailErrorText }}</p>
      </div>
    </div>


    <div :class="{'client-input-group': isCheckout, 'sign--input-group': !isCheckout}">
      <label class="input-label">Phone number</label>
      <div class="input-block">
        <phone-input @input="userLogin.phone = $event.target.value" :value="userLogin.phone"
            @keyup="changePhone"
            maxlength="10"
            placeholder="XXXXXXXXXX"
            v-bind:class="{'error-input' : userLogin.isErrorPhone}" />
        <p v-show="userLogin.phone &amp;&amp; userLogin.isErrorPhone" class="error-text"> Incorrect Phone Number</p>
      </div>
    </div>


    <div :class="{'client-input-group': isCheckout, 'sign--input-group': !isCheckout}">
      <label class="input-label">Password</label>
      <div class="input-block">
        <input class="input-form" type="password"
               v-model="userLogin.password"
               @keyup="changePassword"
               v-bind:class="{'error-input' : userLogin.isErrorPassword}"/>
        <p v-show="userLogin.password &amp;&amp; userLogin.isErrorPassword" class="error-text"> Incorrect password</p>
      </div>
    </div>

    <div :class="{'client-input-group': isCheckout, 'sign--input-group': !isCheckout}">
      <label class="input-label">Password again</label>
      <div class="input-block">
        <input class="input-form" type="password"
               v-model="userLogin.retryPassword"
               @keyup="changeRetryPassword"
               v-bind:class="{'error-input' : userLogin.retryPassword &amp;&amp; userLogin.isErrorRetryPassword}"/>
        <p v-show="userLogin.retryPassword &amp;&amp; userLogin.isErrorRetryPassword" class="error-text"> Incorrect password</p>
      </div>
    </div>


    <button v-if="!isCheckout" class="btn-login btn-button btn-button--green m-t-30"
            type="button"
            :disabled="isDisabled"
            @click="createNewAccount()">Sign Up</button>

    <div v-if="isCheckout" class="shipping-item-btn-block shipping-item-btn-block--form" style="margin-top: 40px">
      <button type="button" class="btn btn-green btn-shipping btn-shipping--big btn-form" :disabled="isDisabled" @click="createNewAccount">Sign Up</button>
      <button type="button" class="btn btn-grey  btn-shipping btn-shipping--big btn-shipping--grey m-l-10" @click="onSignIn">Sign in</button>
    </div>
  </div>
</template>
<script>
  import AlertError from "../../../general/alert_error";
  import PhoneInput from '../../../../lib/input/PhoneInput.vue';
  import spinner from '../components/spinner';
  import axios from 'axios';
  import {apiURL} from '../../../../../config';

  export default {
    name: 'create-account',
    components: {AlertError, PhoneInput, spinner},
    props: ['checkout'],
    data() {
      return {
        userLogin: {
          firstName : '',
          isFirstNameError: false,
          lastName : '',
          isLastNameError: false,
          email: '',
          isErrorEmail: false,
          phone: '',
          isErrorPhone: false,
          password: '',
          isErrorPassword: false,
          retryPassword: '',
          isErrorRetryPassword: false
        },
        errors: false,
        emailErrorText: 'Incorrect email address',
        firstNameError: '',
        lastNameError: '',
        isDisabled: true,
        errorText: "",
        isCheckout: this.checkout ? this.checkout : false,
        loader: false
      }
    },
    methods: {
      isPasswordValid(password) {
        return (password.length >= 6);
      },
      isEmailValid() {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.userLogin.email);
      },
      isPhoneValid() {
        return /^((\+)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,15}$/.test(this.userLogin.phone);
      },
      changeEmail: function() {
        this.userLogin.isErrorEmail =  (this.userLogin.email == '' || !this.isEmailValid());
        this.disabledButton();
      },
      changePhone: function() {
        this.userLogin.isErrorPhone =  (this.userLogin.phone == '' || !this.isPhoneValid());
        this.disabledButton();
      },
      changePassword: function () {
        this.userLogin.isErrorPassword = (this.userLogin.password == '' || !this.isPasswordValid(this.userLogin.password));
        this.disabledButton();
      },
      changeRetryPassword: function() {
        this.userLogin.isErrorRetryPassword = !(this.userLogin.retryPassword === this.userLogin.password
          && this.isPasswordValid(this.userLogin.retryPassword));
        this.disabledButton();
      },
      disabledButton: function() {
        this.userLogin.isFirstNameError = (this.userLogin.firstName == '');
        this.userLogin.isLastNameError = (this.userLogin.lastName == '');

        this.isDisabled = (this.userLogin.firstName != ''
          && this.userLogin.lastName != ''
          && this.userLogin.email != ''
          && !this.userLogin.isErrorEmail
          && this.userLogin.phone != ''
          && !this.userLogin.isErrorPhone
          && this.userLogin.password != ''
          && !this.userLogin.isErrorPassword
          && this.userLogin.retryPassword != ''
          && !this.userLogin.isErrorRetryPassword) ? false : true;
      },

      createNewAccount: function(){
        this.isDisabled = true;
        this.loader = true;
        if (this.userLogin.isErrorEmail || this.userLogin.isErrorPassword || this.userLogin.isErrorRetryPassword) {
          return false;
        }
        this.userRegister(res => {
          if (this.$cookie.get('brain_tree')) {
            this.$cookie.delete('brain_tree');
          }
          if (this.$cookie.get('shipping_id')) {
            this.$cookie.delete('shipping_id');
          }
          if (this.$cookie.get('cart_token')) {
            if (this.$cookie.get('cart_guest')) {
              this.assignCart();
            } else {
              this.checkUserCart();
            }
          } else {
            this.checkUserCart();
          }
        })
      },
      userRegister: function(callback) {
        axios({
          method: 'post',
          url: apiURL + '/api/auth/register',
          data: {
            first_name : this.userLogin.firstName,
            last_name: this.userLogin.lastName,
            phone: this.userLogin.phone.replace('+1', ''),
            email: this.userLogin.email,
            password: this.userLogin.password
          }
        })
          .then(response => {
            let result = response.data;
            this.$cookie.set('user_token', result.token, 1);
            callback();
            this.$emit("user", result);
            fbq('track', 'Lead');

            var _learnq = _learnq || [];

          _learnq.push(['identify', {
            '$email' : this.userLogin.email,
            '$first_name' : this.userLogin.firstName,
            '$last_name' : this.userLogin.lastName
          }]);
          })
          .catch(error => {
            this.loader = false;
            let errors = error.response;
            if (errors) {
              if (errors.data.message) {
                this.userLogin.isErrorEmail = true;
                this.emailErrorText = 'This email already exists';
                this.errorText = "User already exists";
                this.errors = true;
              }
              let errorData = errors.data.errors;
                if (errorData.first_name) {
                  this.userLogin.isFirstNameError = true;
                  this.firstNameError = errorData.first_name[0];
                }
                if (errorData.last_name) {
                  this.userLogin.isLastNameError = true;
                  this.lastNameError = errorData.last_name[0];
                }
              this.errorText = "You have error(-s)";
            } else {
              this.userLogin.isErrorEmail = true;
              this.emailErrorText = 'This email already exists';
              this.errorText = "User already exists";
            }
            this.errors = true;
          });

      },

      checkUserCart: function() {
        axios({
          method: 'get',
          url: apiURL + '/api/user/has-cart',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let token = response.data.token;
            if (token !== this.$cookie.get('cart_token')) {
              this.$cookie.set('cart_token', token);
            }
            if (this.isCheckout) {
              document.location.replace('/shop/checkout');
            } else {
              document.location.replace('/shop/cart');
            }
          })
          .catch(error => {
            if (this.$cookie.get('cart_token')) {
              this.$cookie.delete('cart_token')
            }
            document.location.replace('/shop');
          });
      },
      assignCart: function() {
        axios({
          method: 'get',
          url: apiURL + '/api/user/assign-cart/' + this.$cookie.get('cart_token'),
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            if (this.$cookie.get('cart_guest')) {
              this.$cookie.delete('cart_guest');
            }
            if (this.isCheckout) {
              document.location.replace('/shop/checkout');
            } else {
              document.location.replace('/shop/cart');
            }
          })
          .catch(error => {
            document.location.replace('/shop');
          });
      },
      onSignIn: function () {
        this.$emit('onSignUp', false);
      }
    }
  };

</script>
