<template>
    <div class="popup-overlay">
        <div class="popup">
        <div class="popup-header">
            <h3 class="popup-header--title">Edit Review</h3>
            <span class="close"><x-icon class="font-fix" @click="close"></x-icon></span>
        </div>

        <div class="popup-body">
            <p>Title</p>
            <input class="input-form" v-model="currentEditReview[2]" @change="isChange = true" /> <br/>
            <p>Description</p>
            <textarea class="textarea-review-answer" v-model="currentEditReview[1]" @change="isChange = true" />
        </div>
        <div class="popup-bottom">
            <a href="#" class="btn btn-button btn-round" @click="close">Cancel</a>
            <a href="#" class="btn btn-button btn-round btn-button--green" :class="{'disabled': !isChange}" @click="saveReview()">Save</a>
        </div>
        </div>
    </div>
</template>
<script>
import {EditIcon, XIcon, Trash2Icon} from 'vue-feather-icons';
import Textarea from '../../../../lib/input/TextareaInput';
import Input from '../../../../lib/input/TextInput';

import axios from 'axios';
import {apiURL} from '../../../../../config';

export default {
    name: 'edit-modal',
    components: {
      XIcon, EditIcon, Trash2Icon, Textarea, Input
    },
    props:['currentEditReview'],
    data() {
      return {
        apiURL: apiURL,
        isChange: false,
      }
    },
    methods: {
      close: function(){
        this.$emit('close');
      },
        saveReview: function() {
            axios({
                method: 'put',
                url: apiURL + '/api/admin/review-update/' + this.currentEditReview[0],
                headers: {
                    Authorization: 'Bearer ' + this.$cookie.get('user_token'),
                },
                data: {
                    title : this.currentEditReview[2],
                    description : this.currentEditReview[1],
                }
            }).then(response => {
                document.location.replace('/admin/reviews-list');
                console.log(response);

            }).catch(err => {
                console.log(err);
            })

        }
    }
}
</script>

<style>
    input.input-form, textarea.textarea-review-answer {
        background: #fff;
        border: 1px solid #d7e4f0;
        border-radius: 3px;
        box-sizing: border-box;
        color: #60686e;
        font-family: Lato,Arial,sans-serif;
        font-size: 14px;
        line-height: 20px;
        outline: none;
        padding: 8px 15px;
        transition: .7s;
        width: 100%;
    }
</style>

