<template>
    <div class="filter-reviews">
        <span class="filter-title">Filters</span>
        <ul class="wrapper-filters">
            <li v-for="(filter, i) in filters" 
                 :key="i"
                 class="filter">
                <button type="button" @click="onFilter(i)" :class="{'filter-active': currentFilter === i}">{{i}} <span>{{filter}}</span></button>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    name: 'FilterReviews',
    props: ['checkReviews'],
    data() {
        return {
            filters: {},
            currentFilter: null
        }
    },
    methods: {
        getFilterCount() {
            this.filterCount = this.$store.dispatch('getReviewFilter', this.$cookie.get('user_token')).then(()=>{
                this.filters = this.$store.getters['getFiltersReview'];
            });
        },
        onFilter(value) {
            this.currentFilter = value;
            this.$emit('onFilterChange', value);
        }
    },
    mounted() {
        this.getFilterCount();
        this.currentFilter = 'All';
    },
    watch: {
        checkReviews() {
            this.getFilterCount();
        }
    }
}
</script>