<template>
    <div class="popup-overlay">
        <div class="popup">
        <div class="popup-header">
            <h3 class="popup-header--title">Answer</h3>
            <span class="close"><x-icon class="font-fix" @click="close"></x-icon></span>
        </div>

        <div class="popup-body">
            <textarea class="textarea-review-answer" v-model="answer" />
        </div>

        <div class="popup-bottom">
            <a href="#" class="btn btn-button btn-round" @click="close">Cancel</a>
            <a href="#" class="btn btn-button btn-round btn-button--green" :class="{'disabled': !isChange}" @click="saveAnswer()">Save</a>
        </div>
        </div>
    </div>
</template>
<script>
import {EditIcon, XIcon, Trash2Icon} from 'vue-feather-icons';
import Textarea from '../../../../lib/input/TextareaInput';

export default {
    name: 'Modal',
    components: {
      XIcon, EditIcon, Trash2Icon, Textarea
    },
    props:['currentReview'],
    data() {
      return {
        isChange: false,
        answer: ''
      }
    },
    watch: {
        answer() {
            this.isChange = true;
        }
    },
    methods: {
      close: function(){
        this.$emit('close');
      },
      saveAnswer() {
          let data = {};
          data.id = this.currentReview;
          data.answer = this.answer;
          data.token = this.$cookie.get('user_token');
          this.$store.dispatch('getAnswerReview', data).then(()=>{
              this.$emit('close');
          });
      }
    }
}
</script>



