<template>
  <div class="popup-overlay">
    <div class="popup">
      <div class="popup-header">
        <h3 class="popup-header--title">Choose an action</h3>
        <span class="close"><x-icon class="font-fix" @click="close"></x-icon></span>
      </div>

      <div class="popup-body">
        <p class="drop-text">{{ productCount }} products belong only to this category.</p>
        <div class="move-option">
          <label class="move-option--item padding-7">
            <input class="radio1" checked type="radio" name="option-delete" v-model="deleteOption" @change="onChange" value="none">
            <span class="radio-custom"></span>
            <span class="label  drop-text">Delete permanently</span>
          </label>
          <label class="move-option--item padding-7">
            <input class="radio1" type="radio" name="option-delete" v-model="deleteOption" @change="onChange" value="move">
            <span class="radio-custom"></span>
            <span class="label drop-text">Move to another category</span>
          </label>

          <div  v-show="deleteOption === 'move'" class="input-group category-select">
            <p class="text-form">Category name</p>
            <select v-model="selectCategory" @change="isChangeMove=true">
              <option disabled selected hidden value="0">Select</option>
              <option v-for="category in categoryList" :value="category.id">{{ category.name }}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="popup-bottom">
        <a class="btn btn-button btn-round" @click="close">Cancel</a>
        <a class="btn btn-button btn-round btn-button--green"
           :class="{'disabled': !isChangeMove}"
           @click="onMoveCategory">Ok</a>
      </div>
    </div>
  </div>
</template>

<script>
  import { XIcon } from 'vue-feather-icons';

  import axios from 'axios';
  import {apiURL} from '../../../../../config';

  export default {
    name: "category-move-modal",
    components: {
      XIcon
    },
    props: ['categoryId', 'productCount'],
    data() {
      return {
        isChangeMove: true,
        deleteOption: 'none',
        selectCategory: 0,
        categoryList: [],
      }
    },
    watch: {
      categoryId: function(newVal, oldVal){
        this.getCategoryList();
      }
    },
    methods: {
      close: function(){
        this.$emit('close');
      },
      onChange: function(event){
        if (event.srcElement.value == 'move' && !this.selectCategory){
          this.isChangeMove = false;
        } else {
          this.isChangeMove = true;
        }
      },
      onMoveCategory: function () {
        if (this.deleteOption == 'none') {
          this.deleteProducts();
        } else {
          this.moveProducts();
        }
      },
      getCategoryList: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/category-select',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let result = response.data;
            this.categoryList = [];
            result.forEach(item => {
              if (item.id != this.categoryId) {
                this.categoryList.push({id: item.id, name: item.name})
              }
            })
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
      deleteProducts: function() {
        axios({
          method: 'delete',
          url: apiURL + '/api/admin/category/'+ this.categoryId +'/product-delete-category',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.deleteCategory();
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
      moveProducts: function() {
        axios({
          method: 'put',
          url: apiURL + '/api/admin/category/'+this.categoryId+'/product-update-category/'+this.selectCategory,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.deleteCategory();
          })
          .catch(error => {
            console.log(error);
          });
      },
      deleteCategory: function() {
        axios({
          method: 'delete',
          url: apiURL + '/api/admin/category/' + this.categoryId,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            location.reload();
          })
          .catch(error => {
            console.log(error);
            document.location.replace('/admin/login');
          });
      }
    },
  }
</script>

<style lang="scss">
  .move-option{
    .move-option--item{
      display: block;
      margin-top: 15px;
    }
    .category-select{
      margin-top: 16px;
      select{
        width: 100%;
        padding-right: 10px !important;
        background-position: right 10px center !important;
      }
    }
  }
</style>
