<template>
    <div class="modal is-active" style="z-index: 105">

        <div class="modal-content fullpage-container"style="width: 100%;" >

            <div class="fullpage-wp flexScroll" v-fullpage="opts">
                <section class="cancer-prevention"><img class="img-mobile" src="/static/img/ppat/mobile/program_2-mobile.jpg"/><img class="img-tablet" src="/static/img/ppat/tablet/scroll_1/img_banner_2.jpg"/>
                    <div class="section__info">
                        <h2 class="title-section section__info__mobile">Cancer Prevention</h2>
                        <p class="text-section">
                            Cancer can only grow when your mechanism to control it has been breached.That being, the immune system can be burdened by poor sleep, stress, poor diet, environmental exposure, etc. Although there are few direct cause and effects in cancers, there are several facts that exist. For example, low folic acid and inflammatory bowel disease increase the likelihood of colon cancer.</p>
                        <p class="text-section">Smoking causes lung cancer, and obesity itself increases the occurrence of many cancers. Using the TK-1 test, we measure the enzymes released when cells divide rapidly as cancer begins or when it recurs. Cancers are also much more prevalent after the age of 50. By measuring your Telomere, one can identify your precise DNA age and how fast you are aging.</p>
                        <p class="text-section">
                            Next Health pursues as many avenues to detect weaknesses in the immune systemand numerous tools to bolster the immune system.</p>
                    </div>
                </section>
            </div>
        </div>

        <header class="header header-modal">
            <div class="header__block header__block--left"><a class="header__logo" href="/"><img src="/static/img/header/logo.svg"/><img class="dark-logo" src="/static/img/header/logo-black.svg"/></a></div>

            <button v-on:click="isCancerPreventionClose" class="modal-close is-large" aria-label="close"></button>
        </header>
    </div>
</template>

<script>
    export default {
        name: "CancerPrevention",
        data() {
            return {
                opts: {
                    start: 0,
                    dir: 'v',
                    loop: false,
                    duration: 500,
                }
            }
        },
        methods: {

            isCancerPreventionClose: function () {
                this.$emit('closed', {})
                fullpage_api.setAllowScrolling(true);

            },

        }
    }
</script>
