<template>
    <div style="position: relative; z-index: 10000;">
    <div v-if="!isSubscription" class="popUp form-contact-us active">
        <form class="animated" @submit="submitForm" method="post">
            <div class="popUp__header">
                <h2 class="popUp__title">Contact Us</h2>
                <button @click="closePopUp" class="btn btn__close-popUp" type="button"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="luc4a" d="M4362.49 916.9l-8.49-8.49-8.49 8.49a1 1 0 0 1-1.41-1.41l8.49-8.49-8.49-8.49a1 1 0 1 1 1.41-1.41l8.49 8.49 8.49-8.49a1 1 0 1 1 1.4 1.41l-8.48 8.49 8.49 8.49a1 1 0 1 1-1.41 1.41z"/></defs><g><g opacity="1" transform="translate(-4342 -895)"><use fill="#fff" xlink:href="#luc4a"/></g></g></svg>
                </button>
            </div>
            <div v-if="!isSubscription" class="popUp__body">
                <div class="form-group">
                    <input type="text" placeholder="Your Name" name="name" autocomplete="off" required v-model="name" />
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Your Email" name="email" autocomplete="off" required
                           @keyup="emailValid()"
                           v-bind:class="{'error': !isValid}"
                           v-model="email" />
                  <span v-if="!isValid" class="error-text">Incorrect email address</span>
                </div>
                <div class="form-group">
                     <phone-input name="phone"
                      @input="phone = $event.target.value"
                      :value="phone"
                      maxlength="10"
                      placeholder="XXXXXXXXXX"
                      :class="{'error-input' : isPhoneValid}" />
                </div>
                <div class="form-group">
                    <input type="text" name="subject" autocomplete="off" placeholder="Subject (optional)" v-model="subject" />
                </div>
                <div class="form-group">
                  <textarea placeholder="Your Message" autocomplete="off" name="mess" required v-model="message"></textarea>
                </div>
                <button type="submit" class="btn btn__send">Send Request</button>
            </div>
          <div v-if="isSubscription" class="popUp__body successfully">
            <div class="successfully-body">
              <span class="icon"><i class="fa fa-check-circle"></i></span>
              <p>Message sent.</p>
              <p>We will contact you soon.</p>
            </div>
          </div>
        </form>

    </div>
    <div v-if="isSubscription" class="popUp succsesAlert" @click="closeSubscription">
        <div class="popUp__wrapper animated">
            <div class="popUp__header">
                <h2>Thank You</h2>
            </div>
            <div class="popUp__body">
                <p>Thanks for your submission. We will contact you soon.</p>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
  import axios from 'axios';
  import PhoneInput from '@/components/lib/input/PhoneInput';
  import {apiURL} from '../../../config';

    export default {
      components: {
        PhoneInput
      },
        data () {
          return {
            email: '',
            name: '',
            subject: '',
            phone: '',
            message: '',
            isValid: true,
            isSubscription: false

          }
        },
        name: "ContactUs",
        methods: {
          closePopUp: function () {
              this.$emit('closed',{})
          },
          emailValid() {
            this.isValid = this.isEmailValid();
            this.isValid = (this.email.length == 0) ? true : this.isValid
          },
          submitForm: function(e) {
              // klaviyo
              let _learnq = _learnq || [];

              _learnq.push(['account', {
                  '$email' : this.email,
              }]);
              let _learnq2 = _learnq || [];
              _learnq2.push(['identify', {
                  '$email' : this.email,
                  '$first_name' : this.name
              }]);
              console.log(_learnq);
            e.preventDefault();
            this.isValid = this.isEmailValid();

            if (this.isValid && this.message.length > 0) {
              axios.post(apiURL + '/api/public/contactus', {
                email: this.email,
                name: this.name,
                phone: this.phone,
                subject: this.subject,
                message: this.message
              },
              )
                .then(response => {
                  // this.isSubscription = true;
                  window.location.replace("/contact/thanks");
                })
                .catch(function (error) {
                  console.log(error);
                });
            }

          },
          closeSubscription: function () {
            this.isSubscription = false;
            this.$emit('closed',{});
          },
          isEmailValid: function () {
            return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.email);
          }
        },
        computed: {
          isPhoneValid() {
            return Number(this.phone) && this.phone.length == 10;
          }
        }
    }
</script>

<style>
.form-contact-us .phone-input .mask {
  bottom: 0;
}
</style>
