<template>
    <div class="review-modal-overlay">
        <div class="review-modal">
            <spinner v-if="loader"/>
            <div class="review-modal-header">
                <div class="title">
                    <h2>My Review for {{productName}}</h2>
                </div>
                <span class="close"><x-icon class="font-fix" @click="close"></x-icon></span>
            </div>
            <div class="review-modal-body">
                <label for="rating">Overall Rating</label>
                <div class="rating-block">
                    <span class="starRating">
                        <input id="rating5" type="radio" name="rating" value="5" @click="checkRating(5)">
                        <label for="rating5"></label>
                        <input id="rating4" type="radio" name="rating" value="4" @click="checkRating(4)">
                        <label for="rating4"></label>
                        <input id="rating3" type="radio" name="rating" value="3" @click="checkRating(3)">
                        <label for="rating3"></label>
                        <input id="rating2" type="radio" name="rating" value="2" @click="checkRating(2)">
                        <label for="rating2"></label>
                        <input id="rating1" type="radio" name="rating" value="1" @click="checkRating(1)">
                        <label for="rating1"></label>
                    </span>
                    <span class="click-rate">Click to rate!</span>
                </div>
                <label for="title">Review title</label>
                <input class="input-form input-review" 
                       type="text"
                       v-model="review.title" />
                
                <label for="review">Review</label>
                <textarea autocomplete="off"
                          class="textarea-review"
                          name="message"
                          required
                          v-model="review.description"></textarea>
                
                <!-- <label for="recommend">Would you recommend this product to a friend?</label>
                <div class="btn-group-recommend">
                    <button type="button" class="btn-recommend">
                        Yes
                    </button>
                    <button type="button" class="btn-recommend">
                        No
                    </button>
                </div> -->
            </div>
            <div class="review-modal-footer">
                <button type="button"
                        class="btn btn-green btn-review"
                        :disabled="!isChange"
                        @click="postReview()">Post review</button>
            </div>
        </div>
    </div>
</template>
<script>
import {XIcon} from 'vue-feather-icons';
import Spinner from '../shop/login/components/spinner';

export default {
    name: 'Review',
    components: {XIcon, Spinner},
    props: ['id', 'productName'],
    data() {
        return {
            review: {
                token: '',
                productId: null,
                title: '',
                description: '',
                rating: 0
            },
            isChange: false,
            loader: false
        }
    },
    mounted(){
        this.review.token = this.$cookie.get('user_token');
        this.review.productId = this.id;
    },
    watch: {
        review: {
            handler(){
                if(this.review.title && this.review.description && this.review.rating){
                    this.isChange = true;
                }
            },
            deep: true
        }
    },
    methods: {
        close() {
            this.$emit('close');
        },
        checkRating(rating) {
            this.review.rating = rating;
        },
        postReview() {
            this.loader = true;
            this.$store.dispatch('createReview', this.review).then(()=>{
                this.$emit('close');
                this.loader = false;
            });
        }
    }
}
</script>