<template>
  <div class="admin-menu" v-bind:class="{'hide': this.$root.hideMenu }">
    <div class="menu-logo">
      <a class="header-logo" href="/">
        <img src="/static/img/header/logo.svg"/>
      </a>
      <span v-on:click="hideMobile" class="btn-menu"><img src="/static/img/admin/menu/Menu.svg"/></span>
    </div>

    <div class="menu-body">
      <p class="menu-title">Menu</p>
      <nav>
        <a class="menu-item" href="#">
          <img src="/static/img/admin/menu/Dashboard.svg"/>
          <span class="hide-item">Dashboards</span>
        </a>
        <a class="menu-item active-cat" href="/admin/categories">
          <img src="/static/img/admin/menu/Categories.svg"/>
          <span class="hide-item">Categories</span>
        </a>
        <a class="menu-item active-prod" href="/admin/products">
          <img src="/static/img/admin/menu/Product.svg"/>
          <span class="hide-item ">Products</span>
        </a>
        <a class="menu-item active-user" href="/admin/users">
          <img src="/static/img/admin/menu/Users.svg" />
          <span class="hide-item">Customers</span>
        </a>
        <a class="menu-item active-order" href="/admin/orders">
          <img src="/static/img/admin/menu/Orders.svg" />
          <span class="hide-item">Orders</span>
        </a>
        <a class="menu-item active-subscriptions" href="/admin/subscriptions">
          <img src="/static/img/admin/menu/Subscription.svg" />
          <span class="hide-item">Subscriptions</span>
        </a>
        <a class="menu-item active-coupons" href="/admin/coupons">
          <img src="/static/img/admin/menu/Coupon.svg"/>
          <span class="hide-item">Coupons</span>
        </a>
        <!-- <a class="menu-item" href="#">
          <img src="/static/img/admin/menu/Rewards.svg"/>
          <span class="hide-item">Rewards</span>
        </a> -->
        <a class="menu-item" href="#">
          <img src="/static/img/admin/menu/Discount.svg"/>
          <span class="hide-item">First Time Discount</span>
        </a>
        <a class="menu-item" href="#">
          <img src="/static/img/admin/menu/Reports.svg"/>
          <span class="hide-item">Reports</span>
        </a>
        <a class="menu-item active-reviews" href="/admin/reviews-list">
          <img src="/static/img/admin/menu/Reviev.svg"/>
          <span class="hide-item">Customers reviews</span>
        </a>
        <a class="menu-item active-services" href="/admin/services">
          <img src="/static/img/admin/menu/Service.svg"/>
          <span class="hide-item">Services</span>
        </a>
      </nav>
    </div>

  </div>
</template>

<script>
  export default {
    name: "AdminMenu",
    data() {
      return {

              };
    },
    methods: {
      hideMobile () {
        this.$root.hideMenu = !this.$root.hideMenu
      }
    }

  }
</script>

<style scoped>

</style>
