<template>
  <div class="pagination-filter">
    <p>Page</p>
    <div class="pages">
      <button v-bind:class="{'disabled' : disabledPrevBtn}" :disabled="disabledPrevBtn" v-on:click="prevPage" class="left">
        <chevron-left-icon class="font-fix"></chevron-left-icon>
      </button>
      <input v-model="currentPage" type="text" @keyup="onChangeCurrentPage">
      <button v-bind:class="{'disabled' : disabledNextBtn}" :disabled="disabledNextBtn" v-on:click="nextPage" class="right">
        <chevron-right-icon class="font-fix"></chevron-right-icon>
      </button>
    </div>
    <p>of {{ totalPage }} | View</p>
    <div class="item-page" :class="{'active' : activeTotal}">
      <div class="selected-item" @click="activeTotal = !activeTotal">
        {{ selectedTotal }}
        <chevron-down-icon class="font-fix icon"></chevron-down-icon>
      </div>
      <div class="list-item">
        <div @click="selectEntries(10)">10</div>
        <div @click="selectEntries(20)">20</div>
        <div @click="selectEntries(30)">30</div>
      </div>
    </div>
    <p>records | Found total {{totalRecords}} records</p>

  </div>
</template>

<script>
  import {ChevronLeftIcon, ChevronRightIcon, ChevronDownIcon} from 'vue-feather-icons'

  export default {
    name: "Pagination",
    props: ['totalRecords', 'changeTable', 'page'],
    components: {
      ChevronLeftIcon, ChevronRightIcon, ChevronDownIcon
    },
    data: function () {
      return {
        selectedTotal: 10,
        activeTotal: false,
        allPages: 1,
        currentPage: 1,
        disabledPrevBtn: true,
        disabledNextBtn: false
      }
    },
    watch: {
      allPages() {
        if(this.allPages === 1) {
          this.currentPage = 1;
          this.onChangeCurrentPage();
        }
      },
      totalRecords: function(newVal, oldVal) {
        if (newVal <= this.selectedTotal){
          this.disabledNextBtn = true;
        } else {
          this.disabledNextBtn = false;
        }
      },
      page: function(newVal, oldVal) {
        this.currentPage = newVal;
        this.disabledPrevBtn = newVal == 1 ? true : false;
      }
    },
    computed: {
      totalPage: function () {
       return this.allPages = Math.ceil(this.totalRecords / this.selectedTotal)
      }
    },
    methods: {
      prevPage: function () {
        this.currentPage = (this.currentPage -= 1);
        this.disabledPrevBtn = (this.currentPage > 1) ? false : true;
        this.disabledNextBtn = (this.currentPage >= this.allPages) ? true : false;
        this.changeParams();

      },
      nextPage: function () {
        this.currentPage = (this.currentPage += 1);
        this.disabledPrevBtn = (this.currentPage > 1) ? false : true;
        this.disabledNextBtn = (this.currentPage >= this.allPages) ? true : false;
        this.changeParams();
      },
      selectEntries: function (entries) {
        console.log('selectEntries',entries);
        this.activeTotal = !this.activeTotal;
        this.selectedTotal = entries;
        this.changeParams();
      },
      onChangeCurrentPage: function () {
        console.log('onChangeCurrentPage');
        this.disabledPrevBtn = (this.currentPage > 1) ? false : true;
        this.disabledNextBtn = (this.currentPage >= this.allPages) ? true : false;
        this.changeParams();
      },
      changeParams: function() {
        this.changeTable({
          page: this.currentPage,
          limit: this.selectedTotal
        })
      }
    }

  }
</script>
