<template>
  <div class="search-filter">
    <div class="search-category" :class="{'active' : activeCategory}">
      <div class="selected-category" @click="activeCategory = !activeCategory">
        {{ selectedCategory }}
        <chevron-down-icon class="font-fix icon"></chevron-down-icon>
      </div>
      <div class="list-category">
        <div v-for="category in searchCategory" @click="selectCategory(category)">{{ category.title }}</div>
      </div>
    </div>
    <div class="search-input">
      <input placeholder="Search" type="text" v-model="searchValue" @keyup="onChangeSearch">
      <img src="/static/img/admin/search-btn.svg">
    </div>
  </div>
</template>

<script>
  import {ChevronDownIcon} from 'vue-feather-icons';

  export default {
    name: "Search",
    components: {ChevronDownIcon},
    props: ['searchCategory', 'onChange'],
    data: function () {
      return {
        selectedCategory: 'All',
        searchFilter: 'all',
        activeCategory: false,
        searchValue: '',
      }
    },
    methods: {
      selectCategory: function(category) {
        this.activeCategory = !this.activeCategory;
        this.selectedCategory = category.title;
        this.searchFilter = category.filter;
        if (this.searchValue != '') {
          this.onChange({
            filter: this.searchFilter,
            criteria: this.searchValue,
          });
        }
      },
      onChangeSearch: function(){
        this.onChange({
          filter: this.searchFilter,
          criteria: this.searchValue,
        });
      }
    }
  }
</script>

