<template>
    <div class="brand-logo">
        <router-link :to="{name: 'Homepage'}">
            <img src="~@/assets/logo_big.png" alt="Brand Logo" />
        </router-link>
    </div>
</template>
<script>
export default {
    name: 'logo'
}
</script>
