<template>
    <form class="nav-search" @submit="search()">
      <search-input v-model="query" />
    </form>
</template>
<script>
import SearchInput from '@/components/lib/input/SearchInput';

export default {
  name: 'search',
  data() {
    return {
      query: ''
    };
  },
  methods: {
    search() {
      console.log(this.query);
    }
  },
  components: {
    SearchInput
  }
};
</script>
