<template>
  <div class="form-group">
    <input :placeholder="label" :value="value" @input="$emit('input', $event.target.value)" type="text" class="text-input">
    <label class="placeholder-main">{{label}}<span v-if="secondaryLabel">{{secondaryLabel}}</span></label>
    <btn-primary @click.native="$emit('action')" :value="actionText" />
  </div>
</template>
<script>
import BtnPrimary from '@/components/lib/btn/BtnPrimary';

export default {
  name: 'action-input',
  components: {
    BtnPrimary
  },
  props: {
    actionText: {
      type: String
    },
    label: {
      type: String
    },
    secondaryLabel: {
      type: String
    },
    value: {
      type: String
    }
  }
};
</script>
