<template>
    <div class="upload-container">
        <div class="upload-dnd">
        <div 
            @drop.stop.prevent="onDropped($event)" 
            class="drag-n-drop" 
            @click="openPicker()"

            @dragstart="dragging=true"
            @dragenter="dragging=true"
            @drag="dragging=true"
            @dragend="dragging=false"
            @dragover.stop.prevent="dragging=true"
            @dragleave="dragging=false"
            
            :class="{ dragging }">
            <p class="title">{{label}}</p>
            <img class="icon" src="~@/assets/icon/upload.svg">
        </div>
        <div class="file-manual">
            <p style="font-weight: 600">or</p>
            <btn-primary class="big" @click.native="openPicker()" value="Select a file" />
            <input @change="onManualFile($event.target)" ref="fileInput" multiple="false" :accept="formats" type="file" style="display: none">
        </div>
    </div>
  </div>
</template>
<script>
import BtnPrimary from '@/components/lib/btn/BtnPrimary';
export default {
  name: 'drag-n-drop',
  data() {
    return {
      files: [],
      dragging: false
    };
  },
  methods: {
    onDropped(event) {
      let dt = event.dataTransfer;
      let files = dt.files;
      this.$emit('file', files[0]);
    },
    openPicker() {
      this.$refs.fileInput.click();
    },
    onManualFile(event) {
      let file = event.files[0];
      this.$emit('file', file);
    }
  },
  components: {
    BtnPrimary
  },
  props: {
    label: {
      type: String,
      default: 'File'
    },
    formats: {
      type: String
    }
  }
};
</script>