<template>
<div class="phone-input input-block">
  <div class="mask">+1</div>
  <input refs="inp" class="input-form" type="text" v-bind="props" v-on="listeners" />
</div>
</template>

<script>
export default {
  name: 'phone-input',
  computed: {
    props() {
      return this.$attrs;
    },
    listeners() {
      return this.$listeners;
    }
  }
}
</script>

