<template>
    <div class="input-search">
        <input placeholder="Search" class="search-inp" ref="search" @input="$emit('change', $event.target.value)" type="text">
        <img class="search-icon" src="~@/assets/icon/zoom.svg">
    </div>
</template>
<script>
export default {
  name: 'search-input',
  props: {
    value: {
      type: String
    }
  }
};
</script>