<template>
    <div class="bg-dark">
        <h1 class="h1-title">Dr. Habib - Next Health</h1>
        <div class="buttons-group">
            <button class="btn-dark" v-for="(btn, i) in buttons" :key="i">
                <router-link v-if="btn && !btn.blank" :to="btn.link">
                    <span>{{btn.label}}</span>
                </router-link>
                <a v-else :href="btn.link" :target="btn && btn.blank ? '_blank' : ''">
                    <span>{{btn.label}}</span>
                </a>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        buttons: [
            {
                label: 'Executive Physicals',
                link: '/executive-physical'
            },
            {
                label: 'Shop Supplements',
                link: '/shop'
            },
            {
                label: 'Alternative Medicine',
                link: '/alternative-medicine'
            },
            {
                label: 'All Services',
                link: '/services'
            },
            {
                label: 'YouTube',
                link: 'https://www.youtube.com/channel/UCmPRewPv6QtwO8JD7S1us2g',
                blank: true
            },
            {
                label: 'Instagram',
                link: 'https://www.instagram.com/doctorhabib/',
                blank: true
            },
            {
                label: 'Facebook',
                link: 'https://www.facebook.com/drhabibNH',
                blank: true
            },
            {
                label: 'Twitter',
                link: 'https://twitter.com/drhabibnh',
                blank: true
            },
            {
                label: 'Linkedin',
                link: 'https://www.linkedin.com/company/next-health-va/',
                blank: true
            },
            {
                label: 'Podcast',
                link: 'https://itunes.apple.com/us/podcast/rethink-medicine-with-dr-habib/id1402201846?mt=2',
                blank: true
            }
        ]
    })
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
html, body {
    margin: 0;
    padding: 0;
}

.bg-dark {
    background: #424242;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.bg-dark .h1-title {
    margin-bottom: 136px;
}

.h1-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    color: #DDDDDD;
}
  
.buttons-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons-group > * {
    margin-bottom: 74px;
}
  
.btn-dark {
    width: 575px;
    height: 122px;
    background: #333333;
    border: none;
    box-shadow: 2px 2px 21px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    span {
        color: #3CCB9F;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
    }
}
</style>