<template>
  <div class="shop-page account-page">
    <loader v-if="isLoader"></loader>
    <shop-header :hideAllBlock="this.$root.openShopMenu"></shop-header>
    <shop-menu :hideAllBlock="this.$root.openShopMenu"></shop-menu>
    <div class="wrapper">
      <div class="shop-main-section">
        <div class="account-main">
          <div class="left-side account-block">
            <div class="personal-info">
              <img src="/static/img/shop/user.png" alt="">
              <p class="personal-name">{{ fullName }}</p>
              <!--<a class="account-link" href="#">-->
                <!--<edit-3-icon class="font-fix"></edit-3-icon>-->
                <!--Edit profile</a>-->
            </div>
            <div class="personal-nav">
              <a href="/shop/account/orders"
                 v-bind:class="{ 'active' : orderHistory}"
                 class="personal-nav-link">Order History</a>
              <a href="/shop/account/subscription"
                 v-bind:class="{ 'active' : orderSubscribe}"
                 class="personal-nav-link">Subscription orders</a>
              <!--<p class="personal-nav-link">Payment methods</p>-->
              <!--<p class="personal-nav-link">Rewards</p>-->
              <a href="/shop/account/rewards"
                 v-bind:class="{ 'active' : rewards}"
                 class="personal-nav-link">Rewards</a>
              <a href="/shop/account/shipping"
                 v-bind:class="{ 'active' : shippingAddress}" class="personal-nav-link">Addresses</a>
              <a href="/shop/account/profile"
                 v-bind:class="{ 'active' : editProfile}" class="personal-nav-link">Edit profile</a>
              <p @click="onLogout" class="personal-nav-link">LogOut</p>

            </div>
          </div>

          <div class="right-side account-block">
            <router-view v-on:changeLoader="onChangeLoader"/>
          </div>
        </div>

      </div>
    </div>
    <AppFooter></AppFooter>

  </div>

</template>

<script>
  import ShopHeader from "../general/shopHeader";
  import ShopMenu from "../general/shopMenu";
  import AppFooter from "../../general/Footer";
  import {Edit3Icon} from 'vue-feather-icons';

  import axios from 'axios';
  import {apiURL} from '../../../../config';
  import Loader from "../components/loader.vue";

  export default {
    name: 'AccountLayout',
    components: {
      Loader,
      AppFooter,
      ShopMenu,
      ShopHeader,
      Edit3Icon
    },
    data() {
      return {
        orderHistory: false,
        orderTracking: false,
        orderSubscribe: false,
        shippingAddress: false,
        editProfile: false,
        rewards: false,
        userName: '',
        isLoader: false,
      }
    },
    computed: {
      isActiveUser: function() {
        return this.$store.state.user;
      },
      fullName: function() {
        return (this.$store.state.user) ? (this.$store.state.user.first_name + ' ' + this.$store.state.user.last_name) : '';
      }
    },
    methods: {
      onLogout: function(){
        if (this.$cookie.get('user_token')) {
          this.$cookie.delete('user_token');
        }
        document.location.replace('/shop');
      },
      onChangeLoader: function (status) {
        this.isLoader = status;
      }
    },
    mounted(){
      switch (this.$router.currentRoute.name) {
        case 'orders': this.orderHistory = true; break;
        case 'subscription': this.orderSubscribe = true; break;
        case 'shippingAddress': this.shippingAddress = true; break;
        case 'profile': this.editProfile = true; break;
        case 'rewards': this.rewards = true; break;
      }
    }

  }
</script>

