<template>
  <div class="account-info account">
    <div class="account-info--header">
      <div class="title">Order History</div>
    </div>
    <div class="account-info--body">
      <div class="account-table">
        <div class="account-table--line order account-table--header">
          <div class="left-block">
            <div class="columen">Order ID</div>
            <div class="columen">Date / time</div>
            <div class="columen text-center">With subscription</div>
          </div>
          <div class="right-block">
            <div class="columen text-center">Total</div>
            <div class="columen text-center">Status</div>
          </div>
        </div>
        <div
          v-for="(order,index) in orders"
          :key="index"
          class="account-table--line order"
          :class="getClassforStatus(order)"
        >
          <div class="left-block">
            <div class="columen strong columen-id">#{{order.id}}</div>
            <div class="columen columen-date">{{order.date}}</div>
            <div class="columen columen--icon text-center columen-sub">
              <calendar-icon v-if="order.subscription" class="font-fix subscription"></calendar-icon>
            </div>
          </div>
          <div class="right-block">
            <div class="columen text-center strong columen-total">${{priceSet(order.total)}}</div>
            <div
              class="columen text-center columen-status"
              :class="getClassforStatus(order)"
            >{{order.status}}</div>
            <div class="columen--icon text-right open-details" @click="onOrderClick(order)">
              <chevron-down-icon v-if="!order.show" class="font-fix"></chevron-down-icon>
              <chevron-up-icon v-if="order.show" class="font-fix"></chevron-up-icon>
            </div>
          </div>

          <order-details v-if="order.show" v-on:changeLoader="onChangeLoader" :orderId="order.id"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OrderDetails from "./elements/order-details";
import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";
import ChevronUpIcon from "vue-feather-icons/icons/ChevronUpIcon";

import axios from "axios";
import { apiURL } from "../../../../config";
import CalendarIcon from "vue-feather-icons/icons/CalendarIcon";

export default {
  name: "orders",
  components: {
    CalendarIcon,
    ChevronUpIcon,
    ChevronDownIcon,
    OrderDetails
  },
  props: [],
  data() {
    return {
      orders: null,
      monthArr: [
        "Jan.",
        "Feb.",
        "Mar.",
        "Apr.",
        "May",
        "June",
        "July",
        "Aug.",
        "Sept.",
        "Oct.",
        "Nov.",
        "Dec."
      ]
    };
  },
  watch: {},
  methods: {
    priceSet: function(data) {
      return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
    },
    getClassforStatus: function(order) {
      if (order && order.status) {
        return order.status.replace(" ", "-").toLowerCase();
      }
    },
    getOrders: function() {
      axios({
        method: "get",
        url: apiURL + "/api/orders",
        headers: {
          Authorization: "Bearer " + this.$cookie.get("user_token")
        }
      })
        .then(response => {
          let res = response.data;
          this.orders = [];
          res.forEach(item => {
            let s = item.createdAt;
            let a = s.split(/[^0-9]/);
            let date = new Date(a[0], a[1] - 1, a[2], a[3], a[4], a[5]);
            let dateString =
              this.monthArr[date.getMonth()] +
              " " +
              date.getDate() +
              ", " +
              date.getFullYear() +
              " " +
              date.getHours() +
              ":" +
              date.getMinutes();
            this.orders.push({
              id: item.id,
              date: dateString,
              total: item.total_cost + item.subscription_total_cost,
              status:
                item.status === "Delivery in Progress"
                  ? "Processing"
                  : item.status,
              subscription: item.subscription_exists,
              show: false
            });
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
    onOrderClick(order) {
      order.show = !order.show;
      if (order.show) {
        this.$emit("changeLoader", order.show);
      }
    },
    onChangeLoader: function(status) {
      this.$emit("changeLoader", status);
    }
  },
  mounted() {
    this.getOrders();
  }
};
</script>

<style scoped>
</style>
