<template>
    <div class="account-info account reward-system">
        <div class="account-info--header">
            <div class="title">Rewards</div>
        </div>
        <div class="account-info--body">
            <div class="section-rewards">
                <p>
                    Collect {{5 - reward.stamps}} more stamps to receive $50 coupon
                </p>
                <progress-arrow :stamps="reward.stamps"/>
            </div>
            <div class="section-progress">
                <progressBar :amount="reward.amount" />
            </div>
        </div>

        <div class="title title-my-coupon">
            <span>My coupon</span>
        </div>

        <div class="account-info--body">
            <coupons-container/>
        </div>
    </div>
</template>
<script>
import progressArrow from './elements/progressArrow';
import progressBar from './elements/progressBar';
import couponsContainer from './elements/CouponsContainer';

export default {
    name: 'Rewards',
    components: {
        progressArrow,
        progressBar,
        couponsContainer
    },
    data(){
        return {
            reward: {}
        }
    },
    mounted(){
        let userToken = this.$cookie.get('user_token');
        this.$store.dispatch('getRewardInfo', userToken).then(()=>{
            this.reward = this.$store.getters['getRewardInfo'];
        });
    }
}
</script>