<template>
  <div class="account-info account">
    <div class="account-info--header">
      <div class="title">My subscriptions</div>
    </div>
    <div class="account-info--body">
      <div class="account-table">
        <div class="account-table--line subscription account-table--header">
          <div>Product</div>
          <div class="text-center">Price</div>
          <div class="text-center">Delivery every</div>
          <div class="text-right">Status</div>
        </div>
        <div class="account-table--line subscription" v-for="(subscription, key) in subscriptions">
          <div>
            <a v-if="subscription.active"
               class="btn btn-link btn-link--account product-name"
               :href="'/shop/product/'+subscription.slug">{{subscription.productName}}</a>
            <p class="product-name" v-if="!subscription.active">{{subscription.productName}}</p>
          </div>
          <div class="text-center text-right-mobile">${{subscription.price}}</div>
          <div class="text-center text-left-mobile">{{subscription.period}}</div>
          <div>
            <div class="onoffswitch" style="float: right;">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                     :id="key"
                     :disabled="!subscription.status"
                     @change="onChangeStatus($event.target.checked,key)"
                     v-bind:checked="subscription.status">
              <label class="onoffswitch-label" :for="key">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import {apiURL} from '../../../../config';

  export default {
    name: "subscription",
    components: {},
    props: [],
    data() {
      return {
        subscriptions: null,
      }
    },
    watch: {},
    methods: {
      priceSet: function (data) {
        return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
      },
      onChangeStatus: function(status,key){
        let sub = this.subscriptions[key];

        axios({
          method: 'put',
          url: apiURL + '/api/subscription/canceled/' + sub.id,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            sub.status = false;
            console.log(response);
          })
          .catch(error => {
            console.log(error);

          });

      },
      getSubscription: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/subscription',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let res = response.data;
            this.subscriptions = [];
            res.forEach(item => {
              let data = {
                id: item.id,
                productName: item.plan.delivery_period.product.name,
                productId:item.plan.delivery_period.product.id,
                slug:item.plan.delivery_period.product.slug,
                price: this.priceSet(item.purchase_price),
                status: (item.status == 'Active'),
                period: item.plan.delivery_period.period + ' ' + item.plan.delivery_period.unit,
                active: item.plan.delivery_period.product.active,
              };
              this.subscriptions.push(data);
            });
          })
          .catch(error => {
            console.log(error);

          });
      },
    },
    mounted() {
      this.getSubscription();
    }
  }
</script>

<style scoped>

</style>
