<template>
  <div class="login-page client shop-login">
    <div class="block-login">
      <div class="top-block">
        <a class="logo" href="/">
          <img src="/static/img/admin/logo.svg"/>
        </a>
      </div>

      <section class="form-login">
        <div class="main-block">
          <h2 v-show="!isSuccessful">New account</h2>
          <h2 v-show="isSuccessful">Registration successful!</h2>
          <div v-show="!isCreateAccount &amp;&amp; !isSuccessful" class="social-block">

            <facebook-button isSignUp="true" class="m-b-10"></facebook-button>
            <google-button isSignUp="true"></google-button>
          </div>
          <div v-show="!isCreateAccount" class="line-text">
            <span class="text-regular bold">OR</span>
          </div>

          <div class="bottom-block">
            <p v-show="isSuccessful" class="text-regular">Registration data was sent to the specified email.</p>
            <a v-show="isSuccessful" class="btn-login btn-button btn-button--green m-t-30" href="/shop">Go to shop</a>
            <button type="button" class="btn-login btn-button"
                    v-show="!isCreateAccount"
                    @click="isCreateAccount = !isCreateAccount">Register with Email</button>
            <create-account v-show="isCreateAccount"></create-account>
            <p v-show="!isSuccessful" class="text-regular small">By registering, you accept our
              <a class="btn-login btn-link" href="#">Terms</a>,
              <a class="btn-login btn-link" href="#">Data Policy</a><br> and
              <a class="btn-login btn-link" href="#">Cookies Policy.</a>
            </p>
          </div>

        </div>

        <div v-show="!isSuccessful" class="header-line">
          <p class="text-regular">Already have account?
            <a class="btn-login btn-link btn-bold" href="/shop/login">Sign In</a>
          </p>
        </div>
      </section>

      <p class="copy-right">2019 © NextHealth</p>
    </div>
  </div>
</template>

<script>
  import FacebookButton from "./components/facebook-button.vue";
  import GoogleButton from "./components/google-button.vue";
  import CreateAccount from "./components/create-account.vue";

  export default {
    components: {
      CreateAccount,
      GoogleButton,
      FacebookButton
    },
    name: "newAccount",
    data(){
      return {
        isCreateAccount: true,
        isSuccessful: false,
      }
    }
  }
</script>

<style scoped>
</style>
