<template>
  <div class="login-page client shop-login">
    <div class="block-login">
      <div class="top-block">
        <a class="logo" href="/">
          <img src="/static/img/admin/logo.svg"/>
        </a>
      </div>

      <section class="form-login">
        <div class="main-block">
          <h2>Sign in to your account</h2>
          <sign-in client="true"></sign-in>


          <div v-if="showSocialBlock" class="social-block">
            <div class="line-text">
              <span class="text-regular bold">Or sign in with</span>
            </div>
            <facebook-button class="btn-small m-r-5"></facebook-button>
            <google-button class="btn-small m-l-5"></google-button>
          </div>
        </div>


        <div class="header-line">
          <p class="text-regular">Don't have an account?
            <a class="btn-login btn-link btn-bold" href="/shop/new-account">Sign Up</a>
          </p>
        </div>
      </section>

      <p class="copy-right">2019 © NextHealth</p>
    </div>
  </div>
</template>

<script>
  import SignIn from "../../general/signInForm.vue";
  import FacebookButton from "./components/facebook-button.vue";
  import GoogleButton from "./components/google-button.vue";

  export default {
    components: {
      GoogleButton,
      FacebookButton,
      SignIn},
    name: "UserLogin",
    data(){
      return {
        showSocialBlock: false
      }
    }
  }
</script>

