<template>
  <div class="popup-overlay">
    <div class="popup coupon-popup">
      <div class="popup-header">
        <h3 class="popup-header--title">
          {{ modalTitle }}
          <span v-if="id" class="coup-status" :class="getClassforStatus(coupon.status)">{{coupon.status}}</span>
        </h3>
        <span class="close"><x-icon class="font-fix" @click="close"></x-icon></span>
      </div>

      <div class="popup-body">
        <custom-input v-model="coupon.description"
                      :errorInput="coupon.descriptionError"
                      :onChange='onChangeInput'
                      label="Description"
                      type="text">
        </custom-input>

        <div class="owner-block">
          <div class="input-group form-control">
            <p class="text-form">Owner name</p>
            <input class="input-form" 
                  type="text"
                  v-model="owner"
                  :class="{'error-input': coupon.ownerError}" 
                  :disabled="idCoupon" />
            <p v-if="coupon.ownerError" class="error-text">This owner does not exist.</p>
          </div>
          <ul class="owner-list" v-if="ownerList.length">
            <li v-for="(owner, i) in ownerList"
              :key="i"
              @click="selectOwner(owner)">{{owner.email}}</li>
          </ul>
        </div>

        <div class="input-group form-control">
          <p class="text-form">Expiration date</p>
          <div class="date-row">
            <div class="date-fix small-block">
              <p class="icon-date">
                <calendar-icon class="font-fix"></calendar-icon>
              </p>
              <datetime placeholder="Set date"
                        v-model="coupon.date_of_expiration"
                        type="date"
                        format="yyyy-MM-dd"
                        class="datetime-block"></datetime>
            </div>
          </div>
        </div>

        <div class="small-block">
          <custom-input v-model="coupon.code"
                      :errorInput="coupon.codeError"
                      :onChange='onChangeInput'
                      label="Code"
                      type="text"
                      :disabled="idCoupon" >
          </custom-input>
        </div>

        <div class="small-block-group">
          <div class="small-block l-small-block">
            <custom-input v-model="coupon.amount"
                        :errorInput="coupon.amountError"
                        :onChange='onChangeInput'
                        label="Amount"
                        type="text"
                        :disabled="idCoupon" >
            </custom-input>
          </div>

          <div class="small-block r-small-block">
            <div class="input-group form-control">
              <p class="text-form">Type</p>
              <select v-model="coupon.type" :value="coupon.type" @change="onChangeInput" class="select-coupon" :disabled="idCoupon">
                <option value="$">$</option>
                <option value="%">%</option>
              </select>
            </div>
          </div>
        </div>

        <product :products="product"
                 @onChangeProduct='onChangeProduct'
                 :disabled="!!idCoupon">
        </product>
      </div>

      <div class="popup-bottom">
        <a href="#" class="btn btn-button btn-round" @click="close">Cancel</a>
        <a href="#" class="btn btn-button btn-round btn-button--green" :class="{'disabled': !isChange}" @click="saveCoupon()">Save</a>
      </div>
    </div>
  </div>
</template>

<script>
  import {XIcon,CalendarIcon} from 'vue-feather-icons';
  import {Datetime} from 'vue-datetime';
  import CustomInput from "../components/input.vue";
  import Product from "./component/product-select.vue";

  import axios from 'axios';
  import {apiURL} from '../../../../config';
  import { setTimeout } from 'timers';

  export default {
    name: "addcoupon",
    components: {
      CustomInput,
      Product,
      XIcon,datetime: Datetime, CalendarIcon
    },
    props:['idCoupon'],
    data(){
      return {
        isChange: false,
        modalTitle: 'New Coupon',
        coupon:{},
        product: [],
        owner: '',
        ownerList: [],
        ownerDropdown: true,
        id: '',
        currentOwner: false,
        expirationDate: ''
      }
    },
    watch: {
      idCoupon: {
        handler(newId) {
          if (newId) {
            this.modalTitle = "Edit Coupon #" + newId;
            this.getCoupon(newId);
            this.id = newId;
            this.showOwnerList = false;
          }
        },
        immediate: true
      },
      owner() {
        this.getOwner();
        if(this.ownerList.length === 1 && this.owner === this.ownerList[0].email){
          this.currentOwner = true;
        } else {
          this.currentOwner = false;
        }
      },
      date_of_expiration() {
        if(this.coupon.date_of_expiration != this.expirationDate && this.id){
          this.isChange = true;
        }
      }
    },
    mounted() {
      this.coupon = {
          description: '',
          descriptionError: false,
          owner: null,
          ownerError: false,
          code: '',
          codeError: false,
          amount: '',
          amountError: false,
          type: '',
          products: '',
          date_of_expiration: '',
      };
      document.addEventListener('click', () => {
        if(this.ownerList.length) {
          if(this.ownerList.length === 1 && this.owner === this.ownerList[0].email){
            this.currentOwner = true;
          } else {
            this.currentOwner = false;
          }
          this.ownerList = [];
        }
      });
    },
    methods: {
      close: function(){
        this.modalTitle = '';
        this.coupon = {
          description: '',
          descriptionError: false,
          owner: null,
          ownerError: false,
          code: '',
          codeError: false,
          amount: '',
          amountError: false,
          type: '',
          products: '',
          date_of_expiration: '',
        };
        // this.showOwnerList = false;
        this.product = [];
        this.$emit('close');
      },
      // onKeyupOwner: function () {
      //   if (this.coupon.owner) {
      //     showOwnerList = true
      //   }
      //   this.onChangeInput();
      // },
      onChangeInput: function(){
        if (this.coupon.description && this.coupon.code && this.coupon.amount && this.coupon.type) {
          this.isChange = true;
        } else {
          this.isChange = false;
        }
      },
      onChangeProduct: function(data){
        this.coupon.products = data;
        this.onChangeInput();
      },
      selectOwner: function(owner){
        this.coupon.owner = owner;
        this.owner = owner.email;
        this.currentOwner = true;
        this.ownerList = [];
      },
      getOwner: function(){
        axios({
          method: 'get',
          url: apiURL + '/api/admin/user-search?email=' + this.owner,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.ownerList = response.data.users;
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      },
      saveCoupon: function(){
        let productsId = this.coupon.products ? this.coupon.products.map(item => item.id) : "";
        if(this.ownerList.length === 1){
          if(this.owner === this.ownerList[0].email){
            this.currentOwner = true;
          } else {
            this.currentOwner = false;
          }
        }
        if(this.id){
          axios({
            method: 'put',
            url: apiURL + '/api/admin/coupon/' + this.id,
            headers: {
              Authorization: 'Bearer ' + this.$cookie.get('user_token'),
            },
            data: {
              owner: this.coupon.owner ? this.coupon.owner.id : null,
              code: this.coupon.code,
              description: this.coupon.description,
              date_of_expiration: this.coupon.date_of_expiration.slice(0,10) ? this.coupon.date_of_expiration.slice(0,10) : null,
              amount: Number(this.coupon.amount),
              type: this.coupon.type,
              products: productsId ? productsId : null
            }
          })
            .then(res => {
              this.$emit('newCoupon', res.data);
            })
        } else {
          if(this.owner) {
            if(this.currentOwner) {
              axios({
                method: 'post',
                url: apiURL + '/api/admin/coupon',
                headers: {
                  Authorization: 'Bearer ' + this.$cookie.get('user_token'),
                },
                data: {
                  owner: this.coupon.owner ? this.coupon.owner.id : null,
                  code: this.coupon.code,
                  description: this.coupon.description,
                  date_of_expiration: this.coupon.date_of_expiration.slice(0,10),
                  amount: Number(this.coupon.amount),
                  type: this.coupon.type,
                  products: productsId
                }
              })
              .then(res => {
                this.$emit('newCoupon', res.data);
              })
            } else {
              this.coupon.ownerError = true;
            }
          } else {
            axios({
              method: 'post',
              url: apiURL + '/api/admin/coupon',
              headers: {
                Authorization: 'Bearer ' + this.$cookie.get('user_token'),
              },
              data: {
                owner: this.coupon.owner ? this.coupon.owner.id : null,
                code: this.coupon.code,
                description: this.coupon.description,
                date_of_expiration: this.coupon.date_of_expiration.slice(0,10),
                amount: Number(this.coupon.amount),
                type: this.coupon.type,
                products: productsId
              }
            })
            .then(res => {
              this.$emit('newCoupon', res.data);
            })
          }
        }
      },
      getCoupon: function (id) {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/coupon/' + id,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            console.log('response',response);
            this.coupon = response.data;
            this.product = response.data.products;
            this.owner = response.data.owner ? response.data.owner.email : '';
            this.expirationDate = response.data.date_of_expiration;
          })
          .catch(error => {
            // document.location.replace('/admin/login');
          });
      },
      getClassforStatus: function (status) {
        if(status) {
          return status.toLowerCase();
        }
      }
    },
    computed: {
      date_of_expiration() {
        return this.coupon.date_of_expiration
      }
    }
  }
</script>

<style scoped>
  .popup-header--title span {
    text-transform: none;
    font-size: 14px !important;
    font-weight: normal;
    letter-spacing: 0;
  }
  .coupon-popup {
    height: 600px;
    overflow-y: scroll;
  }
  .owner-block {
    position: relative;
  }
  ul.owner-list {
    position: absolute;
    width: 100%;
    top: 63px;
    z-index: 99;
    padding: 5px 0;
    background: #fff;
    box-shadow: 0px 1px 15px rgba(69, 65, 78, 0.1);
  }
  .owner-list li {
    color: #455C6F;
    font-weight: normal;
    line-height: 24px;
    padding: 5px 24px;
    cursor: pointer;
  }
  .small-block-group {
    overflow: hidden;
  }
  .small-block {
    width: 172px;
  }
  .r-small-block,
  .l-small-block {
    float: left;
  }
  .l-small-block {
    margin-right: 16px;
  }
  .small-block .icon-date {
    position: absolute;
    top: 25px;
    height: 42px;
    padding: 10px 12px;
    background: #F2F5F8;
    border: 1px solid #D7E4F0;
    border-radius: 3px 0px 0px 3px;
  }
  .datetime-block {
    padding-left: 41px !important;
  }
  .select-coupon {
    width: 100%;
    height: 38px;
  }
  .popup-body .multiselect__tags {
    border: 1px solid #D7E4F0 !important;
  }
</style>
