<template>
    <div class="disposable-tag" :class="{ 'with-rate' : rate>0 }">
        {{label}}
        <div v-if="rate<=0" @click.prevent.stop="$emit('close')" class="img-close"></div>
        <span v-else>{{rate}}</span>
    </div>
</template>
<script>
export default {
  name: 'mutual-btn',
  props: {
    selected: {
      type: Boolean
    },
    label : {
      type: String
    },
    rate: {
      type: Number,
      default: 0
    }
  }
};
</script>