<template>
  <div class="admin-page sub-page">
    <admin-menu class="sub-active" :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></admin-menu>

    <div class="admin-content">
      <AdminHeader :class="this.$root.hideMenu ? 'w-70' : 'w-240'"></AdminHeader>
      <div class="admin-main-section">
        <h1 class="page-title">Subscriptions</h1>

        <div class="admin-main-block">
          <div class="admin-main-block-header">
            <div class="left-block">
              <h3 class="admin-main-title">Subscription list</h3>

            </div>
            <div class="right-block">
              <search
                :search-category="[
                {title:'All', filter:'all'},
                {title:'ID', filter:'id'},
                {title:'Customer', filter:'customer'},
                {title: 'Subscription source', filter:'source'},
                {title: 'Price', filter:'price'},
                {title: 'Start date', filter:'start_date'},
                {title: 'Next payment', filter:'next_delivery'}]"
                :onChange="onChangeSearch"
                :page="page"
              ></search>
            </div>
          </div>
          <div class="admin-filter-case">
            <filter-status :onSelect="onFilterChange"
                           :statusList="['Active', 'Canceled']"
            ></filter-status>


          </div>
          <div class="admin-table">
            <table>
              <thead>
              <tr>
                <th class="table-header-th">
                  <a  @click="sortTable('id')">ID
                    <i class="fa"
                       :class="{'fa-sort': sort != 'id',
                         'active fa-sort-down': sort == 'id' && idSort=='ASC',
                         'active fa-sort-up': sort == 'id' && idSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('customer')">Customer
                    <i class="fa"
                       :class="{'fa-sort': sort != 'customer',
                         'active fa-sort-down': sort == 'customer' && customerSort=='ASC',
                         'active fa-sort-up': sort == 'customer' && customerSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('sourse')">Subscription source
                    <i class="fa"
                       :class="{'fa-sort': sort != 'sourse',
                         'active fa-sort-down': sort == 'sourse' && sourceSort=='ASC',
                         'active fa-sort-up': sort == 'sourse' && sourceSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a @click="sortTable('period')">Period
                    <i class="fa"
                       :class="{'fa-sort': sort != 'period',
                         'active fa-sort-down': sort == 'period' && periodSort=='ASC',
                         'active fa-sort-up': sort == 'period' && periodSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th table-td-right">
                  <a @click="sortTable('price')">Price
                    <i class="fa"
                       :class="{'fa-sort': sort != 'price',
                         'active fa-sort-down': sort == 'price' && priceSort=='ASC',
                         'active fa-sort-up': sort == 'price' && priceSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                  <a  @click="sortTable('start')">Start date
                    <i class="fa"
                       :class="{'fa-sort': sort != 'start',
                         'active fa-sort-down': sort == 'start' && startSort=='ASC',
                         'active fa-sort-up': sort == 'start' && startSort=='DESC'}"></i>
                  </a>
                </th>
                <th class="table-header-th">
                <a @click="sortTable('next')">Next payment
                    <i class="fa"
                       :class="{'fa-sort': sort != 'next',
                         'active fa-sort-down': sort == 'next' && nextSort=='ASC',
                         'active fa-sort-up': sort == 'next' && nextSort=='DESC'}"></i>
                </a>
              </th>
                <th class="table-header-th">
                  <a @click="sortTable('status')">Status
                    <i class="fa"
                       :class="{'fa-sort': sort != 'status',
                         'active fa-sort-down': sort == 'status' && statusSort=='ASC',
                         'active fa-sort-up': sort == 'status' && statusSort=='DESC'}"></i>
                  </a>
                </th>

              </tr>
              </thead>
              <tbody>
              <tr v-for="sub in subscriptionList">
                <td class="table-td-left item-id">{{ sub.id }}</td>
                <td class="table-td-left">{{ sub.customer }}</td>
                <td class="table-td-left">{{ sub.source }}</td>
                <td class="table-td-left">{{ sub.period }}</td>
                <td class="table-td-right tab" v-text="'$'+sub.price"></td>
                <td class="table-td-left">{{ sub.start_date }}</td>
                <td class="table-td-left"> {{ sub.next_date }}</td>
                <td class="table-td-left">
                  <span class="sub-status"
                        v-bind:class="getClassforStatus(sub.status)">
                    {{ sub.status }}
                  </span>
                </td>

              </tr>
              </tbody>

            </table>
          </div>

          <pagination
            :total-records = "totalRecords"
            :changeTable='changeTable'
          ></pagination>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AdminMenu from "../general/AdminMenu";
  import AdminHeader from "../general/AdminHeader";
  import Search from "../general/Search";
  import {EditIcon, Trash2Icon, ChevronDownIcon} from 'vue-feather-icons';
  import filterStatus from "../components/filter-status.vue";
  import Pagination from "../general/Pagination";

  import axios from 'axios';
  import {apiURL} from '../../../../config';

  export default {
    name: "subscriptions",
    components: {
      filterStatus,
      Pagination,
      Search, AdminHeader, AdminMenu, EditIcon, Trash2Icon, ChevronDownIcon},
    data: function () {
      return {
        totalRecords: 0,
        page: 1,
        limit: 10,
        subscriptionList: [],
        sort: 'id',
        idSort: 'ASC',
        customerSort: false,
        sourceSort: false,
        periodSort: false,
        priceSort: false,
        startSort: false,
        nextSort: false,
        statusSort: false,
        order: 'ASC',
        filterByStatus: '',
        criteria: '',
        filter: 'all',
      }
    },
    methods: {
      clickActive: function () {
        if (this.activeBtn) {
          this.activeShow = !this.activeShow;
        }
      },
      sortTable: function(param){
        switch (param){
          case 'customer':
            this.sort = 'customer';
            this.customerSort =  this.customerSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.customerSort;
            this.idSort = false;
            this.sourceSort = false;
            this.periodSort = false;
            this.priceSort = false;
            this.startSort = false;
            this.nextSort = false;
            this.statusSort = false;
            break;
          case 'sourse':
            this.sort = 'sourse';
            this.sourceSort =  this.sourceSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.sourceSort;
            this.idSort = false;
            this.customerSort = false;
            this.periodSort = false;
            this.priceSort = false;
            this.startSort = false;
            this.nextSort = false;
            this.statusSort = false;
            break;
          case 'period':
            this.sort = 'period';
            this.periodSort =  this.periodSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.periodSort;
            this.idSort = false;
            this.sourceSort = false;
            this.customerSort = false;
            this.priceSort = false;
            this.startSort = false;
            this.nextSort = false;
            this.statusSort = false;
            break;
          case 'price':
            this.sort = 'price';
            this.priceSort =  this.priceSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.priceSort;
            this.idSort = false;
            this.sourceSort = false;
            this.customerSort = false;
            this.periodSort = false;
            this.startSort = false;
            this.nextSort = false;
            this.statusSort = false;
            break;
          case 'start':
            this.sort = 'start';
            this.startSort =  this.startSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.startSort;
            this.idSort = false;
            this.sourceSort = false;
            this.customerSort = false;
            this.periodSort = false;
            this.priceSort = false;
            this.nextSort = false;
            this.statusSort = false;
            break;
          case 'next':
            this.sort = 'next';
            this.nextSort =  this.nextSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.nextSort;
            this.idSort = false;
            this.sourceSort = false;
            this.customerSort = false;
            this.periodSort = false;
            this.priceSort = false;
            this.startSort = false;
            this.statusSort = false;
            break;
          case 'status':
            this.sort = 'status';
            this.statusSort =  this.statusSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.statusSort;
            this.idSort = false;
            this.sourceSort = false;
            this.customerSort = false;
            this.periodSort = false;
            this.priceSort = false;
            this.startSort = false;
            this.nextSort = false;
            break;
          default:
            this.sort = 'id';
            this.idSort =  this.idSort == 'ASC' ? 'DESC' : 'ASC';
            this.order = this.idSort;
            this.statusSort = false;
            this.sourceSort = false;
            this.customerSort = false;
            this.periodSort = false;
            this.priceSort = false;
            this.startSort = false;
            this.nextSort = false;
        }
        this.changeTable({page: this.page, limit: this.limit});
      },
      getClassforStatus: function(status) {
        return status.replace(' ', '-').toLowerCase();
      },
      getDate: function (date) {
        let day = date.getDate(), month = date.getMonth() + 1, year = date.getFullYear();
        day = (day < 10) ? '0'+ String(day) : day;
        month = (month < 10) ? '0'+ String(month) : month;
        return day + '/' + month + '/' + year;
      },
      onFilterChange: function(data){
        let result = data.filter;
        this.filterByStatus = '';
        if (result.length != 0) {
          result.forEach(item => {
            this.filterByStatus += '&status[]='+item;
          });
        }
        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },
      onChangeSearch: function(data){
        this.filter = data.filter;
        this.criteria = data.criteria;
        this.page = 1;
        this.changeTable({page: this.page, limit: this.limit});
      },

      changeTable: function(data) {
        this.page = data.page;
        this.limit = data.limit;
        let url = '/api/admin/subscriptions?' +
          'page=' + data.page +
          '&limit=' + data.limit +
          '&sort=' + this.sort +
          '&order=' + this.order;
        if (this.filter != 'all' && this.criteria != '') {
          url += '&filter=' + this.filter;
          url += '&criteria=' + this.criteria;
        }

        if (this.filter == 'all' && this.criteria != '') {
          url += '&criteria=' + this.criteria;
        }

        url += this.filterByStatus;

        axios({
          method: 'get',
          url: apiURL + url,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            this.subscriptionList = [];
            response.data.subscriptions.forEach(item => {
              let data = {}, dateStr, plan = item.plan;
              data.id = item.id;
              data.customer = item.customer;
              data.start_date = this.getDate(new Date(item.start_date));
              data.next_date = this.getDate(new Date(item.next_delivery));
              data.source = plan.delivery_period.product.name;
              data.price = Number.prototype.toFixed.call(parseFloat(plan.price) || 0, 2);
              data.period = plan.delivery_period.period + ' ' + plan.delivery_period.unit;
              data.status = item.status;

              this.subscriptionList.push(data);
            });
            this.totalRecords = response.data.count;
          })
          .catch(error => {
            document.location.replace('/admin/login');
          });
      }
    },

    mounted() {
      this.changeTable({page: this.page, limit: this.limit});
    }
  }

</script>
