<template>
  <div class="shop-page shop-category">
    <shop-header :hideAllBlock="this.$root.openShopMenu"></shop-header>
    <shop-menu :hideAllBlock="this.$root.openShopMenu"></shop-menu>
    <div class="wrapper">
      <!--<img class="cat-image" :src="categoryInfo.filename" alt="">-->
      <p class="shop-title">{{categoryInfo.name}}</p>
      <div class="products-list">
        <div v-for="product in productList" :key="product.slug" class="product-item">
          <div class="product-item--image">
            <a :href="'/shop/product/' + product.slug">
              <img :src="product.image" alt="">
            </a>
          </div>
          <div class="product-item--description">
            <a :href="'/shop/product/' + product.slug"><p class="shop-sub-title ">{{product.name}}</p></a>
            <p class="shop-sub-title small">{{ product.oneliner.length > 125 ? product.oneliner.slice(0,120) + '...' : product.oneliner }}</p>
            <rate-stars :stars="product.rating"></rate-stars>
          </div>
          <p v-if="product.oldPrice" class="old-price">${{product.oldPrice}}</p>
          <p class="price">${{product.price}}</p>
          <add-to-cart v-if="!product.delivery_periods_enable || product.subscription_price <= 0"
                       :product-id="product.id"
                       @addToCart="resultAdd"
                       :quantity="1"
                       isShop="true" />
          <div class="btn-add-block" v-if="product.delivery_periods_enable && product.subscription_price > 0">
            <button type="button"
                    class="btn btn-green btn-category"
                    @click="onAddToCart(product.id)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    <add-to-cart-modal v-show="isAddProductToCart"
                       :product="productAddToCart"
                       @close="isAddProductToCart = false; productIdAddToCart=null;"></add-to-cart-modal>
    <AppFooter></AppFooter>
  </div>
</template>

<script>
  import ShopHeader from "../general/shopHeader";
  import ShopMenu from "../general/shopMenu";
  import AppFooter from "../../general/Footer";
  import RateStars from "../components/rate-stars";
  import axios from 'axios';
  import {apiURL} from '../../../../config';
  import AddToCart from "../components/addToCart.vue";
  import AddToCartModal from "../components/addToCartModal.vue";

  export default {
    name: "category",
    components: {
      AddToCartModal,
      AddToCart, RateStars, AppFooter, ShopMenu, ShopHeader},
    data: function () {
      return {
        productList: [],
        categoryInfo: {
          filename: '',
          name: '',
        },
        selectCategory: {},
        apiURL: apiURL,
        isAddProductToCart: false,
        productAddToCart: null,
      }
    },
    watch: {
      selectCategory(){
        if(this.selectCategory) {
          this.getCategoryItems();
          this.getCategoryInfo();
        }
      }
    },
    methods: {
      priceSet: function (data) {
        return Number.prototype.toFixed.call(parseFloat(data) || 0, 2);
      },
      getCategory() {
        axios({
          method: 'get',
          url: apiURL +  '/api/public/categories'
        })
          .then(response => {
            let list = response.data;
            for(let i = 0; i <= list.length-1; i++){
              if(list[i].name === this.$route.params.slug.replace(/\-/g, ' ')) {
                this.selectCategory = list[i];
              }
            }
          })
      },
      getCategoryItems: function () {
        this.getProducts(apiURL + '/api/public/category/' + this.selectCategory.id + '/products');
      },
      getAllProducts: function () {
        this.categoryInfo.name = 'Shop All';
        this.getProducts(apiURL + '/api/public/products-list');
      },
      getProducts: function (url) {
        axios({
          method: 'get',
          url: url,
        })
          .then(response => {
            let products = response.data;
            products.forEach(item => {
              let data = {};
              if (item.images && item.images[0].media) {
                data.image = apiURL + item.images[0].media.filename
              } else {
                data.image = '';
              }
              data.id = item.id;
              data.slug = item.slug;
              data.name = item.name;
              data.oneliner = item.oneliner;
              data.subscription_price = this.priceSet(item.subscription_price);
              data.delivery_periods_enable = item.delivery_periods_enable;
              data.rating = item.rating;

              if (item.delivery_periods_enable && item.subscription_price && item.subscription_price > 0) {
                data.price = this.priceSet(item.subscription_price);
                if (item.subscription_price_sale && item.subscription_price_sale > 0) {
                  data.price = this.priceSet(item.subscription_price_sale);
                  data.oldPrice = this.priceSet(item.subscription_price)
                }
              } else {
                data.price = this.priceSet(item.regular_price);
                if (item.regular_sale_price && item.regular_sale_price > 0) {
                  data.price = this.priceSet(item.regular_sale_price);
                  data.oldPrice = this.priceSet(item.regular_price)
                }
              }
              this.productList.push(data);
            });
          })
      },
      getCategoryInfo: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/public/category/' + this.selectCategory.id + '',
        })
          .then(response => {
            let category = response.data;
            this.categoryInfo.filename = (category.media) ? apiURL + category.media.filename : '';
            document.title = category.name;
            this.categoryInfo.name = category.name;
          })
      },
      onAddToCart: function(productId) {
        axios({
          method: 'get',
          url: apiURL + '/api/public/product/' + productId ,
        })
          .then(response => {
            this.productAddToCart = response.data;
            this.isAddProductToCart = true;
          })
          .catch(error => {
            this.productAddToCart = null;
            this.isAddProductToCart = false;
          })
      },
      resultAdd(id){
        let product = this.productList.find(item => item.id === id);
        fbq('track', 'AddToCart', {
          contents: [{
            id: product.id + '',
            quantity: 1,
            item_price: product.price
          }],
          content_ids: [product.id],
          content_type: 'product',
          currency: 'USD',
          value: product.price
        });
      }
    },
    created() {
      if (this.$route.name == 'all_products')  {
        this.getAllProducts();
      } else {
        this.getCategory();
      }
    }
  }
</script>

