<template>
  <div>
    <MainHeader @openpopup="openPopUp"/>


    <full-page :options="options" id="fullpage" class="ppat flexScroll">
      <section class="section ppat__main"><img class="img-mobile" src="/static/img/ppat/mobile/bg_1-mobile.jpg"/><img class="img-tablet" src="/static/img/ppat/tablet/bg_1-tablet.jpg"/>
        <div class="section__info section__info__mobile">
          <h1 class="title-section">Personalized Programs and Treatments</h1>
          <p class="text-section">Anyone can enjoy the benefits of Dr. Habib’s integrated and holistic approach of state-of-the-art medicine and complementary treatment methods. Dr. Habib uses the tools of the best in the healing arts to provide precision diagnosis, primarily drug-free treatment and treatment success that far exceeds traditional medicine.</p>
        </div>
      </section>
      <section class="section ppat__customized-programs">
        <div class="section__info section__info__mobile">
          <h2 class="title-section">Customized Programs</h2>
          <p class="text-section">Programs Based on Your Unique DNA, Biomarkers, Harmful Signals</p>
          <swiper :options="swiperOption" class="desctop">
          <swiper-slide>
            <div class="cp-slider__item">
              <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_1/img_banner_1.jpg"/>
              </div>
              <h4 class="cp-slider__item-title">Heart Health</h4>
              <p class="cp-slider__item-text">Two-thirds of heart attack patients have normal cholesterol</p><a @click="openHeartHealth" class="cp-slider__link" href="#" data-section="hh">Learn More</a>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="cp-slider__item">
              <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_1/img_banner_2.jpg"/>
              </div>
              <h4 class="cp-slider__item-title">Cancer Prevention</h4>
              <p class="cp-slider__item-text">Cancer can only grow when your mechanism to control it has been breached</p><a @click="openCancerPrevention" class="cp-slider__link" href="#" data-section="cp">Learn More</a>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="cp-slider__item">
              <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_1/img_banner_3.jpg"/>
              </div>
              <h4 class="cp-slider__item-title">Diabetes Prevention</h4>
              <p class="cp-slider__item-text">By the time diabetes is diagnosed, doctors know that abnormal sugars may have been present 5 years</p><a @click="openDiabetesPrevention" class="cp-slider__link" href="#" data-section="dp">Learn More</a>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="cp-slider__item">
              <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_2/img_banner_1.jpg"/>
              </div>
              <h4 class="cp-slider__item-title">Intravenous Vitamin Therapy</h4>
              <p class="cp-slider__item-text">IV vitamins are an incredible option to support the intricate workings of the body</p><a @click="openVitamin" class="cp-slider__link" href="/iv-vitamin-therapy" data-section="ivt">Learn More</a>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="cp-slider__item">
              <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_2/img_banner_2.jpg"/>
              </div>
              <h4 class="cp-slider__item-title">Immune Boosting</h4>
              <p class="cp-slider__item-text">Seeing too many allergies, rashes, asthma, inflammatory bowel, or autoimmune diseases – thyroid, lupus</p><a @click="openImmune" class="cp-slider__link" href="#" data-section="ib">Learn More</a>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="cp-slider__item">
              <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_2/img_banner_3.jpg"/>
              </div>
              <h4 class="cp-slider__item-title">Detox Program</h4>
              <p class="cp-slider__item-text">By the time diabetes is diagnosed, doctors know that abnormal sugars may have been present 5 years</p><a @click="openDetox" class="cp-slider__link" href="#" data-section="dxp">Learn More</a>
            </div>
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
          <swiper :options="swiperOption6" class="show-mobile">
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_1/img_banner_1.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Heart Health</h4>
                <p class="cp-slider__item-text">Two-thirds of heart attack patients have normal cholesterol</p><a @click="openHeartHealth" class="cp-slider__link" href="#" data-section="hh">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_1/img_banner_2.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Cancer Prevention</h4>
                <p class="cp-slider__item-text">Cancer can only grow when your mechanism to control it has been breached</p><a @click="openCancerPrevention" class="cp-slider__link" href="#" data-section="cp">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_1/img_banner_3.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Diabetes Prevention</h4>
                <p class="cp-slider__item-text">By the time diabetes is diagnosed, doctors know that abnormal sugars may have been present 5 years</p><a @click="openDiabetesPrevention" class="cp-slider__link" href="#" data-section="dp">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_2/img_banner_1.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Intravenous Vitamin Therapy</h4>
                <p class="cp-slider__item-text">IV vitamins are an incredible option to support the intricate workings of the body</p><a @click="openVitamin" class="cp-slider__link" href="#" data-section="ivt">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_2/img_banner_2.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Immune Boosting</h4>
                <p class="cp-slider__item-text">Seeing too many allergies, rashes, asthma, inflammatory bowel, or autoimmune diseases – thyroid, lupus</p><a @click="openImmune" class="cp-slider__link" href="#" data-section="ib">Learn More</a>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="cp-slider__item">
                <div class="cp-slider__item-wrapper-img"><img class="cp-slider__item-img" src="/static/img/ppat/tablet/scroll_2/img_banner_3.jpg"/>
                </div>
                <h4 class="cp-slider__item-title">Detox Program</h4>
                <p class="cp-slider__item-text">By the time diabetes is diagnosed, doctors know that abnormal sugars may have been present 5 years</p><a @click="openDetox" class="cp-slider__link" href="#" data-section="dxp">Learn More</a>
              </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
      </section>
      <section class="section personal-services">
        <div class="section__info section__info__mobile">
          <h2 class="title-section">Personal Services</h2>
          <swiper :options="swiperOption2" class="personal-services__slider desctop">
            <swiper-slide class="personal-services__slider-item-wrapper">
              <div class="sl__item">
                <h5 class="sl__item-title">Custom Health Programs</h5>
                <p class="sl__item-text">Dr. Habib creates tailor-made treatment and health programs based on diagnoses that get to the root of a problem.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Weight Loss Programs</h5>
                <p class="sl__item-text">Effective weight loss programs, including UltraShape Power to remove stubborn belly fat.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Laser Treatment</h5>
                <p class="sl__item-text">To remove wrinkles, dark spots and hair. Laser therapy to accelerate healing in soft- tissue injuries.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Hormone Balancing</h5>
                <p class="sl__item-text">Programs to regularize hormones, including thyroid therapy.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">IV Vitamin Infusion</h5>
                <p class="sl__item-text">For health and immune boosts, fast relief from infection and to reduce allergies and combat chronic fatigue.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Nutritional Counseling</h5>
                <p class="sl__item-text">Dr. Habib provides diet and supplementation programs, including his own high-quality supplement line.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Healthy Meal Preparation</h5>
                <p class="sl__item-text">Choice of a raw food chef or traditional chef. Pickup or delivery of healthy meals to complement medical treatment.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Urgent Medical Care Services</h5>
                <p class="sl__item-text">From allergies, rashes and minor injuries to serious infections such as pneumonia.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Anti-Aging Medicine</h5>
                <p class="sl__item-text">Slow and even reverse aging!</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Detoxification Programs</h5>
                <p class="sl__item-text">Chelation Therapy and more.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Chronic Disease Prevention</h5>
                <p class="sl__item-text">Detect and prevent disease. </p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Infrared Sauna</h5>
                <p class="sl__item-text">Detoxify and de-stress your body. </p>
              </div>
            </swiper-slide>
            <swiper-slide class="personal-services__slider-item-wrapper">
              <div class="sl__item">
                <h5 class="sl__item-title">Complementary Treatment</h5><br>
                <p class="sl__item-text">Next Health works with in-house complementary treatment doctors, including:</p>
                <ul class="list-circle">
                  <li><span> Massage</span></li>
                  <li><span>Chiropractic</span></li>
                  <li><span>Physical Therapy</span></li>
                  <li><span>Acupuncture</span></li>
                </ul>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Regenerative Medicine for Athletic Repair & Performance</h5>
                <ul class="list-circle">
                  <li><span> Peptide Therapy</span><br></li>
                  <li><span>Prolotherapy</span><br></li>
                  <li><span>Stem Cell (PRP) Therapy Prolozone.</span></li>
                </ul>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Ozone & Oxygen Therapy</h5><br>
                <p class="sl__item-text">Ozone therapy oxygenates the body and can reduce inflammation, slow aging and increase energy. High-pressure oxygen therapy for fast infection relief.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Colon Hydrotherapy</h5>
                <p class="sl__item-text">For detoxification and improved digestion</p>
              </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
          <swiper :options="swiperOption4" class="personal-services__slider show-mobile">
            <swiper-slide class="personal-services__slider-item-wrapper">
              <div class="sl__item">
                <h5 class="sl__item-title">Custom Health Programs</h5>
                <p class="sl__item-text">Dr. Habib creates tailor-made treatment and health programs based on diagnoses that get to the root of a problem.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Weight Loss Programs</h5>
                <p class="sl__item-text">Effective weight loss programs, including UltraShape Power to remove stubborn belly fat.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Laser Treatment</h5>
                <p class="sl__item-text">To remove wrinkles, dark spots and hair. Laser therapy to accelerate healing in soft- tissue injuries.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Hormone Balancing</h5>
                <p class="sl__item-text">Programs to regularize hormones, including thyroid therapy.</p>
              </div>
            </swiper-slide>
            <swiper-slide class="personal-services__slider-item-wrapper">
              <div class="sl__item">
                <h5 class="sl__item-title">IV Vitamin Infusion</h5>
                <p class="sl__item-text">For health and immune boosts, fast relief from infection and to reduce allergies and combat chronic fatigue.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Nutritional Counseling</h5>
                <p class="sl__item-text">Dr. Habib provides diet and supplementation programs, including his own high-quality supplement line.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Healthy Meal Preparation</h5>
                <p class="sl__item-text">Choice of a raw food chef or traditional chef. Pickup or delivery of healthy meals to complement medical treatment.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Urgent Medical Care Services</h5>
                <p class="sl__item-text">From allergies, rashes and minor injuries to serious infections such as pneumonia.</p>
              </div>
            </swiper-slide>
            <swiper-slide class="personal-services__slider-item-wrapper">
              <div class="sl__item">
                <h5 class="sl__item-title">Anti-Aging Medicine</h5>
                <p class="sl__item-text">Slow and even reverse aging!</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Detoxification Programs</h5>
                <p class="sl__item-text">Chelation Therapy and more.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Chronic Disease Prevention</h5>
                <p class="sl__item-text">Detect and prevent disease. </p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Infrared Sauna</h5>
                <p class="sl__item-text">Detoxify and de-stress your body. </p>
              </div>
            </swiper-slide>
            <swiper-slide class="personal-services__slider-item-wrapper">
              <div class="sl__item">
                <h5 class="sl__item-title">Complementary Treatment</h5><br>
                <p class="sl__item-text">Next Health works with in-house complementary treatment doctors, including:</p>
                <ul class="list-circle">
                  <li><span> Massage</span></li>
                  <li><span>Chiropractic</span></li>
                  <li><span>Physical Therapy</span></li>
                  <li><span>Acupuncture</span></li>
                </ul>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Regenerative Medicine for Athletic Repair & Performance</h5>
                <ul class="list-circle">
                  <li><span> Peptide Therapy</span><br></li>
                  <li><span>Prolotherapy</span><br></li>
                  <li><span>Stem Cell (PRP) Therapy Prolozone.</span></li>
                </ul>
              </div>
            </swiper-slide>
            <swiper-slide class="personal-services__slider-item-wrapper">
              <div class="sl__item">
                <h5 class="sl__item-title">Ozone & Oxygen Therapy</h5><br>
                <p class="sl__item-text">Ozone therapy oxygenates the body and can reduce inflammation, slow aging and increase energy. High-pressure oxygen therapy for fast infection relief.</p>
              </div>
              <div class="sl__item">
                <h5 class="sl__item-title">Colon Hydrotherapy</h5>
                <p class="sl__item-text">For detoxification and improved digestion</p>
              </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
      </section>
      <section class="section conditions-treats">
        <div class="section__info section__info__mobile">
          <h2 class="title-section">Conditions &nbsp;<br>Dr. Habib Treats</h2>
          <swiper :options="swiperOption3" class="ct-slider desctop">
            <swiper-slide>
              <div class="ct-wrapper">
                <div class="sl__item">
                  <h5 class="sl__item-title">Sport Injuries</h5>
                  <ul class="list-circle">
                    <li><span> ACL</span></li>
                    <li><span>Tendinitis</span></li>
                    <li><span>Rotator Cuff</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Heart Issues</h5>
                  <ul class="list-circle">
                    <li><span> High Blood Pressure</span></li>
                    <li><span>High Cholesterol</span></li>
                    <li><span>Heart Disease</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Neuro</h5>
                  <ul class="list-circle">
                    <li><span> Neuropathy</span></li>
                    <li><span>Chronic Headaches</span></li>
                    <li><span>Migraines</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Detoxification Program</h5>
                  <ul class="list-circle">
                    <li><span> Liver Detox</span></li>
                    <li><span>Chelation Therapy</span></li>
                    <li><span>Heavy Metal Toxicity</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Autoimmune Diseases</h5>
                  <ul class="list-circle">
                    <li><span> Crohn’s Disease</span></li>
                    <li><span>Lupus</span></li>
                    <li><span>Abdominal Pain</span></li>
                    <li><span>Infections</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Hormonal Problems</h5>
                  <ul class="list-circle">
                    <li><span> Hormonal Imbalances</span></li>
                    <li><span>Men’s Hormone Disorders</span></li>
                    <li><span>Women’s Hormone Disorders</span></li>
                    <li><span>Thyroid Problems</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Sexual Health</h5>
                  <ul class="list-circle">
                    <li><span> Sexual Dysfunction</span></li>
                    <li><span>Erectile Dysfunction</span></li>
                    <li><span>Female Stimulation</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Diabetes</h5>
                  <ul class="list-circle">
                    <li><span> Neuropathy</span></li>
                    <li><span>Vascular Problems</span></li>
                    <li><span>Kidney Problems</span></li>
                  </ul>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="ct-wrapper">
                <div class="sl__item">
                  <h5 class="sl__item-title">Digestive Issues</h5>
                  <ul class="list-circle">
                    <li><span> Leaky Gut</span></li>
                    <li><span>Irritable Bowel Syndrome</span></li>
                    <li><span>Acid Reflux</span></li>
                    <li><span>Ulcerative Colitis</span></li>
                    <li><span>Constipation</span></li>
                    <li><span>Bloating</span></li>
                    <li><span>Liver Toxicity</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Allergies & Respiratory Problems</h5>
                  <ul class="list-circle">
                    <li><span> Allergies</span></li>
                    <li><span>Eczema</span></li>
                    <li><span>Rashes</span></li>
                    <li><span>Asthma</span></li>
                    <li><span>Food Sensitivities</span></li>
                    <li><span>Respiratory Issues</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Energy & Sleep Issues</h5>
                  <ul class="list-circle">
                    <li><span>Energy & Sleep Issues</span></li>
                    <li><span>Chronic Fatigue & Low Energy</span></li>
                    <li><span>Insomnia</span></li>
                    <li><span>Sleep Apnea</span></li>
                    <li><span>Mental Fog</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Joints</h5>
                  <ul class="list-circle">
                    <li><span>Rheumatoid Arthritis</span></li>
                    <li><span>Osteoarthritis</span></li>
                    <li><span>Joint Pain</span></li>
                    <li><span>Swelling & Stiffness</span></li>
                    <li><span>Anti Inflammatory Therapies</span></li>
                  </ul>
                </div>
              </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
          <swiper :options="swiperOption5" class="ct-slider show-mobile">
            <swiper-slide>
              <div class="ct-wrapper">
                <div class="sl__item">
                  <h5 class="sl__item-title">Sport Injuries</h5>
                  <ul class="list-circle">
                    <li><span> ACL</span></li>
                    <li><span>Tendinitis</span></li>
                    <li><span>Rotator Cuff</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Heart Issues</h5>
                  <ul class="list-circle">
                    <li><span> High Blood Pressure</span></li>
                    <li><span>High Cholesterol</span></li>
                    <li><span>Heart Disease</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Neuro</h5>
                  <ul class="list-circle">
                    <li><span> Neuropathy</span></li>
                    <li><span>Chronic Headaches</span></li>
                    <li><span>Migraines</span></li>
                  </ul>
                </div>
              </div>
                </swiper-slide>
            <swiper-slide>
                <div class="sl__item">
                  <h5 class="sl__item-title">Detoxification Program</h5>
                  <ul class="list-circle">
                    <li><span> Liver Detox</span></li>
                    <li><span>Chelation Therapy</span></li>
                    <li><span>Heavy Metal Toxicity</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Autoimmune Diseases</h5>
                  <ul class="list-circle">
                    <li><span> Crohn’s Disease</span></li>
                    <li><span>Lupus</span></li>
                    <li><span>Abdominal Pain</span></li>
                    <li><span>Infections</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Hormonal Problems</h5>
                  <ul class="list-circle">
                    <li><span> Hormonal Imbalances</span></li>
                    <li><span>Men’s Hormone Disorders</span></li>
                    <li><span>Women’s Hormone Disorders</span></li>
                    <li><span>Thyroid Problems</span></li>
                  </ul>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="sl__item">
                  <h5 class="sl__item-title">Sexual Health</h5>
                  <ul class="list-circle">
                    <li><span> Sexual Dysfunction</span></li>
                    <li><span>Erectile Dysfunction</span></li>
                    <li><span>Female Stimulation</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Diabetes</h5>
                  <ul class="list-circle">
                    <li><span> Neuropathy</span></li>
                    <li><span>Vascular Problems</span></li>
                    <li><span>Kidney Problems</span></li>
                  </ul>
                </div>
                </swiper-slide>
            <swiper-slide>
              <div class="ct-wrapper">
                <div class="sl__item">
                  <h5 class="sl__item-title">Digestive Issues</h5>
                  <ul class="list-circle">
                    <li><span> Leaky Gut</span></li>
                    <li><span>Irritable Bowel Syndrome</span></li>
                    <li><span>Acid Reflux</span></li>
                    <li><span>Ulcerative Colitis</span></li>
                    <li><span>Constipation</span></li>
                    <li><span>Bloating</span></li>
                    <li><span>Liver Toxicity</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Allergies & Respiratory Problems</h5>
                  <ul class="list-circle">
                    <li><span> Allergies</span></li>
                    <li><span>Eczema</span></li>
                    <li><span>Rashes</span></li>
                    <li><span>Asthma</span></li>
                    <li><span>Food Sensitivities</span></li>
                    <li><span>Respiratory Issues</span></li>
                  </ul>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
                <div class="sl__item">
                  <h5 class="sl__item-title">Energy & Sleep Issues</h5>
                  <ul class="list-circle">
                    <li><span>Energy & Sleep Issues</span></li>
                    <li><span>Chronic Fatigue & Low Energy</span></li>
                    <li><span>Insomnia</span></li>
                    <li><span>Sleep Apnea</span></li>
                    <li><span>Mental Fog</span></li>
                  </ul>
                </div>
                <div class="sl__item">
                  <h5 class="sl__item-title">Joints</h5>
                  <ul class="list-circle">
                    <li><span>Rheumatoid Arthritis</span></li>
                    <li><span>Osteoarthritis</span></li>
                    <li><span>Joint Pain</span></li>
                    <li><span>Swelling & Stiffness</span></li>
                    <li><span>Anti Inflammatory Therapies</span></li>
                  </ul>
                </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>

        </div>
      </section>

      <AppFooter />
    </full-page>

    <transition name="fade">
    <heart-health v-if="isHeartHealthOpen" @closed="isHeartHealthClose"></heart-health>
    <cancer-prevention v-if="isCancerPreventionOpen" @closed="isCancerPreventionClose"></cancer-prevention>
    <diabetes-prevention v-if="isDiabetesPreventionOpen" @closed="isDiabetesPreventionClose"></diabetes-prevention>
    <vitamin v-if="isVitaminOpen" @closed="isVitaminClose"></vitamin>
    <Immune v-if="isImmuneOpen" @closed="isImmuneClose"></immune>
    <Detox v-if="isDetoxOpen" @closed="isDetoxClose"></detox>
    <ContactUs v-if="isPopUpOpen" @closed="closePopUp"></ContactUs>
    </transition>
    <div class="popUp form-contact-us">
      <form class="animated">
        <div class="popUp__header">
          <h2 class="popUp__title">Contact Us</h2>
          <button class="btn btn__close-popUp" type="button"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="luc4a" d="M4362.49 916.9l-8.49-8.49-8.49 8.49a1 1 0 0 1-1.41-1.41l8.49-8.49-8.49-8.49a1 1 0 1 1 1.41-1.41l8.49 8.49 8.49-8.49a1 1 0 1 1 1.4 1.41l-8.48 8.49 8.49 8.49a1 1 0 1 1-1.41 1.41z"/></defs><g><g opacity="1" transform="translate(-4342 -895)"><use fill="#fff" xlink:href="#luc4a"/></g></g></svg>
          </button>
        </div>
        <div class="popUp__body">
          <div class="form-group">
            <input type="text" placeholder="Your Name" name="name" autocomplete="off" required>
          </div>
          <div class="form-group">
            <input type="email" placeholder="Your Email" name="email" autocomplete="off" required>
          </div>
          <div class="form-group">
            <input type="text" name="subject" autocomplete="off" placeholder="Subject (optional)">
          </div>
          <div class="form-group">
            <textarea placeholder="Your Message" autocomplete="off" name="mess" required></textarea>
          </div>
          <button class="btn btn__send">Send Request</button>
        </div>
      </form>
    </div>
    <div v-if="isSuccsesAlert" class="popUp succsesAlert">
      <div class="popUp__wrapper animated">
        <div class="popUp__header">
          <h2>Thank You</h2>
        </div>
        <div class="popUp__body">
          <p>Thanks for your submission. We will contact you soon.</p>
        </div>
      </div>
    </div>
    <div class="js-md"></div>
    <div class="js-xs"></div>
    <div class="js-lg"></div>
    <div class="js-sm"></div>
    <div class="js-xl"></div>

  </div>
</template>
<script>
    import MainHeader from '../general/MainHeader';
    import AppFooter from '../general/Footer';
    import HeartHealth from "../modals/HeartHealth";
    import CancerPrevention from "../modals/CancerPrevention";
    import DiabetesPrevention from "../modals/DiabetesPrevention";
    import Vitamin from "../modals/Vitamin";
    import Immune from "../modals/Immune";
    import Detox from "../modals/Detox";
    import ContactUs from "../modals/ContactUs";

    export default {
        name: 'services',
        data() {
            return {
                isSuccsesAlert: false,
                swiperOption: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                    slidesPerGroup: 3,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }},
                swiperOption2: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }},
                swiperOption3: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }},
                swiperOption4: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }},
                swiperOption5: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }},
                swiperOption6: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }},
                options: {
                    afterLoad: this.afterLoad,
                    scrollBar: false,
                    menu: '#menu',
                    navigation: true,
                    anchors:['1', '2', '3', '4', '5'],
                    navigationTooltips: ['Personalized Programs and Treatments', 'Customized Programs', 'Personal Services', 'Conditions  Dr. Habib Treats'],
                    scrollingSpeed: 1500,
                    responsiveWidth: 900,
                    responsiveHeight: 500,
                },
                isHeartHealthOpen: false,
                isCancerPreventionOpen: false,
                isDiabetesPreventionOpen: false,
                isVitaminOpen: false,
                isImmuneOpen: false,
                isDetoxOpen: false,
                isPopUpOpen: false,
                scrolled: false,

            }

        },
        methods: {
            afterLoad(anchorLink, index) {
              this.scrolled = index.isLast;
            },
            openPopUp() {
                this.isPopUpOpen = true;
            },
            closePopUp() {
                this.isPopUpOpen = false;
            },
            openHeartHealth() {
                this.isHeartHealthOpen = !this.isHeartHealthOpen;
                fullpage_api.setAllowScrolling(false);
            },
            isHeartHealthClose (){
                this.isHeartHealthOpen = false;
            },
            openCancerPrevention() {
                this.isCancerPreventionOpen = !this.isCancerPreventionOpen;
                fullpage_api.setAllowScrolling(false);
            },
            isCancerPreventionClose (){
                this.isCancerPreventionOpen = false;
            },
            openDiabetesPrevention() {
                this.isDiabetesPreventionOpen = !this.isDiabetesPreventionOpen;
                fullpage_api.setAllowScrolling(false);
            },
            isDiabetesPreventionClose (){
                this.isDiabetesPreventionOpen = false;
            },
            openVitamin() {
                this.isVitaminOpen = !this.isVitaminOpen;
                fullpage_api.setAllowScrolling(false);
            },
            isVitaminClose (){
                this.isVitaminOpen = false;
            },
            openImmune() {
                this.isImmuneOpen = !this.isImmuneOpen;
                fullpage_api.setAllowScrolling(false);
            },
            isImmuneClose (){
                this.isImmuneOpen = false;
            },
            openDetox() {
                this.isDetoxOpen = !this.isDetoxOpen;
                console.log('click');
                fullpage_api.setAllowScrolling(false);
            },
            isDetoxClose (){
                this.isDetoxOpen = false;
            },
            toggleNavigation() {
                this.options.navigation = !this.options.navigation
            },
            toggleScrollbar() {
                console.log('Changing scrollbar...')
                this.options.scrollBar = !this.options.scrollBar
            }
        },
        components: {
          ContactUs,
          Detox,
          Immune,
          Vitamin,
          DiabetesPrevention,
          CancerPrevention,
          HeartHealth,
          MainHeader,
          AppFooter
        },
        metaInfo: {
          title: 'Preventive Health Care Services - Early Detection | NextHealth',
          meta: [
            { vmid: 'description', name: 'description', content: 'Our preventative care and personalized services range from custom health programs, detoxification, anti-aging, and IV Vitamin Infusion treatments. Contact us to schedule a consultation today!' },
            { vmid: 'name', name: 'robots', content: 'index, nofollow' },
          ],
        }
    }
</script>
