<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import miniToastr from "mini-toastr";
export default {
  name: "App",
  data() {
    return {};
  },
  mounted() {
    miniToastr.init();
  }
};
</script>

<style lang="scss">
</style>
