<template>
    <div class="modal-dialog">
        <div @click="hide()" class="modal-dimmer"></div>
        <div class="modal">
            <div class="modal-header">
                {{title}}
                <span class="modal-close">x</span>
            </div>
            <div class="modal-body">
                <slot></slot>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    hide() {
      this.$emit('hide');
    }
  },
  props: {
    title: {
      type: String,
      required: false
    },
    show: {
      type: Boolean,
      required: true
    }
  }
};
</script>
