<template>
  <div class="input-group form-control">
    <p class="text-form">Product bundles</p>
    <multiselect v-model="bundle"
                 placeholder="Select product bundles"
                 label="name" track-by="code"
                 :options="productList"
                 :class="{'error-input': errorBlock}"
                 :multiple="false"
                 :taggable="false"
                 :close-on-select="true"
                 @input="onChange"
    ></multiselect>
    <p v-if="errorBlock" class="error-text">This field is required.</p>
  </div>

</template>
<script>
    import Multiselect from 'vue-multiselect';

    import axios from 'axios';
    import {apiURL} from '../../../../../config';

    export default {
        name: 'bundle',
        props:['onChangeBundle', 'productBundles', 'errorInput'],
        data() {
            return {
                bundle: [],
                bundlesId: [],
                productList: [],
                bundleList: [],
                errorBlock: false,
            }
        },
        components: {
            Multiselect
        },
        // watch: {
        //     productBundles: function(newVal, oldVal) {
        //         let productBundle = [...newVal];
        //         this.bundle = [];
        //         this.bundlesId = [];
        //         productBundle.forEach(item =>{
        //             this.bundle.push({name: item.name, code: item.id});
        //             this.bundlesId.push(item.id);
        //         });
        //     },
        //     errorInput: function (newVal, oldVal) {
        //         this.errorBlock = newVal;
        //     }
        // },
        methods: {
            // addBun(newTag) {
            //     //@TODO add function for create bundle
            //     const tag = {
            //         name: newTag,
            //         code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
            //     };
            //     this.bundleList.push(tag);
            //     this.bundle.push(tag);
            // },

            onChange(value){
                if (this.errorBlock) {
                    this.errorBlock = false;
                }
                // let productBundle = [...this.bundlesId],
                    let add = [];

                // console.log(value, add);
                    // remove = [...this.bundlesId];
                if(value.code != -1) {
                add.push(value.code);
              }
                    // if (productBundle.indexOf(value.code) != -1) {
                    //     remove.splice(remove.indexOf(value.code), 1);
                    // }

                this.onChangeBundle({
                    add: add,
                    // remove: remove
                });
            },
            /*
            getBundleList: function () {
                axios({
                    method: 'get',
                    url: apiURL + '/api/admin/product/search?page=1&sort=id&order=ASC',
                    headers: {
                        Authorization: 'Bearer ' + this.$cookie.get('user_token'),
                    },
                })
                    .then(response => {
                        let categoryes = response.data;
                        let result = [];
                        categoryes.forEach(function(item, i, arr) {
                            result.push({name: item.name, code: item.id})
                        });
                        this.categoryList = result;
                    })
                    .catch(error => {
                        document.location.replace('/admin/login');
                    });
            },
            */


            getBundleList: function() {
                this.sort = 'id';
                this.order = 'ASC';
                let url = '/api/admin/product/search?' +
                    'page=1'+
                    '&sort='+this.sort+
                    '&order='+this.order;
                axios({
                    method: 'get',
                    url: apiURL + url,
                    headers: {
                        Authorization: 'Bearer ' + this.$cookie.get('user_token'),
                    },
                })

                    .then(response => {
                        let bundles = response.data.products;
                        let result = [];
                        bundles.forEach(function(item, i, arr) {
                            result.push({name: item.name, code: item.id})
                        });
                        this.productList = result;
                    })
                    .catch(error => {
                        document.location.replace('/admin/login');
                    });
            }
        },
        mounted() {
            this.getBundleList();
        },
    }
</script>
<style lang="scss">
  #admin .multiselect.error-input{
    .multiselect__tags {
      border-color: #FE0341;
    }
  }
</style>
