<template>
  <div class="admin-main-block">
    <div class="admin-main-block-header">
      <div class="left-block">
        <h3 class="admin-main-title">Countdown Clock</h3>
      </div>

      <div class="right-block">
        <div class="product-enable m-b">
          <p class="product-enable--title">Enable</p>
          <custom-checkbox attr-id="countdown_clock"
                           v-model="countdownEnable"
                           :onChange="onChangeCountdownEnable"></custom-checkbox>
        </div>
      </div>
    </div>
    <div class="admin-main-block-body">
      <div class="admin-product-section">
        <div class="input-group form-control">
          <p class="text-form">Description</p>
          <input class="input-form"
                 type="text"
                 :class="{'error-input':descriptionError}"
                 @change="changeDate"
                 v-model="countData.description"/>
        </div>

      </div>


      <div class="admin-product-section">
        <div class="input-group form-control">
          <p class="text-form">End date / time</p>
          <div class="date-row">
            <div class="date-fix small-block" @click="changeDate">
              <p>
                <calendar-icon class="font-fix"></calendar-icon>
              </p>
              <datetime placeholder="Set date"
                        v-model="countData.endDate"
                        type="date"
                        format="yyyy-MM-dd"></datetime>
            </div>
            <div class="date-fix small-block" @click="changeDate">
              <p>
                <clock-icon class="font-fix"></clock-icon>
              </p>
              <datetime placeholder="Set Time"
                        v-model="countData.endTime"
                        type="time" ></datetime>
            </div>
          </div>
        </div>
      </div>

      <div class="admin-product-section">
        <div class="input-group form-control">
          <p class="text-form">Start date / time<span class="optional"> – optional</span></p>
          <div class="date-row">
            <div class="date-fix small-block" @click="changeDate">
              <p>
                <calendar-icon class="font-fix"></calendar-icon>
              </p>
              <datetime placeholder="Set date"
                        v-model="countData.startDate"
                        type="date"
                        format="yyyy-MM-dd"></datetime>
            </div>
            <div class="date-fix small-block" @click="changeDate">
              <p>
                <clock-icon class="font-fix"></clock-icon>
              </p>
              <datetime placeholder="Set Time"
                        v-model="countData.startTime"
                        type="time"></datetime>
            </div>
          </div>
        </div>
      </div>


      <div class="d-f">
        <button type="button" class="btn btn-round btn-round--middle btn-button--gray" @click="onCancel">Cancel</button>
        <button type="button" class="btn btn-round btn-round--middle btn-button--green m-l"
                :class="{'disabled': !isChange}" @click="onSave">Save</button>
      </div>
    </div>
  </div>

</template>

<script>
  import {PlusCircleIcon, ClockIcon, CopyIcon, Trash2Icon, CalendarIcon, DollarSignIcon} from 'vue-feather-icons'
  import CustomCheckbox from '../../components/custom-checkbox';
  import {Datetime} from 'vue-datetime';

  import axios from 'axios';
  import {apiURL} from '../../../../../config';

  export default {
    name: 'countdown-clock',
    components:{
      ClockIcon, PlusCircleIcon, CalendarIcon, CopyIcon, Trash2Icon, DollarSignIcon,
      CustomCheckbox,
      datetime: Datetime,
    },
    props:['onChange', 'productId', 'enable', 'onEnable', 'saveCountdown', 'countDownData'],
    data() {
      return {
        test: false,
        isChange: false,
        countData: {
          description: '',
          endDate: '',
          endTime: '',
          startDate: '',
          startTime: '',
        },
        descriptionError: false,
        countdownEnable: false,
      }
    },
    computed: {
    },
    watch:{
      enable: function(newVal, oldVal){
        this.countdownEnable = newVal ? newVal : false;
      },
      countDownData: function (newVal, oldVal) {
        if (newVal) {
          this.countData = {...newVal};
          this.countData.endDate = this.getDate(this.countData.end_date);
          this.countData.endTime = this.getTime(this.countData.end_date);
          if (this.countData.start_date) {
            this.countData.startDate = this.getDate(this.countData.start_date);
            this.countData.startTime = this.getTime(this.countData.start_date);
          }
        }

      }
    },
    methods: {
      getDate(date){
        if (date.indexOf('T') == -1){
          return date;
        }
        return date.substring(0,date.indexOf('T'))
      },
      getTime(time){
        if (time.indexOf('T') == -1){
          return time;
        }
        if (time.indexOf('+') != -1) {
          return time.substring(time.indexOf('T')+1,time.indexOf('+')-3);
        } else {
          return time.substring(time.indexOf('T')+1,time.indexOf('.')-3);
        }
      },
      getDataForApi(){
        let start = null, end = null;
        if (this.countData.startDate) {
          start = this.getDate(this.countData.startDate) +' '+(this.countData.startTime ? this.getTime(this.countData.startTime) : '00:00');
        }
        if (this.countData.endDate) {
          end = this.getDate(this.countData.endDate) +' '+(this.countData.endTime ? this.getTime(this.countData.endTime) : '00:00');
        }
        return{
          description: this.countData.description,
          start_date: start,
          end_date: end,
        };
      },
      onChangeCountdownEnable(data){
        if (this.productId) {
          this.updateData('status-countdown-clock', {status: data.value});
        }
        this.onEnable(data);
      },
      changeDate: function(){
        this.isChange = true;
        if(!this.productId){
          this.onChange(this.getDataForApi());
        }
      },
      onSave: function () {
        if (!this.productId) {
          this.saveCountdown({text: 'Save product'});
        } else {
          let data = this.getDataForApi();
          if (data.description == ''){
            this.descriptionError = true;
            return;
          }
          this.descriptionError = false;
          this.updateData('countdown-clock', data);
          this.isChange = false;
        }
      },
      onCancel: function () {
        this.countData = this.countDownData ? {...this.countDownData} : {};
      },
      updateData:function(type, data) {
        axios({
          method: 'put',
          url: apiURL + '/api/admin/product/'+this.productId+'/' + type,
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
          data: data
        });
      },
    },

  }
</script>
