<template>
  <div class="admin-product-section">
    <div class="input-group form-control">
      <p class="text-form">Hashtags</p>
      <multiselect v-model="hashtags" tag-placeholder="Add this as new tag" placeholder="Search or add a tag"
                   label="name" track-by="code" :options="hashtagsList"
                   :multiple="true"
                   :taggable="true"
                   :close-on-select="false"
                   :class="{'error-input': errorBlock}"
                   @input="onChange"
                   @tag="addTag"></multiselect>
      <p v-if="errorBlock" class="error-text">This field is required.</p>
    </div>
  </div>

</template>
<script>
  import Multiselect from 'vue-multiselect';

  import axios from 'axios';
  import {apiURL} from '../../../../../config';

  export default {
    name: 'hashtags',
    props: ['classBind', 'productHashtags', 'changeHashtags', 'productHashtags', 'errorInput'],
    data() {
      return {
        hashtags: [],
        hashtagsId: [],
        hashtagsList: [],
        hashtagsCreate: [],
        hashtagsAdd: [],
        hashtagsRemove: [],
        errorBlock: false,
      }
    },
    components: {
      Multiselect
    },
    watch: {
      productHashtags: function(newVal, oldVal) {
        let tags = [...newVal];
        this.hashtags = [];
        tags.forEach(item =>{
          this.hashtags.push({name: item.name, code: item.id});
          this.hashtagsId.push(item.id);
        });
      },
      errorInput: function (newVal, oldVal) {
        this.errorBlock = newVal;
      }
    },
    methods: {
      addTag(newTag) {
        const tag = {
          name: newTag,
          code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
        };
        this.hashtagsList.push(tag);
        this.hashtags.push(tag);
        this.hashtagsCreate.push(newTag);
        this.changeHashtags({
          create: this.hashtagsCreate,
          add: this.hashtagsAdd,
          remove: this.hashtagsRemove
        });
      },
      onChange(value){
        if (this.errorBlock) {
          this.errorBlock = false;
        }
        let productTags = [...this.hashtagsId],
          add = [],
          remove = [...this.hashtagsId];
        value.forEach(item => {
          if ((productTags.indexOf(item.code) == -1) && (this.hashtagsCreate.indexOf(item.name) == -1)){
            add.push(item.code);
          }
          if ((productTags.indexOf(item.code) != -1)){
            remove.splice(remove.indexOf(item.code), 1);
          }
        });
        this.hashtagsAdd = add;
        this.hashtagsRemove = remove;
        this.changeHashtags({
          create: this.hashtagsCreate,
          add: add,
          remove: remove
        });
      },
      getHashtagsList: function () {
        axios({
          method: 'get',
          url: apiURL + '/api/admin/hashtags',
          headers: {
            Authorization: 'Bearer ' + this.$cookie.get('user_token'),
          },
        })
          .then(response => {
            let tags = response.data,
              result = [],
              productTags = this.productHashtags ? this.productHashtags : [],
              productTagsSelected = [];
            tags.forEach(function(item, i, arr) {
              result.push({name: item.name, code: item.id});
              if (productTags.indexOf(item.id) != -1){
                productTagsSelected.push({name: item.name, code: item.id});
              }
            });
            this.hashtagsList = result;
            this.hashtags = productTagsSelected;
          })
      }
    },
    mounted() {
      this.getHashtagsList();

    },
  }
</script>

<style lang="scss">
  .multiselect.error-input{
    .multiselect__tags {
      border-color: #FE0341;
    }
  }
</style>

