<template>
  <div class="input-group form-control">
    <p class="text-form">Product includes</p>
    <multiselect v-model="include"
                 placeholder="Select product include"
                 label="name" track-by="code"
                 :options="productList"
                 :class="{'error-input': errorBlock}"
                 :multiple="true"
                 :taggable="false"
                 :close-on-select="false"
                 @input="onChange"
    ></multiselect>
    <p v-if="errorBlock" class="error-text">This field is required.</p>
  </div>

</template>
<script>
    import Multiselect from 'vue-multiselect';

    import axios from 'axios';
    import {apiURL} from '../../../../../config';

    export default {
        name: 'include',
        props:['onChangeInclude', 'productIncludes', 'errorInput'],
        data() {
            return {
                include: [],
                includesId: [],
                productList: [],
                errorBlock: false,
            }
        },
        components: {
            Multiselect
        },
        // watch: {
        //     productIncludes: function(newVal, oldVal) {
        //         let productInclude = [...newVal];
        //         this.include = [];
        //         this.includesId = [];
        //         productInclude.forEach(item =>{
        //             this.include.push({name: item.name, code: item.id});
        //             this.includesId.push(item.id);
        //         });
        //     },
        //     errorInput: function (newVal, oldVal) {
        //         this.errorBlock = newVal;
        //     }
        // },
        methods: {
            onChange(value){
                if (this.errorBlock) {
                    this.errorBlock = false;
                }
                let productInclude = [...this.includesId],
                    add = [],
                    remove = [...this.includesId];
                value.forEach(item =>{
                    if (productInclude.indexOf(item.code) == -1) {
                        add.push(item.code);
                    }
                    if (productInclude.indexOf(item.code) != -1) {
                        remove.splice(remove.indexOf(item.code), 1);
                    }
                });
                this.onChangeInclude({
                    add: add,
                    remove: remove
                });
            },

            getIncludeList: function () {
                this.sort = 'id';
                this.order = 'ASC';
                let url = '/api/admin/product/search?' +
                    'page=1' +
                    '&sort=' + this.sort +
                    '&order=' + this.order;
                axios({
                    method: 'get',
                    url: apiURL + url,
                    headers: {
                        Authorization: 'Bearer ' + this.$cookie.get('user_token'),
                    },
                })

                    .then(response => {
                        let includes = response.data.products;
                        let result = [];
                        includes.forEach(function (item, i, arr) {
                            result.push({name: item.name, code: item.id})
                        });
                        this.productList = result;
                    })
                    .catch(error => {
                        document.location.replace('/admin/login');
                    });
            }
        },
        mounted() {
            this.getIncludeList();
        },
    }
</script>
<style lang="scss">
  #admin .multiselect.error-input{
    .multiselect__tags {
      border-color: #FE0341;
    }
  }
</style>
