<template>
  <div>
    <div class="product-type" v-for="type in list" :key="type.id">
      <div class="input-group form-control">
        <input 
          type="radio" 
          :value="type.id" 
          :id="type.id" 
          :data-index="type.id" 
          :data-id="type.id" 
          :name="type.id" 
          v-model="id" 
          @change="onChange($event)"
        />
        <label :for="type.id">{{type.name}}</label>
      </div>
    </div>
  </div>
</template>

<script>
  import {Trash2Icon, PlusCircleIcon} from 'vue-feather-icons'
  import {types} from '@/staticData/product'
  export default {
    components: {
      Trash2Icon, PlusCircleIcon
    },
    name: 'product-type',
    props: {
      typeId: {
        type: Number,
        default: 1
      }
    },
    data: () => ({
      deleteTypes: [],
      updateTypes: {},
      id: 1,
      list:[]
    }),
    methods: {
      dataForApi(index){
        let create=[];
        create.push(index);
        const data = {
          create: create,
          update: this.updateTypes
        }
        this.$emit('onChangeProductType', data)
      },
      onChange(event){
        let index = event.srcElement.getAttribute('data-index');
        this.dataForApi(index);
      },
    },
    created() {
      this.list = types
    },
    watch: {
      typeId: {
        immediate: true,
        handler() {
          this.id = this.typeId
        }
      }
    }
  }
</script>

<style lang="scss">
  .product-type {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .input-group{
      flex-basis: 100%;
      padding-right: 15px;
    }
    label {
      padding: 10px 0 0 10px;
      font-size: 14px;
    }
    .btn{
      padding: 10px;
    }
    input[type=radio] {
      color: #60686e;
      font-size: 14px;
      line-height: 20px;
      -webkit-appearance: radio;
    }
  }
</style>
