<template>
  <div class="section-details admin-product-section">
    <h3 class="section-h3">Product details sections</h3>
    <div class="section-details__sections">
      <ul class="section-details__sections-list">
        <li v-for="(section,i) in sections" :key="i" class="section-details__sections-item" @click="selectedSectionIndex = i">
          <div class="section-details__buttons-control">
            <span class="section-details__button-control-up"   :class="{'disabled': i === 0}" @click="upSection(i)">Up</span>
            <span class="section-details__button-control-down" :class="{'disabled': i === sections.length - 1}" @click="downSection(i)">Down</span>
            <span class="section-details__button-control-remove" @click="removeSection(i)">Remove</span>
          </div>
          
          <!-- Section: product overview -->
          <div v-if="section.name === 'Product overview'" class="section-details__section">
            <p class="section-title">Product overviews</p>

            <custom-input
              v-model="section.high_level_overview_title"
              label="High level overviev title"
              :errorInput="section.highLevelOverviewTitleError"
              :onChange="onChange"
              type="text"
            />

            <div
              class="input-group form-control"
              id="high-level"
              :class="{'error-textarea': section.highLevelOverviewError}"
            >
              <p class="text-form">High level overviev</p>
              <ckeditor
                class="input-form"
                :editor="editor"
                tag-name="textarea"
                @input="changeHighLevelOverview($event, section)"
                :config="editorConfig"
                v-model="section.high_level_overview"
              />
              <p v-if="section.highLevelOverviewError" class="error-text">This field is required.</p>
            </div>

            <div
              class="input-group form-control"
              :class="{'error-textarea': section.detailedOverviewError}"
            >
              <p class="text-form">Detailed overview</p>
              <ckeditor
                class="input-form"
                :editor="editor"
                tag-name="textarea"
                :config="editorConfig"
                @input="changeDetailedOverview($event, section)"
                v-model="section.detailed_overview"
              />
              <p v-if="section.detailedOverviewError" class="error-text">This field is required.</p>
            </div>

            <div>
              <p class="section-title">Video overview</p>
              <div class="input-group form-control">
                <label class="padding-7">
                  <input
                    class="radio1"
                    v-model="section.video_overview_media_type"
                    type="radio"
                    name="video-overview-media"
                    value="image"
                  />
                  <span class="radio-custom"></span>
                  <span class="label">Image</span>
                </label>
              </div>
              <div class="input-group form-control">
                <label class="padding-7">
                  <input
                    class="radio1"
                    v-model="section.video_overview_media_type"
                    type="radio"
                    name="video-overview-media"
                    value="video"
                  />
                  <span class="radio-custom"></span>
                  <span class="label">Video</span>
                </label>
              </div>

              <upload-image
                v-if="section.video_overview_media_type == 'image'"
                name="videoOverviewImage"
                label="Image"
                :onChange="changeVideoOveriewImageMedia"
                :errorInput="section.videoOverviewImageMediaError"
                @startUpload="$emit('isLoader', true)"
                @finishUpload="$emit('isLoader', false)"
              />

              <video-block
                v-if="section.video_overview_media_type == 'video'"
                :onChange="changeVideoOveriew"
                :errorInput="section.videoOverviewVideoMediaError"
              />
            </div>
          </div>

          <!-- Section: product properties -->
          <div
            v-if="section.name === 'Product properties' && !productTypeDigital"
            class="section-details__section"
          >
            <div class="section-details__wrapper">
                <p class="section-title">Product properties</p>
                <div
                  class="input-group form-control"
                  v-for="(property, propertyIdx) in section.propertiesList"
                  :key="propertyIdx"
                >
                  <label class="radio">
                    <input
                        type="checkbox"
                        :value="property.id"
                        :data-index="propertyIdx"
                        :checked="property.value"
                        @change="changeProperty($event, i)"
                    />
                    <div class="radio__text">{{ property.name }}</div>
                  </label>
                </div>
                <div class="input-group form-control">
                <p v-if="section.propertyError" class="error-text">This field is required.</p>
                </div>
            </div>

            <div class="section-details__wrapper">
              <upload-image
                name="nutrition"
                label="Nutrition Info Image"
                :onChange="changeNutritionMedia"
                :errorInput="section.nutritionInfoImageError"
                @startUpload="$emit('isLoader', true)"
                @finishUpload="$emit('isLoader', false)"
              />
            </div>

            <div class="section-details__wrapper">
              <p class="section-title">Additional media</p>
              <div class="input-group form-control">
                <label class="padding-7">
                  <input
                    class="radio1"
                    v-model="section.additional_media_type"
                    type="radio"
                    name="additional-media"
                    value="image"
                  />
                  <span class="radio-custom"></span>
                  <span class="label">Image</span>
                </label>
              </div>
              <div class="input-group form-control">
                <label class="padding-7">
                  <input
                    class="radio1"
                    v-model="section.additional_media_type"
                    type="radio"
                    name="additional-media"
                    value="video"
                  />
                  <span class="radio-custom"></span>
                  <span class="label">Video</span>
                </label>
              </div>

              <video-block
                v-if="section.additional_media_type == 'video'"
                :onChange="changeAdditionalVideoMedia"
                :errorInput="sections.additionalVideoMediaError"
              />

              <upload-image
                v-if="section.additional_media_type == 'image'"
                name="additional"
                label="Image"
                :onChange="changeAdditionalImageMedia"
                :errorInput="section.additionalImageMediaError"
                @startUpload="$emit('isLoader', true)"
                @finishUpload="$emit('isLoader', false)"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="section-details__dropdown">
      <button
        class="section-details__button-add-new-section btn btn-round btn-round--middle btn-button--green"
        @click="isActiveDropdownList = !isActiveDropdownList"
      >Add new section</button>
      <ul class="section-details__dropdown-list" v-show="isActiveDropdownList">
        <li
          v-for="(item,i) in dropdownList"
          :key="i"
          class="section-details__dropdown-item"
          @click="addNewSection(item.name, i)"
          v-show="item.show"
        >{{item.name}}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { apiURL } from "@/config";
import CustomInput from "../../components/input";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import UploadImage from "../../components/upload_image";
import VideoBlock from "../../products/component/video_block";
export default {
  components: {
    CustomInput,
    UploadImage,
    VideoBlock
  },
  props: {
    propSections: {
      type: Array,
      default: () => []
    },
    productTypeDigital: {
      type: Boolean,
      default: false
    },
    onChange: {
      type: Function,
      default: () => {}
    }
  },
  data: () => ({
    selectedSectionIndex: 0,

    editor: ClassicEditor,
    editorConfig: {},
    isActiveDropdownList: false,
    propertiesList: [],

    lastIdSection: 0,
    sections: [],
    dropdownList: [
      {
        name: "Product overview",
        show: true
      },
      {
        name: "Product properties",
        show: true
      }
    ]
  }),
  methods: {
    changeHighLevelOverview(data, section) {
      if (section.high_level_overview_start != data) {
        this.$emit('isChangeProduct', true)
        this.$emit('isProductUpdate', false)
      }
      section.highLevelOverviewError = false;
    },
    changeDetailedOverview(data, section) {
      if (section.detailed_overview_start != data) {
        this.$emit('isChangeProduct', true)
        this.$emit('isProductUpdate', false)
      }
      section.detailedOverviewError = false;
    },
    getProperties() {
      axios({
        method: "get",
        url: apiURL + "/api/admin/properties",
        headers: { Authorization: `Bearer ${this.$cookie.get("user_token")}` }
      }).then(res => {
        this.propertiesList = res.data.map(item => ({
          name: item.name,
          id: item.id
        }));

        this.propertiesList.map((item) => {

        })
      });
    },
    addNewSection(name, i) {
      if (name === "Product overview") {
        this.sections.push({
          id: ++this.lastIdSection,
          component: 'ProductOverview',
          name,

          high_level_overview_title: null,
          highLevelOverviewTitleError: false,

          high_level_overview: null,
          highLevelOverviewError: false,

          detailed_overview: null,
          detailedOverviewError: false,

          video_overview_media_type: 'image',

          videoOverviewImageMedia: null,
          videoOverviewImageMediaError: false,

          videoOverviewVideoMediaError: false,
        });
        // this.dropdownList.splice(i, 1);
      } else if (name === "Product properties") {
        this.sections.push({
          id: ++this.lastIdSection,
          component: 'ProductProperties',
          name,

          additional_media_type: "image",

          propertiesList: JSON.parse(JSON.stringify(this.propertiesList)),
          productProperty: [],
          propertyError: false,              // productPropertyError

          nutritionInfoImage: null,
          nutritionInfoImageError: false,
          nutritionInfoImageFinish: true,

          additionalImageMedia: null,
          additionalImageMediaError: false,

          additionalVideoMedia: null,
          additionalVideoMediaError: false,
        });
        // this.dropdownList.splice(i, 1);
      }
    },
    upSection(i) {
        if(i == 0) return
        const section = this.sections[i]
        this.sections.splice(i, 1)
        this.sections.splice(--i, 0, section)
    },
    downSection(i) {
        if(i == this.sections.length - 1) return
        const section = this.sections[i]
        this.sections.splice(i, 1)
        this.sections.splice(++i, 0, section)
    },
    removeSection(i) {
        this.sections.splice(i, 1)
    },

    changeNutritionMedia(data) {
      this.$emit('isChangeProduct', true)
      const i = this.selectedSectionIndex
      this.sections[i].nutritionInfoImage = data;
    },
    
    changeVideoOveriew(data) {
      this.$emit('isChangeProduct', true)
      const i = this.selectedSectionIndex
      data.video.data == ""
        ? this.sections[i].videoOverviewVideoMedia = []
        : this.sections[i].videoOverviewVideoMedia = {
          preview: data.preview,
          video: data.video
        }
    },
    changeVideoOveriewImageMedia(data) {
      this.$emit('isChangeProduct', true)
      const i = this.selectedSectionIndex
      this.sections[i].videoOverviewImageMedia = data;
    },

    changeAdditionalImageMedia(data) {
      this.$emit('isChangeProduct', true)
      const i = this.selectedSectionIndex
      this.sections[i].additionalImageMedia = data;
    },
    changeAdditionalVideoMedia(data) {
      this.$emit('isChangeProduct', true)
      const i = this.selectedSectionIndex
      data.video.data == ""
        ? this.sections[i].additionalVideoMedia = []
        : this.sections[i].additionalVideoMedia = {
          preview: data.preview,
          video: data.video
        }
    },

    changeProperty(event, i) {
      this.$emit('isChangeProduct', true)
      const section = this.sections[i]
      section.propertyError = false;
      section.propertiesList[event.target.attributes["data-index"].value].value = event.target.checked
        ? 1
        : 0;
      const filter = section.propertiesList.filter(item => item.value == 1)
      section.productProperty = filter.map(item => item.id)
    }
  },
  watch: {
    productTypeDigital() {
      this.dropdownList[1].show = !this.productTypeDigital;

      if (this.productTypeDigital) {
        this.sections = this.sections.filter(
          sec => sec.name !== "Product properties"
        );
      }
    },
    propSections() {
      this.sections = this.propSections
      setTimeout(() => {
        this.sections.forEach(item => {
          if(item.name === 'Product overview') {
            if(item.high_level_overview) {
              item.high_level_overview = item.high_level_overview + ' '
            }
            if(item.detailed_overview) {
              item.detailed_overview = item.detailed_overview + ' '
            }
          }
        })
      }, 2000)
    },
    sections: {
      handler() {
        this.$emit('changeSections', this.sections)
      }
    }
  },
  mounted() {
    this.getProperties();
  }
};
</script>

<style lang="scss">
.section-h3 {
    border-bottom: 1px solid #f2f5f8;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: "Lato",Lato,Arial,sans-serif;
    line-height: 22px;
    color: #222;
    margin-bottom: 20px;
}
.section-details{
    margin-bottom: 20px;
    position: relative;
    .section-title {
        font-family: "Lato",Lato,Arial,sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #222;
        margin-bottom: 15px;
    }
    &__sections-item {
        position: relative;
    }
    &__section {
        border: 1px solid #f2f5f8;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 10px;
    }
    &__buttons-control {
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        justify-content: flex-end;
        & > * {
            border-radius: 5px;
            margin-left: 10px;
            border-radius: 5px;
            padding: 4px 5px;
            cursor: pointer;
            &.disabled {
                opacity: .5;
            }
        }
    }
    &__button-control-up {
        background-color: #15cbc4;
        color: #fff;
    }
    &__button-control-down {
        background-color: #15cbc4;
        color: #fff;
    }
    &__button-control-remove {
        background-color: #ff9292;
        color: #fff;
    }
    &__dropdown {
        width: 152px;
        position: relative;
        height: auto;
    }
    &__dropdown-list {
        border: 1px solid #f2f5f8;
        border-radius: 20px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 8px;
        margin-top: -34px;;
    }
    &__dropdown-item {
        cursor: pointer;
        &:hover {
            color: #10A49E;
        }
    }
}
</style>